<div class="container">
  <div class="row"> 
    <%= form_for @service, html: {class: "form-horizontal" } do |f| %>
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@service.errors.count, "error") %> no permitió que el servicio fuera creado:</h3>
          <ul>
          <% @service.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h3>Servicio</h3>
            <div class="well">
              <% if current_user.role_id == Role.find_by_name("Super Admin").id %>
              <div class="form-group">
                <%= f.label :company_id, "Empresa", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.collection_select :company_id, Company.where(owned: false).order(:name), :id, :name, {}, { class: "form-control", required: true} %>
                </div>
              </div>
              <% end %>
              <div class="form-group has-feedback">
                <%= f.label :name, "Nombre", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :name, :autofocus => true, class: "form-control", placeholder: 'Nombre (requerido)' %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :price, "Precio", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= f.number_field :price, class: "form-control", :min => 0, placeholder: '0 (requerido)' %>
                    <span class="input-group-addon">Pesos</span>
                  </div>
                  <span class="help-block"></span>
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :show_price %> Mostrar el precio en tu mini-sitio AgendaPro
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :duration, "Duración", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <div class="input-group">
                    <%= f.number_field :duration, class: "form-control", :in => 5...1440, :step => 5, placeholder: '5 (requerido)' %>
                    <span class="input-group-addon">Minutos</span>
                  </div>
                  <span class="help-block"></span>
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :outcall %> Servicio a domicilio <br /><small id="outcallTip" class="hidden">Si el servicio no pertenece a una sucursal exclusivamente a domicilio, recomendamos ingresar las comunas que se atienden en la descripción.</small>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Detalles del Servicio</h3>
            <div class="well">
              <div class="form-group">
                <%= f.label :description, "Descripción", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_area :description, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :group_service %> Servicio Grupal
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group hidden">
                <%= f.label :capacity, "Capacidad", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <div class="input-group">
                    <%= f.number_field :capacity, class: "form-control", :min => 2, disabled: true, placeholder: '2 (requerido)' %>
                    <span class="input-group-addon">Personas</span>
                  </div>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <!-- Se deja el builder porque asi funciona el formulario -->
              <% if @service.service_category.nil? then @service.build_service_category end %>
              <%= f.fields_for :service_category do |builder| %>
                <%= builder.hidden_field :company_id, class: "form-control", :value => current_user.company_id %>
              <% end %> 
              <div class="form-group has-feedback">
                <%= f.label :service_category_id, "Categoría de Servicio", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.collection_select :service_category_id, ServiceCategory.where(company_id: current_user.company_id), :id, :name, {}, { class: "form-control" }%>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="button" class="btn btn-sm btn-agendapro-claro" data-toggle="modal" data-target="#serviceCategoryModal"><i class="fa fa-plus"></i> Nueva Categoría de Servicio</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h3>Prestadores y Recursos</h3>
            <div class="row well">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :service_provider_ids, "Prestadores de Servicios", class: "col-sm-4 control-label" %>
                  <div class="col-sm-8">
                    <div class="panel-group" id="service-provider-accordion">
                      <% Location.accessible_by(current_ability).each do |location| %>
                      <% @service_providers = ServiceProvider.where(company_id: current_user.company_id, location_id: location.id, :active => true) %>
                      <% if @service_providers.length > 0 %>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <input type="checkbox" name="selectLocation" id="selectLocation<%= location.id %>" value="0">
                            <a data-toggle="collapse" data-parent="#service-provider-accordion" href="#location<%= location.id %>"><%= location.name %></a>
                          </h4>
                        </div>
                        <div id="location<%= location.id %>" class="panel-collapse collapse<% if location == Location.accessible_by(current_ability).first%> in<% end %>">
                          <div class="panel-body">
                            <%= f.collection_check_boxes :service_provider_ids, @service_providers, :id, :public_name, {}, {class: "check_boxes"} do |b|%>
                              <div class="checkbox">
                                <label>
                                <%= b.check_box %> <%= b.object.public_name %>
                                </label>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :resource_ids, "Recursos", class: "col-sm-4 control-label" %>
                  <div class="col-sm-8">
                    <div class="panel-group" id="service-provider-accordion">
                      <% ResourceCategory.where(company_id: current_user.company_id).each do |resource_category| %>
                      <% @resources = Resource.where(resource_category_id: resource_category.id) %>
                      <% if @resources.length > 0 %>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <input type="checkbox" name="selectResourceCategory" id="selectResourceCategory<%= resource_category.id %>" value="0">
                            <a data-toggle="collapse" data-parent="#service-provider-accordion" href="#resource_category<%= resource_category.id %>"><%= resource_category.name %></a>
                          </h4>
                        </div>
                        <div id="resource_category<%= resource_category.id %>" class="panel-collapse collapse<% if resource_category == ResourceCategory.where(company_id: current_user.company_id).first%> in<% end %>">
                          <div class="panel-body">
                            <%= f.collection_check_boxes :resource_ids, @resources, :id, :name, {}, {class: "check_boxes"} do |b|%>
                              <div class="checkbox">
                                <label>
                                  <%= b.check_box %> <%= b.object.name %>
                                </label>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="well">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                  <%= f.submit 'Guardar', :class => 'btn btn-agendapro-oscuro' %>
                  <%= link_to 'Cancelar', services_path, class: "btn btn-default" %>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="serviceCategoryModal" tabindex="-1" role="dialog" aria-labelledby="serviceCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title serviceCategory-modal-title" id="serviceCategoryModalLabel">Crear Categorías de Servicios</h4>
      </div>
      <div class="modal-body break-modal-body">
        <%= form_for ServiceCategory.new, html: {class: "form-horizontal"} do |sc| %>
          <div class="form-group has-feedback">
            <%= sc.label :name, "Nueva Categoría", class: "col-sm-3 control-label" %>
            <div class="col-sm-6">
              <%= sc.text_field :name, :class => 'form-control', :placeholder => 'Categoría (requerido)'%>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
            <div class="col-sm-3">
              <input class="btn btn-agendapro-claro" id="saveServiceCategryButton" type="button" value="Guardar" data-loading-text="Guardando...">
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer break-modal-footer">
        <button type="button" class="btn btn-default booking-button" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "service" %>
<% end %>
