<div class="service-popover-content" service_id="<%= @service.id %>">	
	<div class="promotion-popover">
		<div class="promotion-popover-title">

		</div>
		<div>
			<div class="online-discount-div">
				<% if @service.online_payable && @service.has_discount && @service.discount > 0 %>
					Obtén un <span class="light-green"><%= @service.discount.round.to_s %>%</span> de descuento pagando en línea en cualquier horario.
				<% end %>
			</div>
			<% if @promos.count > 0 %>
				<table class="promotion-popover-table">
					<tr>
						<% @promos.each do |promo| %>
							<% if promo.morning_discount > 0 or promo.afternoon_discount > 0 || promo.night_discount > 0 %>
								<td>
									<b><%= promo.day.name %></b><br /><br />
									<% if promo.morning_discount > 0 %>
										<%= @service.company.company_setting.promo_time.morning_start.strftime("%H:%M") %> - <%= @service.company.company_setting.promo_time.morning_end.strftime("%H:%M") %><br />
										<span class="orange"><%= promo.morning_discount %>% off</span><br /><br />
									<% end %>
									<% if promo.afternoon_discount > 0 %>
										<%= @service.company.company_setting.promo_time.afternoon_start.strftime("%H:%M") %> - <%= @service.company.company_setting.promo_time.afternoon_end.strftime("%H:%M") %><br />
										<span class="orange"><%= promo.afternoon_discount %>% off</span><br /><br />
									<% end %>
									<% if promo.night_discount > 0 %>
										<%= @service.company.company_setting.promo_time.night_start.strftime("%H:%M") %> - <%= @service.company.company_setting.promo_time.night_end.strftime("%H:%M") %><br />
										<span class="orange"><%= promo.night_discount %>% off</span><br />
									<% end %>
								</td>
							<% end %>
						<% end %>
					</tr>
				</table>
			<% end %>
		</div>
	</div>
</div>