<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Servicios Inactivos</h2>
      <div class="row">
        <div class="col-md-8">
          <p class="text-buttons">Crea y edita los servicios asociados a tu compañía.</p>
        </div>
        <div class="col-md-4 action-buttons">
          <%= link_to 'Servicios Activos', services_path, :class => "btn btn-white" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="accordion">
        <% @service_categories.each do |service_category| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-parent="#accordion" href="#collapse<%= service_category.id %>" data-toggle="collapse">
              <a><%= service_category.name %></a>
            </h4>
          </div>
          <div id="collapse<%= service_category.id %>" class="panel-collapse collapse<% if service_category == @service_categories.first%> in<% end %>">
            <div class="panel-body">
              <table class="table table-bordered table-green">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Duración</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @services.each do |service| %>
                    <% if service.service_category_id == service_category.id %>
                    <tr>
                      <td><%= service.name %></td>
                      <td>$<%= service.price.to_i %></td>
                      <td><%= service.duration %> min</td>
                      <td>
                        <%= link_to '<i class="fa fa-check"></i> Re-activar'.html_safe, activate_service_path(:id => service.id), method: :patch, :class => "btn btn-green", data: { confirm: '¿Estás seguro de re-activar el Servicio seleccionado?' } %>
                        <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_path(service), :class => "btn btn-orange" %>
                      </td>
                    </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
