<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Servicios</h2>
      <p>Crea y edita los servicios asociados a tu compañía.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin: 10px 0;">
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Servicio'.html_safe, new_service_path, :class => "btn btn-green" %>
        <%= link_to '<i class="fa fa-minus"></i> Servicios Inactivos'.html_safe, inactive_services_path, :class => "btn btn-white" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="accordion">
        <% @service_categories.each do |service_category| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= service_category.id %>">
              <a><%= service_category.name %><%= if current_user.role_id == Role.find_by_name('Super Admin').id then ' ('+service_category.company.name+')' end %></a>
            </h4>
          </div>
          <div id="collapse<%= service_category.id %>" class="panel-collapse collapse<% if @service_categories.count == 1%> in<% end %>">
            <div class="panel-body">
              <table class="table table-bordered table-green">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Duración</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @services.each do |service| %>
                    <% if service.service_category_id == service_category.id %>
                    <tr draggable="true" data-resource="services">
                      <td data-service="<%= service.id %>"><%= service.name %></td>
                      <td>$<%= service.price.to_i %></td>
                      <td><%= service.duration %> min</td>
                      <td>
                        <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_path(service), :class => "btn btn-sm btn-orange" %>
                        <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, deactivate_service_path(:id => service.id), :class => "btn btn-sm btn-red", data: { confirm: '¿Estás seguro de desactivar el Servicio seleccionado?' } unless cannot? :destroy, service %>
                        <span class="pull-right">
                          <i class="fa fa-bars"></i>
                        </span>
                      </td>
                    </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/draggable" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'admin/draggable' %>
  <%= javascript_include_tag 'admin/service_draggable' %>
<% end %>
