<h1>Servicios</h1>

<div class="panel-group" id="accordion">
  <% @service_categories.each do |service_category| %> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= service_category.id %>">
          <%= service_category.name %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= service_category.id %>" class="panel-collapse collapse<% if service_category == @service_categories.first%> in<% end %>">
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Duración</th>
              <th>Opciones</th>
            </tr>
          </thead>

          <tbody>
            <% @services.each do |service| %>
            <% if service.service_category_id == service_category.id %>
              <tr>
                <td><%= service.name %></td>
                <td>$<%= service.price.to_i %></td>
                <td><%= service.duration %> min</td>
                <td><%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_path(service), :class => "btn btn-warning" %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, service, :class => "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } unless cannot? :destroy, service %></td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table> 
      </div>
    </div>
  </div>
  <% end %>
</div>
<br />
<%= link_to '<i class="fa fa-plus"></i> Nuevo Servicio'.html_safe, new_service_path, :class => "btn btn-primary" %>
