<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Editar promoción</h2>
    </div>
  </div>
</div>

<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @service, :html => {:class => 'form-horizontal'} do |f| %>
      	<input type="hidden" name="promo_update" value="1" />
        <div class="form-group">
          <%= f.label :time_promo_active, "Activar: ", class: "col-md-2 control-label" %>
          <div class="col-md-4">
            <%= f.check_box :time_promo_active, :autofocus => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :time_promo_photo, "Foto: ", class: "col-md-2 control-label" %>
          <div class="col-md-4">
            <%= f.file_field :time_promo_photo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
          </div>
          <div class="col-md-4">
            <% if @service.time_promo_photo.url.nil? || @service.time_promo_photo.thumb.nil? %>
              No se ha subido foto
            <% else %>
              Foto actual (thumb): <%= image_tag @service.time_promo_photo.thumb.url.to_s, :alt => "Sin foto", :class => "img-responsive" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="actions col-md-offset-2 col-md-4">
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
            <%= link_to 'Cancelar', manage_promotions_path, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

