<%= stylesheet_link_tag "search/show-promo" %>

<div class="overview-main">
  <div class="container">

    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <%= image_tag "promociones/header_image.png", :alt => "Header", :class => "img-responsive" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: right;">
        <%= link_to "Volver a Promociones de último minuto", get_last_minute_promotions_path %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="promo-title">
          <%= @service.name %>
        </div>
        <div class="promo-description">
          <%= @service.description %>
        </div>
        <div class="google-maps-empresa">
          <h3><%= @service.company.name %></h3>
          <div id="map"></div>
          <div style="margin-top: 5px; margin-bottom: 5px;">
            <%= image_tag "promociones/pin.png", :alt => "Dirección", :size => "18x26" %>
            <%= if !@location.outcall then @location.address+', '+@location.district.name else "A Domicilio" end %>
          </div>
          <div>
            <%= image_tag "promociones/phone.png", :alt => "Teléfono", :size => "18x18" %>
            <%= @location.phone %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="promo-price">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8" style="text-align: right;">
            <table style="width: 100%;">
              <tr>
                <td style="vertical-align: bottom; text-align: right; width: 20%;">
                  <%= image_tag("promociones/flecha.png", :class => "flecha-icon", :size => "60x120") %>
                </td>
                <td style="text-align: right; width: 80%;">
                  <span style="color: #b5b5b5; font-size: 40px;"><strike><%= number_to_currency(@service.price, unit: "$", delimiter: ".") %></strike></span><br />
                  <%= image_tag "promociones/price_doble.png", :alt => "Promoción", :size => "46x60", :class => "price-icon" %>&nbsp;<span style="color: #22c488; font-size: 65px;"><%= number_to_currency(@service.price*(100-@service.get_last_minute_discount(@location.id))/100, unit: "", delimiter: ".") %></span><br />
                  <span style="color: #22c488; font-size: 22px;">Desde <%= @service.get_last_minute_discount(@location.id) %>% de descuento</span><br />
                  <span>
                    <button class="btnBook" id="btnPayBook" data-toggle="modal" data-target="#selectProviderModal">Comprar y reservar</button>
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-2">
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="social-links">
          <%
            share_text = "Promoción de " + @service.name + " con " + @service.get_last_minute_discount(@location.id).to_s+ "% de descuento en AgendaPro"
            share_text = url_encode(share_text)
          %>
          <a href="http://twitter.com/intent/tweet?status=<%= share_text %>+<%= url_encode(request.original_url) %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><%= image_tag "promociones/twitter_doble.png", :size => "32x32" %></a> &nbsp;&nbsp; <a href="http://www.facebook.com/sharer.php?u=<%= url_encode(request.original_url) %>
&t=<%= share_text %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><%= image_tag "promociones/facebook_doble.png", :size => "32x32" %></a>
        </div>
        <div class="details-accordions">



          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">

                <h4 class="panel-title minus">

                  <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                    <%= image_tag "promociones/reloj_doble.png", :size => "30x30" %> &nbsp;&nbsp; Horarios de reserva

                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <p style="color: #949292;">Reserva hasta <%= @service.get_last_minute_hours(@location.id) %> horas antes y obtén un <%= @service.get_last_minute_discount(@location.id) %>% de descuento.</p>


                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title minus">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <%= image_tag "promociones/agendapro_doble.png", :size => "30x30" %> &nbsp;&nbsp;Políticas de la empresa
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Políticas
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <% if @relatedPromos.count > 0 %>
      <div class="row">
        <div class="col-sm-12">
          <div class="promo-title">
            Ofertas relacionadas
          </div>

          <% i = 1 %>
          <div class="row">
          <% @relatedPromos.each do |promo_detail| %>
            <div class="col-md-4">
              <%= render :partial => 'searchs/service_panel', :locals => { :service => promo_detail[0], :location => promo_detail[1], :i => i} %>
            </div>
            <% if i%3 == 0 %>
              </div>
              <div class="row">
            <% end %>
            <% i = i + 1 %>
          <% end %>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="modal" id="selectProviderModal" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close closeBookModal" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" id="optimizerTitle" style="line-height: 1.1;">Reservar</h3>
      </div>
      <div class="modal-body">

        <div id="optimizerFirst">
          <form class="form-horizontal" id="serviceOptimizer">
              <div class="form-group">
                <label for="providerOptimizerSelector" class="col-xs-3 control-label">Prestador</label>
                <div class="col-xs-9">
                  <select class="form-control" name="providerOptimizerSelector" id="providerOptimizerSelector">
                    <% if @service.service_providers.where(:active => true, online_booking: true).where('location_id = ?', @location.id).count > 1 %>
                        <% if @location.company.company_setting.provider_preference != 1 %>
                            <option value="0">Sin Preferencia</option>
                        <% end %>
                    <% end %>
                    <% if @location.company.company_setting.provider_preference != 2 %>
                      <% @service.service_providers.where(:active => true, online_booking: true).where('location_id = ?', @location.id).order(:order, :public_name).each do |provider| %>

                        <option value="<%= provider.id %>">
                            <%= provider.public_name %>
                        </option>

                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="available_dates_select" class="col-xs-3 control-label">Fecha</label>
                <div class="col-xs-9">
                  <select id="available_dates_select" name="available_dates_select" class="form-control">
                    <% @available_dates.each do |available_date| %>
                      <% if available_date == @selected_date %>
                        <option value="<%= available_date.strftime('%d/%m/%Y') %>" selected>
                          <%= available_date.strftime('%d/%m/%Y') %>
                        </option>
                      <% else %>
                        <option value="<%= available_date.strftime('%d/%m/%Y') %>">
                          <%= available_date.strftime('%d/%m/%Y') %>
                        </option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
              <div id="hours-selection-div">

              </div>
              <input type="hidden" name="service" value="<%= @service.id %>" />
          </form>
        </div>

        <div id="hoursList" style="display: none;">

        </div>

        <div class="row" id="loader-div" hidden>
          <p style="text-align: center; margin-top: 40px;">
            <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
          </p>
        </div>
      </div>

      <div class="modal-footer">
          <a type="button" class="btn btn-green" id="nextBtn">&nbsp;Siguiente</a>
          <a type="button" class="btn hour-selected-btn" id="openPayFormBtn" style="display: none;" disabled="true"><i class="fa fa-usd"></i>&nbsp;Pagar</a>
          <!--<button type="button" class="btn session-btn" id="openOptimizerBtn"><i class="fa fa-calendar-o"></i>&nbsp;Sugerir hora</button>-->
          <a href="#" class="btn btn-white" class="closeBookModal" data-dismiss="modal">Cerrar</a>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="locationId" value="<%= @location.id %>" />
<input type="hidden" id="serviceId" value="<%= @service.id %>" />
<input type="hidden" id="serviceName" value="<%= @service.name %>" />
<input type="hidden" id="servicePrice" value="<%= @service.price %>" />
<input type="hidden" id="currentDate" value="<%= DateTime.now.strftime('%d/%m/%Y') %>" />
<% if @service.has_sessions %>
  <input type="hidden" id="hasSessions" value="1" />
<% else %>
  <input type="hidden" id="hasSessions" value="0" />
<% end %>

<% if user_signed_in? %>
  <input type="hidden" id="user_id" value="<%= current_user.id %>" />
<% end %>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "calendar" %>
<% end %>

<% content_for :scripts do %>

  <%= javascript_include_tag 'workflow/promotions-calendar' %>
  <%= javascript_include_tag 'promo/last-minute-promo' %>

<% end %>
