<% if @email %>
  <div>
    <%= image_tag(content.data["#{img_name}"])  %>
  </div>
<% else %>
  <div ng-show="ec.content.data['<%= img_name %>']">
    <img src="" ng-src="{{ ec.content.data['<%= img_name %>'] }}">
  </div>

  <div ng-hide="ec.content.data['<%= img_name %>']" class="no-image-container">
    <div>
        <button ng-click="ec.selectFile($event, '<%= img_name %>')" class="btn btn-green">
          Seleccionar imagen
        </button>
        <input class="file-input" type="file" nv-file-select uploader="ec.uploader"/>
    </div>

  </div>
<% end %>


