<center style="background-color: #FAFAFA">
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
      <td align="center" valign="top" id="bodyCell">
        <!-- BEGIN TEMPLATE // -->
        <!--[if gte mso 9]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
        <tr>
        <td align="center" valign="top" width="600" style="width:600px;">
        <![endif]-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
          <tr>
            <td valign="top" id="templateHeader">
              <%= editor_image @content, 'image1' %>
            </td>
          </tr>
          <tr>
            <td valign="top" id="templateBody">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
                        <tbody>
                          <tr>
                            <td valign="top" class="mcnTextContent" style="padding-top:9px;">
                              <%= editor_text @content, 'text1' %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" id="templateColumns">
              <!--[if gte mso 9]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
              <tr>
              <td align="center" valign="top" width="300" style="width:300px;">
              <![endif]-->
              <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
                <tr>
                  <td valign="top" class="columnContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageCardBlock">
                      <tbody class="mcnImageCardBlockOuter">
                        <tr>
                          <td class="mcnImageCardBlockInner" valign="top" style="padding-top:9px; padding-bottom:9px;">
                            <table align="right" border="0" cellpadding="0" cellspacing="0" class="mcnImageCardBottomContent" width="100%">
                              <tbody>
                                <tr>
                                  <td class="mcnImageCardBottomImageContent" align="left" valign="top" style="padding-top:0px; padding-right:0px; padding-bottom:0; padding-left:0px;">
                                    <%= editor_image @content, 'image2' %>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="mcnTextContent" valign="top" style="padding-top: 9px;color: #000000;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;" width="246">
                                    <%= editor_text @content, 'text2' %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
              <!--[if gte mso 9]>
              </td>
              <td align="center" valign="top" width="300" style="width:300px;">
              <![endif]-->
              <table align="right" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
                <tr>
                  <td valign="top" class="columnContainer">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageCardBlock">
                      <tbody class="mcnImageCardBlockOuter">
                        <tr>
                          <td class="mcnImageCardBlockInner" valign="top" style="padding-top:9px; padding-bottom:9px;">
                            <table align="right" border="0" cellpadding="0" cellspacing="0" class="mcnImageCardBottomContent" width="100%">
                              <tbody>
                                <tr>
                                  <td class="mcnImageCardBottomImageContent" align="left" valign="top" style="padding-top:0px; padding-right:0px; padding-bottom:0; padding-left:0px;">
                                    <%= editor_image @content, 'image3' %>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="mcnTextContent" valign="top" style="padding-top: 9px;color: #000000;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;" width="246">
                                    <%= editor_text @content, 'text3' %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
              <!--[if gte mso 9]>
              </td>
              </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <tr>
            <%= render partial: '/clients/email/full/templates/footer' %>
          </tr>
        </table>
        <!--[if gte mso 9]>
        </td>
        </tr>
        </table>
        <![endif]-->
        <!-- // END TEMPLATE -->
      </td>
    </tr>
  </table>
</center>
