<section id="mensaje-principal">
  <div class="container">
    <div class="row below-navbar">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-12">
            <h3 style="margin-top: 0">Lo sentimos, esta sección no está disponible en nuestro plan gratuito.</h3>
            <h3>Mejora tu plan y disfruta de muchos beneficios más.</h3>
            <p>
              Clientes: Maneja tu base de datos de clientes libremente, accediendo a sus reservas y sus pagos, o enviando correos masivos usando nuestros filtros inteligentes.
            </p>
            <p>
              Sistema de Inventario: ¿Vendes productos? Maneja tu inventario de manera fácil, llevando el control de stock, alertas de stock bajo y pagos por ventas de productos en forma rápida y sencilla.
            </p>
            <p>
              Sistema de Caja: Lleva el control total de tus ventas y balances. Ingresa pagos por reservas, servicios y productos, utilizando diferentes medios de pagos y generando comprobantes para ordenar tus ventas. Obtén reportes periódicos de las ventas de tus proveedores y sus comisiones. Maneja tus ingresos y egresos externos y genera balances de caja. Lleva el control del día a día con el sistema de Caja Chica. Y mucho más... Con AgendaPro, ¡nunca pierdes el rastro de tu dinero!
            </p>
            <p>
              Reportes: ¿Quieres saber qué está sucediendo en tu local? Obtén reportes de reservas, asistencias, cancelaciones, tasas de ocupación, servicios y prestadores más demandados, y mucho más, de manera ordenada y periódica. Con nuestros reportes tendrás siempre claro el estado de tu negocio.
            </p>
            <p>
              Facebook/Web: ¿Quieres expandir tu visión? Habilita nuevas formas de reservar directamente desde tu página web o tu fanpage de Facebook, para que no te pierdas ningún cliente.
            </p>
          </div>
          <div class="col-sm-12">
            <div class="">
              <p><%= link_to "¡Mejora tu plan!", select_plan_path, :class => "btn btn-lg btn-orange" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-6 col-xs-offset-3 col-sm-ofsset-0 col-md-offset-0 col-lg-offset-0">
            <div class="col-xs-12 boxed-feature">
              <div class="col-lg-12 col-xs-8 pull-left">
                <h3>Reservas Online</h3>
              </div>
              <div class="col-lg-12 col-xs-4 pull-right">
                <%= image_tag "home/index/1.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "49x38" %>
              </div>
              <div class="col-xs-12">
                <p class="text-justify">Tus clientes podrán reservar a cualquier hora del día, desde cualquier lugar.</p>
              </div>
            </div>
            <div class="col-xs-12 boxed-feature">
              <div class="col-lg-12 col-xs-8 pull-right">
                <h3>Gestiona tu Negocio</h3>
              </div>
              <div class="col-lg-12 col-xs-4 pull-left">
                <%= image_tag "home/index/2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "49x38" %>
              </div>
              <div class="col-xs-12">
                <p class="text-justify">Ahorra tiempo y recursos, organizando las reservas para tu staff y revisa el desempeño de tus locales.</p>
              </div>
            </div>
            <div class="col-xs-12 boxed-feature">
              <div class="col-lg-12 col-xs-8 pull-left">
                <h3>Simple y Amigable</h3>
              </div>
              <div class="col-lg-12 col-xs-4 pull-right">
                <%= image_tag "home/index/3.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "49x38" %>
              </div>
              <div class="col-xs-12">
                <p class="text-justify">Con una interfaz intuitiva y fácil de usar, gestiona tu negocio de manera rápida y eficiente.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-3 col-sm-ofsset-0 col-md-offset-0 col-lg-offset-0">
            <%= image_tag "home/index/empresa-home.png", :alt => "Ejemplo Index Ipad", :class => "img-responsive center-block", size: "444x462" %>
          </div>
          <div class="col-md-3 col-xs-6 col-xs-offset-3 col-sm-ofsset-0 col-md-offset-0 col-lg-offset-0">
            <div class="col-xs-12 boxed-feature">
              <div class="col-lg-12 col-xs-8 pull-right">
                <h3>Administra tu Agenda</h3>
              </div>
              <div class="col-lg-12 col-xs-4 pull-left">
                <%= image_tag "home/index/4.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "49x38" %>
              </div>
              <div class="col-xs-12">
                <p class="text-justify">Administra todos tus locales y staff en un mismo lugar. Confirma, edita y cancela tus reservas.</p>
              </div>
            </div>
            <div class="col-xs-12 boxed-feature">
              <div class="col-lg-12 col-xs-8 pull-left">
                <h3>Fideliza tus Clientes</h3>
              </div>
              <div class="col-lg-12 col-xs-4 pull-right">
                <%= image_tag "home/index/5.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "49x38" %>
              </div>
              <div class="col-xs-12">
                <p class="text-justify">Realiza continuamente un seguimiento a tus clientes y sus servicios preferidos.</p>
              </div>
            </div>
            <div class="col-xs-12 boxed-feature">
              <div class="col-lg-12 col-xs-8 pull-right">
                <h3>Recordatorios Automáticos</h3>
              </div>
              <div class="col-lg-12 col-xs-4 pull-left">
                <%= image_tag "home/index/6.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "49x38" %>
              </div>
              <div class="col-xs-12">
                <p class="text-justify">Disminuye la inasistencia enviado recordatorios automáticos a tus clientes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
