<script type="text/javascript">
  var Chartkick = {"language": "es"};
</script>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid" style="padding-top: 10px;">
  <% if current_user.role == Role.find_by(name: "Super Admin") %>
  <div class="row">
    <div class="col-md-12">
      <%= line_chart Booking.group_by_week(:created_at).count, id: "bookings-chart", library: {hAxis: {title: "Semana", format: "MMM d, yy" }, vAxis: {title: "# Reservas", format: "#"}, title: "Cantidad de Reservas Semanales" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= line_chart Booking.where(web_origin: true).group_by_week(:created_at).count, id: "web-bookings-chart", library: {hAxis: {title: "Semana", format: "MMM d, yy" }, vAxis: {title: "# Reservas", format: "#"}, title: "Cantidad de Reservas Web Semanales" } %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-green">
        <div class="panel-heading">
          <!--<h3 class="panel-title">Últimas Reservas</h3>-->

          <ul id="myTab" class="nav nav-pills tab-margin" role="tablist">
            <li class="active"><a href="#summary" role="tab" data-toggle="tab" class="tab_index">Últimas Reservas</a></li>
            <li><a href="#sessions" role="tab" data-toggle="tab" class="tab_index">Resumen de Sesiones</a></li>
          </ul>

        </div>
        <div class="tab-content">
          <div class="panel-body panel-scrollable tab-pane fade in active" id="summary">
            <table class="table">
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Cliente</th>
                  <th>Servicio</th>
                  <th>Prestador</th>
                  <th>Horario</th>
                </tr>
              </thead>
              <tbody>
                <% @lastBookings.each do |booking| %>
                <tr>
                  <td>
                    <% if booking.status == Status.find_by_name('Cancelado') %>
                    <span class="label label-danger">Cancelado</span>
                    <% elsif booking.status == Status.find_by_name('Pagado') %>
                    <span class="label label-success">Pagado</span>
                    <% elsif booking.status == Status.find_by_name('Confirmado') %>
                    <span class="label label-primary">Confirmado</span>
                    <% elsif booking.created_at != booking.updated_at %>
                    <span class="label label-warning">Modificado</span>
                    <% else %>
                    <span class="label label-agendapro">Reservado</span>
                    <% end %>
                  </td>
                  <td><%= booking.client.first_name %> <%= booking.client.last_name %></td>
                  <td><%= booking.service.name %></td>
                  <td><%= booking.service_provider.public_name %></td>
                  <td><span class="badge"><%= l booking.start %></span></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="panel-body panel-scrollable tab-pane fade" id="sessions">
            <table class="table">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Servicio</th>
                  <th>Sesiones</th>
                  <th>Último horario</th>
                </tr>
              </thead>
              <tbody>
                <% @session_bookings.each do |session_booking| %>
                <tr>
                  <td>
                    <%= session_booking.client.first_name + " " + session_booking.client.last_name %>
                  </td>
                  <td><%= session_booking.service.name %></td>
                  <td><%= session_booking.sessions_taken.to_s + " de " + session_booking.sessions_amount.to_s %></td>
                  <%
                    booking = Booking.where(:session_booking_id => session_booking.id, :is_session_booked => true).order('start asc').last
                  %>
                  <% if booking.nil? %>
                    <td>Sin sesiones reservadas.</td>
                  <% else %>
                    <td><span class="badge"><%= l booking.start %></span></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Horario de Hoy</h3>
        </div>
        <div class="panel-body panel-scrollable">
          <table class="table">
            <thead>
              <th>Hora</th>
              <th>Cliente</th>
              <th>Teléfono</th>
              <th>Servicio</th>
            </thead>
            <tbody>
              <% @todayBookings.each do |booking| %>
              <tr>
                <td><%= booking.start.strftime("%I:%M%p") %> - <%= booking.end.strftime("%I:%M%p") %></td>
                <td><%= booking.client.first_name %> <%= booking.client.last_name %></td>
                <td><%= booking.client.phone %></td>
                <td><%= booking.service.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Estadísticas</h3>
        </div>
        <div class="panel-body">
          <h4><span class="badge"><%= @monthBookings.count %></span> Reservas este Mes</h4>
          <table class="table">
            <tbody>
              <% @statusArray.each do |status| %>
              <tr>
                <td><%= status[0] %></td>
                <td><%= status[1] %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
