<div class="row">
	<h3> </h3>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Últimas Reservas</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<% @lastBookings.each do |booking| %>
						<tr>
							<td><%= l booking.created_at.to_date %></td>
							<td><strong><%= booking.first_name %> <%= booking.last_name %> </strong> reservó <%= booking.service.name %> con <%= booking.service_provider.public_name %> el día <span class="badge"> <%= l booking.start %></span></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Horario de Hoy</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<th>Hora</th>
						<th>Cliente</th>
						<th>Teléfono</th>
						<th>Servicio</th>
					</thead>
					<tbody>
						<% @todayBookings.each do |booking| %>
						<tr>
							<td><%= booking.start.strftime("%I:%M%p") %> - <%= booking.end.strftime("%I:%M%p") %></td>
							<td><%= booking.first_name %> <%= booking.last_name %></td>
							<td><%= booking.phone %></td>
							<td><%= booking.service.name %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Estadísticas</h3>
			</div>
			<div class="panel-body">
				<h4><span class="badge"><%= @monthBookings.count %></span> Reservas este Mes</h4>
				<table class="table">
					<tbody>
						<% @statusArray.each do |status| %>
						<tr>
							<td><%= status[0] %></td>
							<td><%= status[1] %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>