<script type="text/javascript">
  var Chartkick = {"language": "es"};
</script>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="row">
	<h3> </h3>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Últimas Reservas</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<tr>
							<th>Estado</th>
							<th>Cliente</th>
							<th>Servicio</th>
							<th>Personal</th>
							<th>Horario</th>
						</tr>
					</thead>
					<tbody>
						<% @lastBookings.each do |booking| %>
						<tr>
							<td>
								<% if booking.status_id == Status.find_by_name('Cancelado').id %>
								<span class="label label-danger">Cancelado</span>
								<% elsif booking.status_id == Status.find_by_name('Pagado').id %>
								<span class="label label-success">Pagado</span>
								<% elsif booking.status_id == Status.find_by_name('Pagado').id %>
								<span class="label label-primary">Confirmado</span>
								<% elsif booking.created_at != booking.updated_at %>
								<span class="label label-warning">Modificado</span>
								<% else %>
								<span class="label label-agendapro">Reservado</span>
								<% end %>
							</td>
							<td><%= booking.client.first_name %> <%= booking.client.last_name %></td>
							<td><%= booking.service.name %></td>
							<td><%= booking.service_provider.public_name %></td>
							<td><span class="badge"><%= l booking.start %></span></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
</div>

<!-- <% @companyBookings = Booking.where(location_id: Location.where(company_id: current_user.company_id)) %> -->


<!-- <% @companySPs = ServiceProvider.where(company_id: current_user.company_id) %> -->

<!-- 
<%= line_chart @companySPs.map{|sp|
    {name: sp.public_name, data: sp.bookings.group_by_week(:created_at, range: 1.month.ago.midnight..Time.now).count}
} %> -->
<!-- <div class="row">
	<div class="col-md-12 graphs">
		<%= line_chart @companyBookings.group_by_week(:start, range: 2.month.ago.midnight..2.month.from_now.midnight).count, id: "bookings-chart", library: {hAxis: {title: "Semana", format: "MMM d, yy" }, vAxis: {title: "# Reservas", format: "#"}, title: "Cantidad de Reservas Semanales" } %>
	</div>
</div> -->

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Horario de Hoy</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<th>Hora</th>
						<th>Cliente</th>
						<th>Teléfono</th>
						<th>Servicio</th>
					</thead>
					<tbody>
						<% @todayBookings.each do |booking| %>
						<tr>
							<td><%= booking.start.strftime("%I:%M%p") %> - <%= booking.end.strftime("%I:%M%p") %></td>
							<td><%= booking.client.first_name %> <%= booking.client.last_name %></td>
							<td><%= booking.client.phone %></td>
							<td><%= booking.service.name %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Estadísticas</h3>
			</div>
			<div class="panel-body">
				<h4><span class="badge"><%= @monthBookings.count %></span> Reservas este Mes</h4>
				<table class="table">
					<tbody>
						<% @statusArray.each do |status| %>
						<tr>
							<td><%= status[0] %></td>
							<td><%= status[1] %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>