<%= form_for(@staff_time) do |f| %>
  <% if @staff_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_time.errors.count, "error") %> prohibited this staff_time from being saved:</h2>

      <ul>
      <% @staff_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Apertura: <%= f.input :open, :label => false %><br />
  Cierre: <%= f.input :close, :label => false %><br />
  Staff: <%= f.association :staff, :label => false %><br />
  Día: <%= f.association :day, :label => false %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
