<tr class="footer" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#f1f4f5;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#727171;min-height:24px;font-size:12px;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.42857143;vertical-align:top;padding-top:5px;padding-bottom:5px;padding-right:30px;padding-left:30px;">
    <table class="table" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-spacing:0;border-collapse:collapse;font-family:'Roboto Condensed', sans-serif;font-size:12px;font-weight:300;width:100%;max-width:100%;background-color:transparent;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#727171;margin-bottom:0;">
      <tbody style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
        <tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
          <td class="col-3" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;line-height:1.42857143;vertical-align:top;border-top-width:1px;border-top-color:#ddd;border-top-style:none;">
            <p class="text-left" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;word-break:break-word;">
              <%= image_tag "http://agendapro.co/assets/email/address.png", alt: "Dirección", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:-1px;margin-right:10px;width:20px;display:inline;vertical-align:top;" %>
              Ana María Carrera 5210, Las Condes, Santiago
            </p>
          </td>
          <td class="col-3" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;line-height:1.42857143;vertical-align:top;border-top-width:1px;border-top-color:#ddd;border-top-style:none;">
            <p class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;word-break:break-word;">
              <%= image_tag "http://agendapro.co/assets/email/phone.png", alt: "Teléfono", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:-1px;margin-right:10px;width:20px;display:inline;vertical-align:top;" %>
              Ventas: <%= t('phones.sales') %>
              <br />
              Soporte: <%= t('phones.support') %>
            </p>
          </td>
          <td class="col-3" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;line-height:1.42857143;vertical-align:top;border-top-width:1px;border-top-color:#ddd;border-top-style:none;">
            <p class="text-right" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:right;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;word-break:break-word;">
              <%= image_tag "http://agendapro.co/assets/email/email.png", alt: "E-mail", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:-1px;margin-right:10px;width:20px;display:inline;vertical-align:top;" %>
              contacto@agendapro.cl
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
