var booking_buffer = [];
var actual_booking = null;
var first_session = null;
var sessions_buffer = [];
var sessions_left = 0;
var added_services_count = 0;
var added_services = [];
var sessions_service = false;
var selected = false;
var block_discount = 0;

var current_service;

function currency(price)
{
	var amount = price.toString();
	//console.log(amount);
	//console.log(amount.length);
	var j = 0;
	var stack = new Array();
	for(i = amount.length-1; i>=0; i--)
	{
		j = j+1;
		stack.push(amount[i]);
		if(j == 3 && i>0)
		{
			stack.push('.');
			j = 0;
		}
	}
	var formatted_amount = "CLP $ ";
	for(i = stack.length-1; i >=0 ; i--)
	{
		formatted_amount = formatted_amount + stack[i];
	}

	return formatted_amount;
}

function simple_currency(price)
{
	var amount = Math.round(price).toString();
	//console.log(amount);
	//console.log(amount.length);
	var j = 0;
	var stack = new Array();
	for(i = amount.length-1; i>=0; i--)
	{
		j = j+1;
		stack.push(amount[i]);
		if(j == 3 && i>0)
		{
			stack.push('.');
			j = 0;
		}
	}
	var formatted_amount = "$";
	for(i = stack.length-1; i >=0 ; i--)
	{
		formatted_amount = formatted_amount + stack[i];
	}

	return formatted_amount;
}

//====== Load Steps ======//
function loadStep1 (service_id) {
	$('#services-description').empty();
	$("#services-popovers-contents").empty();
	$('#services-selector').html('<p class="text-center" style="color: #ccc;"><i class="fa fa-spinner fa-spin fa-lg"></i></p>');
	var localId = $('#selectedLocal').data('local').id;
	var categoryCount = 0;
	$.getJSON('/local_services', {location: localId}, function (categorized_services) {
		$('#services-selector').empty();
		$.each(categorized_services, function (key, service_hash) {
			if (service_hash.services.length > 0) {
				var servicesHTML = '';
				categoryCount = categoryCount + 1;
				$.each(service_hash.services, function (key, service) {
					//====== Generando Radios
					serviceDiscount = "";
					servicePrice = '';
					if ($('#online_capabilities').data('online-payment-capable') && ((service.has_time_discount && $('#online_capabilities').data('promo-offerer-capable')) || (service.has_discount && service.online_payable && service.discount > 0)))
					{
						serviceDiscount = '<%= image_tag("promociones/icono_promociones.png", class:"promotion-hour-icon", size: "18x18") %>&nbsp;';						
					}
					if(service.show_price && service.price > 0)
					{
						servicePrice = '<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %>&nbsp;' + simple_currency(service.price);
					}
					servicesHTML +=
						'<li class="list-group-item">' +
							'<div class="radio">' +
								'<div style="width: 95%"><div class="row">' +
									'<div class="col-sm-5">' +
										'<label>' +
											'<input type="radio" name="serviceRadio" value="' + service.id + '" data-outcall="'+service.outcall+'">' +
											'<p>' + service.name_with_small_outcall + '</p>' +
										'</label>' +
									'</div><div class="col-sm-3">' +
										servicePrice +
									'</div><div class="col-sm-3">' +
										'<%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %>&nbsp;' + service.duration + ' min' +
									'</div><div class="col-sm-1 open-promotion-popover" rel="popover" service_id="' + service.id + '" data-toggle="popover" data-placement="right" data-content="">' +
										serviceDiscount +
									'</div>' +
								'</div></div>' +
							'</div>' +
						'</li>';

						if ($('#online_capabilities').data('online-payment-capable') && ((service.has_time_discount && $('#online_capabilities').data('promo-offerer-capable')) || (service.has_discount && service.online_payable && service.discount > 0)))
						{
							$.ajax({
								type: "get",
								url: "get_promotions_popover?service_id=" + service.id + "&location_id=" + localId,
								success: function(response){

									$("#services-popovers-contents").append(response);

									$('.open-promotion-popover[service_id="' + service.id + '"]').popover({
										html: true,
										content: $('.service-popover-content[service_id="' + service.id + '"]').html(),
										placement: 'right',
										trigger: 'hover'
									});

									$('.open-promotion-popover[service_id="' + service.id + '"]').css("cursor", "pointer");

								}
							});
						}

				});

				//====== Insertando acordeon
				$('#services-selector').append(
					'<div class="panel panel-default">' +
						'<div class="panel-heading dark-gray">' +
							'<h3 class="panel-title minus collapsed" data-toggle="collapse" data-parent="#services-selector" href="#body' + service_hash.id + '">' +
								'<a >' + service_hash.category + '</a>' +
							'</h3>' +
						'</div>' +
						'<div id="body' + service_hash.id + '" class="panel-collapse collapse light-gray">' +
							'<ul class="list-group" id="services-selector' + service_hash.id + '">' +
								servicesHTML +
							'</ul>' +
						'</div>' +
					'</div>'
				);

			};
		});

		var radios = $('input[name=serviceRadio]');
		radios.on('change', function(e) {
			radios.each(function() {
				var radio = $(this);
				radio.closest('.list-group-item')[radio.is(':checked') ? 'addClass' : 'removeClass']('selected-wf-option');
			});
		});

		$('[name="serviceRadio"]').on('click', function(event) {
			//event.preventDefault();
			var serviceId = event.target.getAttribute('value');
			if ($(event.target).data('outcall') == true) {
				$('#outcallAddress').show();
        		var settings = $('#bookingForm').validate().settings;
        		settings.rules.address = {required: true}
			}
			else {
				$('#outcallAddress').hide();
        		var settings = $('#bookingForm').validate().settings;
        		delete settings.rules.address;
			}
			var oldTop = $(document).scrollTop();
			$('#foo4').trigger('updateSizes');
			$(document).scrollTop(oldTop);
			loadDescription(serviceId);
		});

		var oldTop = $(document).scrollTop();
		$('#foo4').trigger('updateSizes');
		$(document).scrollTop(oldTop);

		$('.panel-group .panel-default').on('shown.bs.collapse', function (event) {
			var oldTop = $(document).scrollTop();
			$('#foo4').trigger('updateSizes');
			$(document).scrollTop(oldTop);
		});
	 	if (categoryCount == 1) {
	 		$('.panel-collapse').addClass('in');
	 	}

	 	if (service_id != 0) {
	 		$('input[name="serviceRadio"][value="' + service_id + '"]').click();
	 		//$('#foo4').trigger('next');
	 		$('input[name="serviceRadio"][value="' + service_id + '"]').closest('.panel-collapse').addClass('in');
	 		$('input[name="serviceRadio"][value="' + service_id + '"]').closest('.panel-collapse').prev().children('.panel-title').removeClass('collapsed');
	 	};
	});

}

var calendar;
var promoCalendar;
var staffSelected;

/*
function loadStep2 () {
	if($('[name="serviceRadio"]').is(':checked')){
		$('#staff-selector-spinner').show();
		$('#staff-selector > .list-group-item').hide();
		$('.horario').hide();
		selected = false;
		var serviceId = $('input[name=serviceRadio]:checked').val();

		if (current_service.has_sessions == true)
		{
			if(booking_buffer.length > 0)
			{
				myAlert.showAlert(
				  '<h3>Este servicio tiene sesiones</h3>' +
				  '<p>No puedes agendar un servicio con sesiones además de otros servicios.</p>'
				);
				return false;
			}
			$(".btn-add-service").attr("disabled", "disabled");
			$(".btn-add-service").hide();
			$(".sessions-bar").show();
			$("#sessions-left").text(current_service.sessions_amount);
			sessions_left = current_service.sessions_amount;
			$("#sessions-explanation-total").html(sessions_left);

			$("#has_sessions").val("1");

			if(sessions_left < 2)
			{
				$(".btn-add-session").attr("disabled", "disabled");
			}
			else
			{
				$(".btn-add-session").attr("disabled", false);
			}

			//Show info modal
		}
		else
		{
			first_session = null;
			$("#has_sessions").val("0");
			$(".sessions-bar").hide();
			$(".btn-add-service").attr("disabled", false);
			$(".btn-add-service").show();
		}

		$.getJSON('/providers_services', {id: serviceId, local: $('#selectedLocal').data('local').id}, function (providers) {
			$('#staff-selector').empty();
			$('#staff-selector').append(
				'<li id="staff-selector-spinner" class="text-center" style="color: #ccc; display: none;"><i class="fa fa-spinner fa-spin fa-lg"></i></li>'
			);
			if ($('#providerPreference').data('provider-preference') != 1) {
				if (providers.length > 1 || $('#providerPreference').data('provider-preference') == 2) {
					$('#staff-selector').append(
						'<li class="list-group-item">' +
							'<div class="radio">' +
								'<label>' +
									'<input type="radio" name="staffRadio" value="0">' +
									'<p>Sin Preferencia</p>' +
								'</label>' +
							'</div>' +
						'</li>'
					);
				}
			}
			if ($('#providerPreference').data('provider-preference') != 2) {
				$.each(providers, function (key, provider) {
					$('#staff-selector').append(
						'<li class="list-group-item">' +
							'<div class="radio">' +
								'<label>' +
									'<input type="radio" name="staffRadio" value="' + provider.id + '">' +
									'<p>' + provider.public_name + '</p>' +
								'</label>' +
							'</div>' +
						'</li>'
					);
				});
			}




			$('[name="staffRadio"]').on('click', function(event) {

				$('.horario').show();
				
				// if (event.target.getAttribute('value') == 0) {
				// 	$('#provider_lock').val(false);
				// }
				// else {
				// 	$('#provider_lock').val(true);
				// }
				if ($(this).val() != staffSelected) {

					var data;
					if($("#datepicker").val()!="") {
						data = {
							provider: event.target.getAttribute('value'),
							local: $('#selectedLocal').data('local').id,
							service: $('input[name="serviceRadio"]:checked').val(),
							date: $("#datepicker").val()
						}
					} else {
						data = {
							provider: event.target.getAttribute('value'),
							local: $('#selectedLocal').data('local').id,
							service: $('input[name="serviceRadio"]:checked').val()
						}
					}

					staffSelected = $(this).val();
					if (calendar) {
						calendar.rebuild('/promotion_hours', data);
					}
					else {
						calendar = new Calendar('/available_hours_week_html', data);
					}

					// $("#calendar-loader").hide();

				};

				$(document).on('hourClick', function (e) {
					if(!current_service.has_sessions)
					{
						addBooking(e);
					}
					else
					{
						addSession(e);
					}
				});

				$(function () {
					$('.prev-btn').click(function () {
						selected = false;
					});
					$('.next-bn').click(function () {
						selected = false;
					});
				});
			});

			var radios = $('input[name=staffRadio]');
			radios.on('change', function() {
				$('#staff-selector-spinner').show();
				$('#staff-selector > .list-group-item').hide();
				radios.each(function() {
					var radio = $(this);
					radio.closest('.list-group-item')[radio.is(':checked') ? 'addClass' : 'removeClass']('selected-wf-option');
				});
			});


			if ($('#providerPreference').data('provider-preference') != 1) {
				$('[name="staffRadio"]').first().prop("checked", true);
				$('[name="staffRadio"]').first().closest('.list-group-item').addClass('selected-wf-option');
				$('.horario').show();
				// $('#provider_lock').val(false);

				staffSelected = $('[name="staffRadio"]').first().val();

				var data;
				if($("#datepicker").val()!="") {
					data = {
						provider: $('[name="staffRadio"]').first().val(),
						local: $('#selectedLocal').data('local').id,
						service: $('input[name="serviceRadio"]:checked').val(),
						date: $("#datepicker").val()
					}
				} else {
					data = {
						provider: $('[name="staffRadio"]').first().val(),
						local: $('#selectedLocal').data('local').id,
						service: $('input[name="serviceRadio"]:checked').val()
					}
				}

				// $("#calendar-loader").show();
				
					

				if (calendar) {
					calendar.rebuild('/available_hours_week_html', data);
				}
				else {
					calendar = new Calendar('/available_hours_week_html', data);
				}

				// $("#calendar-loader").hide();


				$('#foo4').trigger('updateSizes');

				$(document).on('hourClick', function (e) {
					if(!current_service.has_sessions)
					{
						addBooking(e);
					}
					else
					{
						addSession(e);
					}
				});

				$(function () {
					$('.prev-btn').click(function () {
						selected = false;
					});
					$('.next-btn').click(function () {
						selected = false;
					});
				});
			}

		});

	}
	
}
*/

function loadStep2() {

	var localId = $('#selectedLocal').data('local').id;
	var selects = [];
	var start_date = $("#optimizerDateSelector").val();

	sessions_left = 0;
	
	$("#selected-hour-body").empty();

	for(k = 0; k < added_services.length; k++)
	{
		if (added_services[k].has_sessions)
		{
			sessions_service = true;
			loadStaffForSessions(added_services[k].id);
			sessions_left = added_services[k].sessions_amount;
		}
		else
		{
			sessions_service = false;
			sessions_left = 0;
		}
	}

	if(sessions_service)
	{
		$(".btn-add-session").show();
		$(".sessions-bar").show();
		$(".changeStaffPanel").show();
		$("#sessions-summary").show();
		$("#sessions-left").empty();
		$("#sessions-left").html("" + sessions_left);
		console.log("Sessions left: " + sessions_left);
		$("#has_sessions").val("1");
	}
	else
	{
		$(".btn-add-session").hide();
		$(".sessions-bar").hide();
		$(".changeStaffPanel").hide();
		$("#sessions-left").empty();
		$("#has_sessions").val("0");
	}

	$(".selected-service").each(function() {
		var provider = $(this).find('.selected-service-provider').val();
		var service_id = $(this).attr("service_id");
		console.log("provider: ");
		console.log(provider);
		selects.push({
			service: service_id,
			provider: provider
		});
	});

	var data;

	if($("#datepicker").val()!="")
	{
		data = {local: localId, serviceStaff: JSON.stringify(selects), date: $("#datepicker").val()}
	}
	else
	{
		data = {local: localId, serviceStaff: JSON.stringify(selects)}
	}

	if (promoCalendar) {
		promoCalendar.rebuild('/promotion_hours', data);
	}
	else {
		promoCalendar = new PromoCalendar('/promotion_hours', data);
	}


	$(document).on('hourClick', function (e) {

		selected = true;
		
		bookSummary = bookSummaries[e.index];

		$("#selected-hour-body").empty();
		var book_discount = 0;
		var is_time_discount = false;
		booking_buffer = []

		for(k=0; k<bookSummary.bookings.length; k++)
		{
			bookDetails = bookSummary.bookings[k];
			console.log("bookDetails: ");
			console.log(bookDetails);
			bookDetailsStart = bookDetails.start.split("T")[1].split(":")[0] + ':' + bookDetails.start.split("T")[1].split(":")[1];
			bookDetailsEnd = bookDetails.end.split("T")[1].split(":")[0] + ':' + bookDetails.end.split("T")[1].split(":")[1];

			bookDetailsDiscountPrice = bookDetails.price;

			
			if(bookDetails.has_discount && bookDetails.has_time_discount)
			{
				if(bookDetails.discount > bookDetails.time_discount)
				{
					book_discount = bookDetails.discount;
					bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.discount) / 100;
					$("#selected-hour-body").append(
						'<b>' + bookDetails.service_name + '</b><br />' +
						'<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
						'<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %>  <strike>' + simple_currency(bookDetails.price) + '</strike>  <span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span> (' + bookDetails.discount + ' % off) <br /></div>'
					);
				}
				else
				{
					book_discount = bookDetails.time_discount;
					is_time_discount = true;
					bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.time_discount) / 100;
					$("#selected-hour-body").append(
						'<b>' + bookDetails.service_name + '</b><br />' +
						'<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %>' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
						'<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> <strike>' + simple_currency(bookDetails.price) + '</strike> ' + '<span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span>' + ' (' + bookDetails.time_discount + ' % off) <br /></div>'
					);
				}
			}
			else if(bookDetails.has_discount && !bookDetails.has_time_discount)
			{
				book_discount = bookDetails.discount;
				bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.discount) / 100;
				$("#selected-hour-body").append(
						'<b>' + bookDetails.service_name + '</b><br />' +
						'<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
						'<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> <strike>' + simple_currency(bookDetails.price) + '</strike> <span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span> (' + bookDetails.discount + ' % off) <br /></div>'
					);
			}
			else if(!bookDetails.has_discount && bookDetails.has_time_discount)
			{
				book_discount = bookDetails.time_discount;
				is_time_discount = true;
				bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.time_discount) / 100;
				$("#selected-hour-body").append(
						'<b>' + bookDetails.service_name + '</b><br />' +
						'<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
						'<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> <strike>' + simple_currency(bookDetails.price) + '</strike> <span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span> (' + bookDetails.time_discount + ' % off) <br /></div>'
					);
			}
			else
			{
				book_discount = 0;
				$("#selected-hour-body").append(
					'<b>' + bookDetails.service_name + '</b><br />' +
					'<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
					'<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> ' + simple_currency(bookDetails.price) + '<br /></div>'
				);
			}
			
			
			if(!sessions_service)
			{
				addBooking(e, k, book_discount, is_time_discount);
				booking_buffer.push(actual_booking);
			}

		}
		console.log("e: ");
		console.log(e);
		if (sessions_service)
		{
			addSession(e, book_discount, is_time_discount);
		}
	});


}

function loadStep3 () {

	if(!selected)
	{
		myAlert.showAlert(
		  '<h3>Selecciona un horario</h3>' +
		  '<p>Debes elegir un horario para continuar.</p>'
		);
		return false;
	}

	$("#booking-error").empty();


		if(sessions_buffer.length == 0)
		{
			if(actual_booking == null)
			{
			  	myAlert.showAlert(
					'<h3>Selecciona un horario</h3>' +
					'<p>Debes elegir un horario para continuar.</p>'
				);
				return false;
			}
			if(actual_booking.has_sessions)
	        {
	            $('#summary').empty();

	            sessions_buffer.push(actual_booking);

	            $('.bookings').val(JSON.stringify(sessions_buffer));

	            var times_str = "";
	            var price = actual_booking.price;
	            var min_discount = actual_booking.discount; 

	            for(i = 0; i < sessions_buffer.length; i++)
	            {
	              times_str = times_str + formattedTime(sessions_buffer[i].start) + ' con ' + sessions_buffer[i].provider_name + '.<br />';
	              if(sessions_buffer[i].discount < min_discount)
	              {
	                min_discount = sessions_buffer[i].discount;
	              }
	            }

	            $("#max_discount").val(min_discount);

	            var discount_price = Math.round(price*(100 - min_discount)/100);
	            sessions_str = "";

	            if(sessions_buffer.length == 1)
	            {
	              sessions_str = 'Agendaste 1 sesión de un total de ' + actual_booking.sessions_amount;
	            }
	            else
	            {
	              sessions_str = 'Agendaste ' + sessions_buffer.length + ' sesiones de un total de ' + actual_booking.sessions_amount;
	            }

	            $('#summary').append(
	              '<tr style="border-top: 0px !important;">' +
	                '<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
	                '<td style="border-top: 0px !important;" class="light-gray">' + actual_booking.service_name + '</td>' +
	              '</tr>' +
	              '<tr>' +
	                '<td class="dark-gray">¿Dónde?</td>' +
	                '<td class="light-gray">' + $('#selectedLocal').data('local').address + ', ' + $('#selectedLocal').data('district') + '</td>' +
	              '</tr>'
	            );

	            $('#summary').append(
	              '<tr>' +
	                '<td class="dark-gray">¿Cuándo?</td>' +
	                '<td class="light-gray">' + times_str + '</td>' +
	              '</tr>' +
	              '<tr>' +
	                '<td class="dark-gray">Sesiones</td>' +
	                '<td class="light-gray">' + sessions_str + '</td>' +
	              '</tr>'
	            );

	            if($('#online_capabilities').data('online-payment-capable') && $('#online_capabilities').data('promo-offerer-capable'))
	            {
		            $('#summary').append(
		              '<tr>' + 
		                '<td class="dark-gray">Precio normal</td><td class="light-gray">' + simple_currency(price) + '</td>' +
		              '</tr>' +
		              '<tr>' +
		                '<td class="dark-gray">Descuento</td><td class="light-gray">' + min_discount + '% </td>' +
		              '</tr>' +
		              '<tr>' +
		                '<td class="dark-gray">Precio final</td><td class="light-gray">' + simple_currency(discount_price) + '</td>' +
		              '</tr>'
		            );
	        	}
	        	else
	        	{
	        		$('#summary').append(
		              '<tr>' + 
		                '<td class="dark-gray">Precio</td><td class="light-gray">' + simple_currency(price) + '</td>' +
		              '</tr>'
		            );
		            $(".payBtn").hide();
					$("#open-online-policy").hide();
					$("#discount").empty();
	        	}

	        	if(!actual_booking.online_payable)
	        	{
	        		$(".payBtn").hide();
					$("#open-online-policy").hide();
					$("#discount").empty();
	        	}
	        }
	        else
	        {
	        	if(booking_buffer.length == 0)
	        	{
	        		myAlert.showAlert(
						'<h3>Selecciona un horario</h3>' +
					  	'<p>Debes elegir un horario para continuar.</p>'
					);
					return false;
	        	}
	        	else
	        	{
	        		$('.bookings').val(JSON.stringify(booking_buffer));
	        		$('#summary').empty();


					var services_str = '';
					var times_str = '';
					var discounts_str = '';
					var max_discount = 0;
					var min_pay = '';
					var may_pay = false;
					var must_pay = false;
					var some_not_payable = false;
					var total_price = 0;
					var min_price = 0;
					var just_book_price = 0;
					var not_payable_price = 0;
					var prices_str = '';

					times_str = times_str + formattedTime(booking_buffer[0].start) + '.<br />';

					for(k = 0; k < booking_buffer.length; k++)
					{

						console.log("k: " + k);

						var booking = booking_buffer[k];
						var price = booking.price;
						var discount = booking.discount;

						

						services_str = services_str + booking.service_name + ' con ' + booking.provider_name + '.<br />';
						
						if(booking.has_discount && discount > 0 && booking.online_payable)
						{
							

							may_pay = true;
							if(discount > max_discount)
							{
								max_discount = discount;
							}
							if(booking.is_time_discount || booking.must_be_paid_online)
							{
								min_price = min_price + Math.round(price * (100 - discount) / 100);
								prices_str = prices_str + '<strike>' + simple_currency(price) + '</strike> - ' + simple_currency(Math.round(price * (100 - discount) / 100)) + ' (' + discount + '% de descuento)<br />';
								must_pay = true;

							
							}
							else
							{
								prices_str = prices_str + '<strike>' + simple_currency(price) + '</strike> - ' + simple_currency(Math.round( (price * (100 - discount))/100 )) + ' (' + discount + '% de descuento)<br />';
								
							}
							total_price = total_price + Math.round(price * (100 - discount) / 100);
						

						}
						else
						{
				
							if(booking.show_price)
							{
								prices_str = prices_str + simple_currency(price) + '<br />';
								
								if(!booking.online_payable)
								{
									some_not_payable = true;
									not_payable_price = not_payable_price + Math.round(price);
								}
								else
								{
									may_pay = true;
									total_price = total_price + Math.round(price);
								}
							}
							else
							{
								prices_str = prices_str + 'Preguntar en local<br />';
								
								some_not_payable = true;
							}
						}
						just_book_price = just_book_price + price;
					}



					$('#summary').append(
						'<tr style="border-top: 0px !important;">' +
						  '<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
						  '<td style="border-top: 0px !important;" class="light-gray">' + services_str + '</td>' +
						'</tr>' +
						'<tr>' +
						  '<td class="dark-gray">¿Dónde?</td>' +
						  '<td class="light-gray">' + $('#selectedLocal').data('local').address + ', ' + $('#selectedLocal').data('district') + '</td>' +
						'</tr>'
					);

					$('#summary').append(
						'<tr>' +
						  '<td class="dark-gray">¿Cuándo?</td>' +
						  '<td class="light-gray">' + times_str + '</td>' +
						'</tr>'
					);

					$("#summary").append(
						'<tr>' +
						  '<td class="dark-gray">Precios</td>' +
						  '<td class="light-gray">' + prices_str + '</td>' +
						'</tr>'
					);

					/*$("#summary").append(
						'<tr>' +
							'<td class="dark-gray">Pago mínimo en línea</td>' +
							'<td class="light-gray">' + simple_currency(min_price) + '</td>' +
						'</tr>'
					);*/


					if(!must_pay && may_pay)
					{

						$("#summary").append(
							'<tr>' +
								'<td class="dark-gray">Costo pago en línea</td>' +
								'<td class="light-gray">' + simple_currency(total_price) + '</td>' +
							'</tr>'
						);

						if(some_not_payable)
						{
							$("#summary").append(
								'<tr>' +
									'<td class="dark-gray">Pago pendiente en local</td>' +
									'<td class="light-gray">' + simple_currency(not_payable_price) + '</td>' +
								'</tr>'
							);
						}

						$("#summary").append(
							'<tr>' +
								'<td class="dark-gray">Costo sólo pago en local</td>' +
								'<td class="light-gray">' + simple_currency(just_book_price) + '</td>' +
							'</tr>'
						);

						console.log("May pay but is not mandatory.");

						$("#open-online-policy").show();

						$(".payBtn").show();
						$("#discount").empty();
						$("#discount").append(
							'Precio final: ' +  currency(Math.round(total_price))
						);


						$(".submitBtn").show();
						$("#normal-book").empty();
						$("#normal-book").append(
							'Precio final: ' + currency(just_book_price)
						);
					}
					else if(!may_pay)
					{

						console.log("Can't pay.");

						$("#summary").append(
							'<tr>' +
								'<td class="dark-gray">Costo pago en local</td>' +
								'<td class="light-gray">' + simple_currency(just_book_price) + '</td>' +
							'</tr>'
						);

						$(".payBtn").hide();
						$("#open-online-policy").hide();
						$("#discount").empty();

						$(".submitBtn").show();
						$("#normal-book").empty();
						$("#normal-book").append(
							'Precio final: ' + currency(just_book_price)
						);
					}
					else if(must_pay)
					{
						console.log("Must pay.");
						$("#reservar2").show();
						$(".payBtn").show();
						$("#open-online-policy").show();
						$("#discount").empty();
						$("#discount").append(
							'Precio final: ' +  currency(Math.round(total_price))
						);

						$("#summary").append(
							'<tr>' +
								'<td class="dark-gray">Costo total</td>' +
								'<td class="light-gray">' + simple_currency(not_payable_price + total_price) + '</td>' +
							'</tr>'
						);

						$("#summary").append(
							'<tr>' +
								'<td class="dark-gray">Pago en línea</td>' +
								'<td class="light-gray">' + simple_currency(total_price) + '</td>' +
							'</tr>'
						);


						if(some_not_payable)
						{
							$("#summary").append(
								'<tr>' +
									'<td class="dark-gray">Pago pendiente en local</td>' +
									'<td class="light-gray">' + simple_currency(not_payable_price) + '</td>' +
								'</tr>'
							);
						}

						$("#normal-book").empty();
						$(".submitBtn").hide();
					}

	        	}
	        }
	    }
	    else
	    {
	    	$('#summary').empty();

			sessions_buffer.push(actual_booking);

			$('.bookings').val(JSON.stringify(sessions_buffer));

			var times_str = "";
			var price = actual_booking.price;
			var min_discount = actual_booking.discount; 

			for(i = 0; i < sessions_buffer.length; i++)
			{
				times_str = times_str + formattedTime(sessions_buffer[i].start) + ' con ' + sessions_buffer[i].provider_name + '.<br />';
				if(sessions_buffer[i].discount < min_discount)
				{
				  	min_discount = sessions_buffer[i].discount;
				}
			}

			$("#max_discount").val(min_discount);

			var discount_price = Math.round(price*(100 - min_discount)/100);

			if(sessions_buffer.length == 1)
			{
				sessions_str = 'Agendaste 1 sesión de un total de ' + actual_booking.sessions_amount;
			}
			else
			{
				sessions_str = 'Agendaste ' + sessions_buffer.length + ' sesiones de un total de ' + actual_booking.sessions_amount;
			}

			$('#summary').append(
				'<tr style="border-top: 0px !important;">' +
				  '<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
				  '<td style="border-top: 0px !important;" class="light-gray">' + actual_booking.service_name + '</td>' +
				'</tr>' +
				'<tr>' +
				  '<td class="dark-gray">¿Dónde?</td>' +
				  '<td class="light-gray">' + $('#selectedLocal').data('local').address + ', ' + $('#selectedLocal').data('district') + '</td>' +
				'</tr>'
			);

			$('#summary').append(
				'<tr>' +
				  '<td class="dark-gray">¿Cuándo?</td>' +
				  '<td class="light-gray">' + times_str + '</td>' +
				'</tr>' +
				'<tr>' +
				  '<td class="dark-gray">Sesiones</td>' +
				  '<td class="light-gray">' + sessions_str + '</td>' +
				'</tr>'
			);

			if($('#online_capabilities').data('online-payment-capable') && $('#online_capabilities').data('promo-offerer-capable'))
			{
				$('#summary').append(
					'<tr>' + 
					  '<td class="dark-gray">Precio normal</td><td class="light-gray">' + simple_currency(price) + '</td>' +
					'</tr>' +
					'<tr>' +
					  '<td class="dark-gray">Descuento</td><td class="light-gray">' + min_discount + '% </td>' +
					'</tr>' +
					'<tr>' +
					  '<td class="dark-gray">Precio final</td><td class="light-gray">' + simple_currency(discount_price) + '</td>' +
					'</tr>'
				);
			}
			else
			{
				$('#summary').append(
					'<tr>' + 
					  '<td class="dark-gray">Precio normal</td><td class="light-gray">' + simple_currency(price) + '</td>' +
					'</tr>'
				);
				$(".payBtn").hide();
				$("#open-online-policy").hide();
				$("#discount").empty();
			}

			if(!actual_booking.online_payable)
        	{
        		$(".payBtn").hide();
				$("#open-online-policy").hide();
				$("#discount").empty();
        	}
	    }


		if ($('#clientExclusive').data('client-exclusive')) {
			$('#identificationNumber').show();
			$('#full_name').prop('disabled', true);
		}
		else {
			$('#identificationNumber').hide();
			$('#full_name').prop('disabled', false);
		}

		$("#foo4").trigger("updateSizes");


	/*if ($('[name="staffRadio"]').is(':checked')){
		if (selected) {


			if(first_session == null)
			{
				booking_buffer.push(actual_booking);
				$('.bookings').val(JSON.stringify(booking_buffer));
				$("#has_sessions").val("0");
				// Summary
				$('#summary').empty();
				var service = '';
				var when = '';
				var provider = '';
				var prices = '';
				var payable_prices = '';
				var payable = true;
				var price = 0;
				var discounted_price = 0;
				var show_all = true;
				for (var i = 0; i < booking_buffer.length; i++) {
					console.log("Booking payable: " + booking_buffer[i].online_payable);
					service += '<p class="light-gray">' + booking_buffer[i].service_name + '</p>';
					provider += '<p class="light-gray">' + booking_buffer[i].provider_name + '</p>';
					when += '<p class="light-gray">' + formattedTime(booking_buffer[i].start) + '</p>';
					if(!booking_buffer[i].online_payable || !booking_buffer[i].show_price || booking_buffer[i].price == 0)
					{
						payable = false;
						if(!booking_buffer[i].show_price || booking_buffer[i].price == 0)
						{
							show_all = false;
						}
					}
					else
					{
						if (booking_buffer[i].has_discount)
						{
							payable_prices += '<p class="light-gray">Precio normal: ' + currency(booking_buffer[i].price) + ' - Descuento: ' + booking_buffer[i].discount + '%<br />Precio con descuento: ' +  currency(Math.round((100-booking_buffer[i].discount)*booking_buffer[i].price/100)) + '</p>';
							discounted_price = discounted_price + (100-booking_buffer[i].discount)*booking_buffer[i].price/100;
						}
						else
						{
							payable_prices += '<p class="light-gray">Precio normal: ' + currency(booking_buffer[i].price) + ' - (Sin descuento)</p>';
							discounted_price = discounted_price + booking_buffer[i].price;
						}
					}
					if(booking_buffer[i].show_price && booking_buffer[i].price > 0)
					{
						prices += '<p class="light-gray">' + currency(booking_buffer[i].price) + '</p>';
						price = price + booking_buffer[i].price;
					}
					else
					{
						prices += '<p class="light-gray">Preguntar en local.</p>';
					}
				};

				$('#summary').append(
					'<tr style="border-top: 0px !important;">' +
						'<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
						'<td style="border-top: 0px !important;" class="light-gray">' + service + '</td>' +
					'</tr>' +
					'<tr>' +
						'<td class="dark-gray">¿Dónde?</td>' +
						'<td class="light-gray">' + $('#selectedLocal').data('local').address + ', ' + $('#selectedLocal').data('district') + '</td>' +
					'</tr>' +
					'<tr>' +
						'<td class="dark-gray">¿Con quién?</td>' +
						'<td class="light-gray">' + provider + '</td>' +
					'</tr>' +
					'<tr>' +
						'<td class="dark-gray">¿Cuándo?</td>' +
						'<td class="light-gray">' + when + '</td>' +
					'</tr>'
				);
				if(payable)
				{
					$('#summary').append(
						'<tr>' +
							'<td class="dark-gray">Precios</td>' +
							'<td class="light-gray">' + payable_prices + '</td>' +
						'</tr>' +
						'<tr>' +
							'<td class="dark-gray">Precio normal:</td>' +
							'<td class="light-gray">' + currency(price) + '</td>' +
						'</tr>' +
						'<tr>' +
							'<td class="dark-gray">Precio pago en línea:</td>' +
							'<td class="light-gray">' + currency(Math.round(discounted_price)) + '</td>' +
						'</tr>'
					);

				}
				else
				{
					$('#summary').append(
						'<tr>' +
							'<td class="dark-gray">Precios</td>' +
							'<td class="light-gray">' + prices + '</td>' +
						'</tr>'
					);
				}
				$("#discount").empty();
				$("#normal-book").empty();
				if(payable){
					$("#reservar1").hide();
					$("#reservar2").show();
					$("#discount").append(
						'Precio final: ' +  currency(Math.round(discounted_price))
					);
					$("#normal-book").append(
						'Precio final: ' + currency(price)
					);
				}
				else
				{
					$("#reservar2").hide();
					$("#reservar1").show();
				}
				return true;
			}
			else
			{

				sessions_buffer.push(actual_booking);
				
				booking_buffer = [];

				for(i=0; i < sessions_buffer.length; i++)
				{
					booking_buffer.push(sessions_buffer[i]);
				}
				$('.bookings').val(JSON.stringify(booking_buffer));
				$("#has_sessions").val("1");
				$('#summary').empty();
				var service = first_session.service_name;
				var when = '<p class="light-gray">' + formattedTime(first_session.start) + '</p>';
				//var provider = first_session.provider_name;
				var prices = '';
				var payable_prices = '';
				var payable = true;
				var price = 0;
				var discounted_price = 0;
				var show_all = true;


				if(!first_session.online_payable || !first_session.show_price || first_session.price == 0)
				{
					payable = false;
					if(!first_session.show_price || first_session.price == 0)
					{
						show_all = false;
					}
				}
				else
				{
					if (first_session.has_discount)
					{
						payable_prices += '<p class="light-gray">Precio normal: ' + currency(first_session.price) + ' - Descuento: ' + first_session.discount + '%<br />Precio con descuento: ' +  currency(Math.round((100-first_session.discount)*first_session.price/100)) + '</p>';
						discounted_price = discounted_price + (100-first_session.discount)*first_session.price/100;
					}
					else
					{
						payable_prices += '<p class="light-gray">Precio normal: ' + currency(first_session.price) + ' - (Sin descuento)</p>';
						discounted_price = discounted_price + first_session.price;
					}
				}
				if(first_session.show_price && first_session.price > 0)
				{
					prices += '<p class="light-gray">' + currency(first_session.price) + '</p>';
					price = price + first_session.price;
				}
				else
				{
					prices += '<p class="light-gray">Preguntar en local.</p>';
				}


				$('#summary').append(
					'<tr style="border-top: 0px !important;">' +
						'<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
						'<td style="border-top: 0px !important;" class="light-gray">' + service + '</td>' +
					'</tr>' +
					'<tr>' +
						'<td class="dark-gray">¿Dónde?</td>' +
						'<td class="light-gray">' + $('#selectedLocal').data('local').address + ', ' + $('#selectedLocal').data('district') + '</td>' +
					'</tr>'

				);
				if(payable)
				{
					$('#summary').append(
						'<tr>' +
							'<td class="dark-gray">Precios</td>' +
							'<td class="light-gray">' + payable_prices + '</td>' +
						'</tr>' +
						'<tr>' +
							'<td class="dark-gray">Precio normal:</td>' +
							'<td class="light-gray">' + currency(price) + '</td>' +
						'</tr>' +
						'<tr>' +
							'<td class="dark-gray">Precio pago en línea:</td>' +
							'<td class="light-gray">' + currency(Math.round(discounted_price)) + '</td>' +
						'</tr>'
					);

				}
				else
				{
					$('#summary').append(
						'<tr>' +
							'<td class="dark-gray">Precios</td>' +
							'<td class="light-gray">' + prices + '</td>' +
						'</tr>'
					);
				}
				$("#discount").empty();
				$("#normal-book").empty();
				if(payable){
					$("#reservar1").hide();
					$("#reservar2").show();
					$("#discount").append(
						'Precio final: ' +  currency(Math.round(discounted_price))
					);
					$("#normal-book").append(
						'Precio final: ' + currency(price)
					);
				}
				else
				{
					$("#reservar2").hide();
					$("#reservar1").show();
				}

				$('#summary').append(
					'<tr>' +
						'<td class="dark-gray">Sesiones</td>' +
						'<td class="light-gray">' + (sessions_buffer.length) + ' agendadas de ' + first_session.sessions_amount + '</td>' +
					'</tr>'
				);

				if(sessions_buffer.length > 0)
				{
					
					for(i=0; i<sessions_buffer.length; i++)
					{
						$("#summary").append(
							'<tr><td></td><td class="light-gray">' + formattedTime(sessions_buffer[i].start) + ', con ' + sessions_buffer[i].provider_name + '</td></tr>'		
						);
					}

				}

				return true;


			}
		}
		myAlert.showAlert(
		  '<h3>Selecciona un Horario</h3>' +
		  '<p>Debes elegir un horario antes de poder continuar.</p>'
		);
		return false;
	}*/
}

function checkUserCrossBookings () {
	$(".alert").alert('close');
	var user = $('#user_id').val();
	var booking_start = actual_booking.start;
	var booking_end = actual_booking.end;
	$.getJSON('/check_user_cross_bookings', {user_id: user, booking_start: booking_start, booking_end: booking_end}, function (result) {
		if (result.crossover) {
			$('#warning').empty();
			var warning = '<div class="alert alert-warning alert-dismissable fade in" style="margin-bottom: 0px;">' +
				'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
				'<strong>¡Advertencia!</strong> Tienes agendado <em>' + result.booking.service + '</em> con <em>' + result.booking.service_provider + '</em> el <em>' + formattedTime(result.booking.start) + '</em>.' +
			'</div>';
			$('#warning').append(warning);
		};
	});
}

//====== Load Info ======//
function loadDescription (serviceId) {
	$('#services-description').html('<tr><td class="text-center" style="color: #ccc;"><i class="fa fa-spinner fa-spin fa-lg"></i></td></tr>');
	$.getJSON('/service', {id: serviceId}, function (service) {
		current_service = service;

		$("#selectedServiceId").val(service.id);

		$("#description-heading").empty();
		$("#description-heading").append(service.name);

		$('#services-description').empty();
		/*$('#services-description').append(
			'<tr>' +
				'<td class="dark-gray">Nombre:</td>' +
				'<td class="light-gray">' + service.name + '</td>' +
			'</tr>'
		);*/

		if (service.show_price && service.price && service.price > 0) {
			$('#services-description').append(
				'<tr>' +
					'<td><%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %></td>' +
					'<td class="light-gray">' + simple_currency(service.price) + '</td>' +
				'</tr>'
			);
			if(service.online_payable)
			{
				if(service.has_discount && service.discount > 0)
				{
					/*$('#services-description').append(
						'<tr>' +
							'<td class="dark-gray"><%= image_tag("promociones/tarjeta_de_credito.png", class:"promotion-hour-icon", size: "18x18") %></td>' +
							'<td class="light-gray"><b>' + simple_currency(Math.round(service.price*(100-service.discount)/100)) + ' (' + service.discount + '% de descuento)</b></td>' +
						'</tr>'
					);*/
					$('#services-description').append(
						'<tr>' +
							'<td class="dark-gray"><%= image_tag("promociones/tarjeta_de_credito.png", class:"promotion-hour-icon", size: "18x18") %></td>' +
							'<td class="light-gray"><span class="light-green"><b>' + simple_currency(Math.round(service.price*(100-service.discount)/100)) + '</b></span> (Pago online)</td>' +
						'</tr>'
					);
				}
			}
		} 
		else if (service.show_price && service.price == 0) {
			$('#services-description').append(
				'<tr>' +
					'<td class="dark-gray"><%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %></td>' +
					'<td class="light-gray">Consultar en Local</td>' +
				'</tr>'
			);
		}
		else{
			$('#services-description').append(
				'<tr>' +
					'<td class="dark-gray"><%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %></td>' +
					'<td class="light-gray">Consultar en Local</td>' +
				'</tr>'
			);
		};
		$('#services-description').append(
			'<tr>' +
				'<td class="dark-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %></td>' +
				'<td class="light-gray">' + service.duration + ' min </td>' +
			'</tr>'
		);

		$("#description-info").empty();

		$('#description-info').append("<b>Descripción:</b> ");
		var hasDescription = false;
		if(service.description) {
			$('#description-info').append(
				service.description + "<br />"
			);
			hasDescription = true;
		}
		if(service.has_sessions)
		{
			hasDescription = true;
			$("#description-info").append('Ese servicio consta de ' + service.sessions_amount + ' sesiones.');
			$(".optimizer-item").hide();
			$("#optimizerOpenBtn").attr("disabled", "disabled");
		}
		else
		{
			$(".optimizer-item").show();
			$("#optimizerOpenBtn").attr("disabled", false);
		}
		if (!hasDescription)
		{
			$("#description-info").empty();
		}
		$("#discount").empty();
		$("#normal-book").empty();
		
		/*if(service.online_payable){
			$("#reservar1").hide();
			$("#reservar2").show();

			if(service.has_discount && current_service.discount > 0)
			{
				$("#discount").append(
					'Precio final: ' + currency(Math.round((service.price-service.price*service.discount/100)))
				);
				$("#normal-book").append(
					'Precio final: ' + currency(service.price)
				);
			}
		}
		else
		{
			$("#reservar2").hide();
			$("#reservar1").show();
		}*/
	});
}

var step = 1;
function scrollEvents (direction) {
	if (direction == 'next') {
		if (step == 1) {
			/*if(!$('[name="serviceRadio"]').is(':checked')) {
				myAlert.showAlert(
				  '<h3>Selecciona un Servicio</h3>' +
				  '<p>Debes elegir un servicio antes de poder continuar.</p>'
				);
				return false;
			}
			else if(current_servicecurrent_service.has_sessions && booking_buffer.length > 0)
			{
				myAlert.showAlert(
				  '<h3>Este servicio tiene sesiones</h3>' +
				  '<p>No puedes agendar un servicio con sesiones además de otros servicios.</p>'
				);
				return false;
			}*/
			if(added_services.length == 0)
			{
				myAlert.showAlert(
				  '<h3>Selecciona un Servicio</h3>' +
				  '<p>Debes elegir un servicio antes de poder continuar.</p>'
				);
			}
			else {
				loadStep2();

				step = 2;
				return true;
			}
		}
		else {

			if(!selected) {
				myAlert.showAlert(
				  '<h3>Selecciona un horario</h3>' +
				  '<p>Debes elegir un horario antes de poder continuar.</p>'
				);
				return false;
			}
			else {
				loadStep3();
				step = 3;
				return true;
			}
			
		}
	}
	else if (direction == 'prev') {
		if (step == 3) {
			step = 2;
			//sessions_buffer = [];
			
			if (sessions_service)
			{
				sessions_left = actual_booking.sessions_amount;
				$("#sessions-left").html("" + actual_booking.sessions_amount);
			}
			else
			{
				sessions_left = 0;
				$("#sessions-left").html("0");
			}
			first_session = null;
			sessions_buffer = [];
			booking_buffer = [];
			actual_booking = null;
			selected = false;
			block_discount = 0;

			$("#booking-error").empty();

			$("#current-discount").empty();
			$("#current-discount-div").hide();
			$("#summary").empty();

			$("#sessions-summary-tr").empty();
      		
      		$("#selected-hour-body").empty();

			console.log("Sesiones: " + sessions_buffer.length);
			console.log("Bookings: " + booking_buffer.length);
			//var active_hour = $(".hora-activo");
			//active_hour.removeClass("hora-activo");
			//active_hour.removeClass("hora-ocupado");

			blockBookingBufferHour();

			loadStep2();

		}
		else if(step == 2)
		{
			step = 1;

			sessions_buffer = [];
			booking_buffer = [];
			var active_hour = $(".hora-activo");
			active_hour.removeClass("hora-activo");
			active_hour.removeClass("hora-ocupado");

			blockBookingBufferHour();

		}
		return true;
	}
}



//====== Manage Booking ======//
var pressed3 = false;

function addSession(booking, discount, is_time_discount)
{

	bookSummary = bookSummaries[booking.index];
    bookDetails = bookSummary.bookings[0];

    var book_has_discount = false;
    if(discount > 0)
    {
    	book_has_discount = true;
    }

    actual_booking = {
		start: generateDate(booking.date, booking.start),
		end: generateDate(booking.date, booking.end),
		provider: bookDetails.provider,
		provider_name: bookDetails.provider_name,
		provider_lock: bookDetails.provider_lock,
		service: bookDetails.service,
		service_name: bookDetails.service_name,
		online_payable: bookDetails.online_payable,
		has_discount: book_has_discount,
		discount: discount,
		price: bookDetails.price,
		show_price: bookDetails.show_price,
		has_sessions: true,
		sessions_amount: bookDetails.sessions_amount,
		must_be_paid_online: bookDetails.must_be_paid_online,
		is_time_discount: is_time_discount
    };

    console.log("actual_booking: ");
    console.log(actual_booking);

    checkUserCrossBookings();

	/*$.getJSON('/service', {id: serviceId}, function (service_response) {
		var service_online_payable = false;
		var service_has_discount = false;
		var service_discount = 0;
		var service_price = service_response.price;
		var show_price = service_response.show_price;
		if(service_response.online_payable)
		{
			service_online_payable = true;
			if(service_response.has_discount)
			{
				service_has_discount = true;
				service_discount = service_response.discount;
			}
		}

		actual_booking = {
			start: generateDate(booking.date, booking.start),
			end: generateDate(booking.date, booking.end),
			provider: booking.provider,
			provider_name: $('input[name="staffRadio"]:checked').next().html(),
			provider_lock: $('[name="staffRadio"]:checked').val() == 0 ? false : true,
			service: $('input[name=serviceRadio]:checked').val(),
			service_name: $('input[name=serviceRadio]:checked').next().html(),
			online_payable: service_online_payable,
			has_discount: service_has_discount,
			discount: service_discount,
			price: service_price,
			show_price: show_price,
			has_sessions: service_response.has_sessions,
			sessions_amount: service_response.sessions_amount
		};


		checkUserCrossBookings();

	});*/
}

function addBooking (booking, book_index, discount, is_time_discount) {

	//Add AJAX call to check if service accepts online payment

	bookSummary = bookSummaries[booking.index];
    bookDetails = bookSummary.bookings[book_index];
    var book_has_discount = false;
    if(discount > 0)
    {
    	book_has_discount = true;
    }

    actual_booking = {
		start: generateDate(booking.date, booking.start),
		end: generateDate(booking.date, booking.end),
		provider: bookDetails.provider,
		provider_name: bookDetails.provider_name,
		provider_lock: bookDetails.provider_lock,
		service: bookDetails.service,
		service_name: bookDetails.service_name,
		online_payable: bookDetails.online_payable,
		has_discount: book_has_discount,
		discount: discount,
		price: bookDetails.price,
		show_price: bookDetails.show_price,
		has_sessions: false,
		sessions_amount: bookDetails.sessions_amount,
		must_be_paid_online: bookDetails.must_be_paid_online,
		is_time_discount: is_time_discount,
		service_promo_id: bookDetails.service_promo_id
    };

    console.log("actual_booking: ");
    console.log(actual_booking);

    checkUserCrossBookings();

	/*var serviceId = $('input[name=serviceRadio]:checked').val();
	$.getJSON('/service', {id: serviceId}, function (service_response) {
		var service_online_payable = false;
		var service_has_discount = false;
		var service_discount = 0;
		var service_price = service_response.price;
		var show_price = service_response.show_price;
		if(service_response.online_payable)
		{
			service_online_payable = true;
			if(service_response.has_discount)
			{
				service_has_discount = true;
				service_discount = service_response.discount;
			}
		}
		selected = true;
		actual_booking = {
			start: generateDate(booking.date, booking.start),
			end: generateDate(booking.date, booking.end),
			provider: booking.provider,
			provider_name: $('input[name="staffRadio"]:checked').next().html(),
			provider_lock: $('[name="staffRadio"]:checked').val() == 0 ? false : true,
			service: $('input[name=serviceRadio]:checked').val(),
			service_name: $('input[name=serviceRadio]:checked').next().html(),
			online_payable: service_online_payable,
			has_discount: service_has_discount,
			discount: service_discount,
			price: service_price,
			show_price: show_price
		};
		checkUserCrossBookings();

	});*/

}


function blockService(service)
{
	if(service.has_sessions && added_services.length > 0)
	{
		myAlert.showAlert(
		  '<h3>No se puede agregar el servicio</h3>' +
		  '<p>El servicio que quieres agregar tiene sesiones, no puede ser reservado junto a otros servicios.</p>'
		);
		return true;
	}
	for(i = 0; i < added_services.length; i++)
	{
		if(added_services[i].has_sessions)
		{
			myAlert.showAlert(
			  '<h3>No se puede agregar el servicio</h3>' +
			  '<p>Ya existe un servicio con sesiones agregado, no puede ser reservado junto a otros servicios.</p>'
			);
			return true;
		}
	}

	return false;
}


function addService(service_id){


	$.getJSON('/service', {id: service_id}, function (service) {

		if(blockService(service))
		{
			return;
		}

		$("#selected-services").append(
			'<div id="selected-service-' + added_services_count + '" class="selected-service" service_id="' + service.id + '" draggable="true" ondragstart="drag(event)">' +
				'<div class="selected-service-header row">' +
					'<div class="col-sm-1"><i class="fa fa-times remove-service"></i></div>' +
					'<div class="col-sm-9">' + service.name + '</div>' +
					'<div class="col-sm-1"><i class="fa fa-bars move-service"></i></div>' +
				'</div>' +
				'<div class="selected-service-providers">' +
					'<div class="form-group">' +
				        '<label for="selected-service-provider" class="col-xs-3 control-label">Prestador</label>' +
				        '<div class="col-xs-9">' +
				          '<select class="form-control selected-service-provider"></select>' +
				        '</div>' +
				    '</div>' +
				'</div>' +
				'<div style="clear: both;">' +
				'</div>' +
			'</div>'
		);

		loadServiceStaff(service.id);

		added_services.push(service);
		added_services_count = added_services_count + 1;

	});
}

$("body").on('click', '.remove-service', function(){

	var index = $(this).closest(".selected-service").attr("id").split("-")[2];
	var service_id = $(this).closest(".selected-service").attr("service_id");
	for(i=0; i<added_services.length; i++)
	{
		if (added_services[i].id == parseInt(service_id))
		{
			added_services.splice(i, 1);
		}
	}
	added_services_count = added_services_count-1;
	$(this).closest(".selected-service").remove();

});


function loadServiceStaff (service_id) {
  var serviceId = service_id;

  var localId = $('#selectedLocal').data('local').id;
  var providerPreference = $('#providerPreference').data('provider-preference');

  var providerSelector = $('.selected-service[service_id="' + serviceId + '"] .selected-service-provider');
  $.getJSON('/providers_services', {id: serviceId, local: localId}, function (providers) {

    providerSelector.attr('disabled', true);
    providerSelector.empty();

    if (providerPreference != 1) {
      if (providers.length > 1) {
        providerSelector.append(
          '<option value="0">Sin Preferencia</option>'
        );
      }
    }
    if (providerPreference != 2) {
      $.each(providers, function (key, provider) {
        providerSelector.append(
          '<option value="' + provider.id + '">' + provider.public_name + '</option>'
        );
      });
    }

    providerSelector.attr('disabled', false);
  });
}

function loadStaffForSessions(service_id)
{
	var serviceId = service_id;

  	var localId = $('#selectedLocal').data('local').id;
  	var providerPreference = $('#providerPreference').data('provider-preference');

  	$.getJSON('/providers_services', {id: serviceId, local: localId}, function (providers) {

	    $(".changeStaff").empty();

	    if (providerPreference != 1) {
	      if (providers.length > 1) {
	        $(".changeStaff").append(
	          '<div class="radio">' +
                  '<label>' +
                    '<p><input type="radio" name="changeProvider" value="0" style="cursor: pointer;" />Sin preferencia</p>' +
                  '</label>' +
                '</div>'
	        );
	      }
	    }
	    if (providerPreference != 2) {
	      $.each(providers, function (key, provider) {
	        $(".changeStaff").append(
	          '<div class="radio">' +
                '<label>' +
                  '<p>' +
                    '<input type="radio" name="changeProvider" value="' + provider.id + '" style="cursor: pointer;" />' + provider.public_name +
                  '</p>' +
                '</label>' +
              '</div>'
	        );
	      });
	    }

	});

}

$('body').on('click', '[name="changeProvider"]', function(event){


  	$("#loader-div").show();

	var localId = $('#selectedLocal').data('local').id;
	var selects = [];
	var start_date = $("#optimizerDateSelector").val();
	
	$("#selected-hour-body").empty();

	$(".selected-service").each(function() {
		var provider = $('input[name="changeProvider"]:checked').val();
		var service_id = $(this).attr("service_id");
		console.log("provider: ");
		console.log(provider)
		selects.push({
			service: service_id,
			provider: provider
		});
	});

  	

  	var data;

  	if($("#pickerSelected").val()!="")
  	{
    	data = {local: localId, serviceStaff: JSON.stringify(selects), date: $("#pickerSelected").val()}
  	}
  	else
  	{
    	data = {local: localId, serviceStaff: JSON.stringify(selects)}
  	}

  	if (promoCalendar) {
    	promoCalendar.rebuild('/promotion_hours', data);
  	}
  	else {
    	promoCalendar = new PromoCalendar('/promotion_hours', data);
  	}

  	$("#loader-div").hide();

  	blockBookingBufferHour();

});


$("#new-add-service").click(function(){
	addService($("#selectedServiceId").val());
});


function generateDate(date, time) {
	var year = date.substring(0, date.indexOf('-'));
	var month = date.substring(date.indexOf('-') + 1, date.lastIndexOf('-'));
	var day = date.substring(date.lastIndexOf('-') + 1);

	time += ':00';

	return year + '-' + month + '-' + day + ' ' + time;
}

function formattedTime (timestamp) {
	var dateString = timestamp;

	var s = new Date(dateString.substring(0, 4), parseInt(dateString.substring(5, 7)) - 1, dateString.substring(8, 10), dateString.substring(11, 13), dateString.substring(14, 16), 0);

	var weekday = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]

	var monthname = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

	var day = weekday[s.getDay()];
	var month = monthname[s.getMonth()];

	var formattedStart = day + " " + parseInt(timestamp.substring(8,10)) + " de " + month + " a las " + timestamp.substring(11,16);

	return formattedStart;
}

function blockBookingBufferHour () {


	for (i = 0; i < booking_buffer.length; i++) {

		var start_arr = booking_buffer[i].start.split(" ");
		var start_date = start_arr[0].split("-");
		var start_time = start_arr[1].split(":");

		var end_arr = booking_buffer[i].end.split(" ");
		var end_date = end_arr[0].split("-");
		var end_time = end_arr[1].split(":");

		var bookingStart = new Date(start_date[0], start_date[1]-1, start_date[2], start_time[0], start_time[1], start_time[2], 0);
		var bookingEnd = new Date(end_date[0], end_date[1]-1, end_date[2], end_time[0], end_time[1], end_time[2], 0);

		var date = booking_buffer[i].start.split(' ')[0];
		var hourBlocks = $('.columna-dia[data-date="' + date + '"]').children('.bloque-hora.hora-disponible');
		var promoBlocks = $('.columna-dia[data-date="' + date + '"]').children('.bloque-hora.hora-promocion');

		$.each(hourBlocks, function (key, hourBlock) {
			var start = $(hourBlock).data('start');
			var end = $(hourBlock).data('end');

			

			var blockStart = new Date(start_date[0], start_date[1]-1, start_date[2], start.split(":")[0], start.split(":")[1], 0, 0);
			var blockEnd = new Date(end_date[0], end_date[1]-1, end_date[2], end.split(":")[0], end.split(":")[1], 0, 0);
			
			//Check for no overlap and negate it.
			if(!(bookingEnd <= blockStart || blockEnd <= bookingStart))
			{
				//$(hourBlock).removeClass('hora-disponible');
				//$(hourBlock).removeClass('hora-activo');
				$(hourBlock).addClass('hora-ocupada');
			}

		});

		$.each(promoBlocks, function (key, hourBlock) {
			var start = $(hourBlock).data('start');
			var end = $(hourBlock).data('end');

			

			var blockStart = new Date(start_date[0], start_date[1]-1, start_date[2], start.split(":")[0], start.split(":")[1], 0, 0);
			var blockEnd = new Date(end_date[0], end_date[1]-1, end_date[2], end.split(":")[0], end.split(":")[1], 0, 0);
			
			//Check for no overlap and negate it.
			if(!(bookingEnd <= blockStart || blockEnd <= bookingStart))
			{
				//$(hourBlock).removeClass('hora-promocion');
				//$(hourBlock).removeClass('hora-activo');
				$(hourBlock).addClass('hora-ocupada');
			}

		});


		$("#foo4").trigger('updateSizes');

	}


	for(i=0; i < sessions_buffer.length; i++)
	{

		var date = sessions_buffer[i].start.split(' ')[0];
		var hourBlocks = $('.columna-dia[data-date="' + date + '"]').children('.bloque-hora.hora-disponible');
		var promoBlocks = $('.columna-dia[data-date="' + date + '"]').children('.bloque-hora.hora-promocion');

		var start_arr = sessions_buffer[i].start.split(" ");
		var start_date = start_arr[0].split("-");
		var start_time = start_arr[1].split(":");

		var end_arr = sessions_buffer[i].end.split(" ");
		var end_date = end_arr[0].split("-");
		var end_time = end_arr[1].split(":");

		var bookingStart = new Date(start_date[0], start_date[1]-1, start_date[2], start_time[0], start_time[1], start_time[2], 0);
		var bookingEnd = new Date(end_date[0], end_date[1]-1, end_date[2], end_time[0], end_time[1], end_time[2], 0);

		$.each(hourBlocks, function (key, hourBlock) {

			var start = $(hourBlock).data('start');
			var end = $(hourBlock).data('end');

			var blockStart = new Date(start_date[0], start_date[1]-1, start_date[2], start.split(":")[0], start.split(":")[1], 0, 0);
			var blockEnd = new Date(end_date[0], end_date[1]-1, end_date[2], end.split(":")[0], end.split(":")[1], 0, 0);
			
			//Check for no overlap and negate it.
			if(!(bookingEnd <= blockStart || blockEnd <= bookingStart))
			{
				//$(hourBlock).removeClass('hora-disponible');
				//$(hourBlock).removeClass('hora-activo');
				$(hourBlock).addClass('hora-ocupada');
			}

		});
		$.each(promoBlocks, function (key, hourBlock) {
			var start = $(hourBlock).data('start');
			var end = $(hourBlock).data('end');

			var blockStart = new Date(start_date[0], start_date[1]-1, start_date[2], start.split(":")[0], start.split(":")[1], 0, 0);
			var blockEnd = new Date(end_date[0], end_date[1]-1, end_date[2], end.split(":")[0], end.split(":")[1], 0, 0);
			
			//Check for no overlap and negate it.
			if(!(bookingEnd <= blockStart || blockEnd <= bookingStart))
			{
				//$(hourBlock).removeClass('hora-promocion');
				//$(hourBlock).removeClass('hora-activo');
				$(hourBlock).addClass('hora-ocupada');
			}

		});
		$("#foo4").trigger('update');			
	}
}

function addNewSession() {

		if(!selected) {
			myAlert.showAlert(
			  '<h3>Selecciona un Horario</h3>' +
			  '<p>Debes elegir un horario antes de agregar otra sesión.</p>'
			);
		}
		else {


			if(first_session == null)
			{
				first_session = actual_booking;
			}

			sessions_buffer.push(actual_booking);

			var hourBlock = $(".hora-activo");
			//$(hourBlock).removeClass('hora-disponible');
			//$(hourBlock).removeClass('hora-activo');
			$(hourBlock).addClass('hora-ocupada');

			if(block_discount == 0)
			{
				block_discount = actual_booking.discount;
			}
			if (actual_booking.discount < block_discount)
			{
				block_discount = actual_booking.discount;
			}

			blockBookingBufferHour();

			sessions_left = sessions_left - 1;

			$("#sessions-left").empty();
			$("#sessions-left").html("" + sessions_left);
			selected = false;
			if(sessions_left < 2)
			{
				$(".btn-add-session").attr("disabled", "disabled");
			}
			else
			{
				$(".btn-add-session").attr("disabled", false);
			}

			$(hourBlock).removeClass("hora-activo");
			
			loadSessionsSummary();

		}

}


function loadSessionsSummary()
{
	$("#sessions-summary-tr").empty();
    $("#current-discount-div").show();
    $("#current-discount").empty();
    $("#current-discount").append(block_discount + "%");

	for(i = 0; i < sessions_buffer.length; i++)
	{
		var sessionStart = sessions_buffer[i].start.split(" ");
		var sessionStartDate = sessionStart[0].split("-")[2] + "/" + sessionStart[0].split("-")[1] + "/" + sessionStart[0].split("-")[0];
		var sessionStartTime = sessionStart[1].split(":")[0] + ":" + sessionStart[1].split(":")[1];

		var sessionEnd = sessions_buffer[i].end.split(" ");
		var sessionEndDate = sessionEnd[0].split("-")[2] + "/" + sessionEnd[0].split("-")[1] + "/" + sessionEnd[0].split("-")[0];
		var sessionEndTime = sessionEnd[1].split(":")[0] + ":" + sessionEnd[1].split(":")[1];

		$("#sessions-summary-tr").append(
			'<td class="session-summary"><span class="remove-session" index="' + i + '" style="cursor: pointer;"><div class="session-title"><i class="fa fa-times"></i></span>&nbsp;&nbsp;Sesión ' + (i+1) + '</div><div class="session-time"><i class="fa fa-calendar"></i>&nbsp;' + sessionStartDate + '<br /><i class="fa fa-clock-o"></i>&nbsp;' + sessionStartTime + " - " + sessionEndTime + '</div></td>'
		);
	}

	$(".remove-session").on('click', function(){
		console.log("Remove");
		var sessionIndex = $(this).attr("index");
		removeSession(sessionIndex);
	});

	var oldTop = $(document).scrollTop();
	$('#foo4').trigger('updateSizes');
	$(document).scrollTop(oldTop);
}

function removeSession(index)
{
	var sessions_aux = [];
	var removed_session;
	for(i = 0; i < sessions_buffer.length; i++)
	{
		if (i != index)
		{
			sessions_aux.push(sessions_buffer[i]);
		}
		else
		{
			removed_session = sessions_buffer[i];
		}
	}
	sessions_buffer = sessions_aux;
	
	var date = removed_session.start.split(' ')[0];
	var start_time = removed_session.start.split(" ")[1];
	var start_str = start_time.split(":")[0] + ":" + start_time.split(":")[1];
	var end_time = removed_session.end.split(" ")[1];
	var end_str = end_time.split(":")[0] + ":" + end_time.split(":")[1];
	var hourBlock = $('.columna-dia[data-date="' + date + '"]').children('.bloque-hora[data-start="' + start_str + '"][data-end="' + end_str + '"]');

	sessions_left = sessions_left + 1;
	$("#sessions-left").html(sessions_left);
	$(".btn-add-session").attr("disabled", false);

	$(hourBlock).removeClass('hora-ocupada');
	//$(hourBlock).addClass('hora-disponible');

	loadSessionsSummary();
}


function addNewService () {
	if(!$('[name="staffRadio"]').is(':checked')) {
		myAlert.showAlert(
		  '<h3>Selecciona un Staff</h3>' +
		  '<p>Debes elegir un staff para poder reservar.</p>'
		);
	}
	else {
		if(!selected) {
			myAlert.showAlert(
			  '<h3>Selecciona un Horario</h3>' +
			  '<p>Debes elegir un horario antes de poder continuar.</p>'
			);
		}
		else {
			myAlert.showAlert(
				'<h3><i class="fa fa-check fa-green fa-lg"></i>&nbsp;&nbsp;Servicio agregado.</h3>' + 
				'<p>Has agregado el servicio ' + actual_booking.service_name + ' con ' + actual_booking.provider_name + ', el día ' +
				formattedTime(actual_booking.start) + '</p'
			);
			booking_buffer.push(actual_booking);
			$('input[name=serviceRadio]:checked').prop('checked', false);
			$('#services-description').empty();
			$('#foo4').trigger('prev');
			blockBookingBufferHour();
		}
	}
}


$("#sessions-help").click(function(){
	$("#sessions-explanation").modal('show');
});

$("#staffCollapse").on("shown.bs.collapse", function(){
  $("#openStaffCollapseIcon").hide();
  $("#closeStaffCollapseIcon").show();
});

$("#staffCollapse").on("hidden.bs.collapse", function(){
  $("#openStaffCollapseIcon").show();
  $("#closeStaffCollapseIcon").hide();
});


var myAlert;
$(function () {
	myAlert  = new Alert();

	////////////////
	// IMPORTANTE //
	// Por un tema de confusión del calendario de horas del WF, se dejaron TODAS las consultas AJAX de esta página no-asíncronas.
	// Para hacer una consulta asíncrona, se debe hacer así (o por el estilo):
	// $.ajax({
	//     url: 'your url',
	//     global: false,
	//     type: 'GET',
	//     data: {},
	//     async: false,
	//     success: function() {
	//     	// código aquí
	//     }
	// });
	////////////////

	// $.ajaxSetup({
	// 	async: false
	// });

	$( document ).ajaxComplete(function() {
		var oldTop = $(document).scrollTop();
		$('#foo4').trigger('updateSizes');
		$(document).scrollTop(oldTop);
	});


	$(document).on('calendarBuilded', function (e) {

		/*
			If there are no hours for this week,
			go to next week.
		*/

		if($(".bloque-hora").size() == 0)
		{
			$("#next").trigger("click");
		}

		blockBookingBufferHour();
		var oldTop = $(document).scrollTop();
		$('#foo4').trigger('updateSizes');
		$(document).scrollTop(oldTop);
	});

});
