<%= form_for @company_from_email, :html => {:class => 'form-horizontal'} do |f| %>
	<% if @company_from_email.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@company_from_email.errors.count, "error") %> prohibited this company_setting from being saved:</h2>

			<ul>
			<% @company_from_email.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.hidden_field :company_id, :value => current_user.company.id %>
	<div class="form-group">
		<%= f.label :email, 'E-mail', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-4">
			<%= f.text_field :email, :class => 'form-control', :placeholder => 'email@dominio.cl' %>
		</div>
		<span class="help-block">Este es el e-mail desde el cual se enviarán los mensajes.</span>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
			<%= f.submit 'Guardar', :class => 'btn btn-primary' %>
			<%= link_to 'Cancelar', dashboard_path, :class => "btn btn-danger" %>    
		</div>
	</div>
<% end %>
