<%= simple_form_for(@provider_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :company %>
    <%= f.input :name %>
    <%= f.input :order %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
