var myAlert
$(function() {

    // Cache selectors
    var topMenu = $("#main-navbar"),
        topMenuHeight = topMenu.outerHeight()+15,
        // All list items
        menuItems = topMenu.find('a[href*="#"]'),
        // Anchors corresponding to menu items
        scrollItems = menuItems.map(function(){
          var item = $($(this).attr("href").substring(1));
          if (item.length) { return item; }
        });

    menuItems.click(function () {
        topMenu.find('.collapse').collapse('hide');
    });

    if ( $(document).scrollTop()>0) {
        if($('#main-navbar').hasClass('navbar-agendapro')) {
            $('#main-navbar').addClass('navbar-home');
            $('#main-navbar').removeClass('navbar-agendapro');
            $('#agendapro-brand').html('<%= image_tag 'logos/logo2.png', :alt => 'AgendaPro', :size => '127x43' %>');
        }
    }
    else {
        if ($('#main-navbar').hasClass('navbar-home')) {
            $('#main-navbar').addClass('navbar-agendapro');
            $('#main-navbar').removeClass('navbar-home');
            $('#agendapro-brand').html('<%= image_tag 'logos/logo1.png', :alt => 'AgendaPro', :size => '127x43' %>');
        }
    }

    // Bind to scroll
    $(document).scroll(function(){
        if ( $(this).scrollTop()>0) {
            if($('#main-navbar').hasClass('navbar-agendapro')) {
                $('#main-navbar').addClass('navbar-home');
                $('#main-navbar').removeClass('navbar-agendapro');
                $('#agendapro-brand').html('<%= image_tag 'logos/logo2.png', :alt => 'AgendaPro', :size => '127x43' %>');
            }
        }
        else {
            if ($('#main-navbar').hasClass('navbar-home')) {
                $('#main-navbar').addClass('navbar-agendapro');
                $('#main-navbar').removeClass('navbar-home');
                $('#agendapro-brand').html('<%= image_tag 'logos/logo1.png', :alt => 'AgendaPro', :size => '127x43' %>');
            }
        }
       // Get container scroll position
       var fromTop = $(this).scrollTop()+topMenuHeight;

       // Get id of current scroll item
       var cur = scrollItems.map(function(){
         if ($(this).offset().top < fromTop)
           return this;
       });
       // Get the id of the current element
       cur = cur[cur.length-1];
       var id = cur && cur.length ? cur[0].id : "";
       // Set/remove active class
       menuItems.parent().removeClass("active").end().filter("[href*=#"+id+"]").parent().addClass("active");
    });
    myAlert = new Alert();
    var windowheight = $(window).height();
    $("#buscador").height(windowheight);
    $("#buscador2").height(windowheight);

    split_name('#full_name', '#inputName', '#inputLastname');

    $('#carousel').carouFredSel({
        items : 4,
        circular : true,
        infinity : true,
        // responsive : true,
        width : "100%",
        scroll : {
            items           : 1,
            duration        : 500,
            pauseOnHover    : true
        },
        prev: {
               button  : "#msprev"
        },
        next: {
               button  : "#msnext"
        }
    });

    $( window ).resize(function() {
        var windowheight = $(window).height();
        $("#buscador").height(windowheight);
        $("#buscador2").height(windowheight);
    });
    $('a[href*=#]').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href').substring(1) ).offset().top - 50
        }, 500);
        return false;
    });
    $("#typed-text").typed({
        strings: ["Corte de Pelo", "Tratamientos Faciales", "SPA", "Maquillaje", "Centros de Estética", "Peluquerías", "Masajes", "Manicure", "Pedicure", "Tratamientos Corporales", "Bronceados", "Medicina Alternativa"],
        loop: true,
        typeSpeed: 0,
        cursorChar: "_",
        backDelay: 2000
    });
    var input = document.getElementById('inputLocalization');
    var input2 = document.getElementById('inputLocalization2');
    var options = {
      types: ['geocode'],
      componentRestrictions: {country: 'cl'}
    };
    var geocoder = new google.maps.Geocoder();
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    var autocomplete2 = new google.maps.places.Autocomplete(input2, options);
    var infowindow = new google.maps.InfoWindow();
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        if (autocomplete.getPlace().geometry) {
            window.console.log(autocomplete.getPlace());
            $('#latitude').val(autocomplete.getPlace().geometry.location.A);
            $('#longitude').val(autocomplete.getPlace().geometry.location.F);
            document.cookie = "lat=" + escape(autocomplete.getPlace().geometry.location.A);
            document.cookie = "lng=" + escape(autocomplete.getPlace().geometry.location.F);
            document.cookie = "formatted_address=" + escape(autocomplete.getPlace().formatted_address);
        }
    });
    google.maps.event.addListener(autocomplete2, 'place_changed', function() {
        if (autocomplete2.getPlace().geometry) {
            $('#inputLocalization').val(autocomplete2.getPlace().formatted_address);
            $('#latitude').val(autocomplete2.getPlace().geometry.location.A);
            $('#longitude').val(autocomplete2.getPlace().geometry.location.F);
            
            document.cookie = "lat=" + escape(autocomplete2.getPlace().geometry.location.A);
            document.cookie = "lng=" + escape(autocomplete2.getPlace().geometry.location.F);
            document.cookie = "formatted_address=" + escape(autocomplete2.getPlace().formatted_address);
        }
    });
    $("#inputLocalization").focusin(function () {
        $(document).bind("keypress.key1", function(e) {
            if (e.which == 13) {
                e.preventDefault();
                selectFirstResult();
            }
        });
    });
    $("#inputLocalization").focusout(function () {
        if(!$(".pac-container").is(":focus") && !$(".pac-container").is(":visible")) {
            selectFirstResult();
        }
        $(document).unbind("keypress.key1");
    });
    $("#inputLocalization2").focusin(function () {
        $(document).bind("keypress.key2", function(e) {
            if (e.which == 13) {
                e.preventDefault();
                selectFirstResult();
            }
        });
    });
    $("#inputLocalization2").focusout(function () {
        if(!$(".pac-container").is(":focus") && !$(".pac-container").is(":visible")) {
            selectFirstResult();
        }
        $(document).unbind("keypress.key2");
    });

     function selectFirstResult() {
        infowindow.close();
        $(".pac-container").hide();
        var firstResult = $(".pac-container .pac-item:first").text();
        geocoder.geocode({"address":firstResult }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var lat = results[0].geometry.location.lat(),
                    lng = results[0].geometry.location.lng(),
                    placeName = results[0].address_components[0].long_name,
                    latlng = new google.maps.LatLng(lat, lng);

                $('#latitude').val(lat);
                $('#longitude').val(lng);
                document.cookie = "lat=" + escape(lat);
                document.cookie = "lng=" + escape(lng);

                $("#inputLocalization").val(results[0].formatted_address);
                $("#inputLocalization2").val(results[0].formatted_address);
                document.cookie = "formatted_address=" + escape(results[0].formatted_address);
                $('#inputSearch').focus();
                $('#search-form').submit();
            }
            else {
                $("#inputLocalization").val('');
                $("#inputLocalization2").val('');
            }
        });
     }
    function geolocate() {
        if (navigator.geolocation) {
            $('.geolocate_btn').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "small-loader.gif", :alt => "Loader", :id => "small_loader_header", :class => "small-loader-header" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            var positioned = false;
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    positioned = true;
                    $('#latitude').val(position.coords.latitude);
                    $('#longitude').val(position.coords.longitude);
                    document.cookie = "lat=" + escape(position.coords.latitude);
                    document.cookie = "lng=" + escape(position.coords.longitude);

                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    geocoder.geocode({'latLng': latlng}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                          if (results[0]) {
                            $('#inputLocalization').val(results[0].formatted_address);
                            $('#inputLocalization2').val(results[0].formatted_address);
                            document.cookie = "formatted_address=" + escape(results[0].formatted_address);
                          } else {
                            $('#inputLocalization').val(position.coords.latitude+', '+position.coords.longitude);
                            $('#inputLocalization2').val(position.coords.latitude+', '+position.coords.longitude);
                            document.cookie = "formatted_address=" + escape(position.coords.latitude+', '+position.coords.longitude);
                          }
                        } else {
                            $('#inputLocalization').val(position.coords.latitude+', '+position.coords.longitude);
                            $('#inputLocalization2').val(position.coords.latitude+', '+position.coords.longitude);
                            document.cookie = "formatted_address=" + escape(position.coords.latitude+', '+position.coords.longitude);
                        }
                        $('#inputSearch').focus();
                        $('.geolocate_btn').html('<i class="fa fa-crosshairs"></i> Encuéntrame');
                        return false;
                    });
                },
                function (error) {
                    positioned = true;
                    if (error.code == 1) {
                        myAlert.showAlert(
                            '<h3>Hubo un error en el proceso de localización.</h3>' +
                            '<p>No hay permiso, por favor asegúrate permitir la geolicalización automática en tu explorador.</p>'
                        );
                    }
                    else if (error.code == 2) {
                        myAlert.showAlert(
                            '<h3>Hubo un error en el proceso de localización.</h3>' +
                            '<p>Posición no disponible, por favor inténtalo nuevamente o escribe tu ubicación.</p>'
                        );
                    }
                    else if (error.code == 3) {
                        myAlert.showAlert(
                            '<h3>Hubo un error en el proceso de localización.</h3>' +
                            '<p>La consulta tardó mucho, por favor inténtalo nuevamente o escribe tu ubicación.</p>'
                        );
                    }
                    else {
                        myAlert.showAlert(
                            '<h3>Hubo un error en el proceso de localización.</h3>' +
                            '<p>Error desconocido, por favor inténtalo nuevamente o escribe tu ubicación.</p>'
                        );
                    }
                    $('.geolocate_btn').html('<i class="fa fa-crosshairs"></i> Encuéntrame');
                },
                {timeout: 10000}
            );
            setTimeout(function () {
                if (!positioned) {
                    myAlert.showAlert(
                      '<h3>Hubo un error en el proceso de localización.</h3>' +
                      '<p>No hubo respuesta, por favor asegúrate permitir la geolicalización automática en tu explorador.</p>'
                    );
                    $('.geolocate_btn').html('<i class="fa fa-crosshairs"></i> Encuéntrame');
                }
            }, 15000);
        }
        else {
            myAlert.showAlert(
              '<h3>Hubo un error en el proceso de localización.</h3>' +
              '<p>Este explorador no permite geolocalización automática, por favor escribe tu ubicación.</p>'
            );
        }
        return;
    }
    $('.geolocate_btn').click(function() {
        geolocate();
    });
    $('.sector_search').click(function() {
        $('#inputSearch').val($(this).data('search'));
        if ($('#inputLocalization').val() != 0) {
            $('#search-form').submit();
        }
        else {
            $('#geolocation-modal').modal('show');
            $('#inputLocalization2').focus();
        }
    });
    $('#modal_search').click(function() {
        $('#search-form').submit();
    });
});
