<%= form_for @payment_status, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @payment_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_status.errors.count, "error") %> prohibited this payment_status from being saved:</h2>

      <ul>
      <% @payment_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nombre', :class => 'col-sm-4 control.label' %>
    <div class="col-sm-8">
      <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descripcion', :class => 'col-sm-4 control.label' %>
    <div class="col-sm-8">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= submit_tag 'Guardar', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
