<div class="container">
  <div class="row">
    <section class="hgroup">
      <h2>Edita tu Cuenta AgendaPro</h2>
      <h2 class="section_header">Acá puedes cambiar tus datos personales y de contacto.</h2>
    </section>
  </div>
</div>


<div class="container">
  <div class="row well">
    <%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } do |f| %>
      <% if resource.errors.any? %>
      <h3>Errores</h3>
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
      <%= f.hidden_field :first_name %>
      <%= f.hidden_field :last_name %>
      <div class="form-group has-feedback">
        <label for="user_full_name" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-4">
          <input type="text" id="full_name" name="user[full_name]" class="form-control" placeholder="Nombre completo (requerido)">
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :email, 'E-mail', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'ejemplo@dominio.com (requerido)' %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :phone, 'Telefono', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.phone_field :phone, :autofocus => true, :class => 'form-control', :placeholder => 'Telefono (requerido)' %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <a href="#" id="change-password">Cambiar tu contraseña</a>
        </div>
      </div>
      <fieldset  class="hidden">
        <div class="form-group has-feedback">
          <%= f.label :password, 'Nueva Contraseña', :class => 'col-sm-3 control-label' %>
          <div class="col-sm-4">
            <%= f.password_field :password, :autocomplete => 'off', :class => 'form-control', :placeholder => 'Nueva Contraseña (requerido)' %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, 'Confirmar Nueva Contraseña', :class => 'col-sm-3 control-label' %>
          <div class="col-sm-4">
            <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Nueva Contraseña (requerido)' %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
      </fieldset>
      <div class="form-group has-feedback">
        <%= f.label :current_password, 'Contraseña Actual', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.password_field :current_password, :required => true, :class => 'form-control', :placeholder => 'Contraseña (requerido)' %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
          <span class="help-block">Por favor ingresa tu contraseña actual</span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :receives_offers, 'Recibir ofertas en mi mail', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.check_box :receives_offers, :required => true%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <%= f.submit 'Actualizar', :class => 'btn btn-orange' %>
          <%= link_to "Cancelar", :back, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if current_user.company_id.blank? %>
<div class="container">
  <div class="row well">
    <p> ¿No quieres seguir con nosotros?
      <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro que deseas cancelar tu cuenta?" }, :method => :delete %></p>
  </div>
</div>
<% end %>

<% content_for :scripts do %>
<%= javascript_include_tag 'validations/validate' %>
<%= javascript_include_tag 'validations/home/edit-user' %>
<%= javascript_include_tag 'split-name' %>
<script type="text/javascript">
  $(function () {
    compose_name('#full_name', '#user_first_name', '#user_last_name', '#edit_user');
    $('#change-password').click(function (event) {
      event.preventDefault();
      $('fieldset').removeClass('hidden');
      $(this).parent().parent().addClass('hidden');
    });
    split_name('#full_name', '#user_first_name', '#user_last_name', '#edit_user');
  });
</script>
<% end %>