<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } do |f| %>
  <% if resource.errors.any? %>
  <h3>Errores</h3>
  <ul>
    <% resource.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, 'Nombre', :class => "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :first_name, :autofocus => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, 'Apellido', :class => 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :last_name, :autofocus => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email', :class => 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.email_field :email, :autofocus => true, :required => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Telefono', :class => 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.phone_field :phone, :autofocus => true, :class => 'form-control' %>
    </div>
  </div>
  <p class="col-sm-offset-4 col-sm-8">Para cambiar tu contraseña da click <a href="#">aquí</a>.</p>
  <fieldset  class="hidden">
    <div class="form-group">
      <%= f.label :password, 'Contraseña', :class => 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.password_field :password, :autocomplete => 'off', :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmar Contraseña', :class => 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
      </div>
    </div>
  </fieldset>
  <hr>
  <div class="form-group">
    <%= f.label :current_password, 'Contraseña', :class => 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.password_field :current_password, :required => true, :class => 'form-control' %>
      <span class="help-block">Por favor ingresa tu contraseña actual</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= submit_tag 'Actualizar', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro que deseas cancelar tu cuenta?" }, :method => :delete %></p>

<%= link_to "Atrás", :back %>

<% content_for :scripts do %>
<script type="text/javascript">
  $(function () {
    $('p > a').click(function (event) {
      event.preventDefault();
      $('fieldset').removeClass('hidden');
      $(this).parent().addClass('hidden');
    });
  });
</script>
<% end %>