<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :first_name, :label => "Nombre: ", :autofocus => true %>
  	<%= f.input :last_name, :label => "Apellido: ", :autofocus => true %>
    <%= f.input :email, :label => "Email: ", :required => true, :autofocus => true %>
    <%= f.input :phone, :label => "Teléfono: ", :autofocus => true %>
    <% if !current_user.nil? %>
      <% if current_user.role_id == Role.find_by(name: 'Super Admin').id %>
        <label for="user_role_id">Rol: </label>
        <select id="user_role_id" name="user[role_id]">
          <% Role.all.each do role %>
            <option value='<%= role.id %>'><%= role.name %></option>
          <% end %>
        </select>
      <% elsif current_user.role_id == Role.find_by(name: 'Admin').id %>
        <label for="user_role_id">Rol: </label>
        <select id="user_role_id" name="user[role_id]">
          <% Role.find([3, 4]).each do role %>
            <option value='<%= role.id %>'><%= role.name %></option>
          <% end %>
        </select>
      <% elsif current_user.role_id == Role.find_by(name: 'Administrador Local').id %>
        <input id="user_role_id" name="user[role_id]" value="4" type="hidden">
      <% end %>
    <% else %>
      <input id="user_role_id" name="user[role_id]" value="5" type="hidden">
    <% end %>
    <%= f.input :user_name, :label => "Usuario: ", :required => true, :autofocus => true %>
    <%= f.input :password, :label=> "Contraseña: ", :required => true %>
    <%= f.input :password_confirmation, :label => "Confirmar Contraseña: ", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Regístrate" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
