<div class="row">
	<h2>Regístrate</h2>
	<h4>Sólo necesitaremos un poco de información. <%= "¡Es absolutamente gratis!" unless params[:plan] || params[:user][:company_attributes][:plan_id] %></h4>

	<div class="col-sm-8 col-md-9">
		<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal well', :multipart => true } do |f| %>
			<% if params[:plan] || params[:user][:company_attributes][:plan_id] %>
			<!-- start: nav tabs -->
			<ul class="nav nav-tabs nav-justified" style="margin-bottom: 10px;" id="data-tabs">
				<li class="active"><a href="#user-data" data-toggle="tab">Datos Usuario</a></li>
				<li><a href="#company-data" data-toggle="tab">Datos Compañia</a></li>
			</ul>
			<!-- end: nav tabs -->
			<% end %>
			<!-- start: tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="user-data">
					<!-- start: User -->
					<%= f.hidden_field :role_id, :value => Role.where(:name => "Admin").first.id %>
					<%= f.hidden_field :first_name %>
					<%= f.hidden_field :last_name %>
					<div class="form-group has-feedback">
						<label for="user_full_name" class="col-sm-4 control-label">Nombre</label>
						<div class="col-sm-8">
							<input type="text" id="user_full_name" name="user[full_name]" class="form-control" placeholder="Nombre Completo (requerido)">
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<%= f.label :phone, 'Teléfono', :class => 'col-sm-4 control-label' %>
						<div class="col-sm-8">
							<%= f.telephone_field :phone, :required => true, :class => 'form-control', :placeholder => 'Teléfono (requerido)' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<%= f.label :email, 'Email', :class => 'col-sm-4 control-label' %>
						<div class="col-sm-8">
							<%= f.email_field :email, :required => true, :class => 'form-control', placeholder: 'ejemplo@dominio.com (requerido)' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<%= f.label :password, 'Contraseña', :class => 'col-sm-4 control-label' %>
						<div class="col-sm-8">
							<%= f.password_field :password, :required => true, :class => 'form-control', placeholder: 'Contraseña (requerido)' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<%= f.label :password_confirmation, 'Confirmar Contraseña', :class => 'col-sm-4 control-label' %>
						<div class="col-sm-8">
							<%= f.password_field :password_confirmation, :required => true, :class => 'form-control', placeholder: 'Contraseña (requerido)' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="col-sm-offset-4 col-sm-8">
				    		<button class="btn btn-agendapro-claro" id="btnǸext" type="button">Siguiente</button>
						</div>
					</div>	
					<!-- end: User -->
				</div>
				<% if params[:plan] || params[:user][:company_attributes][:plan_id] %>
				<div class="tab-pane fade" id="company-data">
					<!-- start: Company -->
					<%= f.fields_for :company_attributes do |builder| %>
						<!-- start: Companny Settings -->
						<%= builder.fields_for :company_setting_attributes do |settings| %>
							<%= settings.hidden_field :before_booking, :value => 24 %>
							<%= settings.hidden_field :after_booking, :value => 6 %>
						<% end %>
						<!-- end: Company Settings -->
						<%= builder.hidden_field :payment_status_id, :value => PaymentStatus.where(:name => "Al día").first.id %>
						<%= builder.hidden_field :plan_id, :value => Plan.find_by(:name => 'Trial').id %>
						<div class="form-group has-feedback">
							<%= builder.label :name, 'Nombre de la Compañia', :class => 'col-sm-4 control-label' %>
							<div class="col-sm-8">
								<%= builder.text_field :name, :required => true, :class => 'form-control', placeholder: 'AgendaPro SpA (requerido)' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback">
							<%= builder.label :web_address, 'Direccion web', :class => 'col-sm-4 control-label' %>
							<div class="col-sm-8">
								<div class="input-group">
									<%= builder.text_field :web_address, :required => true, :class => 'form-control', placeholder: 'misitio (requerido)' %>
									<span class="input-group-addon">.agendapro.cl</span>
								</div>
							</div>
							<div class="col-sm-offset-4 col-sm-8">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group has-feedback">
							<%= builder.label :economic_sector_id, 'Sector Economico', :class => 'col-sm-4 control-label' %>
							<div class="col-sm-8">
								<%= builder.collection_select :economic_sector_id, EconomicSector.all, :id, :name, {}, {:class => 'form-control'} %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback">
							<%= builder.label :logo, 'Logo', :class => 'col-sm-4 control-label' %>
							<div class="col-sm-8">
								<%= builder.file_field :logo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback">
							<div class="col-sm-offset-4 col-sm-8">
								<div class="checkbox">
									<label>
										<input type="checkbox" id="terms" name="terms" required> Acepto los <a href="http://www.agendapro.cl/TyC.pdf" target="_balnk">Términos y Condiciones</a>.
									</label>
									<span class="help-block"></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<%= f.submit 'Regístrate', :class => 'btn btn-agendapro-claro' %>
							</div>
						</div>
					<% end %>
					<!-- end: Company -->
				</div>
				<% end %>
			</div>
			<!-- end: tab panes -->
		<% end %>
	</div>
</div>

<% content_for :scripts do %>
<%= javascript_include_tag 'login/move_signup_form' %>
<%= javascript_include_tag 'validations/home/new-user' %>
<%= javascript_include_tag 'split-name' %>
<script type="text/javascript">
	$(function () {
		split_name('#user_full_name', '#user_first_name', '#user_last_name');
	});
</script>
<% end %>