<div class="modal fade" id="fromEmail" tabindex="-1" role="dialog" aria-labelledby="fromEmailLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Remitente</h4>
			</div>
			<%= form_for @company_from_email, :html => {:class => 'form-horizontal'} do |f| %>
				<div class="modal-body">

					<%= f.hidden_field :company_id, :value => current_user.company.id %>
					<div class="form-group has-feedback">
						<%= f.label :email, 'E-mail', :class => 'control-label col-xs-2' %>
						<div class="col-xs-10">
							<%= f.text_field :email, :class => 'form-control', :placeholder => 'email@dominio.cl (requerido)' %>
							<span class="help-block"></span>
							<span class="form-control-feedback"></span>
							<span class="help-block">Este es el email desde el cual se enviaran los correos.</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<%= f.submit 'Guardar', :class => 'btn btn-agendapro-claro' %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="row well well-white">
	<ul id="myTab" class="nav nav-tabs" role="tablist">
	  <li class=""><a href="#company" role="tab" data-toggle="tab" class="tab_index" id="statuses">Empresa</a></li>
	  <li class=""><a href="#minisite" role="tab" data-toggle="tab" class="tab_index" id="locations">Reservas</a></li>
	  <li class=""><a href="#emails" role="tab" data-toggle="tab" class="tab_index" id="locations">Emails</a></li>
	  <li class=""><a href="#times" role="tab" data-toggle="tab" class="tab_index" id="locations">Periodo Agenda</a></li>
	  <li class=""><a href="#link" role="tab" data-toggle="tab" class="tab_index" id="locations">Link AgendaPro</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
	<br />
	<div class="tab-pane active" id="landing">
	    <div class="row">
	    	<ol>
				<li><strong>Empresa: </strong>En esta sección puedes configurar el nombre de empresa, la descripción, la url de tu mini-sitio, el logo que quieres mostrar y la política de cancelación.</li><br />
				<li><strong>Emails: </strong>En esta sección puedes configurar la dirección desde donde se envían los correos masivos (Remitentes) y la firma que se adjuntará en tus correos.</li><br />
				<li><strong>Mini-sitio: </strong>En esta sección puedes habilitar el mini-sitio AgendaPro, la opción de aparecer en el Buscador AgendaPro y limitar que sólo las personas en tu base de datos puedan reservar.</li><br />
				<li><strong>Periodo AgendaPro: </strong>En esta sección puedes configurar el Tiempo Mínimo de Reserva y el Tiempo Máximo a futuro, además de la cantidad de horas mínimas necesarias para que tus clientes puedan modificar o cancelar una reserva.</li><br />
				<li><strong>Link AgendaPro: </strong>En esta sección puedes obtener el Link AgendaPro, el cual te permitirá insertar el link a tu mini-sitio en cualquier otro sitio web que tengas. Hay varias opciones para que elijas la que más te acomoda.</li>
			</ol>
		</div>
	  </div>
	  <div class="tab-pane" id="company">
	    <div class="row">
			<%= form_for @company, :html => {:class => 'form-horizontal company-form', :multipart => true} do |f| %>
				<div class="form-group has-feedback">
					<%= f.label :name, 'Nombre', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.text_field :name, :autofocus => true, :class => 'form-control', :placeholder => 'Nombre Compañía (requerido)' %>
						<span class="help-block"></span>
						<span class="form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :description, 'Descripción', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.text_area :description, :class => 'form-control', :rows => "7" %>
					</div>
				</div>
				<div class="form-group has-feedback">
					<%= f.label :web_address, 'Dirección Sitio AgendaPro', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<div class="input-group">
							<%= f.text_field :web_address, :required => true, :class => 'form-control', :placeholder => 'Empresa (requerido)' %>
							<span class="input-group-addon">.agendapro.cl</span>
						</div>
					</div>
					<div class="col-sm-offset-3 col-sm-5">
						<span class="help-block"></span>
					</div>
					<span class="help-block">Esta es la página del sitio en AgendaPro. <strong>NO recomendamos editarla.</strong></span>
				</div>
				<div class="form-group has-feedback">
					<%= f.label :logo, 'Logo Compañía', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.file_field :logo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
						<span class="help-block"></span>
						<span class="form-control-feedback"></span>
						<div class="checkbox">
							<label>
								<%= f.check_box :remove_logo %> Quitar Logo
							</label>
						</div>
					</div>
					<% if @company.logo_url %>
					<%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name %>
					<% end %>
				</div>
				<div class="form-group">
					<%= f.label :cancellation_policy, 'Política de Cancelación', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.text_area :cancellation_policy, :class => 'form-control', :rows => "7" %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-4">
					 <%= f.submit 'Guardar', :class => 'btn btn-agendapro-claro' %>
					 <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
					</div> 
				</div>
			<% end %>
		</div>
	  </div>
	  <div class="tab-pane" id="emails">
		<div class="container">
			<div class="row">
				<h3>
					Remitentes
					<button class="btn btn-agendapro-claro pull-right" data-toggle="modal" data-target="#fromEmail">
						Agregar Email
					</button>
				</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Remitente</th>
							<th>Confirmado</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<% @emails.each do |email| %>
							<tr>
								<td><%= email.email %></td>
								<td><%= unless email.confirmed then 'Falta confirmación' else 'Si' end %></td>
								<td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, email, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
							</tr>
							<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<h3>Firma Email</h3>
		<%= form_for @company_setting, :html => {:class => 'form-horizontal'} do |f| %>
			<div class="form-group">
				<%= f.label :signature, 'Firma', :class => 'col-sm-1 control-label' %>
				<div class="col-sm-11">
					<%= f.text_area :signature, :class => 'form-control', :rows => "7" %>
					<span class="help-block">Esta es la firma que irá en los emails que se le envien a tus clientes.</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-4">
					<%= f.submit 'Guardar', :class => 'btn btn-agendapro-oscuro' %>
					<%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>    
				</div>
			</div>
		<% end %>
	  </div>
	  <div class="tab-pane" id="minisite">
	    <div class="row">
			<%= form_for @company_setting, :html => {:class => 'form-horizontal'} do |f| %>
				<div class="form-group">
					<%= f.label :activate_workflow, 'Reservas en línea', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.check_box :activate_workflow %>
						<span class="help-block">Habilita esta opción para que tus clientes puedan reservar por internet a través del sistema de AgendaPro, sin la necesidad de llamados a tu local para coordinar una hora.</span>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :activate_search, 'Aparecer en el Buscador', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.check_box :activate_search %>
						<span class="help-block">Habilita esta opción para que tus clientes encuentren tu negocio en el buscador de AgendaPro.</span>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :client_exclusive, 'Exclusivo para Clientes', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-5">
						<%= f.check_box :client_exclusive %>
						<span class="help-block">Habilita esta opción para que sólo puedan reservar clientes ingresados en la sección Clientes, usando el RUT.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-4">
						<%= f.submit 'Guardar', :class => 'btn btn-agendapro-claro' %>
						<%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>    
					</div>
				</div>
			<% end %>
		</div>
	  </div>
	  <div class="tab-pane" id="times">
	    <div class="row">
			<%= form_for @company_setting, :html => {:class => 'form-horizontal times-form'} do |f| %>
				<div class="form-group has-feedback">
					<%= f.label :before_booking, 'Tiempo Mínimo de Reserva:', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-4">
						<div class="input-group">
							<%= f.number_field :before_booking, :in => 1...73, :required => true, :class => 'form-control' %>
							<span class="input-group-addon">Horas</span>
						</div>
						<span class="help-block"></span>
						<!-- <span class="form-control-feedback"></span> -->
						<span class="help-block">Horas mínimas requeridas para que un cliente reserve. No se podrá reservar con menos anticipación.</span>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :after_booking, 'Tiempo Máximo a Futuro:', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-4">
						<div class="input-group">
							<%= f.number_field :after_booking, :in => 1...13, :required => true, :class => 'form-control' %>
							<span class="input-group-addon">Meses</span>
						</div>
						<span class="help-block"></span>
						<!-- <span class="form-control-feedback"></span> -->
						<span class="help-block">Tiempo máximo que una persona puede reservar a futuro. No se permiten reservas para más de X meses a futuro.</span>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :before_edit_booking, 'Política de Edición de Reservas:', :class => 'col-sm-3 control-label' %>
					<div class="col-sm-4">
						<div class="input-group">
							<%= f.number_field :before_edit_booking, :in => 1...73, :required => true, :class => 'form-control' %>
							<span class="input-group-addon">Horas</span>
						</div>
						<span class="help-block"></span>
						<!-- <span class="form-control-feedback"></span> -->
						<span class="help-block">Horas mínimas requeridas para que un cliente edite o cancele su reserva. No se podrá editar o cancelar reservas con menos anticipación.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-4">
						<%= f.submit 'Guardar', :class => 'btn btn-agendapro-claro' %>
						<%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>    
					</div>
				</div>
			<% end %>
		</div>
	  </div>
	  <div class="tab-pane" id="link">
	    <div class="row">
			<div class="col-md-6">
				<div class="col-md-11 well well-white">
					<div class="row">
						<h3 class="link_section_header">1. Elige el formato:</h3>
						<div class="col-md-12">
							<div class="radio">
								<label>
									<input type="radio" name="formatRadio" style="float: none;" value="sizeImageRadio">
									<%= image_tag 'logos/logo_mail.png', :alt => 'AgendaPro' %>
								</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="radio">
								<label>
									<input type="radio" name="formatRadio" style="float: none;" value="sizeButtonRadio">
									<span class="btn btn-agendapro-oscuro">Reserva Online</span>
								</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="radio">
								<label>
									<input type="radio" name="formatRadio" value="sizeLinkRadio">
									<a>¡Reserva acá!</a>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-11 well well-white">
					<div class="row">
						<h3 class="link_section_header">2. Elige el tamaño:</h3>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="radio hidden">
										<label>
											<input type="radio" name="sizeImageRadio" style="float: none;" value="202x74">
											<%= image_tag 'logos/logo_mail.png', :alt => 'AgendaPro', :size => '202x74' %>
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="radio hidden">
										<label>
											<input type="radio" name="sizeImageRadio" style="float: none;" value="101x37">
											<%= image_tag 'logos/logo_mail.png', :alt => 'AgendaPro', :size => '101x37' %>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="radio hidden">
										<label>
											<input type="radio" name="sizeButtonRadio" style="float: none;" value="btn-lg">
											<span class="btn btn-agendapro-oscuro btn-lg">Grande</span>
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="radio hidden">
										<label>
											<input type="radio" name="sizeButtonRadio" style="float: none;" value="">
											<span class="btn btn-agendapro-oscuro">Mediano</span>
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="radio hidden">
										<label>
											<input type="radio" name="sizeButtonRadio" style="float: none;" value="btn-sm">
											<span class="btn btn-agendapro-oscuro btn-sm">Chico</span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="radio hidden">
										<label>
											<input type="radio" name="sizeLinkRadio" value="">
											<a>Link a AgendaPro</a>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Copia tu código</h3>
				<pre class="pre-scrollable well-white"></pre>
			</div>
		</div>
	  </div>
	</div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'validations/validate' %>
  <%= javascript_include_tag 'validations/admin/company-edit' %>
  <%= javascript_include_tag 'validations/admin/company-email' %>
  <%= javascript_include_tag 'validations/admin/time-booking' %>
  <script type="text/javascript">
  	$(function () {
  		$('#fromEmail').on('hidden.bs.modal', function (e) {
			validator.resetForm();
			$('.has-success').removeClass('has-success');
			$('.fa.fa-check').removeClass('fa fa-check');
			$('.has-error').removeClass('has-error');
			$('.fa.fa-times').removeClass('fa fa-times');
		});
  	});
  </script>
  <script type="text/javascript">
	var web_address = '<%= @web_address %>';
	</script>
	<%= javascript_include_tag "admin/link_agendapro" %>
<% end %>
