<% content_for :stylesheets do %>
  <style>
    .media {
      cursor: pointer;
      cursor: hand;
    }
  </style>
<% end %>

<div class="container-fluid">
  <div class="row">
    <!-- Navegation Tabs -->
    <div class="col-md-2">
      <ul id="myTab" class="nav nav-pills nav-stacked tab-margin" role="tablist">
        <li role="presentation"><a id="company_link" href="#company" role="tab" data-toggle="pill" data-title="Empresa" data-description="Configura el nombre de empresa, descripción, url de tu mini-sitio, logo y política de cancelación.">Empresa</a></li>
        <li role="presentation"><a id="minisite_link" href="#minisite" role="tab" data-toggle="pill" data-title="Reservas" data-description="Habilita tu mini-sitio, la opción de aparecer en el Buscador AgendaPro y limitar que sólo las personas en tu base de datos puedan reservar.">Reservas</a></li>
        <li role="presentation"><a id="calendar_link" href="#calendar" role="tab" data-toggle="pill" data-title="Calendario" data-description="Controla el tamaño, el tiempo, de cada bloque del horario en la sección calendario.">Calendario</a></li>
        <li role="presentation"><a id="email_link" href="#emails" role="tab" data-toggle="pill" data-title="E-mails" data-description="Configura la dirección desde donde se envían los correos masivos (Remitentes) y la firma de estos.">E-mails</a></li>
        <li role="presentation"><a id="embedded_link" href="#embedded" role="tab" data-toggle="pill" data-title="Facebook / Web" data-description="Agrega una pestaña de reservas a la página de facebook de tu empresa.">Facebook / Web</a></li>
        <% if current_user.company.company_setting.online_payment_capable %>
        <li role="presentation"><a id="payment_link" href="#online-payment" role="tab" data-toggle="pill" data-title="Pago Online" data-description="Habilita el pago en línea, configura si es editable o cancelable una reserva pagada">Pago Online</a></li>

        <% if current_user.company.company_setting.promo_offerer_capable %>
          <li role="presentation"><a id="promotions_link" href="#promotions" role="tab" data-toggle="pill" data-title="Promociones" data-description="Configura los distintos horarios para ofrecer tus servicios en promoción.">Promociones</a></li>
        <% end %>

        <% end %>
        <% if current_user.company.company_setting.deal_activate %>
        <li role="presentation"><a id="deal_link" href="#deals" role="tab" data-toggle="pill" data-title="Convenios" data-description="Configura el uso de convenios, el tiempo y la cantidad de veces que se pueden usar.">Convenios</a></li>
        <% end %>
        <li role="presentation"><a id="cashier_link" href="#cashier" role="tab" data-toggle="pill" data-title="Sistema de Caja" data-description="Configura el sistema de caja y medios de pagos que acepta tu empresa.">Sistema de Caja</a></li>
        <li role="presentation"><a id="notifications_link" href="#notifications" role="tab" data-toggle="pill" data-title="Notificaciones" data-description="Configura que e-mails deseas recibir y a que correo.">Notificaciones</a></li>
        <li role="presentation"><a id="clients_link" href="#clients" role="tab" data-toggle="pill" data-title="Clientes" data-description="Configura campos personalizados y filtros para tus clientes.">Clientes</a></li>
      </ul>
    </div>
    <!-- Panels -->
    <div class="col-md-10 left-panel">
      <div class="tab-content tab-margin">
        <!-- Landing -->
        <div class="tab-pane active" id="landing">
          <div class="row">
            <div class="col-md-6">
              <div onclick="$('#company_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/1.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Empresa:</span> configura el nombre de empresa, descripción, url de tu mini-sitio, logo y política de cancelación.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#email_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/4.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">E-mails:</span> configura la dirección desde donde se envían los correos masivos (Remitentes) y la firma de estos.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#minisite_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/2.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Reservas:</span> habilita tu mini-sitio, la opción de aparecer en el Buscador AgendaPro y limitar que sólo las personas en tu base de datos puedan reservar.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#embedded_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/5.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Facebook / Web:</span> agrega una pestaña de reservas a la página de facebook de tu empresa.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#calendar_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/3.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Calendario:</span> controla el tamaño, el tiempo, de cada bloque del horario en la sección calendario.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#notifications_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/7.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Notificaciones:</span> configura que e-mails deseas recibir y a que correo.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#cashier_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/8.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Sistema de Caja:</span> Configura el sistema de caja y medios de pagos que acepta tu empresa.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div onclick="$('#clients_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/6.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Clientes:</span> configura campos personalizados y filtros para tus clientes.
                </div>
              </div>
            </div>
            <% if current_user.company.company_setting.online_payment_capable %>
            <div class="col-md-6">
              <div onclick="$('#payment_link').click();" class="media">
                <div class="media-left">
                  <%= image_tag 'admin/6.png', class: 'media-object media-image' %>
                </div>
                <div class="media-body">
                  <span class="text-green">Pago Online:</span> habilita el pago en línea, configura si es editable o cancelable una reserva pagada.
                </div>
              </div>
            </div>
            <% end %>
            <% if current_user.company.company_setting.online_payment_capable && current_user.company.company_setting.promo_offerer_capable %>
              <div class="col-md-6">
                <div onclick="$('#promotions_link').click();" class="media">
                  <div class="media-left">
                    <%= image_tag 'admin/icono_promociones.png', class: 'media-object media-image' %>
                  </div>
                  <div class="media-body">
                    <span class="text-green">Promociones:</span> configura los distintos horarios para ofrecer descuentos en tus servicios prepagados en línea.
                  </div>
                </div>
              </div>
            <% end %>
            <% if current_user.company.company_setting.deal_activate %>
              <div class="col-md-6">
                <div onclick="$('#deal_link').click();" class="media">
                  <div class="media-left">
                    <%= image_tag 'admin/6.png', class: 'media-object media-image' %>
                  </div>
                  <div class="media-body">
                    <span class="text-green">Convenios:</span> configura el uso de convenios, el tiempo y la cantidad de veces que se pueden usar.
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Company -->
        <div class="tab-pane" id="company">
          <div class="row">
            <div class="col-sm-12">
              <%= form_for @company, :html => {:class => 'company-form', :id => 'company-form', :multipart => true} do |f| %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-feedback">
                      <%= f.label :name, 'Nombre' %>
                      <%= f.text_field :name, :autofocus => true, :class => 'form-control', :placeholder => 'Nombre Compañía (requerido)' %>
                      <span class="help-block"></span>
                      <span class="form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback <%= 'hidden' if @company.activate_i18n %>">
                      <%= f.label :web_address, 'Dirección Sitio AgendaPro' %>
                      <div class="input-group">
                        <%= f.text_field :web_address, :required => true, :class => 'form-control company-web-address', :placeholder => 'Empresa (requerido)' %>
                        <span class="input-group-addon">.agendapro<%= @company.country.domain %></span>
                      </div>
                      <span class="help-block"></span>
                      <span class="help-block">Esta es la página del sitio en AgendaPro. <strong>NO recomendamos editarla.</strong></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :description, 'Descripción' %>
                      <%= f.text_area :description, :class => 'form-control', :rows => "7" %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-feedback">
                      <%= f.label :logo, 'Logo Compañía' %>
                      <%= f.file_field :logo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
                      <span class="help-block"></span>
                      <span class="form-control-feedback"></span>
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :remove_logo %> Quitar Logo
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="company-logo">
                      <%= image_tag @company.logo.thumb.url.to_s, :size => "80x80", :alt => @company.name %>
                    </div>
                  </div>
                </div>
                <% if @company.activate_i18n %>
                <div class="row ">
                  <div class="form-group has-feedback">
                    <div class="control-group">
                      <% Country.all.each do |country| %>
                        <div class="col-sm-6">
                          <%= f.fields_for :company_countries, @company.company_countries.find_or_initialize_by(country_id: country.id) do |layer_field| %>
                            <%= layer_field.hidden_field :country_id, value: country.id.to_s %>
                            <div class="controls">
                              <%= layer_field.label :web_address, country.name, class: 'control-label' %>
                              <div class="input-group">
                                <span class="input-group-addon"><%= layer_field.check_box :active, checked: ! @company.company_countries.find_by(country_id: country.id).nil?, disabled: @company.country_id == country.id, class: 'company-country-checkbox' %></span>
                                <%= layer_field.text_field :web_address, class: 'form-control company-web-address', disabled: @company.company_countries.find_by(country_id: country.id).nil?, required: true %>
                                <span class="input-group-addon">.agendapro<%= country.domain %></span>
                              </div>
                              <span class="help-block"></span>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group has-feedback">
                      <%= f.label :economic_sector_ids, 'Sector Económico' %>
                      <div class="background-green">
                        <div class="row">
                          <%= f.collection_check_boxes :economic_sector_ids, EconomicSector.all, :id, :name, {}, {class: "check_boxes"} do |b|%>
                            <div class="col-md-2">
                              <div class="checkbox">
                                <label>
                                  <%= b.check_box %> <%= b.object.name.html_safe %>
                                </label>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        <span class="help-block"></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                      <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Minisite -->
        <div class="tab-pane" id="minisite">
          <div class="row">
            <div class="col-md-12">
              <%= form_for @company_setting, :html => {:class => 'company-form', :id => '#times-form'} do |f| %>
                <input type="hidden" name="origin" id="origin" value="minisite">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :activate_workflow %> Reservas en línea
                        </label>
                        <span class="help-block">Habilita esta opción para que tus clientes puedan reservar por internet a través del sistema de AgendaPro, sin la necesidad de llamados a tu local para coordinar una hora.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :activate_search %> Aparecer en el Buscador
                        </label>
                        <span class="help-block">Habilita esta opción para que tus clientes encuentren tu negocio en el buscador de AgendaPro.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :allows_optimization %> Permitir optimización de horas
                        </label>
                        <span class="help-block">Habilita esta opción para que tus clientes puedan elegir un horario óptimo sin importar los bloques horarios predefinidos.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :client_exclusive %> Exclusivo para Clientes
                        </label>
                        <span class="help-block">Habilita esta opción para que sólo puedan reservar clientes ingresados en la sección Clientes, usando el <%= (I18n.t('ci')).capitalize %>.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :activate_notes %> Permitir notas del cliente
                        </label>
                        <span class="help-block">Habilita esta opción para que tus clientes puedan incluir un comentario de texto libre al reservar a través de la página.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :preset_notes, 'Notas Predefinidas' %>
                      <span class="help-block">Un comentario predefinido que aparecera en la sección de notas del cliente</span>
                      <%= f.text_area :preset_notes, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :provider_preference, 'Preferencia Prestador' %>
                      <span class="help-block">Aquí configuras si el cliente puede o debe elegir el prestador con el que se atenderá. Si no se elige, se seleccionará automáticamente al prestador con menos ocupación ese día.</span>
                      <%= f.select :provider_preference, options_for_select([["Cliente puede elegir prestador", 0], ["Cliente debe elegir prestador", 1], ["Cliente no puede elegir prestador", 2]], selected: @company_setting.provider_preference ), {}, {class: "form-control" } %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :booking_confirmation_time, 'Recordatorios' %>
                      <span class="help-block">En esta opción defines cuántos días antes de la reserva se envía el recordatorio al cliente..</span>
                      <%= f.select :booking_confirmation_time, options_for_select([["El mismo día", 0], ["1 día antes", 1], ["2 días antes", 2], ["3 días antes", 3]], selected: @company_setting.booking_confirmation_time ), {}, {class: "form-control" } %>
                    </div>
                    <div class="form-group has-feedback">
                      <%= f.label :before_booking, 'Tiempo Mínimo de Reserva' %>
                      <span class="help-block">Horas mínimas requeridas para que un cliente reserve. No se podrá reservar con menos anticipación.</span>
                      <div class="input-group">
                        <%= f.number_field :before_booking, :in => 1...169, :required => true, :class => 'form-control' %>
                        <span class="input-group-addon">Horas</span>
                      </div>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <%= f.label :after_booking, 'Tiempo Máximo a Futuro' %>
                      <span class="help-block">Tiempo máximo que una persona puede reservar a futuro. No se permiten reservas para más de X meses a futuro.</span>
                      <div class="input-group">
                        <%= f.number_field :after_booking, :in => 1...13, :required => true, :class => 'form-control' %>
                        <span class="input-group-addon">Meses</span>
                      </div>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :can_edit %> Reservas Editables
                        </label>
                        <span class="help-block">Habilita esta opción para que tu cliente pueda modificar las reservas que realiza.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :can_cancel %> Reservas Cancelables
                        </label>
                        <span class="help-block">Habilita esta opción para que tu cliente pueda cancelar las reservas que realiza.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :before_edit_booking, 'Política de Edición de Reservas' %>
                      <span class="help-block">Horas mínimas requeridas para que un cliente edite o cancele su reserva. No se podrá editar o cancelar reservas con menos anticipación.</span>
                      <div class="input-group">
                        <%= f.number_field :before_edit_booking, :in => 1...169, :required => true, :class => 'form-control' %>
                        <span class="input-group-addon">Horas</span>
                      </div>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <%= f.label :max_changes, 'Ediciones Maximas' %>
                      <span class="help-block">Cantidad de veces que un cliente puede editar su reserva.</span>
                      <div class="input-group">
                        <%= f.number_field :max_changes, :min => 0, :required => true, :class => 'form-control' %>
                        <span class="input-group-addon">Veces</span>
                      </div>
                      <span class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                      <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Calendar -->
        <div class="tab-pane" id="calendar">
          <div class="row">
            <div class="col-md-12">
              <%= form_for @company_setting, :html => {:class => 'company-form'} do |f| %>
                <input type="hidden" name="origin" id="origin" value="calendar">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :calendar_duration, 'Bloque Calendario' %>
                      <span class="help-block">Esta opción determina el largo de cada bloque en la sección <strong>"Calendario"</strong>.</span>
                      <div class="input-group">
                        <%= f.select :calendar_duration, options_for_select({ "5" => "5", "10" => "10", "15" => "15", "20" => "20", "30" => "30", "45" => "45", "60" => "60" }, @company_setting.calendar_duration), {}, {class: "form-control"} %>
                        <span class="input-group-addon">minutos</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :provider_overcapacity %> Permitir Reservas Sobrepuestas
                        </label>
                        <span class="help-block">Si habilitas esta opción, los prestadores pueden tener dos reservas en un mismo horario. Esto es sólo válido para reservas ingresadas internamente, tus clientes que reservan desde el buscador y página personal no podrán reservar ellos mismos donde ya haya una reserva.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :resource_overcapacity %> Permitir Sobrecarga de Recursos
                        </label>
                        <span class="help-block">Al habilitar esta opción, podrás hacer reservas incluso cuando los recursos estén siendo utilizados o no disponibles. Esto es sólo válido para reservas ingresadas internamente, tus clientes que reservan desde el buscador y página personal no podrán reservar ellos mismos donde los resursos no estén disponibles.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :schedule_overcapacity %> Permitir Reservas Fuera de Horario
                        </label>
                        <span class="help-block">Esta opción te permite poder tomar reservas fuera del horario del prestador, para reservas ingresadas internamente. Si habilitas esta opción podrás hacer reservas en todo el horario visible en la sección <strong>"Calendario"</strong>, puedes extender este habilitando la próxima opción.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :strict_booking %> Requerir Datos de Contacto
                          <span class="help-block">Si habilitas esta opción al generar una nueva reserva, desde el calendario, el cliente debe tener asociado, como mínimo, email o teléfono.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :extended_schedule_bool %> Extender Calendario
                        </label>
                        <span class="help-block">Habilita esta opción para extender el horario en la sección <strong>"Calendario"</strong>, y así poder generar reservas internas fuera del horario de apertura de tus locales.</span>
                      </div>
                    </div>
                    <div class="form-group ">
                      <%= f.label :extended_min_hour, 'Horario Calendario Extendido' %>
                      <div>
                        <%= f.time_select :extended_min_hour, {minute_step: 15, end_hour: @open_end}, {:class => 'form-control date-select', required: true} %> - <%= f.time_select :extended_max_hour, {minute_step: 15, start_hour: @close_start}, {:class => 'form-control date-select', required: true} %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :booking_history %> Historial de Modificaciones de Reservas
                        </label>
                        <span class="help-block">Si activas esta opción, se guardará un historial de modificaciones para cada reserva. Este historial es exclusivamente visible por el Administrador General y el Administrador de Local, para las reservas de el(los) local(es) al que este asociado.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :use_identification_number %> Usar <%= I18n.t('ci') %> en Reserva
                        </label>
                        <span class="help-block">Al activar esta opción, en el dialogo de reserva tendrás, además de los campos por defecto, disponible un campo <%= I18n.t('ci') %>, el que también te permitirá buscar clientes por <%= I18n.t('ci') %>. Además, se exigirá <%= I18n.t('ci') %> a los clientes que reserven en línea.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :staff_code %> Exigir Código de Staff
                        </label>
                        <span class="help-block">Al activar esta opción, al hacer modificaciones en las reservas, se exigirá un código de empleado que debe coincidir exactamente con algún código permitido. Los códigos permitidos son definidos exclusivamente en la tabla a continuación.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                      <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">
                  Códigos de Staff
                  <button id="NewStaffCode" class="btn btn-green pull-right" data-toggle="modal" data-target="#staffCode">Agregar código</button>
                </h3>
              </div>
              <table class="table table-hover table-green">
                <thead>
                  <tr>
                    <th>Staff</th>
                    <th>Código</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @staff_codes.each do |staff_code| %>
                    <tr>
                      <td><%= staff_code.staff %></td>
                      <td><%= staff_code.code %></td>
                      <td>
                        <button class="btn btn-orange edit_staff_code_button" data-staff="<%= staff_code.staff %>" data-active="<%= staff_code.active %>" data-code="<%= staff_code.code %>" data-id="<%= staff_code.id %>" data-toggle="modal" data-target="#staffCode"><i class="fa fa-pencil"></i></button>
                        <% if staff_code.active %>
                          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, deactivate_staff_code_path(:id => staff_code.id), method: :patch, data: { confirm: '¿Estás seguro de desactivar el Código seleccionado?' }, class: 'btn btn-red' %>
                        <% else %>
                          <%= link_to '<i class="fa fa-check"></i>'.html_safe, activate_staff_code_path(:id => staff_code.id), method: :patch, :class => "btn btn-green", data: { confirm: '¿Estás seguro de re-activar el Código seleccionado?' } %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Emails -->
        <div class="tab-pane" id="emails">
          <div class="row">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">
                  Remitentes
                  <button class="btn btn-green pull-right" data-toggle="modal" data-target="#fromEmail">Agregar E-mail</button>
                </h3>
              </div>
              <table class="table table-hover table-green">
                <thead>
                  <tr>
                    <th>Remitente</th>
                    <th>Confirmado</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <% @emails.each do |email| %>
                    <tr>
                      <td><%= email.email %></td>
                      <td><%= unless email.confirmed then 'Falta confirmación' else 'Si' end %></td>
                      <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, email, method: :delete, data: { confirm: '¿Estás seguro de eliminar el remitente seleccionado?' }, class: 'btn btn-red' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-green">
                Firma E-mail <br />
                <small>Esta es la firma que irá en los e-mails que se le envien a tus clientes.</small>
              </h3>
              <%= form_for @company_setting do |f| %>
                <input type="hidden" name="origin" id="origin" value="emails">
                <div class="form-group">
                  <%= f.text_area :signature, :class => 'form-control', :rows => "7" %>
                </div>
                <div class="form-group">
                  <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                  <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Embedded -->
        <div class="tab-pane" id="embedded">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-green">AgendaPro App (pestaña) para tu página de Facebook:</h3>
            </div>
            <div class="col-md-6">
              <div class="circle-list">
                <span>1</span>
                <p>Haz click en el siguiente link: <a href="https://www.facebook.com/dialog/pagetab?api_key=<%= ENV["FACEBOOK_APP_ID"] %>&next=https%3A%2F%2Fwww.facebook.com%2F" target="_blank">App AgendaPro para Facebook</a></p>
              </div>
              Asegúrate que hayas iniciado sesión en Facebook como administrador de la página (la cuenta personal de alguien que puede editar tu página) a la que le quieres agregar reservas en línea. No debes iniciar sesión "usar como" tú página.
              <div class="circle-list">
                <span>2</span>
                <p>Elige la página a la que quieres agregar reservas en línea</p>
              </div>
              <div class="circle-list">
                <span>3</span>
                <p>En tu página de Facebook, busca el botón <mark>“Más”</mark> y selecciona <mark>“Administrar Pestaña”</mark></p>
              </div>
              <div class="circle-list">
                <span>4</span>
                <p>Arrastra la pestaña <mark>“¡Reserva Online!”</mark> a la posición que deseas (recomendamos entre las primeras 4 posiciones)</p>
              </div>
              <div class="circle-list">
                <span>5</span>
                <p>En la misma página, ahora selecciona la pestaña <mark>“¡Reserva Online!”</mark></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="circle-list">
                <span>6</span>
                <p>Pega el siguiente código en el espacio de campo de texto <mark>"Código AgendaPro"</mark>, y haz click en <mark>"Guardar"</mark></p>
              </div>
              <pre class="pre-scrollable"><%= (@company.id * 123456).to_s(30) %></pre>
              <div class="circle-list">
                <span>7</span>
                <p>¡Ya estás listo para que tus clientes reserven tus servicios a través de <mark>Facebook</mark>!</p>
              </div>
              <h3 class="text-green">¿Quieres desactivar las reservas en línea por Facebook?</h3>
              <p>Para hacerlo debes desactivar las reservas por Facebook apretando el siquiente botón "Desactivar Facebook", y luego debes eliminar la pestaña de tu página de Facebook manualmente, desde las configuraciones de esta.</p>
              <p><%= link_to "Desactivar Facebook", delete_facebook_pages_path, method: :delete, data: { confirm: '¿Estás seguro de querer desactivar las reservas desde Facebook? Por favor recuerda eliminar la pestaña de tu página de Facebook.' }, class: "btn btn-red" %></p>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">Agendapro directamente en tu Página Web:</h3>
                <p>Simplemente pega este código en el archivo de tu página a la que quieres agregar las reservas en línea (si necesitas apoyo, puede pedir ayuda al administrador de tu página web o webmaster, o escribirnos a contacto@agendapro.cl con tus dudas).</p>
              </div>
              <pre class="pre-scrollable well-white">&lt;iframe src="http://agendapro.co/iframe/overview/<%= @company.secret_code %>" width="810" marginwidth="0" marginheight="0" frameborder="no" scrolling="yes" style="border-width:0px;" &gt;&lt;/iframe&gt;</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-green">Agrega el botón AgendaPro</h3>
              <pre class="pre-scrollable">&lt;a class="btn btn-green btn-lg" href="http://<%= @web_address %>.agendapro<%= @company.country.domain %>" target="_blank" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-decoration:none;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;padding-top:10px;padding-bottom:10px;padding-right:16px;padding-left:16px;font-size:18px;line-height:1.33;border-radius:6px;color:#ffffff;background-color:#22c488;border-color:#1ba970;" &gt;Reserva Online&lt;/a&gt;</pre>
            </div>
          </div>
        </div>
        <!-- Pago en Linea -->
        <% if current_user.company.company_setting.online_payment_capable %>
        <div class="tab-pane" id="online-payment">
          <div class="row">
            <div class="col-md-12">
              <%= form_for @company_setting, :html => {:class => 'company-form', :id => 'online-payment-form'} do |f| %>
                <input type="hidden" name="origin" id="origin" value="embedded">
                <%= f.hidden_field :company_id, :value => current_user.company.id %>
                <div class="row">
                  <!-- Detalles -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :allows_online_payment %> Pago en línea
                        </label>
                        <span class="help-block">Quiero que mis clientes puedan pagar en línea al reservar</span>
                      </div>
                    </div>
                    <div class="form-group hidden account-info">
                      <label>Banco</label>
                      <select name="company_setting[bank_id]" class="form-control" id="company_bank">
                        <% @banks.each do |bank| %>
                          <% if @company_setting.bank_id == bank.id %>
                            <option value="<%= bank.id %>" selected><%= bank.name %></option>
                          <% else %>
                            <option value="<%= bank.id %>"><%= bank.name %></option>
                          <% end %>
                        <% end %>
                      </select>
                    </div>
                    <div class="form-group hidden account-info account-data">
                      <%= f.label :account_name, 'Nombre Titular' %>
                      <%= f.text_field :account_name, :class => 'form-control', placeholder: '' %>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group hidden account-info account-data">
                      <%= f.label :company_rut, 'Rut Titular' %>
                      <%= f.text_field :company_rut, :class => 'form-control', placeholder: '' %>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group hidden account-info account-data">
                      <%= f.label :account_number, 'N° de Cuenta' %>
                      <%= f.text_field :account_number, :class => 'form-control', placeholder: '' %>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group hidden account-info account-data">
                      <%= f.label :account_type, 'Tipo de cuenta' %>
                      <select name="company_setting[account_type]" class="form-control">
                        <option value="3" <%= "selected" if @company_setting.account_type==3 %>>Cuenta Corriente</option>
                        <option value="2" <%= "selected" if @company_setting.account_type==2 %>>Cuenta de ahorro</option>
                        <option value="1" <%= "selected" if @company_setting.account_type==1 %>>Cuenta Vista</option>
                      </select>
                    </div>
                    <div class="form-group hidden" id="other-bank">
                      <p>Tu banco no está soportado, pero después de editar tu empresa puedes ponerte en contacto con nosotros para permitir que recibas pagos en línea.</p>
                    </div>
                  </div>
                  <!-- Política de Cancelación -->
                  <div class="col-md-6">
                    <%= f.fields_for :online_cancelation_policy do |p| %>
                      <div class="form-group has-feedback account-info">
                        <div class="checkbox">
                          <label>
                            <%= p.check_box :cancelable %> Es cancelable
                          </label>
                          <span class="help-block">
                            Quiero que se puedan cancelar las reservas pagadas en línea.<br />
                            Si permites cancelaciones, el cliente podrá cancelar su reserva durante el tiempo establecido, y el dinero le será devuelto.
                          </span>
                        </div>
                      </div>
                      <div class="form-group has-feedback account-info cancel-div">
                        <%= p.label :cancel_max, 'Tiempo máximo de cancelación' %>
                        <span class="help-block">
                          Máximo 48 horas.<br />
                          Esto es la cantidad de tiempo, desde el momento en que se efectuó la reserva, que el cliente tendrá para cancelarla, siempre y cuando no se encuentre dentro del límite previo a la hora del servicio. No puede ser más de 48 horas.
                        </span>
                        <div class="input-group">
                          <%= p.number_field :cancel_max, :autofocus => true, :class => 'form-control', placeholder: '', max: "48" %>
                          <% unit_id = TimeUnit.find_by_unit("Horas").id %>
                          <input type="hidden" name="company_setting[online_cancelation_policy_attributes][cancel_unit]" value="<%= unit_id %>"/>
                          <span class="input-group-addon">Horas</span>
                        </div>
                        <span class="help-block"></span>
                        <span class="form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback account-info">
                        <div class="checkbox">
                          <label>
                            <%= p.check_box :modifiable %> Es modificable
                          </label>
                          <span class="help-block">
                            Quiero que se puedan modificar las reservas pagadas en línea.<br />
                            Si permites modificaciones, el cliente podrá modificar la reserva ya pagada una cantidad de veces igual al máximo definido en Período Agenda, y durante el tiempo establecido.
                          </span>
                        </div>
                      </div>
                      <div class="form-group has-feedback account-info modification-div">
                        <%= p.label :modification_max, 'Tiempo máximo de modificación' %>
                        <span class="help-block">Esto es la cantidad de tiempo, desde el momento en que se efectuó la reserva, que el cliente tendrá para modificarla, siempre y cuando no se encuentre dentro del límite previo a la hora del servicio.</span>
                        <%= p.number_field :modification_max, :class => 'form-control select-modification', placeholder: '' %>
                        <select name="company_setting[online_cancelation_policy_attributes][modification_unit]" class="form-control select-modification">
                          <% TimeUnit.all.each do |u| %>
                            <% if @company.company_setting.online_cancelation_policy.modification_unit == u.id %>
                              <option value="<%= u.id %>" selected><%= u.unit %></option>
                            <% elsif u.unit == "Meses" %>
                              <option value="<%= u.id %>" selected><%= u.unit %></option>
                            <% else %>
                              <option value="<%= u.id %>"><%= u.unit %></option>
                            <% end %>
                          <% end %>
                        </select>
                        <span class="help-block"></span>
                      </div>
                      <div class="form-group has-feedback account-info min-hours-div">
                        <%= p.label :min_hours, 'Plazo mínimo de cancelación/modificación' %>
                        <span class="help-block">Esto es la cantidad de tiempo límite para cancelar o modificar la reserva antes de que el servicio se fuera a llevar a cabo.</span>
                        <div class="input-group">
                          <%= p.number_field :min_hours, :class => 'form-control', placeholder: '' %>
                          <span class="input-group-addon">Horas</span>
                        </div>
                        <span class="help-block"></span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                      <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <!-- Promociones -->
        <% if current_user.company.company_setting.online_payment_capable && current_user.company.company_setting.promo_offerer_capable %>
        <div class="tab-pane" id="promotions">
          <% if !current_user.company.company_setting.allows_online_payment %>
            <div class="row">
              <div class="col-md-12">
                <label style="color: fd633f;">
                  Advertencia: No has configurado los pagos en línea. Puedes configurar los horarios de promociones, pero no podrás crearlas hasta que configures el pago en línea.
                </label>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <%= form_for @company_setting, :html => {:class => 'company-form', :id => 'promo-times-form'} do |f| %>
                <%= f.hidden_field :company_id, :value => current_user.company.id %>
                <%= f.fields_for :promo_time do |p| %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= p.check_box :active %> Activar promociones
                        </label>
                        <span class="help-block">Activa las promociones para ofrecer descuentos en tus servicios prepagados en línea según el horario de la reserva.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="hour-title">
                      Mañana
                    </div>
                  </div>
                  <div class="col-md-5">
                      <div class="promo-hour-select has-feedback morning-promo-hour">
                        <%= p.time_select :morning_start, {minute_step: 15}, {:class => 'form-control date-select', required: true} %> - <%= p.time_select :morning_end, {minute_step: 15}, {:class => 'form-control date-select', required: true} %>
                        <span class="help-block"><label id="morning-error" class="error" hidden></label></span>
                        <span class="form-control-feedback"></span>
                      </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">Descuento</div>
                        <% if @company_setting.promo_time.nil? %>
                          <%= p.select :morning_default, options_for_select({ "0 %" => "0", "5 %" => "5", "10 %" => "10", "15 %" => "15", "20 %" => "20", "25 %" => "25", "30 %" => "30", "35 %" => "35", "40 %" => "40", "45 %" => "45", "50 %" => "50", "55 %" => "55", "60 %" => "60", "65 %" => "65", "70 %" => "70", "75 %" => "75", "80 %" => "80", "85 %" => "85", "90 %" => "90", "95 %" => "95" }), {}, {class: "form-control"} %>
                        <% else %>
                          <%= p.select :morning_default, options_for_select({ "0 %" => "0", "5 %" => "5", "10 %" => "10", "15 %" => "15", "20 %" => "20", "25 %" => "25", "30 %" => "30", "35 %" => "35", "40 %" => "40", "45 %" => "45", "50 %" => "50", "55 %" => "55", "60 %" => "60", "65 %" => "65", "70 %" => "70", "75 %" => "75", "80 %" => "80", "85 %" => "85", "90 %" => "90", "95 %" => "95" }, @company_setting.promo_time.morning_default), {}, {class: "form-control"} %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="hour-title">
                      Tarde
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="promo-hour-select has-feedback afternoon-promo-hour">
                      <%= p.time_select :afternoon_start, {minute_step: 15}, {:class => 'form-control date-select', required: true} %> - <%= p.time_select :afternoon_end, {minute_step: 15}, {:class => 'form-control date-select', required: true} %>
                      <span class="help-block"><label id="afternoon-error" class="error" hidden></label></span>
                      <span class="form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">Descuento</div>
                        <% if @company_setting.promo_time.nil? %>
                          <%= p.select :afternoon_default, options_for_select({ "0 %" => "0", "5 %" => "5", "10 %" => "10", "15 %" => "15", "20 %" => "20", "25 %" => "25", "30 %" => "30", "35 %" => "35", "40 %" => "40", "45 %" => "45", "50 %" => "50", "55 %" => "55", "60 %" => "60", "65 %" => "65", "70 %" => "70", "75 %" => "75", "80 %" => "80", "85 %" => "85", "90 %" => "90", "95 %" => "95" }), {}, {class: "form-control"} %>
                        <% else %>
                          <%= p.select :afternoon_default, options_for_select({ "0 %" => "0", "5 %" => "5", "10 %" => "10", "15 %" => "15", "20 %" => "20", "25 %" => "25", "30 %" => "30", "35 %" => "35", "40 %" => "40", "45 %" => "45", "50 %" => "50", "55 %" => "55", "60 %" => "60", "65 %" => "65", "70 %" => "70", "75 %" => "75", "80 %" => "80", "85 %" => "85", "90 %" => "90", "95 %" => "95" }, @company_setting.promo_time.afternoon_default), {}, {class: "form-control"} %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="hour-title">
                      Noche
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="promo-hour-select has-feedback night-promo-hour">
                      <%= p.time_select :night_start, {minute_step: 15}, {:class => 'form-control date-select', required: true} %> - <%= p.time_select :night_end, {minute_step: 15}, {:class => 'form-control date-select', required: true} %>
                      <span class="help-block"><label id="night-error" class="error" hidden></label></span>
                      <span class="form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">Descuento</div>
                        <% if @company_setting.promo_time.nil? %>
                          <%= p.select :night_default, options_for_select({ "0 %" => "0", "5 %" => "5", "10 %" => "10", "15 %" => "15", "20 %" => "20", "25 %" => "25", "30 %" => "30", "35 %" => "35", "40 %" => "40", "45 %" => "45", "50 %" => "50", "55 %" => "55", "60 %" => "60", "65 %" => "65", "70 %" => "70", "75 %" => "75", "80 %" => "80", "85 %" => "85", "90 %" => "90", "95 %" => "95" }), {}, {class: "form-control"} %>
                        <% else %>
                          <%= p.select :night_default, options_for_select({ "0 %" => "0", "5 %" => "5", "10 %" => "10", "15 %" => "15", "20 %" => "20", "25 %" => "25", "30 %" => "30", "35 %" => "35", "40 %" => "40", "45 %" => "45", "50 %" => "50", "55 %" => "55", "60 %" => "60", "65 %" => "65", "70 %" => "70", "75 %" => "75", "80 %" => "80", "85 %" => "85", "90 %" => "90", "95 %" => "95" }, @company_setting.promo_time.night_default), {}, {class: "form-control"} %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                        <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <!-- Fin Promociones -->
        <!-- Deals -->
        <% if current_user.company.company_setting.deal_activate %>
        <div class="tab-pane" id="deals">
          <div class="row">
            <div class="col-md-12">
              <%= form_for @company_setting, :html => {:class => 'company-form'} do |f| %>
                <input type="hidden" name="origin" id="origin" value="deals">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :deal_activate %> Activar Convenios
                        </label>
                        <span class="help-block">Si habilitas esta opción, para guardar una reserva, tanto como tus clientes como desde el administrador, deberan ingresar un código. Este será validado según las opciones que se muestran a continuación.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :deal_name, 'Etiqueta del Convenio' %>
                      <span class="help-block">Aquí defines el texto de la etiqueta que aparece donde se debe ingresar el código del convenio. Si se deja en blanco, la etiqueta quedará como "Código de Convenio".</span>
                      <%= f.text_field :deal_name, :class => 'form-control', placeholder: 'Ej: RUT Empresa, Código de Promoción, etc...' %>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :deal_identification_number %> Etiqueta es <%= (I18n.t('ci')).capitalize %>
                        </label>
                        <span class="help-block">Si habilitas esta opción, se validará y dará formato al campo ingresado como si fuera <%= (I18n.t('ci')).capitalize %> (persona o empresa).</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :deal_quantity, 'Cantidad Permitida' %>
                      <span class="help-block">Cantidad de veces que se puede usar cada convenio por defecto. Si se deja en 0, cada convenio se puede usar ilimitadamente.</span>
                      <%= f.number_field :deal_quantity, :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :deal_constraint_option, 'Periodo Restricción' %>
                      <span class="help-block">Aquí defines si un mismo código puede ser usado más de una vez durante un mismo periodo de tiempo (mismo instante, día, semana o mes).</span>
                      <%= f.select :deal_constraint_option, options_for_select([["Sin restricción", 0],["Simultáneo", 1],["Por día", 2],["Por semana", 3],["Por mes", 4]]), {}, {:class => 'form-control'} %>
                    </div>
                    <div class="form-group">
                      <%= f.label :deal_constraint_quantity, 'Límite Restricción' %>
                      <span class="help-block">Aquí defines cuántas veces puede ser usado un mismo en ese mismo periodo de tiempo. Si se deja en 0, cada convenio se puede usar ilimitadamente en ese mismo periodo de tiempo.</span>
                      <%= f.number_field :deal_constraint_quantity, :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :deal_exclusive %> Exclusivo Convenios Creados
                        </label>
                        <span class="help-block">Si habilitas esta opción, sólo se podrán usar códigos que estén previamente creados en la tabla de convenios, al final de esta página.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :deal_overcharge %> Sobrecarga Convenios
                        </label>
                        <span class="help-block">Si habilitas esta opción, sólo desde el administrador, podrás sobrecargar las capacidades y límites definidos en cada convenio, y la creación de convenios desde el administrador, aunque la opción anterior esté habilitada.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                      <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">
                  Listado de Convenios
                  <button class="btn btn-green pull-right" data-toggle="modal" data-target="#deal">Agregar Convenio</button>
                </h3>
              </div>
              <table class="table table-hover table-green">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Cantidad</th>
                    <th>Periodo Restricción</th>
                    <th>Límite Restricción</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <% @deals.each do |deal| %>
                    <tr>
                      <td><%= deal.code %></td>
                      <td><%= deal.quantity %></td>
                      <% options = ["Sin restricción","Simultáneo","Por día","Por semana","Por mes"] %>
                      <td><%= options[deal.constraint_option] %></td>
                      <td><%= deal.constraint_quantity %></td>
                      <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, deal, method: :delete, data: { confirm: '¿Estás seguro de eliminar el convenio seleccionado?' }, class: 'btn btn-red' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% end %>
        <!-- Cashier -->
        <div class="tab-pane" id="cashier">
          <div class="row">
            <div class="col-md-12">
              <p>Aquí puedes configurar los medios de pago que aceptas y qué campos son obligatorios al registrar el pago de una o varias reservas. El código se refiere a algún registro del medio de pago como código de autorización de tarjetas o número de cheque. Puedes ingresar otro medios de pago, y se podrán elegir siempre y cuando la opción "Otro" esté activa.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= form_for @company_setting, :html => {:class => 'company-form', :id => '#payment-method-form'} do |f| %>
                <input type="hidden" name="origin" id="origin" value="cashier">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :show_cashes %> Habilitar caja avanzada
                    </label>
                    <span class="help-block">Habilita esta opción para que puedas llevar un balance completo de tus ventas y tu caja chica, incluyendo traspasos, ingresos por pagos de servicios y productos, movimientos varios y cierres de caja configurables.</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :payment_client_required %> Requerir cliente en pago
                    </label>
                    <span class="help-block">Habilita esta opción para que al registrar un pago sea obligatorio ingresar un cliente existente o nuevo.</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :receipt_required %> Requerir número de comprobante de pago
                    </label>
                    <span class="help-block">Habilita esta opción para que al registrar un pago sea obligatorio ingresar el número de comprobante de pago (número de boleta, factura, etc.).</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :editable_payment_prices %> Permitir edición de precios en pago y reservas
                    </label>
                    <span class="help-block">Habilita esta opción para que al registrar una reserva o un pago los precios de los productos y servicios sean editables.</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :mandatory_mock_booking_info %> Requerir información de servicios en pagos
                    </label>
                    <span class="help-block">Habilita esta opción para que al añadir un servicio sin reserva a un pago, sea obligatorio ingresar el servicio y el prestador asociado.</span>
                  </div>
                </div>
                <br />
                <table class="table table-hover table-green">
                  <thead>
                    <tr>
                      <td>Medio de Pago</td>
                      <td>Activo</td>
                      <td>Requerir Código</td>
                    </tr>
                  </thead>
                  <tbody>
                  <% @payment_methods.each do |payment_method| %>
                    <tr>
                      <td><%= payment_method.name %></td>
                      <%= f.fields_for :payment_method_settings, payment_method.payment_method_settings.find_or_initialize_by(company_setting: @company_setting) do |a| %>
                      <td>
                        <%= a.hidden_field :company_setting_id, :value => @company_setting.id %>
                        <%= a.hidden_field :payment_method_id, :value => payment_method.id %>
                        <% if payment_method.name != "Online" %>
                          <%= a.check_box :active %>
                        <% else %>
                          <%= a.check_box :active, checked: true, disabled: true %>
                        <% end %>
                      </td>
                      <td>
                      <% if payment_method.name != "Efectivo" && payment_method.name != "Otro" %>
                        <% if payment_method.name != "Online" %>
                          <%= a.check_box :number_required %>
                        <% else %>
                          <%= a.check_box :number_required, checked: true, disabled: true %>
                        <% end %>
                      <% else %>
                        <%= a.check_box :number_required, checked: false, class: "hidden" %>
                      <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                  <%= link_to 'Cancelar', dashboard_path, :class => "btn btn-default" %>
                </div>
              <% end %>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">
                  Listado de Medios de Pago (Otros)
                  <button class="btn btn-green pull-right" id="new_payment_method_button"><i class="fa fa-plus"></i> Agregar Medio de Pago (Otros)</button>
                </h3>
              </div>
              <table class="table table-hover table-green">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Requerir Código</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @company_payment_methods.each do |company_payment_method| %>
                    <tr>
                      <td><%= company_payment_method.name %></td>
                      <td><%= company_payment_method.active ? "Activo" : "Inactivo" %></td>
                      <td><%= company_payment_method.number_required ? "Requerido" : "No Requerido" %></td>
                      <td><button class="btn btn-orange edit_company_payment_button" data-name="<%= company_payment_method.name %>" data-active="<%= company_payment_method.active %>" data-number-required="<%= company_payment_method.number_required %>" data-id="<%= company_payment_method.id %>"><i class="fa fa-pencil"></i> Editar</button>
                      <% if company_payment_method.payments.count < 1 %>
                        <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, company_payment_method, method: :delete, data: { confirm: '¿Estás seguro de eliminar el medio de pago seleccionado?' }, class: 'btn btn-red' %>
                      <% else %>
                        <% if company_payment_method.active %>
                          <%= link_to '<i class="fa fa-ban"></i> Desactivar'.html_safe, deactivate_company_payment_method_path(id: company_payment_method.id), method: :patch, data: { confirm: '¿Estás seguro de desactivar el medio de pago seleccionado?' }, class: 'btn btn-red' %>
                        <% else %>
                          <%= link_to '<i class="fa fa-check"></i>  Activar'.html_safe, activate_company_payment_method_path(id: company_payment_method.id), method: :patch, data: { confirm: '¿Estás seguro de activar el medio de pago seleccionado?' }, class: 'btn btn-green' %>
                        <% end %>
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <p><strong>Nota:</strong> Si el medio de pago está asociado a algúna reserva, este ya no podrá ser eliminado y sólo podrá ser desactivado.</p>
            </div>
          </div>

          <!-- Cashiers -->

          <div class="row" style="margin-top: 40px;">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">
                  Listado de cajeros
                  <button class="btn btn-green pull-right" id="new_cashier_button"><i class="fa fa-plus"></i> Agregar cajero</button>
                </h3>
              </div>
              <table class="table table-hover table-green">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Código</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @cashiers.each do |cashier| %>
                    <tr>
                      <td><%= cashier.name %></td>
                      <td><%= cashier.active ? "Activo" : "Inactivo" %></td>
                      <td><%= cashier.code %></td>
                      <td><button class="btn btn-orange edit_cashier_button" data-name="<%= cashier.name %>" data-active="<%= cashier.active %>" data-code="<%= cashier.code %>" data-id="<%= cashier.id %>"><i class="fa fa-pencil"></i> Editar</button>

                        <!-- link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, cashier, method: :delete, data: { confirm: '¿Estás seguro de eliminar el cajero seleccionado?' }, class: 'btn btn-red' -->

                        <% if cashier.active %>
                          <%= link_to '<i class="fa fa-ban"></i> Desactivar'.html_safe, deactivate_cashier_path(id: cashier.id), method: :patch, data: { confirm: '¿Estás seguro de desactivar el cajero seleccionado?' }, class: 'btn btn-red' %>
                        <% else %>
                          <%= link_to '<i class="fa fa-check"></i>  Activar'.html_safe, activate_cashier_path(id: cashier.id), method: :patch, data: { confirm: '¿Estás seguro de activar el cajero seleccionado?' }, class: 'btn btn-green' %>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <!-- End cashiers -->

        </div>
        <!-- Notifications -->
        <div class="tab-pane" id="notifications">
          <div class="row">
            <div class="col-md-5">
              <%= form_for @notification_email do |f| %>
                <%= f.hidden_field :company_id, value: @company.id %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.label :email, "E-mail de Notificación", class: 'text-green' %>
                      <%= f.email_field :email, class: "form-control", required: true %>
                      <span class="help-block">En que dirección desea recibir la notificación.</span>
                    </div>
                    <div class="form-group">
                      <%= f.label :receptor_type, "Tipo de Notificación", class: 'text-green' %>
                      <%= f.select :receptor_type, [['Compañía', 0], ['Local', 1], ['Prestador de Servicio', 2]], {}, {class: 'form-control'} %>
                      <span class="help-block">Recibir notificaciones sobre eventos de la compañía, locales o prestadores de servicios.</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 hidden" id="local-notification">
                    <div class="form-group">
                      <%= f.label :location_ids, @company.name %>
                      <%= f.collection_check_boxes :location_ids, @company.locations.where(active: true), :id, :name, {}, {class: "check_boxes"} do |b|%>
                        <div class="checkbox">
                          <label>
                            <%= b.check_box %> <%= b.text %>
                          </label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-12 hidden" id="provider-notification">
                    <div class="row">
                      <% for local in @company.locations.where(active: true) %>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <%= f.label :service_provider_ids, local.name %>
                          <%= f.collection_check_boxes :service_provider_ids, local.service_providers.where(active: true), :id, :public_name, {}, {class: "check_boxes"} do |b|%>
                            <div class="checkbox">
                              <label>
                                <%= b.check_box %> <%= b.text %>
                              </label>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group background-green">
                      <div class="row">
                        <div class="col-md-12">
                          <label style="margin: 0;">Cuando recibir la Notificación</label>
                          <span class="help-block" style="margin: 0;">Sobre cual evento desea recibir la notificación.</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :summary %> Resumen diario
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :new %> Nueva reserva manual
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :modified %> Reserva manual modificada
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :confirmed %> Reserva manual confirmada
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :canceled %> Reserva manual cancelada
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :new_web %> Nueva reserva online
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :modified_web %> Reserva online modificada
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :confirmed_web %> Reserva online confirmada
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="checkbox">
                            <label>
                              <%= f.check_box :canceled_web %> Reserva online cancelada
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                      <%= link_to 'Cancelar', edit_company_setting_path(User.find(current_user.id).company.company_setting), :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-7">
              <div class="background-grey">
                <h4 class="text-green">Notificaciones Activas</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>E-mail</th>
                        <th>Tipo</th>
                        <th>Notificaciones</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for notification in @notifications %>
                      <tr>
                        <td><%= notification.email %></td>
                        <td>
                          <%= notification.receptor_type_text %>
                        </td>
                        <td><%= notification.notification_text %></td>
                        <td style="white-space: nowrap;">
                          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_notification_email_path(notification), :class => "btn btn-sm btn-orange" %>
                          <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, notification, :class => "btn btn-sm btn-red", method: :delete, data: { confirm: '¿Estás seguro de eliminar esta Notificación?' } %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Clients -->
        <div class="tab-pane" id="clients">

          <div class="row" style="margin-top: 40px;">
            <div class="col-md-12">
              <div class="background-grey">
                <h3 class="text-green">
                  Listado de campos
                  <button class="btn btn-green pull-right" id="new_attribute_button"><i class="fa fa-plus"></i> Agregar campo</button>
                </h3>
              </div>
              <table class="table table-hover table-green">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Obligatorio</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @attributes.each do |attribute| %>
                    <tr>
                      <td>
                        <%= attribute.name %>
                      </td>
                      <td>
                        <%= attribute.description %>
                      </td>
                      <td>
                        <%= attribute.datatype_to_text %>
                      </td>
                      <td>
                        <%= attribute.mandatory_to_text %>
                      </td>
                      <td>
                        <!--<button class="btn btn-orange edit_attribute_button" data-name="<%= attribute.name %>" data-mandatory="<%= attribute.mandatory %>" data-name="<%= attribute.name %>" data-datatype="<%= attribute.datatype %>" data-description="<%= attribute.description %>" data-id="<%= attribute.id %>"><i class="fa fa-pencil"></i> Editar</button>-->
                        <% if attribute.datatype == "categoric" %>
                          <button class="btn btn-green add_attribute_category_button" data-attributeid="<%= attribute.id %>"><i class="fa fa-pencil"></i>&nbsp;Agregar categoría</button>
                        <% end %>
                        <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, attribute, method: :delete, data: { confirm: '¿Estás seguro de eliminar el campo seleccionado?' }, class: 'btn btn-red' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Clients -->

      </div>
    </div>
  </div>
</div>

<% content_for :modals do %>
  <div class="modal fade" id="fromEmail" tabindex="-1" role="dialog" aria-labelledby="fromEmailLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Remitente</h4>
        </div>
        <%= form_for @company_from_email, :html => {:class => 'form-horizontal'} do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :company_id, :value => current_user.company.id %>
            <div class="form-group has-feedback">
              <%= f.label :email, 'E-mail', :class => 'control-label col-xs-2' %>
              <div class="col-xs-10">
                <%= f.text_field :email, :class => 'form-control', :placeholder => 'email@dominio.cl (requerido)' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
                <span class="help-block">Este es el e-mail desde el cual se enviaran los mensajes.</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staffCode" tabindex="-1" role="dialog" aria-labelledby="staffCodeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="staffCodeLabel">Agregar Código de Empleado</h4>
        </div>
        <%= form_for @staff_code, :html => {:class => 'form-horizontal'} do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :company_id, :value => current_user.company.id %>
            <%= f.hidden_field :active %>
            <div class="form-group has-feedback">
              <%= f.label :staff, 'Staff', :class => 'control-label col-xs-2' %>
              <div class="col-xs-10">
                <%= f.text_field :staff, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :code, 'Código', :class => 'control-label col-xs-2' %>
              <div class="col-xs-10">
                <%= f.text_field :code, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deal" tabindex="-1" role="dialog" aria-labelledby="dealLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="dealLabel">Convenio</h4>
        </div>
        <%= form_for @deal, :html => {:class => 'form-horizontal'} do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :company_id, :value => current_user.company.id %>
            <div class="form-group has-feedback">
              <%= f.label :code, 'Código', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.text_field :code, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :quantity, 'Cantidad Utilizable', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.number_field :quantity, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :constraint_option, 'Restricción por Periodo', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.select :constraint_option, options_for_select([["Sin restricción", 0],["Simultáneo", 1],["Por día", 2],["Por semana", 3],["Por mes", 4]]), {}, {:class => 'form-control'} %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :constraint_quantity, 'Cantidad Restricción', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.number_field :constraint_quantity, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="payment_method" tabindex="-1" role="dialog" aria-labelledby="paymentMethodLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="paymentMethodLabel">Medio de pago</h4>
        </div>
        <%= form_for @company_payment_method, :html => {:class => 'form-horizontal company_payment_method_form'} do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :company_id, :value => current_user.company.id %>
            <div class="form-group has-feedback">
              <%= f.label :name, 'Nombre', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.text_field :name, :class => 'form-control', required: true %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <label>
                  <%= f.check_box :active %> Activar medio de pago
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <label>
                  <%= f.check_box :number_required %> Exigir código al ingresar el pago
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cashierModal" tabindex="-1" role="dialog" aria-labelledby="cashierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="cashierModalLabel">Cajero</h4>
        </div>
        <%= form_for @cashier, :html => {:class => 'form-horizontal cashier_form', :id => 'cashier_form'} do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :company_id, :value => current_user.company.id %>
            <div class="form-group has-feedback">
              <%= f.label :name, 'Nombre', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.text_field :name, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <label>
                  <%= f.check_box :active %> Activar cajero
                </label>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :code, 'Código', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.text_field :code, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="attributeModal" tabindex="-1" role="dialog" aria-labelledby="attributeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="attributeModalLabel">Cajero</h4>
        </div>
        <%= form_for @attribute, :html => {:class => 'form-horizontal attribute_form', :id => 'attribute_form'} do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :company_id, :value => current_user.company.id %>
            <div class="form-group has-feedback">
              <%= f.label :name, 'Nombre', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.text_field :name, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :description, 'Descripción', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <%= f.text_field :description, :class => 'form-control' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <label for="attribute_mandatory">
                  <%= f.check_box :mandatory %> Obligatorio
                </label>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :datatype, 'Tipo', :class => 'control-label col-xs-4' %>
              <div class="col-xs-8">
                <select name="attribute[datatype]" id="attribute_datatype" class="form-control">
                  <option value="integer">Numérico</option>
                  <option value="float">Decimal</option>
                  <option value="text">Texto</option>
                  <option value="boolean">Binario (Sí/No)</option>
                  <option value="date">Fecha</option>
                  <option value="datetime">Fecha y hora</option>
                  <option value="categoric">Categórico</option>
                  <option value="file">Archivo</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="attributeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="attributeCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="attributeCategoryModalLabel">Cajero</h4>
        </div>
        
          <div class="modal-body">

            <%= form_for @attribute_category, :remote => true, :format => :json, :html => {:class => 'form-horizontal attribute_category_form', :id => 'attribute_category_form'} do |f| %>
              <%= f.hidden_field :attribute_id, :value => "" %>
              <div class="form-group has-feedback">
                <%= f.label :category, 'Categoría', :class => 'control-label col-xs-3' %>
                <div class="col-xs-7">
                  <%= f.text_field :category, :class => 'form-control' %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
                <div class="col-xs-2">
                  <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                </div>
              </div>
            <% end %>

            <div id="existing_categories">

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            
          </div>
        
      </div>
    </div>
  </div>

<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "validations/identification_number/" + I18n.locale.to_s %>
  <%= javascript_include_tag "admin/company_settings" %>
<% end %>
