<%= simple_form_for(@company_setting) do |f| %>
  <% if @company_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_setting.errors.count, "error") %> prohibited this company_setting from being saved:</h2>

      <ul>
      <% @company_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, :class => 'col-sm-1 control-label' %>
      <div class="col-sm-11">
        <%= f.input :email, :label => false %>
      </div>
  </div>
  
  <div class="form-group">
    <%= f.label :signature, :class => 'col-sm-1 control-label' %>
      <div class="col-sm-11">
        <%= f.input :signature, :label => false %>
      </div>
  </div>

  <div class="form-group">
    <%= f.hidden_field :company, :class => 'col-sm-1 control-label' %>
      <div class="col-sm-11">
        <%= f.hidden_field :company, :label => false %>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-2">
      <%= f.submit %>
    </div>
  </div>

<% end %>
