<%= form_for @company_setting, :html => {:class => 'form-horizontal'} do |f| %>
	<% if @company_setting.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@company_setting.errors.count, "error") %> prohibited this company_setting from being saved:</h2>

			<ul>
			<% @company_setting.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.hidden_field :company %>
	<div class="form-group">
		<%= f.label :email, 'Email', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-4">
			<div class="checkbox">
				<label>
					<%= f.check_box :email %>
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :signature, 'Firma', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-4">
			<%= f.text_area :signature, :class => 'form-control', :disabled  => true %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
			<%= f.submit 'Guardar', :class => 'btn btn-primary' %>
			<%= link_to 'Cancelar', dashboard_path, :class => "btn btn-danger" %>    
		</div>
	</div>

<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
$(function () {
	$('#company_setting_email').click(function () {
		cbEmail();
	});

	if ($('#company_setting_email').is(':checked')) {
		$('#company_setting_signature').removeAttr('disabled');
	}
});

function cbEmail () {
	if ($('#company_setting_email').is(':checked')) {
		$('#company_setting_signature').removeAttr('disabled');
	}
	else {
		$('#company_setting_signature').attr('disabled', true);
		}
}
</script>
<% end %>
