<div class="row">
    <%= render 'form' %>
</div>

<div class="row">
    <div id="carousel-agendapro-home" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-agendapro-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="1"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="2"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="3"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="4"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="5"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="6"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="7"></li>
            <li data-target="#carousel-agendapro-home" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <a href="#" class="box-recomendacion-md overlay" data-search="SPA">
                    <%= image_tag 'home/spa.jpg', :alt => 'SPA' %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-lg overlay" data-search="Clinicas y Centros de Estética">
                    <%= image_tag "mobile/centro_estetica.jpg", :alt => "Centro de Estética" %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-md overlay">
                    <%= image_tag "mobile/medicina_alternativa.jpg", :alt => "Medicina Alternativa" %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-lg overlay" data-search="Peluquerías">
                    <%= image_tag "mobile/peluqueria.png", :alt => "Peluqueria" %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-md overlay">
                    <%= image_tag "mobile/kinesiologo.jpg", :alt => "kinesiologo" %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-md overlay">
                    <%= image_tag 'home/taller_auto.jpg', :alt => 'Talleres de Auto' %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-md overlay" data-search="Dentista">
                    <%= image_tag 'home/dentista.jpg', :alt => 'Dentistas' %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-md overlay">
                    <%= image_tag 'home/veterinarios.jpg', :alt => 'Veterinarios' %>
                </a>
            </div>
            <div class="item">
                <a href="#" class="box-recomendacion-lg overlay" data-search="Psicólogos">
                    <%= image_tag "mobile/psicologia.jpg", :alt => "Psicólogos" %>
                </a>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-agendapro-home" data-slide="prev">
            <span class="<"></span>
        </a>
        <a class="right carousel-control" href="#carousel-agendapro-home" data-slide="next">
            <span class=">"></span>
        </a>
    </div>
</div>