<!doctype html>
<html ng-app="HoraChic">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <%= javascript_include_tag 'angular' %>

    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'ionicons.min' %>
    <%= stylesheet_link_tag 'frontend/jPushMenu.css' %>
    <%= stylesheet_link_tag 'hora_chic_base' %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <title>HoraChic - By AgendaPro</title>

    <%= favicon_link_tag "hora_chic/favicon.png", :rel => "shortcut icon", type: 'image/png' %>
  </head>

  <body ng-controller="TemplateController as tc">
    <ng-include src="tc.templates.header"></ng-include>
    <div id="mainContent" ng-view class="view-animate"></div>
    <ng-include src="tc.templates.footer"></ng-include>
    <ng-include src="tc.templates.login"></ng-include>
  </body>

</html>

