<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @status, :html => {:class => 'form-horizontal'} do |f| %>
        <% if @status.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@status.errors.count, "error") %> no permitió que el estado sea creado:</h2>
            <ul>
              <% @status.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, 'Nombre', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, 'Descripcion', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.text_area :description, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="actions col-md-offset-2 col-md-4">
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
            <%= link_to 'Cancelar', statuses_path, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
