<h1>Estados de Reserva</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Estatus</th>
      <th>Descripción</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= status.description if status.description %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_status_path(status), :class => "btn btn-warning" %>
          <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, status, :class => "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fa fa-plus"></i> Nuevo Estado'.html_safe, new_status_path, :class => "btn btn-primary" %>
