<p id="notice"><%= notice %></p>

<p>Nombre: <%= @status.name %></p>
<p>Descripción: <%= @status.description %></p>

<%= link_to 'Editar', edit_status_path(@status) %> |
<%= link_to 'Atrás', statuses_path %>
