<table class="table">
  <tbody>
    <% @campaigns.each do |campaign| %>
    <tr>
      <td>
        <h4>
          <strong><%= Email::Content.find(campaign.sendable_id).subject %></strong>
        </h4>
        <p>
          <small>Enviado a una lista original de <%= campaign.total_targets %> contactos<br />Enviado el <%= campaign.sent_date.strftime("%d/%m/%Y a las %H:%M") %></small>
        </p>
      </td>
      <td class="text-center">
        <h4>
          <strong><%= campaign.total_recipients %></strong> <small>(<%=  "%g" % ("%.2f" % (100*campaign.total_recipients/campaign.total_targets)) %>%)</small>
        </h4>
        <p>
          <small>Emails Enviados</small>
        </p>
      </td>
      <td class="text-center">
        <h4>
          <strong><%= ClientEmailLog.where(progress: 2, campaign_id: campaign.id).count %></strong> <small>(<%=  "%g" % ("%.2f" % (100*ClientEmailLog.where(progress: 2, campaign_id: campaign.id).count/campaign.total_targets)) %>%)</small>
        </h4>
        <p>
          <small>Emails Entregados</small>
        </p>
      </td>
      <td class="text-center">
        <h4>
          <strong><%= ClientEmailLog.where(progress: 2, campaign_id: campaign.id).sum(:opens) %></strong> <small>(<%=  "%g" % ("%.2f" % (100*ClientEmailLog.where(progress: 2, campaign_id: campaign.id).sum(:opens)/campaign.total_targets)) %>%)</small>
        </h4>
        <p>
          <small>Visualizaciones</small>
        </p>
      </td>
      <td class="text-center">
        <h4>
          <strong><%= ClientEmailLog.where(progress: 2, campaign_id: campaign.id).sum(:clicks) %></strong> <small>(<%=  "%g" % ("%.2f" % (100*ClientEmailLog.where(progress: 2, campaign_id: campaign.id).sum(:clicks)/campaign.total_targets)) %>%)</small>
        </h4>
        <p>
          <small>Clicks</small>
        </p>
      </td>
      <td class="text-center">
        <%= link_to '<i class="fa fa-download"></i> Descargar Detalle en Excel'.html_safe, clients_path(format: "xls"), class: "btn btn-green" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
