<div class="template-container pull-left" style="width: 200px; height: auto; margin: 0 45px 45px 0;">
  <div class="thumbnail-container" style="border: 1px solid; height: 230px;">
    <%= image_tag(template.thumbnail, style: 'height: 100%; width: 100%;') %>
  </div>
  <section style="text-align: right;">
    <p style="margin-top: 10px;"><%= template %></p>
  </section>
  <section>
    <%= form_tag(:email_new, method: "post") do %>
      <%= hidden_field_tag(:recipients, @to) %>
      <%= hidden_field_tag(:tmpl, template.id) %>
      <%= submit_tag("Seleccionar", class: 'btn btn-green pull-right') %>
    <% end %>
  </section>
</div>
