<div class="container container-margin">
  <%= form_tag("book", method: "post", role: "form", id: "bookingForm") do %>
    <% if @service.has_sessions %>
      <div class="row">
        <div class="col-xs-12">
          Este servicio es por sesiones. Se reservará la primera sesión, y luego podrás reservar las restantes ingresando a tu Agenda desde tu cuenta AgendaPro, o llamando al local que ofrece el servicio. El valor del servicio incluye todas las sesiones.
          <br />
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
          <%= hidden_field_tag :service, @service.id %>
          <%= hidden_field_tag :provider, @provider.id %>
          <%= hidden_field_tag :start, @start %>
          <%= hidden_field_tag :end, @end %>
          <%= hidden_field_tag :origin, @origin %>
          <%= hidden_field_tag :location, @location.id %>
          <%= hidden_field_tag :provider_lock, @lock %>
          <%= hidden_field_tag :max_discount, @hour_discount %>
          <% if @service.has_sessions %>
            <%= hidden_field_tag :has_sessions, "1" %>
          <% else %>
            <%= hidden_field_tag :has_sessions, "0" %>
          <% end %>

          <%
            sessions_amount = 0
            if !@service.sessions_amount.nil?
              sessions_amount = @service.sessions_amount
            end
          %>

          <%= hidden_field_tag :bookings, [{
              start: @start,
              end: @end,
              provider: @provider.id,
              provider_name: @provider.public_name,
              provider_lock: @lock,
              service: @service.id,
              service_name: @service.name,
              online_payable: @online_payable,
              has_discount: @has_discount,
              discount: @hour_discount,
              price: @service.price,
              show_price: @service.show_price,
              has_sessions: @service.has_sessions,
              sessions_amount: sessions_amount,
              must_be_paid_online: @must_be_paid_online,
              is_time_discount: @is_time_discount,
              service_promo_id: @service_promo_id
            }].to_json %>

          <%= hidden_field_tag :firstName, if user_signed_in? then current_user.first_name else nil end %>
          <%= hidden_field_tag :lastName, if user_signed_in? then current_user.last_name else nil end %>
          <div id="user-data">
            <div class="form-group">
              <input type="text" id="full_name" name="user[full_name]" class="form-control" placeholder="Nombre completo" required <%= 'disabled' if @location.company.company_setting.client_exclusive %>>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= email_field_tag(:email, if user_signed_in? then current_user.email else nil end, :class => "form-control", :placeholder => "E-mail", :required => true) %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= telephone_field_tag(:phone, if user_signed_in? then current_user.phone else nil end, :class => "form-control", :placeholder => "Teléfono", :required => true) %>
              <span class="help-block"></span>
            </div>
          </div>
          <% if @location.company.company_setting.client_exclusive %>
          <div class="form-group">
            <%= text_field_tag(:identification_number, nil, :class => "form-control", :placeholder => (I18n.t('ci')).capitalize ) %>
            <span class="help-block"></span>
          </div>
          <% end %>
          <% if @service.outcall %>
          <div id="outcallAddress" class="form-group">
            <%= text_field_tag(:address, nil, :class => "form-control", :placeholder => "Escribe la dirección donde se debe realizar el servicio" ) %>
            <span class="help-block"></span>
          </div>
          <% end %>
          <div class="form-group">
            <%= text_area_tag(:comment, nil, :class => "form-control", :placeholder => "Agrega algún comentario a tu reserva en caso de ser necesario..", :rows => 4) %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <input type="hidden" id="payment" name="payment" value="0">
      <!--
        AGREGAR RESUMEN DE RESERVA
      -->

      </div>
    </div>

    <% if @online_payable %>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <button type="submit" class="btn btn-green btn-lg btn-block" id="payBtn">Pagar</button>
          </div>
          <div class="form-group">
            <% if @hour_discount.to_f > 0 %>
              Precio normal:&nbsp;<strike><%= number_to_currency(@service.price, unit: "$", separator: ".", delimiter: ",", precision: 0) %></strike><br />
              Descuento: <%= @hour_discount.to_s %>%<br />
              Precio final:&nbsp;<%= number_to_currency((@service.price*(100-@hour_discount.to_f)/100), unit: "$", separator: ".", delimiter: ",", precision: 0) %>
            <% else %>
              Precio:&nbsp;<%= number_to_currency(@service.price, unit: "$", separator: ".", delimiter: ",", precision: 0) %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6">

        <% if !@must_be_paid_online %>
          <div class="form-group">

            <button type="submit" class="btn btn-orange btn-lg btn-block" id="submitBtn">Reservar</button>

          </div>
          <div class="form-group">
              Precio:&nbsp;<%= number_to_currency(@service.price, unit: "$", separator: ".", delimiter: ",", precision: 0) %>
          </div>

        <% end %>

        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">

            <button type="submit" class="btn btn-orange btn-lg btn-block" id="submitBtn">Reservar</button>

          </div>
        </div>
      </div>
    <% end %>

    <div id="mp-selector" hidden>
      <div class="row">
        <div class="col-xs-10 col-offset-xs-12">
          <h4 class="modal-title" style="color: #ccc !important;">Elige el medio de pago</h4>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-6">
          <input type="radio" name="mp" value="04" class="mp_radio" />
          <image class="img-responsive" src="https://www.puntopagos.com/content/mp4.gif" alt="Banco Chile" class="mp_link" mp = "04" />
        </div>
        <div class="col-xs-6">
          <input type="radio" name="mp" value="10" class="mp_radio" />
          <image class="img-responsive" src="https://www.puntopagos.com/content/mp10.gif" alt="Banco Ripley" class="mp_link" mp = "10" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <input type="radio" name="mp" value="03" class="mp_radio" />
          <image class="img-responsive" src="https://www.puntopagos.com/content/mp3.gif" alt="Webpay Transbank" class="mp_link" mp = "03" />
        </div>
        <div class="col-xs-6">
          <input type="radio" name="mp" value="07" class="mp_radio" />
          <image class="img-responsive" src="https://www.puntopagos.com/content/mp7.gif" alt="Banco Estado" class="mp_link" mp = "07" />
        </div>
      </div>
      <div class="row">
        
        <div class="col-xs-6">
          <input type="radio" name="mp" value="04" style="display: none !important;" class="mp_radio" />
          <image class="img-responsive" style="display: none;" src="https://www.puntopagos.com/content/mp1.gif" alt="Banco Santander" class="mp_link" mp = "01" />
        </div>
      </div>

      <div class="row" style="margin-bottom: 10px; margin-top: 5px;">
        <div class="col-xs-6 col-xs-offset-3">
          <button class="btn btn-green btn-lg btn-block" id="select-medio">Pagar</button>
        </div>
      </div>
    </div><!-- /.modal-content -->


  <% end %>
</div>

<!--  MODAL MEDIO DE PAGO -->



<!-- FIN MODAL MEDIO DE PAGO -->

<%= content_tag "div", id: "selectedLocal", data: {local: @location, district: @location.district.name} do %>
<% end %>

<% content_for :scripts do %>
<%= javascript_include_tag 'split-name' %>
<%= javascript_include_tag 'validations/validate' %>
<%= javascript_include_tag 'validations/home/workflow' %>
<script type="text/javascript">
  $(function() {
    compose_name('#full_name', '#firstName', '#lastName');
    split_name('#full_name', '#firstName', '#lastName');
  });

  $(document).ready(function(){
    $("#payBtn").click(function(e){
      e.preventDefault();
      $("#payment").val("1");
      $("#mp-selector").show();
      $("#payBtn").attr("disabled", "true");
    });

    $("#submitBtn").click(function(e){
      e.preventDefault();
      $("#payment").val("0");
      $("#bookingForm").submit();
    });

    $('#select-medio').click(function(){
      console.log('clicked select medio');
      var is_selected = false;
      $('.mp_radio').each(function(){
        if($(this).prop('checked'))
        {
          is_selected = true;
          console.log(is_selected);
        }
      });
      if(is_selected)
      {
        //console.log("Entra");
        $('#bookingForm').submit();
      }
    });

  });

</script>
<% end %>
