<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <% if @company.logo_url %>
      <%= image_tag @company.logo_url.to_s, :alt => @company.name, class: 'company-logo' %>
      <% else %>
      <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', class: 'company-logo' %>
      <% end %>
      <button class="btn btn-wide btn-green"><i class="fa fa-caret-left"></i> Información</button>
      <button class="btn btn-wide btn-orange hidden">Reservar <i class="fa fa-caret-right"></i></button>
    </div>
    <div class="col-xs-12 col-sm-10">
      <div id="reservar">
        <%= form_tag("select_hour", method: "post", role: "form") do %>
          <%= hidden_field_tag :location, @location.id %>
          <div class="form-group">
            <%= label_tag :service, 'Selecciona el servicio que quieres' %>
            <%= select_tag :service, nil, :class => 'form-control' %>
          </div>
          <div class="form-group" <%= 'style="display:none;"'.html_safe if @company.company_setting.provider_preference == 2 %>>
            <%= label_tag :provider, 'Selecciona al staff' %>
            <%= select_tag :provider, nil, :disabled => true, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag :datepicker, 'Selecciona una fecha' %>
            <%= text_field_tag :datepicker, nil, :disabled => true, :placeholder => 'Selecciona fecha...', :class => 'form-control' %>
          </div>
          <button type="submit" class="btn btn-green btn-block btn-lg" disabled>Siguiente</button>
        <% end %>
      </div>
      <div id="informacion" class="hidden">
        <div class="panel panel-agendapro">
          <div class="panel-heading">
            <h3 class="panel-title">Información</h3>
          </div>
          <div class="panel-body">
            <div class="panel-group" id="information" role="tablist" aria-multiselectable="true">
              <div class="panel panel-white">
                <div class="panel-heading" role="tab" id="addressHeading">
                    <a data-toggle="collapse" data-parent="#information" href="#address" aria-expanded="false" aria-controls="address">
                      <h4 class="panel-title panel-title-caret">
                        Descripción
                      </h4>
                    </a>
                </div>
                <div id="address" class="panel-collapse collapse" role="tabpanel" aria-labelledby="addressHeading">
                  <div class="panel-body">
                    <%= @company.description %>
                  </div>
                </div>
              </div>
              <div class="panel panel-white">
                <div class="panel-heading" role="tab" id="scheduleHeading">
                  <a data-toggle="collapse" data-parent="#information" href="#schedule" aria-expanded="false" aria-controls="schedule">
                    <h4 class="panel-title panel-title-caret">
                      Horario
                    </h4>
                  </a>
                </div>
                <div id="schedule" class="panel-collapse collapse" role="tabpanel" aria-labelledby="scheduleHeading">
                  <ul class="list-group" id="schedule-body">
                  </ul>
                </div>
              </div>
              <div class="panel panel-white">
                <div class="panel-heading" role="tab" id="telefoneHeading">
                  <a data-toggle="collapse" data-parent="#information" href="#phone" aria-expanded="false" aria-controls="phone">
                    <h4 class="panel-title panel-title-caret">
                      Teléfono
                    </h4>
                  </a>
                </div>
                <div id="phone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="telefoneHeading">
                  <div class="panel-body">
                    <%= @location.phone %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-agendapro">
          <div class="panel-heading">
            <h3 class="panel-title">Dirección</h3>
          </div>
          <ul class="list-group" id="district-body">
            <li class="list-group-item"><%= if !@location.outcall then @location.address+', '+@location.district.name else "A Domicilio" end %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "timeInterval", data: {min: @before_now, max: @after_now} do %>
<% end %>
<%= content_tag "div", id: "providerPreference", data: {provider_preference: @company.company_setting.provider_preference } do %>
<% end %>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag "default" %>
<%= stylesheet_link_tag "default.date" %>
<% end %>

<% content_for :scripts do %>
<%= javascript_include_tag "mobile/workflow" %>
<%= javascript_include_tag "picker" %>
<%= javascript_include_tag "picker.date" %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.btn-wide').click(function () {
      if ($(this).hasClass('btn-green')) {
        $('.hidden').removeClass('hidden');
        $('#reservar').addClass('hidden');
        $(this).addClass('hidden');
      } else if ($(this).hasClass('btn-orange')) {
        $('.hidden').removeClass('hidden');
        $('#informacion').addClass('hidden');
        $(this).addClass('hidden');
      }
    });
    loadServices(<%= @location.id %>);
    <% if @location.outcall %>
    loadOutcallDistricts(<%= @location.id %>);
    <% end %>
    loadSchedule(<%= @location.id %>);
  });
</script>
<% end %>
