<%= form_for @numeric_parameter, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @numeric_parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@numeric_parameter.errors.count, "error") %> prohibited this numeric_parameter from being saved:</h2>
      <ul>
      <% @numeric_parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :value, "Valor: ", :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :value, :class => 'form-control', :step => 'any' %>
    </div>
  </div>

  <div class="form-group">
    <div class="actions col-sm-offset-3 col-sm-4">
      <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', numeric_parameters_path, class: "btn btn-danger" %>    
    </div>
  </div>

<% end %>