<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">
        Parámetros Numéricos
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Parámetro Numérico'.html_safe, new_numeric_parameter_path, :class => "btn btn-green pull-right" %>
      </h2>
    </div>
  </div>
</div>
<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @numeric_parameters.each do |numeric_parameter| %>
            <tr>
              <td><%= numeric_parameter.name %></td>
              <td><%= numeric_parameter.value %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_numeric_parameter_path(numeric_parameter), :class => "btn btn-orange" %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, numeric_parameter, :class => "btn btn-red", method: :delete, data: { confirm: '¿Estás seguro?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
