<div class="row companies_header">
  <ul class="nav nav-tabs">

    <li><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>

    <li><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>

    <li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>

    <li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>

    <li><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>

    <li class="active"><%= link_to 'Empresas', companies_path, { :id => "companies" } %></li>

  </ul>
</div>
<h1>Listing billing_infos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Razón Social</th>
      <th>Rut</th>
      <th>Sector</th>
      <th>Responsable</th>
      <th>Dirección</th>
      <th>E-mail</th>
      <th>Teléfono</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @billing_infos.each do |billing_info| %>
      <tr>
        <td><%= billing_info.company.name %></td>
        <td><%= billing_info.name %></td>
        <td><%= billing_info.rut %></td>
        <td><%= billing_info.sector %></td>
        <td><%= billing_info.contact %></td>
        <td><%= billing_info.address %></td>
        <td><%= billing_info.email %></td>
        <td><%= billing_info.phone %></td>
        <td><%= link_to 'Edit', edit_billing_info_path(billing_info) %></td>
        <td><%= link_to 'Destroy', billing_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing info', new_billing_info_path %>
