
  <div class="form-group has-feedback">
    <li class="col-md-12 nopadding" ><h2 ><%= f.object.question %></h2></li>
  </div>
  <div class="form-group has-feedback">
    <p class="col-md-12 nopadding"><%= f.object.description %></p>
  </div>
  <div class="form-group has-feedback">
    <div class="col-md-12 nopadding">
      <%= fields_for @survey_answer do |a| %>
        <% if f.object.type_question == 1 %>
          <p class="clasificacion">
            <% (-5..-1).each do |i| %>
              <%= a.radio_button :answer, i.abs, :class => 'form-control', :id => "radio_#{i.abs}_#{@book.id.to_s}", :name => "survey_answer[][answer_#{@book.id.to_s}]" %>
              <%= a.label "★", :for => "radio_#{i.abs}_#{@book.id.to_s}", :title => i.abs %>
            <% end %>
          </p>
        <% else %>
          <%= a.text_area :answer, :autofocus => true, :required => true, :class => 'form-control comment', :placeholder => 'Comentario',:name => "survey_answer[][answer]" %>
        <% end %>

      <% end %>
    </div>
  </div>

