<% if @available_hours.nil? || @available_hours.count == 0 %>
	<p>Lo sentimos, no hay bloques disponibles para el día seleccionado.</p>
<% else %>
	<p>
		Horas disponible para el <%= @selected_date %>
	</p>

	<div class="row hours-row">
		<% @available_hours.each do |block| %>
			<div class="available-hour btn btn-block btn-default btn-lg" provider="<%= block[:provider] %>" provider_name="<%= block[:available_provider] %>" start="<%= block[:hour][:start].to_s %>" end="<%= block[:hour][:end].to_s %>">
				<%= block[:hour][:start].to_s %> -
				<%= block[:hour][:end].to_s %><br />
			</div>
		<% end %>
	<div>
<% end %>