<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);" > <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);"> <!--<![endif]-->
  <head style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
    <title style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><%= @title %></title>
    <meta charset="utf-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta name="apple-mobile-web-app-capable" content="yes" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios." style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta name="author" content="AgendaPro" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
  </head>

  <body style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;line-height:1.42857143;font-family:'Roboto Condensed', sans-serif;font-size:12px;font-weight:300;color:#505050;background-color:#ffffff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;">
    <table class="content" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-spacing:0;border-collapse:collapse;width:100%;font-family:'Roboto Condensed', sans-serif;font-size:12px;font-weight:300;color:#505050;background-color:#ffffff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;margin-right:auto;margin-left:auto;max-width:600px;border-width:1px;border-style:solid;border-color:#727171;margin-top:10px;margin-bottom:10px;">
      <tbody style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
        <tr class="header" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#f1f4f5;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#727171;font-size:10px;min-height:24px;">
          <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.42857143;vertical-align:top;padding-top:5px;padding-bottom:5px;padding-right:30px;padding-left:30px;text-align:center;">
            <a href="http://<%= @url %>" target="_blank" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:transparent;color:#727171;text-decoration:none;"><%= @url %></a>
          </td>
        </tr>
        <tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
          <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;">
            <div class="pull-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;margin-left:auto;margin-right:auto;">
              <%= image_tag attachments['logo.png'].url, class: "logo", alt: "Logo", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;" %>
            </div>
          </td>
        </tr>

        <%= yield %>

        <tr class="footer" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#f1f4f5;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#727171;min-height:24px;font-size:12px;">
          <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.42857143;vertical-align:top;padding-top:5px;padding-bottom:5px;padding-right:30px;padding-left:30px;">
            <table class="table" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-spacing:0;border-collapse:collapse;font-family:'Roboto Condensed', sans-serif;font-size:12px;font-weight:300;width:100%;max-width:100%;background-color:transparent;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#727171;margin-bottom:0;">
              <tbody style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
                <tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
                  <td class="col-3" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;line-height:1.42857143;vertical-align:top;border-top-width:1px;border-top-color:#ddd;border-top-style:none;">
                    <p class="text-left" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;word-break:break-word;">
                      <%= image_tag "http://agendapro.co/assets/email/address.png", alt: "Dirección", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:-1px;margin-right:10px;width:20px;display:inline;vertical-align:top;" %>
                      Ana María Carrera 5210, Las Condes, Santiago
                    </p>
                  </td>
                  <td class="col-3" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;line-height:1.42857143;vertical-align:top;border-top-width:1px;border-top-color:#ddd;border-top-style:none;">
                    <p class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;word-break:break-word;">
                      <%= image_tag "http://agendapro.co/assets/email/phone.png", alt: "Teléfono", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:-1px;margin-right:10px;width:20px;display:inline;vertical-align:top;" %>
                      (+56 9) 5178 5898
                    </p>
                  </td>
                  <td class="col-3" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;line-height:1.42857143;vertical-align:top;border-top-width:1px;border-top-color:#ddd;border-top-style:none;">
                    <p class="text-right" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:right;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;word-break:break-word;">
                      <%= image_tag "http://agendapro.co/assets/email/email.png", alt: "E-mail", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:-1px;margin-right:10px;width:20px;display:inline;vertical-align:top;" %>
                      contacto@agendapro.cl
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="sub-footer" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:24px;color:#505050;background-color:#ffffff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-size:10px;">
          <td class="col-2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;width:50%;">
            <p class="text-left" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:left;">Este es un email automático, para contactar a la empresa por favor responde este correo.</p>
          </td>
          <td class="col-2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;width:50%;">
            <p class="text-right" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:right;">Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
