<%= form_for @bank, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>
      <ul>
      <% @bank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code, "Código: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :code, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Nombre: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="actions col-sm-offset-3 col-sm-4">
      <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', banks_path, class: "btn btn-danger" %>    
    </div>
  </div>

<% end %>
