<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">
        Bancos autorizados
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Banco'.html_safe, new_bank_path, :class => "btn btn-green pull-right" %>
      </h2>
    </div>
  </div>
</div>
<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-green">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @banks.each do |bank| %>
            <tr>
              <td><%= bank.code %></td>
              <td><%= bank.name %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_bank_path(bank), :class => "btn btn-orange" %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, bank, :class => "btn btn-red", method: :delete, data: { confirm: '¿Estás seguro?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
