
        <div class="modal-header">
            <button type="button" class="close closeBookModal" data-dismiss="modal">&times;</button>
            <h3 class="modal-title" id="optimizerTitle" style="line-height: 1.1;">Reservar</h3>
        </div>
        <div class="modal-body">
            <div id="optimizerFirst">
              <div id="pickerSelectDate">
                <div class="row">
                  <div class="col-xs-3" style="text-align: right; font-weight: bold;">
                    Inicio
                  </div>
                  <div class="col-xs-9">
                    <input id="initialPickerDate" value="<%= I18n.l(DateTime.now.to_date) %>" hidden />
                    <span id="pickerSelected" style="color: #949292;"><%= I18n.l(DateTime.now.to_date) %></span>&nbsp;&nbsp;
                    <span class="optimizer-date-span" id="openDatepicker" style="float: right;">
                      Seleccionar nuevo inicio&nbsp;<i class="fa fa-calendar-o"></i>
                      <input type="hidden" name="bookingId" id="bookingId" value="<%= @booking.id %>" />
                      <input type="text" class="form-control" name="optimizerDateSelector" id="optimizerDateSelector<%= @booking.id %>" class="datepicker" />
                      <input type="hidden" name="selectedLocal" id="selectedLocal" value="<%= @booking.location.id %>" />
                      <input type="hidden" name="selectedService" id="selectedService" value="<%= @booking.service.id %>" />
                    </span>
                  </div>
                </div>
              </div>
              <form class="form-horizontal" id="serviceOptimizer">
                  <div class="form-group">
                    <label for="providerOptimizerSelector" class="col-xs-3 control-label">Prestador</label>
                    <div class="col-xs-9">
                      <select class="form-control" name="providerOptimizerSelector">
                        <% if @booking.service.service_providers.where(:active => true, online_booking: true).where('location_id = ?', @booking.location.id).count > 1 %>
                            <% if @booking.location.company.company_setting.provider_preference != 0 %>
                                <option value="0">Sin Preferencia</option>
                            <% end %>
                        <% end %>
                        <% @booking.service.service_providers.where(:active => true, online_booking: true).where('location_id = ?', @booking.location.id).order(:order, :public_name).each do |provider| %>
                            <% if @booking.is_session_booked && @booking.service_provider_id == provider.id %>
                                <option value="<%= provider.id %>" selected>
                                    <%= provider.public_name %>
                                </option>
                            <% else %>
                                <option value="<%= provider.id %>">
                                    <%= provider.public_name %>
                                </option>
                            <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <input type="hidden" name="service" value="<%= @booking.service.id %>" />
              </form>
              <div id="selectHour"></div>
              <%= form_tag '/optimizer_data', method: 'post', role: 'form', class: 'hidden', id: 'userData' do %>
                <input type="hidden" id="local" name="local" value="<%= @booking.location.id %>">
              <% end %>
            </div>
            <div id="hoursDetails"></div>
            <div class="row" id="loader-div" hidden>
              <p style="text-align: center; margin-top: 40px;">
                <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
              </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-green pull-left" id="addButton" style="display: none;" disabled><i class="fa fa-plus"></i>&nbsp;<span>Ver más resultados</span></button>
            <!--<button type="button" class="btn session-btn btn-orange" id="optimizerBackBtn" style="display: none;" disabled><i class="fa fa-chevron-left"></i>&nbsp;Atrás</button>-->
            <button type="button" class="btn session-btn btn-green" id="nextButton" style="display: none;" disabled>Reservar&nbsp;<i class="fa fa-chevron-right"></i></button>
            <a type="button" class="btn session-btn" data-target="#calendarModal" data-toggle="modal" href="sessions_calendar?id=<%= @booking.id %>&service_provider_id=" id="openCalendarBtn"><i class="fa fa-calendar-o"></i>&nbsp;Ver calendario</a>
            <button type="button" class="btn session-btn" id="openOptimizerBtn"><i class="fa fa-calendar-o"></i>&nbsp;Sugerir hora</button>
            <a href="#" class="btn btn-white" class="closeBookModal" data-dismiss="modal">Cerrar</a>
        </div>


<script type="text/javascript">

    $(document).ready(function(){
        $(".session-btn").attr("disabled", false);
    });


    var serviceTitle = "Elegir servicio y staff<br><small>Elige los servicios y prestadores para encontrar el mejor horario para realizarlos</small>";
    var hourTitle = "Resultado de la búsqueda<br><small>Selecciona una fecha y hora</small>";
    var hourButton = "Ver mas resultados";
    var resultsLength = 6;
    var bookings = [];
    var booking_id = $("#bookingId").val();


    $('#openOptimizerBtn').click(function (e) {
        $('#nextButton').show();
        //$('#optimizerBackBtn').show();
        loadHourModal();
    });

    /*$(".closeBookModal").click(function(e){
        e.preventDefault();
        loadSessions();
    });*/

    $('select[name="providerOptimizerSelector"]').on('change', function(){

        var href_str = $('#openCalendarBtn').attr('href').split("&");
        var new_href = href_str[0] + "&service_provider_id=" + $('select[name="providerOptimizerSelector"]').val();
        $('#openCalendarBtn').attr('href', new_href);
    });

    $(document).ready(function(){

        $('select[name="providerOptimizerSelector"]').trigger("change");

        $("#optimizerDateSelector" + booking_id).datepicker({
            autoSize: true,
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            prevText: 'Atrás',
            nextText: 'Adelante',
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            today: 'Hoy',
            clear: '',
            dateFormat: 'yy-mm-dd',
            onSelect: function(newDate){
                $("#pickerSelected").empty();
                var prettyDate = newDate.split("-")[2] + "/" + newDate.split("-")[1] + "/" + newDate.split("-")[0];
                $("#pickerSelected").append(prettyDate);
            }
        });

        $("#openDatepicker").click(function(){
            $("#optimizerDateSelector" + booking_id).datepicker("show");
        });

        /*$(document.body).on('click', '.optimizer-date-span', function(e){
            $(e.currentTarget).find('input').datepicker('show');
        });*/

    });


    function loadHourModal () {
        $('#serviceOptimizer').hide();
        $('#selectHour').empty();
        $('#selectHour').show();
        $('#optimizerTitle').html(hourTitle);

        $('#addButton').prop('disabled', true);
        loadHours();

        $('#addButton').off('click'); // Unbind click event
        $('#addButton').click(function (e) {
            $('#addButton').prop('disabled', true);
            resultsLength += 6;
            $('#selectHour').empty();
            loadHours();
        }); // Bind click event

    }


        function loadHours () {
        bookings = [];
        $('#selectHour').append('<p class="text-center"><i class="fa fa-spinner fa-spin fa-lg"></i></p>');
        var localId = $('#selectedLocal').val();
        var selects = [];

        var service = $("#selectedService").val();
        var provider = $('select[name="providerOptimizerSelector"]').val();

        selects.push({
          service: service,
          provider: provider
        });


        var start_date = $("#optimizerDateSelector" + booking_id).val();

        $.getJSON('/optimizer_hours', { local: localId, serviceStaff: JSON.stringify(selects), resultsLength: resultsLength, start_date: start_date }, function (hours_array) {
        $('#selectHour > p').remove();
        $("#hoursDetails").empty();
        var services_str = "";

        $.each(hours_array, function (pos, hour) {
          services_str = services_str + '<div class="optimizerDetail" pos="'+ pos +'" hidden><div class="optimizerDetailHeader"><span class="odHeader">Detalle</span><span class="odDate">Día ' + hour.full_date + '</span></div><div class="optimizerDetailBody">';
          for(i = 0; i < hour.bookings.length; i++)
          {
            services_str = services_str + '<label class="checkbox-inline"><p><i class="fa fa-check-circle-o fa-green"></i> <span style="color: #505050;">' + hour.bookings[i].service_name +
                '</span><br />' +
                '<i class="fa fa-calendar-o fa-green"></i> ' + hour.bookings[i].start.split("T")[1].split("+")[0].split(":")[0] + ":" + hour.bookings[i].start.split("T")[1].split("+")[0].split(":")[1] + ' - ' + hour.bookings[i].end.split("T")[1].split("+")[0].split(":")[0] + ":" + hour.bookings[i].end.split("T")[1].split("+")[0].split(":")[1] +
                '<br />' +
                '<i class="fa fa-user fa-green"></i> ' + hour.bookings[i].provider_name +
                '</p></label>';
          }
          services_str = services_str + "</div></div>";
          $('#selectHour').append(
            '<label class="checkbox-inline">' +
              '<input type="radio" name="hoursRadio" value="' + pos + '">' +
              '<p>' +
                '<i class="fa fa-calendar-o fa-green"></i> ' + hour.date +
                '<br />' +
                '<i class="fa fa-clock-o fa-green"></i> ' + hour.hour +
              '</p>' +
            '</label>'
          );
          bookings.push(hour.bookings);
        });
        if (hours_array.length == 0) {
          $('#selectHour').append('<p class="text-center">No encontramos horarios disponibles</p>');
        }
        else
        {
          $("#pickerSelectDate").hide();
          $('#hoursDetails').append(services_str);
          $('input[type=radio][name="hoursRadio"]').click(function(){

            var pos_num = $(this).val();
            $('.optimizerDetail').each(function(){
              if($(this).attr("pos") != pos_num)
              {
                $(this).hide();
              }
            });
            $('.optimizerDetail[pos="'+pos_num+'"]').toggle();
            var elem = document.getElementById('selectHour');
            elem.scrollTop = elem.scrollHeight;
          });
        }
        var elem = document.getElementById('selectHour');
        elem.scrollTop = elem.scrollHeight;
        }).always(function () {
        $('#openCalendarBtn').hide();
        $("#openOptimizerBtn").hide();
        //$('#optimizerBackBtn').show();
        $("#nextButton").show();
        $("#addButton").show();
        });
        var elem = document.getElementById('selectHour');
        elem.scrollTop = elem.scrollHeight;
        $("#addButton").attr("disabled", false);
    }

    $('#hoursOptimizer').on('show.bs.modal', function (e) {
        resultsLength = 6;
        bookings = [];

    });

    $('#hoursOptimizer').on('hide.bs.modal', function(e){
        $("#hoursDetails").empty();
        $("#pickerSelected").empty();
        $("#pickerSelected").append($("#initialPickerDate").val());
        $("#pickerSelectDate").show();
    });

    $('.optimizerDetailLink').on('click', function(e){
        e.preventDefault();
        var pos_num = $(this).attr('pos');
        $('.optimizerDetail[pos="'+pos_num+'"]').show();
    });

    /*$('#optimizerBackBtn').click(function(e){
        resultsLength = 6;
        bookings = [];
        //loadServiceModal();
        $("#hoursDetails").empty();
        $("#pickerSelectDate").show();
        $("#openOptimizerBtn").show();
        $("#openCalendarBtn").show();
        $("#optimizerBackBtn").hide();
        $("#nextButton").hide();
        $("#hoursDetails").empty();
        $("#addButton").hide();
        $("#serviceOptimizer").show();
        $('#selectHour > p').remove();
        $('#selectHour > label').remove();
        $("#hoursDetails").empty();
    });*/

    $("#openCalendarBtn").click(function(e){
        $("#bookModal").modal("hide");
    });

    $("#nextButton").click(function(){


        if ($('input[name="hoursRadio"]:checked').val()) {

            var pos = $('input[name="hoursRadio"]:checked').val();
            var booking_id = $("#bookingId").val();
            var start = bookings[pos][0].start;
            var end = bookings[pos][0].end;
            var provider_id = bookings[pos][0].provider;
            $("#optimizerFirst").hide();
            $("#hoursDetails").hide();
            $("#loader-div").show();

            $.ajax({
                url: "update_book_session",
                type: "post",
                dataType: "json",
                data: {id: booking_id, start: start, end: end, service_provider_id: provider_id},
                success: function(response)
                {
                    if(response[0].length == 0)
                    {
                        $("#bookModal").modal('hide');
                        //$('#bookModal').remove();
                        //$("#session-booking-select").trigger("change");
                        loadSessions();
                    }
                    else
                    {
                        $("#bookModal").modal('hide');
                        //$('#bookModal').remove();
                        //$("#session-booking-select").trigger("change");
                        swal({
                            title: "Error al Reservar",
                            text: response[0][0],
                            type: "error"
                        });
                        loadSessions();
                    }
                },
                error: function(xhr)
                {
                    $("#bookModal").modal('hide');
                    //$('#bookModal').remove();
                    swal("Error");
                }
            });
        }
        else {
            swal('Debe seleccionar una hora');
        };
    });


</script>
