<%= simple_form_for(@booking) do |f| %>

<%= f.input :first_name, :label => "Nombre" %><br />
<%= f.input :last_name, :label => "Apellido" %><br />
<%= f.input :email, :label => "E-mail" %><br />
<%= f.input :phone, :label => "Teléfono" %><br />
<%= f.input :notes, :label => "Notas" %><br />
<%= f.association :service_provider, :as => :collection_select, collection: ServiceProvider.where(company_id: current_user.company_id), :label => "Proveedor Servicio", :label_method => :public_name, value_method: :id %><br />
<%= f.association :service, :as => :collection_select, collection: Service.where(company_id: current_user.company_id), :label => "Servicio", :label_method => :name, value_method: :id %><br />
<%= f.association :status, :label => "Estado" %><br />

<%= f.input :start, :label => "Inicio" %><br />
<%= f.input :end, :label => "Término" %><br />


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
