<%= simple_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Inicio: <%= f.input :start, :label => false %><br />
  Término: <%= f.input :end, :label => false %><br />
  Nota: <%= f.input :notes, :label => false %><br />
  <%= f.association :service_provider, :as => :collection_select, collection: ServiceProvider.where(company_id: current_user.company_id), :label => "Proveedor Servicio", :label_method => :user, value_method: :id %><br />
  <%= f.association :service, :as => :collection_select, collection: Service.where(company_id: current_user.company_id), :label => "Servicio", :label_method => :name, value_method: :id %><br />
  <%= f.association :user, :as => :collection_select, collection: User.where(company_id: current_user.company_id), :label => "Usuario", :label_method => :email, value_method: :id %><br />
  Status: <%= f.association :status, :label => false %><br />
  Promoción: <%= f.association :promotion, :label => false %><br />
  <%= f.input :first_name, :laber => "Nombre" %><br />
  <%= f.input :last_name, :laber => "Apellido" %><br />
  <%= f.input :mail, :laber => "Email" %><br />
  <%= f.input :phone, :laber => "Teléfono" %><br />
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
