<div class="modal fade modalOverModal" id="paymentModalIntro" tabindex="-1" role="dialog" aria-labelledby="Pago" aria-hidden="true">
  <div class="modal-dialog" style="width: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="paymentModalIntroTitle" style="line-height: 1.1;">Pago</h3>
      </div>
      <div class="modal-body" id="paymentModalIntroBody">
        <div class="row">
          <div class="col-xs-12">

            <form id="fakePaymentIntroForm" action="">

              <div class="payment-form-div form-group has-feedback">
                <label for="payment_cashier" class="col-xs-3 control-label">Cobrador</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" id="payment_cashier" name="payment_cashier" value="" />
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>

              </div>

              <div class="payment-form-div form-group has-feedback">
                <label for="payment_client" class="col-xs-3 control-label">Cliente</label>
                <div class="col-xs-9">
                  <input type="hidden" id="payment_client_id" name="payment_client_id" value="" />
                  <input type="hidden" id="payment_client_first_name" name="payment_client_first_name" value="" />
                  <input type="hidden" id="payment_client_last_name" name="payment_client_last_name" value="" />
                  <input type="text" class="form-control" id="payment_client_name" name="payment_client_name" value="" />
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                  <ul id="payment_client_suggestions"></ul>
                </div>

              </div>

              <div class="payment-form-div form-group">
                <label for="payment_client_email" class="col-xs-3 control-label">Email</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" id="payment_client_email" name="payment_client_email" value="" />
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>

              </div>

            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Salir">Salir</button>
        <button type="button" class="btn payment-btn-next" aria-label="Siguiente">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modalOverModal paymentModalStep" id="paymentModal1" tabindex="-1" role="dialog" aria-labelledby="Pago" aria-hidden="true">
  <div class="modal-dialog" style="width: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="paymentModal1Title" style="line-height: 1.1;">Pago</h3>
      </div>
      <div class="modal-body" id="paymentModal1Body">

        <div class="payment-modals-bar">
          <%= image_tag 'backgrounds/payment_header_background.png', :class => 'img-responsive' %>
        </div>

        <div class="row">
          
          <div class="col-xs-2">
            <button type="button" class="btn btn-default add-item-btn" id="addServiceBtn">Servicio&nbsp;<i class="fa fa-plus"></i></button><br />
            <% if Product.where(:company_id => @company.id).count > 0 %>
              <button type="button" class="btn btn-default add-item-btn" id="addProductBtn">Producto&nbsp;<i class="fa fa-plus"></i></button>
            <% end %>
          </div>
          <div class="col-xs-10">

            <div class="row">
              
              <div class="col-xs-6">

                <div id="paymentModalBookingForm" hidden>
                	
                  <div class="mbf-title">
                    Agregar servicio
                  </div>

                  <div class="payment-form-div">
                    <label for="service" class="col-xs-3 control-label">Servicio</label>
                    <div class="col-xs-9">
                      <select class="form-control" id="payment_not_booked_service" name="payment_not_booked_service">
                        <option value=""></option>
                      </select>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <label for="provider" class="col-xs-3 control-label">Prestador</label>
                    <div class="col-xs-9">
                      <select class="form-control" id="payment_not_booked_provider" name="payment_not_booked_provider">
                          <option value=""></option>
                      </select>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <label for="price" class="col-xs-3 control-label">Precio</label>
                    <div class="col-xs-9">
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="number" id="payment_not_booked_price" name="payment_not_booked_price" value="0" />
                      </div>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <label for="discount" class="col-xs-3 control-label">Descuento</label>
                    <div class="col-xs-9">
                      <div class="input-group">
                        <input class="form-control" type="number" id="payment_not_booked_discount" name="payment_not_booked_discount" value="0" />
                        <span class="input-group-addon">%</span>
                      </div>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <div class="col-xs-9 col-xs-offset-3">
                      <button id="addNotBooked" class="btn">Agregar</button>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                </div>
              </div>

              <div class="col-xs-6">

                <div id="paymentClientPastBookings" hidden>
                  <div class="cpb-title">
                    Agrega una reserva existente
                  </div>
                  <div class="cpb-headers">
                    <div class="col-xs-4">
                      Servicio
                    </div>
                    <div class="col-xs-4">
                      Prestador
                    </div>
                    <div class="col-xs-4">
                      Fecha
                    </div>
                    <div style="clear: both;">
                    </div>
                  </div>
                  <div style="clear: both;">
                  </div>
                  <div id="cpb-bookings">
                    
                  </div>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-xs-6">

                <div id="paymentModalProductForm" hidden>

                <div class="mpf-title">
                    Agregar producto
                  </div>

                  <div class="payment-form-div">
                    <label for="service" class="col-xs-3 control-label">Producto</label>
                    <div class="col-xs-9">
                      <select class="form-control" id="payment_product" name="payment_product">
                        <option value="">
                          
                        </option>
                      </select>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <label for="payment_product_quantity" class="col-xs-3 control-label">Cantidad</label>
                    <div class="col-xs-9">
                      <input class="form-control" type="number" id="payment_product_quantity" name="payment_product_quantity" value="1" />
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <label for="payment_product_price" class="col-xs-3 control-label">Precio</label>
                    <div class="col-xs-9">
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="number" id="payment_product_price" name="payment_product_price" value="0" />
                      </div>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <label for="payment_product_discount" class="col-xs-3 control-label">Descuento</label>
                    <div class="col-xs-9">
                      <div class="input-group">
                        <input class="form-control" type="number" id="payment_product_discount" name="payment_product_discount" value="0" />
                        <span class="input-group-addon">%</span>
                      </div>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                  <div class="payment-form-div">
                    <div class="col-xs-9 col-xs-offset-3">
                      <button id="addProduct" class="btn">Agregar</button>
                    </div>
                    <div style="clear: both;"></div>
                  </div>

                </div>

              </div>
              <div class="col-xs-6">

              </div>
            </div>

            <div class="row">
              <div class="col-xs-9">
                <div id="paymentItemsList" hidden>
                  <table id="paymentItemsTable">
                    <tr class="paymentItemsHeaders">
                      <th>

                      </th>
                      <th>
                        Tipo
                      </th>
                      <th>
                        Nombre
                      </th>
                      <th>
                        Cantidad
                      </th>
                      <th>
                        Precio unitario
                      </th>
                      <th>
                        Descuento
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-xs-3">
                <div id="paymentSumDiv" hidden>
                  <table>
                    <tr>
                      <th>
                        Total
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <span id="paymentCalculatedTotal"></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default payment-btn-back" aria-label="Atrás">Atrás</button>
        <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Salir">Cancelar</button>
        <button type="button" class="btn payment-btn-next" aria-label="Siguiente">Siguiente</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modalOverModal paymentModalStep" id="paymentModal2" tabindex="-1" role="dialog" aria-labelledby="Pago" aria-hidden="true">
  <div class="modal-dialog" style="width: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="paymentModal2Title" style="line-height: 1.1;">Pago</h3>
      </div>
      <div class="modal-body" id="paymentModal2Body">

        <div class="payment-modals-bar">
          <%= image_tag 'backgrounds/payment_header_background.png', :class => 'img-responsive' %>
        </div>

        <div class="row">
          <input type="hidden" id="selected_pay_method" name="selected_pay_method" value="cash" />
          <div class="col-xs-2">
            <table class="payment-total-table">
              <tr>
                <td class="payment-total-title">
                  Total:
                </td>
                <td class="payment-total-amount">
                  <span id="payment-total-amount"></span>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-2">
            <div class="method-btn selected">
              <a href="#cash_method_details" class="method-btn-name">Efectivo</a>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="method-btn">
              <a href="#check_method_details" class="method-btn-name">Cheque</a>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="method-btn">
              <a href="#credit_card_method_details" class="method-btn-name">Tarjeta de crédito</a>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="method-btn">
              <a href="#debt_card_method_details" class="method-btn-name">Tarjeta de débito</a>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="method-btn">
              <a href="#other_method_details" class="method-btn-name">Otro</a>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-5">

            <form id="fakePaymentStep2Form" action="">

              <div class="payment-form-div">
                <label for="payment_paid_amount" class="col-xs-3 control-label">Paga con</label>
                <div class="col-xs-9">
                    <input type="number" class="form-control" id="payment_paid_amount" name="payment_paid_amount" value="" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                </div>
                <div style="clear: both;"></div>
              </div>

              <div class="payment-form-div">
                <label for="payment_cost" class="col-xs-3 control-label">A pagar</label>
                <div class="col-xs-9">
                    <input type="number" class="form-control" id="payment_cost" name="payment_cost" value="" disabled />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                </div>
                <div style="clear: both;"></div>
              </div>

              <div class="payment-form-div">
                <label for="payment_change_amount" class="col-xs-3 control-label">Vuelto</label>
                <div class="col-xs-9">
                    <input type="number" class="form-control" id="payment_change_amount" name="payment_change_amount" value="" disabled />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                </div>
                <div style="clear: both;"></div>
              </div>

            </form>

          </div>
          <div class="col-xs-5">

            <form id="fakeMethodDetailsForm" action="">

              <div id="cash_method_details" class="payment_method_details">

              </div>

              <div id="check_method_details" class="payment_method_details" hidden>
                <div class="payment-form-div">
                  <label for="payment_check_bank" class="col-xs-3 control-label">Banco</label>
                  <div class="col-xs-9">
                    <select class="form-control" id="payment_check_bank" name="payment_check_bank">
                      <% Bank.all.order(:name).each do |bank| %>
                        <option value="<%= bank.id %>"><%= bank.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div style="clear: both;"></div>
                </div>
                <div class="payment-form-div">
                  <label for="payment_check_number" class="col-xs-3 control-label">Código de autorización</label>
                  <div class="col-xs-9">
                    <input type="text" class="form-control" id="payment_check_number" name="payment_check_number" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>

              <div id="credit_card_method_details" class="payment_method_details" hidden>

                <div class="payment-form-div">
                  <label for="payment_method_type" class="col-xs-3 control-label">Tipo de tarjeta</label>
                  <div class="col-xs-9">
                    <select class="form-control" id="payment_method_type" name="payment_method_type">
                      <% PaymentMethodType.all.order(:name).each do |payment_method_type| %>
                        <option value="<%= payment_method_type.id %>"><%= payment_method_type.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div style="clear: both;"></div>
                </div>

                <div class="payment-form-div">
                  <label for="payment_credit_card_number" class="col-xs-3 control-label">Código de autorización</label>
                  <div class="col-xs-9">
                    <input type="text" class="form-control" id="payment_credit_card_number" name="payment_credit_card_number" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                  <div style="clear: both;"></div>
                </div>

                <div class="payment-form-div">
                  <label for="payment_credit_card_dues_number" class="col-xs-3 control-label">Cuotas</label>
                  <div class="col-xs-9">
                    <input type="text" class="form-control" id="payment_credit_card_dues_number" name="payment_credit_card_dues_number" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                  <div style="clear: both;"></div>
                </div>

              </div>

              <div id="debt_card_method_details" class="payment_method_details" hidden>
                <div class="payment-form-div">
                  <label for="payment_debt_card_number" class="col-xs-3 control-label">Código de autorización</label>
                  <div class="col-xs-9">
                    <input type="text" class="form-control" id="payment_debt_card_number" name="payment_debt_card_number" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>

              <div id="other_method_details" class="payment_method_details" hidden>
                <div class="payment-form-div">
                  <label for="payment_other_method_type" class="col-xs-3 control-label">Otro medio de pago</label>
                  <div class="col-xs-9">
                    <select class="form-control" id="payment_other_method_type" name="payment_other_method_type">
                      <% company.company_payment_methods.order(:name).each do |cpm| %>
                        <option value="<%= cpm.id %>"><%= cpm.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <% company.company_payment_methods.order(:name).each do |cpm| %>
                    <input type="hidden" class="payment_other_method_type_number_required" method_id="<%= cpm.id %>" value="<%= cpm.number_required %>" />
                  <% end %>
                  <div style="clear: both;"></div>
                </div>
                <div class="payment-form-div">
                  <label for="payment_other_method_number" class="col-xs-3 control-label">Código de autorización</label>
                  <div class="col-xs-9">
                    <input type="text" class="form-control" id="payment_other_method_number" name="payment_other_method_number" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>

            </form>

          </div>
          <div class="col-xs-1">

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default payment-btn-back" aria-label="Atrás">Atrás</button>
        <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Salir">Cancelar</button>
        <button type="button" class="btn payment-btn-next" aria-label="Siguiente">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modalOverModal paymentModalStep" id="paymentModal3" tabindex="-1" role="dialog" aria-labelledby="Pago" aria-hidden="true">
  <div class="modal-dialog" style="width: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="paymentModal3Title" style="line-height: 1.1;">Pago</h3>
      </div>
      <div class="modal-body" id="paymentModal3Body">

        <div class="payment-modals-bar">
          <%= image_tag 'backgrounds/payment_header_background.png', :class => 'img-responsive' %>
        </div>

        <div class="row">
          <div class="col-xs-3">
          </div>
          <div class="col-xs-6">

            <form id="fakePaymentStep3Form" action="">

              <div class="payment-form-div">
                <label for="payment_receipt_type" class="col-xs-5 control-label">Comprobante de pago</label>
                <div class="col-xs-7">
                  <select class="form-control" id="payment_receipt_type" name="payment_receipt_type">
                    <% ReceiptType.all.order(:name).each do |receipt_type| %>
                      <option value="<%= receipt_type.id %>">
                        <%= receipt_type.name %>
                      </option>
                    <% end %>
                  </select>
                </div>
                <div style="clear: both;"></div>
              </div>

              <div class="payment-form-div">
                <label for="payment_receipt_number" class="col-xs-5 control-label">Número de comprobante</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" id="payment_receipt_number" name="payment_receipt_number" />
                </div>
                <div style="clear: both;"></div>
              </div>

              <div class="payment-form-div">
                <label for="payment_receipt_date" class="col-xs-5 control-label">Fecha de pago</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" id="payment_receipt_date" name="payment_receipt_date" value="<%= DateTime.now.to_date %>" />
                </div>
                <div style="clear: both;"></div>
              </div>

              <div class="payment-form-div">
                <label for="payment_receipt_notes" class="col-xs-5 control-label">Comentario</label>
                <div class="col-xs-7">
                  <textarea class="form-control" id="payment_receipt_notes" name="payment_receipt_notes"></textarea>
                </div>
                <div style="clear: both;"></div>
              </div>

            </form>

          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default payment-btn-back" aria-label="Atrás">Atrás</button>
        <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Cancelar">Cancelar</button>
        <button type="button" class="btn btn-default payment-btn-send" id="paymentBtnPrint" aria-label="Imprimir">Imprimir</button>
        <button type="button" class="btn btn-default payment-btn-send" id="paymentBtnSendEmail" aria-label="Enviar por email">Enviar por email</button>
        <button type="button" class="btn payment-btn-next" id="paymentBtnSave" aria-label="Guardar">Guardar</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="paymentPastBookingsArray" value="" />
<input type="hidden" id="paymentNewBookingsArray" value="" />
<input type="hidden" id="paymentProductsArray" value="" />