
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title" id="optimizerTitle" style="line-height: 1.1;">Reservar</h3>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row staff">
              <div class="col-md-3 step2-left-col" style="max-height: 346px; overflow-y: hidden;<%= 'display:none;' if @booking.location.company.company_setting.provider_preference == 2 %>">
                <div class="staff-wrapper">
                  <span class="subtitulos-workflow">Elige Staff<br /> y Horario &nbsp;</span><span><i class="fa fa-clock-o gray-icon"></i>&nbsp;<i class="fa fa-user gray-icon"></i></span>
                  <div class="sub-workflow dark-gray">Selecciona un staff para ver su horario</div>
                    <div class="panel panel-default light-gray">
                      <ul class="list-group" id="staff-selector">
                      </ul>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
                <div style="clear: both;">
                </div>
              </div>
              <div class="col-md-<%= @booking.location.company.company_setting.provider_preference == 2 ? '12' : '9' %>" id="staff-calendar">
                <div class="panel panel-info <%= 'full-margin' if @booking.location.company.company_setting.provider_preference == 2 %>">
                  <div class="calendar-head">
                    <div class="panel-title">
                      <div class="row">
                        <div class="col-xs-1">
                          <button type="button" class="btn btn-default" id="prev"><i class="fa fa-chevron-left"></i></button>
                        </div>
                        <div class="col-xs-8">
                          <span class="tittle"></span>
                        </div>
                        <div class="col-xs-2">
                          <span class="date-span" id="openCalendarDatepicker">
                            Ir a fecha&nbsp;<i class="fa fa-calendar-o"></i>
                            <input type="text" id="calendar-datepicker" name="date" />
                          </span>
                        </div>
                        <div class="col-xs-1">
                          <button type="button" class="btn btn-default pull-right" id="next"><i class="fa fa-chevron-right"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="days-row">
                  </div>
                  <div class="panel-body">
                    <div class="horario">
                      <!-- <%= image_tag "ajax-loader.gif", :alt => "Loader", :id => "calendar-loader" %> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row change-bar">
              <div class="col-xs-12 col-md-5 col-md-push-3">
                <p class="p-label"><span class="wf-label label-available">&nbsp;</span> Disponible<span class="wf-label label-past">&nbsp;</span> No Disponible<span class="wf-label label-unavailable">&nbsp;</span> Ocupado</p>
              </div>
            </div>
            <div class="row" id="loader-div" hidden>
              <p style="text-align: center; margin-top: 40px;">
                <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn session-btn btn-orange" id="calendarBackBtn" disabled><i class="fa fa-chevron-left"></i>&nbsp;Atrás</button>-->
            <button type="button" class="btn session-btn btn-green" id="calendarBookSessionBtn" disabled>Reservar&nbsp;<i class="fa fa-chevron-right"></i></button>
            <a href="#" class="btn btn-white" data-dismiss="modal">Cerrar</a>
        </div>


<input type="hidden" id="session_booking_id" value="<%= @booking.session_booking.id %>" />
<input type="hidden" id="booking_id" value="<%= @booking.id %>" />
<input type="hidden" id="service_id" value="<%= @booking.service_id %>" />
<input type="hidden" id="selectedLocal" value="<%= @booking.location_id %>" />
<input type="hidden" id="selectedProvider" value="<%= @selectedProvider %>" />
<input type="hidden" id="start_date" value="-1" />
<input type="hidden" id="end_date" value="-1" />
<input type="hidden" id="hourProvider" value="-1" />

<%= content_tag "div", id: "providerPreference", data: {provider_preference: @booking.location.company.company_setting.provider_preference } do %>
<% end %>

<script type="text/javascript">

var calendar;
var staffSelected;
var hoursSelected = false;

  $("#calendar-datepicker").datepicker({
      autoSize: true,
      firstDay: 1,
      changeMonth: true,
      changeYear: true,
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      prevText: 'Atrás',
      nextText: 'Adelante',
      dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
      dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
      today: 'Hoy',
      clear: '',
      dateFormat: 'yy-mm-dd',
      onSelect: function(newDate){

        var data;
        var selects = [];
        selects.push({
          service: $("#service_id").val(),
          provider: $("#selectedProvider").val()
        });

        data = {
          serviceStaff: JSON.stringify(selects),
          local: $('#selectedLocal').val(),
          date: newDate,
          session_booking_id: $("#session_booking_id").val()
        }

        if (calendar) {
          calendar.rebuild('/promotion_hours', data);
        }
        else {
          calendar = new Calendar('/promotion_hours', data);
        }

        $(document).on('hourClick', function (e) {
          console.log("click en hora");
          var sel_start = generateDate(e.date, e.start);
          var sel_end = generateDate(e.date, e.end);
          $("#start_date").val(sel_start);
          $("#end_date").val(sel_end);
          $("#hourProvider").val(e.provider);
          hoursSelected = true;
        });

        $(function () {
          $('.prev-btn').click(function () {
            selected = false;
          });
          $('.next-btn').click(function () {
            selected = false;
          });
        });
      }
  });

  $("#openCalendarDatepicker").click(function(){
    $("#calendar-datepicker").datepicker("show");
  });

function loadCalendar () {



  /*$('#calendarBackBtn').click(function(e){
      var booking_id = $("#booking_id").val();
      $("#calendarModal").modal('hide');
      $('.session-btn-book[href="book_session_form?id=' + booking_id + '"]').trigger("click");
  });*/


  if($("#service_id").val() != ""){
    $('#staff-selector-spinner').show();
    $('#staff-selector > .list-group-item').hide();
    $('.horario').hide();
    selected = false;
    var serviceId = $("#service_id").val();

    $.getJSON('/providers_services', {id: serviceId, local: $('#selectedLocal').val()}, function (providers) {
      $('#staff-selector').empty();
      $('#staff-selector').append(
        '<li id="staff-selector-spinner" class="text-center" style="color: #ccc; display: none;"><i class="fa fa-spinner fa-spin fa-lg"></i></li>'
      );

      if ($('#providerPreference').data('provider-preference') != 1) {
        if (providers.length > 1 || $('#providerPreference').data('provider-preference') == 2) {
          $('#staff-selector').append(
            '<li class="list-group-item">' +
              '<div class="radio">' +
                '<label>' +
                  '<input type="radio" name="staffRadio" value="0">' +
                  '<p>Sin Preferencia</p>' +
                '</label>' +
              '</div>' +
            '</li>'
          );
        }
      }
      if ($('#providerPreference').data('provider-preference') != 2) {
        $.each(providers, function (key, provider) {
          $('#staff-selector').append(
            '<li class="list-group-item">' +
              '<div class="radio">' +
                '<label>' +
                  '<input type="radio" name="staffRadio" value="' + provider.id + '">' +
                  '<p>' + provider.public_name + '</p>' +
                '</label>' +
              '</div>' +
            '</li>'
          );
        });
      }


      $('[name="staffRadio"]').on('click', function(event) {

        $('.horario').show();
        
        // if (event.target.getAttribute('value') == 0) {
        //  $('#provider_lock').val(false);
        // }
        // else {
        //  $('#provider_lock').val(true);
        // }
        if ($(this).val() != staffSelected) {

          var data;
          var selects = [];
          selects.push({
            service: $("#service_id").val(),
            provider: event.target.getAttribute('value')
          });
          if($("#datepicker").val()!="") {
            data = {
              serviceStaff: JSON.stringify(selects),
              local: $('#selectedLocal').val(),
              date: $("#datepicker").val(),
              session_booking_id: $("#session_booking_id").val()
            }
          } else {
            data = {
              serviceStaff: JSON.stringify(selects),
              local: $('#selectedLocal').val(),
              session_booking_id: $("#session_booking_id").val()
            }
          }

          staffSelected = $(this).val();
          if (calendar) {
            calendar.rebuild('/promotion_hours', data);
          }
          else {
            calendar = new Calendar('/promotion_hours', data);
          }

          // $("#calendar-loader").hide();

        }

        $(document).on('hourClick', function (e) {
          console.log("click en hora");
          var sel_start = generateDate(e.date, e.start);
          var sel_end = generateDate(e.date, e.end);
          $("#start_date").val(sel_start);
          $("#end_date").val(sel_end);
          $("#hourProvider").val(e.provider);
          hoursSelected = true;
        });

        $(function () {
          $('.prev-btn').click(function () {
            selected = false;
          });
          $('.next-bn').click(function () {
            selected = false;
          });
        });
      });

      var radios = $('input[name=staffRadio]');
      radios.on('change', function() {
        $('#staff-selector-spinner').show();
        $('#staff-selector > .list-group-item').hide();
        radios.each(function() {
          var radio = $(this);
          radio.closest('.list-group-item')[radio.is(':checked') ? 'addClass' : 'removeClass']('selected-wf-option');
        });
      });


      if ($('#providerPreference').data('provider-preference') != 1) {
        $('[name="staffRadio"]').first().prop("checked", true);
        $('[name="staffRadio"]').first().closest('.list-group-item').addClass('selected-wf-option');
        $('.horario').show();
        // $('#provider_lock').val(false);

        staffSelected = $('[name="staffRadio"]').first().val();

        var data;
        var selects = [];
        selects.push({
          service: $("#service_id").val(),
          provider: $('[name="staffRadio"]').first().val()
        });
        if($("#datepicker").val()!="") {
          data = {
            serviceStaff: JSON.stringify(selects),
            local: $('#selectedLocal').val(),
            date: $("#datepicker").val(),
            session_booking_id: $("#session_booking_id").val()
          }
        } else {
          data = {
            serviceStaff: JSON.stringify(selects),
            local: $('#selectedLocal').val(),
            session_booking_id: $("#session_booking_id").val()
          }
        }

        if (calendar) {
          calendar.rebuild('/promotion_hours', data);
        }
        else {
          calendar = new Calendar('/promotion_hours', data);
        }

        $('#foo4').trigger('updateSizes');

        $(document).on('hourClick', function (e) {
          console.log("click en hora");
          var sel_start = generateDate(e.date, e.start);
          var sel_end = generateDate(e.date, e.end);
          $("#start_date").val(sel_start);
          $("#end_date").val(sel_end);
          $("#hourProvider").val(e.provider);
          hoursSelected = true;
        });

        $(function () {
          $('.prev-btn').click(function () {
            selected = false;
          });
          $('.next-btn').click(function () {
            selected = false;
          });
        });
      }

      if($("#selectedProvider").val() != "0")
      {
        $('input[name=staffRadio][value=' + $("#selectedProvider").val() + ']').trigger("click");
      }

    });

  }
  
}

function generateDate(date, time) {
  var year = date.substring(0, date.indexOf('-'));
  var month = date.substring(date.indexOf('-') + 1, date.lastIndexOf('-'));
  var day = date.substring(date.lastIndexOf('-') + 1);

  time += ':00';

  return year + '-' + month + '-' + day + ' ' + time;
}

function checkUserCrossBookings (b_start, b_end) {
  $(".alert").alert('close');
  var user = $('#user_id').val();
  var booking_start = b_start;
  var booking_end = b_end;
  $.getJSON('/check_user_cross_bookings', {user_id: user, booking_start: booking_start, booking_end: booking_end}, function (result) {
    if (result.crossover) {
      $('#warning').empty();
      var warning = '<div class="alert alert-warning alert-dismissable fade in" style="margin-bottom: 0px;">' +
        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
        '<strong>¡Advertencia!</strong> Tienes agendado <em>' + result.booking.service + '</em> con <em>' + result.booking.service_provider + '</em> el <em>' + formattedTime(result.booking.start) + '</em>.' +
      '</div>';
      $('#warning').append(warning);
    };
  });
}

$("#calendarBookSessionBtn").click(function(){

    if (hoursSelected) {

        var booking_id = $("#booking_id").val();
        var start = $("#start_date").val();
        var end = $("#end_date").val();
        var provider_id = $('#hourProvider').val();
        $("#loader-div").show();
        $(".staff").hide();
        $(".change-bar").hide();
        $("#nextButton").attr("disabled", "disabled");

        $.ajax({
            url: "update_book_session",
            type: "post",
            dataType: "json",
            data: {id: booking_id, start: start, end: end, service_provider_id: provider_id},
            success: function(response)
            {
                if(response[0].length == 0)
                {
                    $("#calendarModal").modal('hide');
                    //$('#calendarModal').remove();
                    //$("#session-booking-select").trigger("change");
                    loadSessions();
                }
                else
                {
                    $("#calendarModal").modal('hide');
                    //$('#calendarModal').remove();
                    //$("#session-booking-select").trigger("change");
                    myAlert.showAlert(
                      '<h3>Error al reservar</h3>' +
                      '<p>' + response[0][0] + '</p>'
                    );
                    loadSessions();
                }
            },
            error: function(xhr)
            {
                $("#calendarModal").modal('hide');
                //$('#calendarModal').remove();
                alert("Error");
            }
        });
    }
    else {
        alert('Debes seleccionar una hora');
    }
});

var myAlert;

$(document).ready(function(){

  loadCalendar();
  myAlert = new Alert();
  $(".session-btn").attr("disabled", false);
  $('#next').removeAttr('disabled');
  $('#prev').removeAttr('disabled');

});

$("#calendarModal").on('shown.bs.modal', function(){
  loadCalendar();
  myAlert = new Alert();
  $(".session-btn").attr("disabled", false);
  $('#next').removeAttr('disabled');
  $('#prev').removeAttr('disabled');
});

</script>