<div class="main">
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<h3>Lo sentimos</h3>
				<% if @booking.max_changes <= 0 %>
				<p>
					La empresa <strong><%= @company.name %></strong> sólo permite modificar la reserva hasta <strong><%= @company.company_setting.max_changes %></strong> veces.
				</p>
				<% else %>
				<p>
					<% if @reason == "company" %>
						La empresa <strong><%= @company.name %></strong> sólo permite modificar reservas hasta <strong><%= @company.company_setting.before_edit_booking %></strong> horas antes.
					<% else %>
						<% if !@company.company_setting.online_cancelation_policy.modifiable %>
							La empresa <strong><%= @company.name %></strong> no permite modificar reservas pagadas en línea.
						<% else %>
							No cumple con la política de modificación de la empresa <strong><%= @company.name %></strong> para reservas pagas en línea:
							<br />
								Tiempo máximo de modificación desde la fecha en que se efectuó la reserva: <%= @company.company_setting.online_cancelation_policy.modification_max.to_s %> <%= TimeUnit.find(@company.company_setting.online_cancelation_policy.modification_unit).unit.to_s %>
							<br />
								Mínimo de horas antes de la reserva: <%= @company.company_setting.online_cancelation_policy.min_hours.to_s %>
						<% end %>
					<% end %>
				</p>
				<% end %>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<hr>
						<h4>Resumen de tu Reserva</h4>
						<dl class="dl-horizontal">
							<dt>¿Qué reservaste?</dt>
							<dd><%= @booking.service.name %></dd>
							<dt>¿Dónde?</dt>
							<dd><%= @booking.location.name %></dd>
							<dt>¿Con quién?</dt>
							<dd><%= @booking.service_provider.public_name %></dd>
							<dt>¿Cuándo?</dt>
							<dd><%= l @booking.start %></dd>
							<% if !@booking.notes.empty? %>
							<dt>Notas</dt>
							<dd><%= @booking.notes %></dd>
							<% end %>
						</dl>
						<hr>
						<h4>Tus Datos</h4>
						<dl class="dl-horizontal">
							<dt>Nombre</dt>
							<dd><%= @booking.client.first_name %> <%= @booking.client.last_name %></dd>
							<% if !@booking.client.email.blank? %>
							<dt>E-mail</dt>
							<dd><%= @booking.client.email %></dd>
							<% end %>
							<% if !@booking.client.phone.blank? %>
							<dt>Teléfono</dt>
							<dd><%= @booking.client.phone %></dd>
							<% end %>
						</dl>
					</div>
				</div>
			</div>
        </div>
    </section>
</div>