<div class="main">
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<h3>Lo sentimos</h3>
				<p>
					La empresa <strong><%= @company.name %></strong> no permite editar reservas <strong><%= @company.company_setting.before_edit_booking %></strong> horas antes.
				</p>
				<hr>
				<h4>Detalles de la Reserva</h4>
				<dl class="dl-horizontal">
					<dt>Local</dt>
					<dd><%= @booking.location.name %></dd>
					<dt>Servicio</dt>
					<dd><%= @booking.service.name %></dd>
					<dt>Nombre</dt>
					<dd><%= @booking.client.first_name %></dd>
					<dt>Apellido</dt>
					<dd><%= @booking.client.last_name %></dd>
					<dt>Email</dt>
					<dd><%= @booking.client.email %></dd>
					<dt>Teléfono</dt>
					<dd><%= @booking.client.phone %></dd>
					<dt>Fecha</dt>
					<dd><%= l @booking.start %></dd>
					<% if !@booking.notes.empty? %>
					<dt>Notas</dt>
					<dd><%= @booking.notes %></dd>
					<% end %>
				</dl>
			</div>
        </div>
    </section>
</div>