<div class="main">
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<h3>Lo sentimos</h3>
				<p>
					<% if @reason == "company" %>
						La empresa <strong><%= @company.name %></strong> sólo permite cancelar reservas hasta <strong><%= @company.company_setting.before_edit_booking %></strong> horas antes.
					<% elsif @reason =="only_booking" %>
						No se puede cancelar un servicio que fue pagado en conjunto con otros servicios.
						<% if !@company.company_setting.online_cancelation_policy.cancelable %>
							<br />Además, la empresa <strong><%= @company.name %></strong> no permite cancelar reservas pagadas en línea.
						<% else %>
							<br />Puedes cancelar el conjunto completo de reservas apretando "Cancelar todos los servicios" en el correo de resumen.
						<% end %>
					<% elsif @reason == "promo" %>
						No se permite modificar horas reservadas en promoción.
					<% else %>
						<% if !@company.company_setting.online_cancelation_policy.cancelable %>
							La empresa <strong><%= @company.name %></strong> no permite cancelar reservas pagadas en línea.
						<% else %>
							No cumple con la política de cancelación de la empresa <strong><%= @company.name %></strong> para reservas pagas en línea:
							<br />
								Tiempo máximo de cancelación desde la fecha en que se efectuó la reserva: <%= @company.company_setting.online_cancelation_policy.cancel_max.to_s %> <%= TimeUnit.find(@company.company_setting.online_cancelation_policy.cancel_unit).unit.to_s %>
							<br />
								Mínimo de horas antes de la reserva: <%= @company.company_setting.online_cancelation_policy.min_hours.to_s %>
						<% end %>
					<% end %>
				</p>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<hr>
						<h4>Resumen de tu Reserva</h4>
						<dl class="dl-horizontal">
							<dt>¿Qué reservaste?</dt>
							<dd><%= @booking.service.name %></dd>
							<dt>¿Dónde?</dt>
							<dd><%= @booking.location.name %></dd>
							<dt>¿Con quién?</dt>
							<dd><%= @booking.service_provider.public_name %></dd>
							<dt>¿Cuándo?</dt>
							<dd><%= l @booking.start %></dd>
							<% if !@booking.notes.blank? %>
							<dt>Notas</dt>
							<dd><%= @booking.notes %></dd>
							<% end %>
						</dl>
						<hr>
						<h4>Tus Datos</h4>
						<dl class="dl-horizontal">
							<dt>Nombre</dt>
							<dd><%= @booking.client.first_name %> <%= @booking.client.last_name %></dd>
							<% if !@booking.client.email.blank? %>
							<dt>E-mail</dt>
							<dd><%= @booking.client.email %></dd>
							<% end %>
							<% if !@booking.client.phone.blank? %>
							<dt>Teléfono</dt>
							<dd><%= @booking.client.phone %></dd>
							<% end %>
						</dl>
					</div>
				</div>
			</div>
        </div>
    </section>
</div>