<style type="text/css">

.submitBtn{
  border: 1px solid #22c488;
  text-align: center;
  width: 160px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #22c488;
  color: #fff;
  float: left;
  border-radius: 6px;
}

.submitBtn:hover{
  background-color: #1ba970;
  color: #eee;
}

.rebookBtn{
  position: relative;
  border: 1px solid #f1972d;
  text-align: center;
  width: 160px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #f1972d;
  color: #fff;
  float: left;
  border-radius: 6px;
}

.rebookBtn:hover{
  background-color: #e0861c;
  color: #eee;
}

.rebookBtn a{
  color: #fff;
  text-decoration: none;
}

.rebookBtn a:hover{
  color: #fff;
  text-decoration: none;
}

.cancelBtn{
  
  border: 1px solid #EB2929;
  text-align: center;
  width: 160px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #EB2929;
  color: #fff;
  float: left;
  border-radius: 6px;
}

.cancelBtn:hover{
  background-color: #DA1818;
  color: #eee;
}
</style>

<div class="workflow-header">
  <div class="container">
    <div class="row">
      <% if !@company.description.blank? %>
        <div class="col-md-6 company-header-left company-header">
          <div class="col-md-3">
            <% if @company.logo_url %>
              <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name, :class => "company-logo img-responsive" %>
            <% else %>
              <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', :size => "80x80", :class => "company-logo img-responsive" %>
            <% end %>
          </div>
          <div class="col-md-9" style="color: #949292; font-size: 30px; padding-top: 20px;">
            <%= @company.name %>
          </div>
        </div>
        <div class="col-md-4 company-header-center company-header">
          <div class="header-description">
            <%= @company.description %>
          </div>
        </div>
        <div class="col-md-2 company-header-right company-header">
          <% if @location %>
            <div id="phone-info">
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number">
                <%= @location.phone %>
              </span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address">
                <%= if !@location.outcall then @location.address+', '+@location.district.name else "A Domicilio" end %>
              </span>
            </div>
          <% else %>
            <div id="phone-info" hidden>
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number"></span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address"></span>
            </div>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% else %>
        <div class="col-md-6 company-header-left company-header" style="border-right: 1px solid #949292;">
          <div class="col-md-3">
            <% if @company.logo_url %>
              <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name, :class => "company-logo img-responsive" %>
            <% else %>
              <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', :size => "80x80", :class => "company-logo img-responsive" %>
            <% end %>
          </div>
          <div class="col-md-9" style="color: #949292; font-size: 30px; padding-top: 20px;">
            <%= @company.name %>
          </div>
        </div>
        <div class="col-md-6 company-header-center2 company-header">
          <% if @location %>
            <div id="phone-info">
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number">
                <%= @location.phone %>
              </span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address">
                <%= if !@location.outcall then @location.address+', '+@location.district.name else "A Domicilio" end %>
              </span>
            </div>
          <% else %>
            <div id="phone-info" hidden>
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number"></span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address"></span>
            </div>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main">
  <section class="pricing_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="resumen-book">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                <!--<div class="book-title"></div>-->

                <h3> <%= @client.first_name %>, no fue posible guardar todos los servicios. </h3>
                              
                <% if @payment == "book" %>
                  <p> A continuación te presentamos el resumen y las opciones de reserva. </p>
                  <div class="row">
                    <div class="col-md-4">
                      <% if @bookings.count > 0 %>
                        <%= form_tag(:controller => "bookings", :action => "book_service", :method => "post") do %>

                          <input type="hidden" name="location" value="<%= @bookings.first.location_id %>" />
                          <input type="hidden" name="origin" value="<%= @bookings.first.web_origin %>" />
                          <input type="hidden" name="client_id" value="<%= @bookings.first.client_id %>" />
                          <input type="hidden" name="comment" value="<%= @bookings.first.notes %>" />
                          <input type="hidden" name="email" value="<%= @client.email %>" />
                          <input type="hidden" name="firstName" value="<%= @client.first_name %>" />
                          <input type="hidden" name="lastName" value="<%= @client.last_name %>" />
                          <input type="hidden" name="phone" value="<%= @client.phone %>" />

                          <% if @bookings.first.client.address.nil? %>
                            <input type="hidden" name="address" value="" />
                          <% else %>
                            <input type="hidden" name="address" value="<%= @bookings.first.client.address %>" />
                          <% end %>

                          <% 
                            hash_array = Array.new

                            @bookings.each do |booking|

                              book_array = {:start => booking.start, :end => booking.end, :provider => booking.service_provider_id, :service => booking.service_id, :provider_lock => booking.provider_lock, :max_changes => booking.max_changes}

                              hash_array << book_array

                            end

                            json_array = JSON.generate(hash_array)
                          %>

                          <input type="hidden" name="bookings" value="<%= json_array %>" />

                          <input type="hidden" name="payment" value="0" />
                          
                          <button type="submit" data-loading-text="Cargando..." class="submitBtn">Mantener correctas</button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" data-loading-text="Cargando..." class="rebookBtn"><a href="<%= root_url(:host => @url) %>">Reagendar</a></button>
                    </div>
                    <div class="col-md-4">
                    <% if @bookings.count > 0 %>
                      <%= link_to '<button type="submit" data-loading-text="Cargando..." class="cancelBtn">Cancelar</button>'.html_safe, controller: 'bookings', action: 'transfer_error_cancel', company_id: @bookings.first.location.company.id %>
                    <% else %>
                      <%= link_to '<button type="submit" data-loading-text="Cargando..." class="cancelBtn">Cancelar</button>'.html_safe, controller: 'bookings', action: 'transfer_error_cancel', company_id: @blocked_bookings.first.location.company.id %>
                    <% end %>
                    </div>
                  </div>
                  <p style="margin-bottom: 20px;">
                  </p>
                  <% if @bookings.count > 0 %>
                    <div class="book-subheader dark-gray">Servicios correctamente reservados</div>
                    <dl class="dl-horizontal book-dl">
                      <dt class="dark-gray">Servicios</dt>
                      <dd class="light-gray">
                        <% @bookings.each do |booking| %>
                          <p><%= booking.service.name %></p>
                        <% end %>
                      </dd>
                      <dt class="dark-gray">Lugar</dt>
                      <dd class="light-gray"><%= @location.address %>, <%= @location.district.name %></dd>
                      <dt class="dark-gray">Prestadores</dt>
                      <dd class="light-gray">
                        <% @bookings.each do |booking| %>
                          <p><%= booking.service_provider.public_name %></p>
                        <% end %>
                      </dd>
                      <dt class="dark-gray">Horarios</dt>
                      <dd class="light-gray">
                        <% @bookings.each do |booking| %>
                          <p><%= I18n.l(booking.start.to_datetime) %></p>
                        <% end %>
                      </dd>
                      <% if !@bookings[0].notes.empty? %>
                      <dt class="dark-gray">Notas</dt>
                      <dd class="light-gray"><%= @bookings[0].notes %></dd>
                      <% end %>
                    </dl>
                  <% end %>

                  <div class="book-subheader dark-gray">Servicios que no pudieron ser reservados</div>
                  <dl class="dl-horizontal book-dl">

                    <dt class="dark-gray">Servicios</dt>
                    <dd class="light-gray">
                      <% @blocked_bookings.each do |blocked| %>
                        <p><%= blocked.service.name %></p>
                      <% end %>
                    </dd>

                    <dt class="dark-gray">Lugar</dt>
                    <dd class="light-gray">
                      <%= @location.address %>, <%= @location.district.name %>
                    </dd>

                    <dt class="dark-gray">Prestadores</dt>
                    <dd class="light-gray">
                      <% @blocked_bookings.each do |blocked| %>
                        <p><%= blocked.service_provider.public_name %></p>
                      <% end %>
                    </dd>

                    <dt class="dark-gray">Horarios</dt>
                    <dd class="light-gray">
                      <% @blocked_bookings.each do |blocked| %>
                        <p><%= I18n.l(blocked.start.to_datetime) %></p>
                      <% end %>
                    </dd>

                  </dl>

                  <div class="book-subheader dark-gray">Tus Datos</div>
                  <dl class="dl-horizontal book-dl">
                    <dt class="dark-gray">Nombre</dt>
                    <dd class="light-gray"><%= @client.first_name %> <%= @client.last_name %></dd>
                    <% if !@client.email.empty? %>
                    <dt class="dark-gray">E-mail</dt>
                    <dd class="light-gray"><%= @client.email %></dd>
                    <% end %>
                    <% if !@client.phone.empty? %>
                    <dt class="dark-gray">Teléfono</dt>
                    <dd class="light-gray"><%= @client.phone %></dd>
                    <% end %>
                  </dl>

                <% else %>

                  <p>
                    Lo sentimos, no fue posible agendar los servicios.<br>
                    Si deseas agendar nuevamente haz click <a href="<%= root_url(:host => @url) %>">aquí.</a>
                  </p>
                  <div id="error">
                    <div class="book-title">Errores</div>
                    <ul class="list-unstyled">
                      <% @errors.each do |msg| %>
                      <li class="light-gray"><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>

                <% end %>
                  

                <div>
                  <%= image_tag("logos/logo2.png", :class=> "bottom-logo") %>
                </div>


              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag("backgrounds/cross.png", :class => "book-center-error") %>
          <% if @payment == "book" %>
            <div id="error">
              <div class="book-title">Errores</div>
              <ul class="list-unstyled">
                <% @errors.each do |msg| %>
                <li class="light-gray"><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>        
      </div>
    </div>
  </section>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
  $(function() {
    $('#accept').on('click', function () {
      $('#accept, #error, #cancel').remove();
      var src = $('img.book-center-error').attr('src');
      src = src.replace('cross', 'icono_reserva2');
      $('img.book-center-error').attr('src', src);
      $('.book-title').html('<%= @client.first_name %>, tu reserva fue realizada con exito');
    });
  });
</script>
<% end %>
