<%= stylesheet_link_tag "workflow/workflow-style.css" %>

<div class="row" id="navegacion-workflow">
  <div class="col-md-12">
  <div class="container">
   <i class="fa fa-clock-o gray-icon"></i>&nbsp;Elegir la nueva hora
   </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <div clas="row" id="espacio-workflow">
      <div class="col-md-12" id="staff-calendar">
        
          <div class="panel panel-info">
            <div class="calendar-head">
              <div class="panel-title">
                <div class="row">
                  <div class="col-md-1">
                    <button type="button" class="btn btn-default" id="prev"><i class="fa fa-chevron-left"></i></button>
                  </div>
                  <div class="col-md-8">
                    <span class="tittle"></span>
                    
                  </div>
                  <div class="col-md-2">
                    <span class="date-span">
                      Ir a fecha
                      <input type="text" id="datepicker" name="date" />
                    </span>
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-default pull-right" id="next"><i class="fa fa-chevron-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body" style="max-height: 350px; overflow-y: auto;">
              <div class="horario"></div>
            </div>
            
          </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= form_tag("/edited_booking", method: "post", role: "form", class: "form-horizontal", id: "edit_form" ) do %>
          <input type="hidden" name="id" id="id" value="<%= @booking.id %>">
          <input type="hidden" name="start" id="start" value="">
          <input type="hidden" name="end" id="end" value="">

          <button type="submit" class="submitBtn">Modificar Hora</button>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "booking", data: {booking: @booking} do %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "jquery-ui-1.10.4.min.js" %>
  <%= javascript_include_tag 'workflow/booking-edit' %>
  <script type="text/javascript">

    $(function() {

      $("#datepicker").datepicker({
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            prevText: 'Atrás',
            nextText: 'Adelante',
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'vie', 'Sáb'],
            dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'vie', 'Sáb'],
            today: 'Hoy',
            clear: '',
            firstDay: 1,
            dateFormat: 'yy-mm-dd',
            onSelect: function(newDate){
              
              var data = {
                date: newDate,
                provider: $('#booking').data('booking').service_provider_id,
                local: $('#booking').data('booking').location_id,
                service: $('#booking').data('booking').service_id
              }

              console.log(data);

              calendar.rebuild('/get_available_time.json', data);
              console.log("Rebuild calendar.");
              
              
              $(document).on('hourClick', function (e) {
                addBooking(e);
              });
              

              $(function () {
                $('#prev').click(function () {
                  selected = false;
                });
                $('#next').click(function () {
                  selected = false;
                });
              });

            }
        });

        $(document.body).on('click', '.date-span', function(e) { 
          $(e.currentTarget).find('input').datepicker('show');
        });

      });
  </script>
<% end %>
