<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3">
          <label class="control-label label-calendar">Elige Local:</label>
        </div>
        <div class="col-sm-9">
          <select class="form-control" id="locals-selector" name="localSelector">
            <% @locations.each do |location| %>
              <option value="<%= location.id %>" data-minhour="<%= location.location_times.order(:open).first.open.strftime('%H:%M') %>" data-maxhour="<%= location.location_times.order(:close).last.close.strftime('%H:%M') %>" data-closed-days="<%= location.closed_days_zero_index %>"><%= location.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3">
          <label class="control-label label-calendar">Elige Prestador:</label>
        </div>
        <div class="col-sm-9">
          <div id="providers-div">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "calendar-data", data: { calendar_duration: @company_setting.calendar_duration, extended_schedule: @company_setting.extended_schedule_bool, extended_min_hour: @company_setting.extended_min_hour.strftime('%H:%M'), extended_max_hour: @company_setting.extended_max_hour.strftime('%H:%M'), booking_history: @company_setting.booking_history, staff_code: @company_setting.staff_code, deal_identification_number: @company_setting.deal_identification_number, deal_required: @company_setting.deal_required, preset_notes: @company_setting.preset_notes } do %>
<% end %>

<%= content_tag "div", id: "products_data", data: { products: Product.where(company_id: current_user.company_id).to_json } do %>
<% end %>

<%= content_tag "div", id: "groups_data", data: { provider_groups: @provider_groups } do %>
<% end %>

<% content_for :calendar do %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
        <div id="dp"></div>
        <input type="hidden" id="set-date" />
        <button type="button" id="set-date-button" class="btn btn-green btn-block set-date-btn">Ir a fecha..</button>
      </div>
      <div class="col-xs-10">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
<% end %>

<%= content_tag "div", id: "calendar-duration", data: { calendar_duration: Company.find(current_user.company_id).company_setting.calendar_duration } do %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "fixed_bookings" %>
	<%= javascript_include_tag "jquery-ui.min.js" %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "fullcalendar_css" %>
  <%= stylesheet_link_tag "admin/admin-calendar" %>
<% end %>
