<h1>Calendario AgendaPro</h1>
<div class="col-md-12">
<div class="row">
  <div  id="locals-selector" class="radio">
    <% @locations.each do |local| %>
      <label id="<%= local.id %>" >
        <input type="radio" name="localRadio" id="localOption<%= local.id %>" onchange="loadProviders()" value="<%= local.id %>" <%= 'checked' if ((!@selectedLocal) && (local.id == @locations.first.id)) || (@selectedLocal.to_i == local.id) %>>
        <p><%= local.name %></p>
      </label>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="providers-selector" class="radio">
    <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
  </div>
</div>
<div class="row">
  <input type="hidden" id="dp" class="pull-right"/>
  <div id="add_booking">
    <%= link_to '<i class="fa fa-calendar"></i>  Agregar Reserva'.html_safe, '#', :class => "btn btn-primary btn-md createBooking pull-right" %>
  </div>
</div>
<div class="row">
<div id='calendar'></div>
</div>
</div>
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title booking-modal-title" id="bookingModalLabel"></h4>
      </div>
      <div class="modal-body booking-modal-body">
        <%= form_for @booking, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group">
          <label class="col-sm-5 control-label">Fecha: </label>
          <div class="col-sm-5">
            <input type="text" id="datePicker" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Horario de la Reserva: </label>
          <div class="col-sm-5">
            <div class="input datetime required booking_start">       
              <select class="datetime required" id="bookingStartHour" name="booking[start_hours]">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
               : <select class="datetime required" id="bookingStartMinute" name="booking[start_minutes]">
                <option value="00">00</option>
                <option value="05">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
              </select> - <span id="bookingEnd">00:00</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :service_provider, "Proveedor de Servicios: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.collection_select :service_provider_id, ServiceProvider.where(location_id: Location.where(company_id: current_user.company_id)), :id, :public_name, {}, { class: "form-control" }%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :service, "Servicio: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.collection_select :service_id, Service.where(company_id: current_user.company_id), :id, :name, {}, { class: "form-control" }%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :status, "Estado de la Reserva: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.collection_select :status_id, Status.all, :id, :name, {}, { class: "form-control" }%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :first_name, "Nombre: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Apellidos: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :phone, "Teléfono: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :notes, "Notas: ", class: "col-sm-5 control-label" %>
          <div class="col-sm-5">
            <%= f.text_area :notes, class: "form-control" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="modal-footer booking-modal-footer">
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "booking" %>
  <script>
      $(function() {
          $('[name="localRadio"]').first().parent().addClass("active")
          $('[name="localRadio"]').click(function (e) {
            $('[name="localRadio"]').parent().removeClass('active');
            e.target.parentNode.className += 'active';
          });
      });
      
      $("#dp").datepicker({
        buttonText: "Ir a Fecha",
        changeMonth: true,
        changeYear: true,
        showOn: 'both',

        onSelect: function(dateText, inst) {
            var d = new Date(dateText);
            $('#calendar').fullCalendar('gotoDate', d);
        }
      });

      $(".ui-datepicker-trigger").addClass("btn btn-primary pull-right")
  </script>
<% end %>
