<h1>Calendario AgendaPro</h1>

<div class="row">
  <div  class="radio">
    <label>
      <% @locations.each do |local| %>
        <input type="radio" name="localRadio" id="localOption<%= local.id %>" onchange="loadProviders()" value="<%= local.id %>" <%= "checked" if ((!@selectedLocal) && (local.id == @locations.first.id)) || (@selectedLocal.to_i == local.id) %>>
        <p><%= local.name %></p>
      <% end %>
    </label>
  </div>
</div>

<div class="row">
  <div id="providers-selector" class="radio">
    <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
  </div>
</div>
<div class="row">
  <div id="add_booking">
    <%= link_to '<i class="fa fa-calendar"></i>  Agregar Reserva'.html_safe, new_booking_path, :method => :get, :class => "btn btn-primary btn-md" %>
  </div>
</div>
<div class="row">
<div id='calendar'></div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "booking" %>
<% end %>