<h1>Calendario AgendaPro</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.start.to_s+" "+booking.end.to_s, booking %></td>
        <td><%= link_to 'Editar', edit_booking_path(booking) %></td>
        <td><%= link_to 'Eliminar', booking, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Reserva', new_booking_path %>

<div class="row">
  <% @locations.each do |local| %>
    <div  class="radio">
      <label>
        <input type="radio" name="localRadio" id="localOption<%= local.id %>" onchange="loadProviders()" value="<%= local.id %>" <%= "checked" if ((!@selectedLocal) && (local.id == @locations.first.id)) || (@selectedLocal.to_i == local.id) %>>
        <p><%= local.name %></p>
      </label>
    </div>
  <% end %>
</div>

<div class="row">
  <div id="providers-selector" class="radio">
    <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
  </div>
</div>
<div class="row">
  <div id="add_booking">
    <%= link_to '<i class="fa fa-user"></i> Agregar Reserva'.html_safe, new_booking_path, :method => :get, :class => "btn btn-primary btn-sm" %>
  </div>
</div>
<div class="row">
  <div id="calendarView">
    <%= link_to '<i class="fa fa-user"></i> Semana'.html_safe, "#", :id => "weekButtonId", :class => "btn btn-default btn-sm" %><%= link_to '<i class="fa fa-user"></i> Día'.html_safe, "#", :id => "dayButtonId", :class => "btn btn-default btn-sm" %>
  </div>
</div>
<div class="row">
<div id='calendar'></div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "booking" %>
<% end %>