<h1>Reservas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.start.to_s+" "+booking.end.to_s, booking %></td>
        <td><%= link_to 'Editar', edit_booking_path(booking) %></td>
        <td><%= link_to 'Eliminar', booking, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Reserva', new_booking_path %>

<div class="row">
  <% @locations.each do |local| %>
    <div class="radio">
      <label>
        <input type="radio" name="localRadio" id="localOption<%= local.id %>" value="<%= local.id %>" <%= "checked" if ((!@selectedLocal) && (local.id == @locations.first.id)) || (@selectedLocal.to_i == local.id) %>>
        <p><%= local.name %></p>
      </label>
    </div>
  <% end %>
</div>

<div class="row">
  <div id="providers-selector" class="radio">
    <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
  </div>
</div>
<div class="row">
  <div id="add_booking" class="radio">
    <%= button_to_function "Agregar Reserva", 'newBookingModal()', :class => "btn btn-success btn-sm" %>
  </div>
</div>
<div class="row">
<div id='calendar'></div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="myModalContentId">

    </div>
  </div>
</div><!-- /.modal -->