<div class="workflow-header">
  <div class="container">
    <div class="row">
      <% if !@company.description.blank? %>
        <div class="col-md-6 company-header-left company-header">
          <div class="row">
            <div class="col-md-3">
              <% if @company.logo_url %>
                <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name, :class => "company-logo" %>
              <% else %>
                <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', :size => "80x80", :class => "company-logo" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 company-name">
                  <%= @company.name %>
                </div>
              </div>
              <div class="row header-btns">
                <div class="col-md-12">
                  <div class="header-btn inactive">
                    <a href="#" id="boton-locales" class="btn btn-default btn-green-wf">Lugares</a>
                  </div>
                  <div class="header-btn active" style="float: left;">
                    <a href="#" id="boton-servicio" class="btn btn-default btn-green-wf">Servicios</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 company-header-center company-header">
          <div class="header-description">
            <%= @company.description %>
          </div>
        </div>
        <div class="col-md-2 company-header-right company-header">
          <% if @local %>
            <div id="phone-info">
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number">
                <%= @local.phone %>
              </span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address">
                <%= if !@local.outcall then @local.address+', '+@local.district.name else "A Domicilio" end %>
                <br><%= if !@local.second_address.blank? then @local.second_address else '' end %>
              </span>
            </div>
          <% else %>
            <div id="phone-info" hidden>
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number"></span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address"></span>
            </div>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% else %>
        <div class="col-md-6 company-header-left company-header" style="border-right: 1px solid #949292;">
          <div class="row">
            <div class="col-md-3">
              <% if @company.logo_url %>
                <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name, :class => "company-logo" %>
              <% else %>
                <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', :size => "80x80", :class => "company-logo" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 company-name">
                  <%= @company.name %>
                </div>
              </div>
              <div class="row header-btns">
                <div class="col-md-12">
                  <div class="header-btn inactive">
                    <a href="#" id="boton-locales" class="btn btn-default btn-green-wf">Lugares</a>
                  </div>
                  <div class="header-btn active" style="float: left;">
                    <a href="#" id="boton-servicio" class="btn btn-default btn-green-wf">Servicios</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 company-header-center2 company-header">
          <% if @local %>
            <div id="phone-info">
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number">
                <%= @local.phone %>
              </span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address">
                <%= if !@local.outcall then @local.address+', '+@local.district.name else "A Domicilio" end %>
                <br><%= if !@local.second_address.blank? then @local.second_address else '' end %>
              </span>
            </div>
          <% else %>
            <div id="phone-info" hidden>
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number"></span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address"></span>
            </div>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div clas="row" id="espacio-workflow">
    <div class="col-md-12">
      <div class="row" style="margin-left: 0px !important;">
        <div class="col-md-6">
          <div class="subtitulos-workflow">Ingresa tus datos &nbsp;<i class="fa fa-file-text-o gray-icon"></i></div>
        </div>
      </div>
      <div class="row" style="margin-left: 0px !important;">
        <div class="col-md-6">
          <!-- INICIO FORM -->
          <div id="form-datos">
            <div class="datos-heading">
              Datos de la reserva
            </div>
            <div class="panel-body">
              <%= form_tag("book", method: "post", role: "form", class: "form-horizontal", id: "bookingForm" ) do %>
                <input type="hidden" name="bookings" id="bookings" value="<%= @bookings %>">
                <input type="hidden" name="location" id="location" value="<%= @local.id %>">
                <input type="hidden" name="origin" id="origin" value="true">
                <div id="user-data">
                  <% if user_signed_in? %>
                  <%= hidden_field_tag :user_id, current_user.id %>
                  <% end %>
                  <%= hidden_field_tag :firstName, if user_signed_in? then current_user.first_name else nil end %>
                  <%= hidden_field_tag :lastName, if user_signed_in? then current_user.last_name else nil end %>
                  <div class="row">
                    <div class="col-md-12 dark-gray">
                      Nombre
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group has-feedback">
                        <input type="text" id="full_name" name="user[full_name]" class="form-control light-gray" placeholder="Nombre completo (requerido)" <%= 'disabled' if @local.company.company_setting.client_exclusive %>>
                        <span class="help-block"></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 dark-gray">
                      Email
                    </div>
                    <div class="col-md-6 dark-gray">
                      Teléfono
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <%= email_field_tag(:email, if user_signed_in? then current_user.email else nil end, :class => "form-control light-gray", :placeholder => "ejemplo@dominio.com (requerido)", :required => true) %>
                        <span class="help-block"></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <%= telephone_field_tag(:phone, if user_signed_in? then current_user.phone else nil end, :class => "form-control light-gray", :placeholder => "1122334455 (requerido)", :required => true) %>
                        <span class="help-block"></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <% if @local.company.company_setting.client_exclusive %>
                  <div id="identificationNumber" class="form-group has-feedback">
                    <%= label_tag(:identification_number, "RUT", class: "col-sm-3 control-label") %>
                    <div class="col-sm-9">
                      <%= text_field_tag(:identification_number, nil, :class => "form-control light-gray", :placeholder => "Escriba su RUT, debe estar autorizado como cliente" ) %>
                      <span class="help-block"></span>
                      <span class="form-control-feedback"></span>
                    </div>
                  </div>
                <% end %>
                <% if @outcall %>
                <div class="form-group has-feedback">
                  <%= label_tag(:address, "Dirección", class: "col-sm-3 control-label") %>
                  <div class="col-sm-9">
                    <%= text_field_tag(:address, nil, :class => "form-control light-gray", :placeholder => "Escribe la dirección donde se debe realizar el servicio" ) %>
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                </div>
                <% end %>
                <div class="row">
                  <div class="col-md-12 dark-gray">
                    Comentario
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= text_area_tag(:comment, nil, :class => "form-control light-gray", :placeholder => "Agrega algún comentario a tu reserva en caso de ser necesario", :rows => 4) %>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                  <div class="col-md-6">
                    <div class="btn-change btn-prev">
                      <%= link_to '<i class="fa fa-chevron-left prev-arrow"></i> Volver'.html_safe, workflow_path(local: @local.id), class: 'prev2 prev-btn' %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" id="submitBtn">Reservar</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <!-- FIN FORM -->
        </div>
        <div class="col-md-6">
          <div id="resumen-reserva">
            <div class="resumen-heading">
              Resumen de tu Reserva
            </div>
            <div class="panel-body">
              <table class="table">
                <tbody id="summary">
                  <tr style="border-top: 0px !important;">
                    <td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>
                    <td style="border-top: 0px !important;" class="light-gray">
                      <% @bookings.each do |booking| %>
                      <p class="light-gray"><%= booking[:service_name] %></p>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="dark-gray">¿Dónde?</td>
                    <td class="light-gray"><%= @local.address %> , <%= @local.district.name %></td>
                  </tr>
                  <tr>
                    <td class="dark-gray">¿Con quién?</td>
                    <td class="light-gray">
                      <% @bookings.each do |booking| %>
                      <p class="light-gray"><%= booking[:provider_name] %></p>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="dark-gray">¿Cuándo?</th>
                    <td class="light-gray">
                      <% @bookings.each do |booking| %>
                      <p class="light-gray"><%= l booking[:start].to_datetime %></p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'split-name' %>
  <%= javascript_include_tag 'validations/validate' %>
  <%= javascript_include_tag 'validations/home/workflow' %>
  <script type="text/javascript">
    $(function() {
      compose_name('#full_name', '#firstName', '#lastName');
      split_name('#full_name', '#firstName', '#lastName');
    });
  </script>
<% end %>
