<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> no permitió que el usuario fuera creado:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :first_name, :label => "Nombre: ", :autofocus => true %>
  <%= f.input :last_name, :label => "Apellido: ", :autofocus => true %>
  <%= f.input :email, :label => "Email: ", :required => true, :autofocus => true %>
  <%= f.input :phone, :label => "Teléfono: ", :autofocus => true %>
  <%= f.input :user_name, :label => "Usuario: ", :required => true, :autofocus => true %>
  <%= f.input :password, :label=> "Contraseña: ", :required => true %>
  <%= f.input :password_confirmation, :label => "Confirmar Contraseña: ", :required => true %>
  <% if !current_user.nil? %>
    <% if current_user.role_id == Role.find_by(name: 'Super Admin').id %>
      <%= f.input :role_id, :label => "Rol", :collection => Role.where(:name => ["Admin","Administrador Local","Staff"]) %>
    <% elsif current_user.role_id == Role.find_by(name: 'Admin').id %>
      <%= f.input :role_id, :label => "Rol", :collection => Role.where(:name => ["Administrador Local","Staff"]) %>
    <% elsif current_user.role_id == Role.find_by(name: 'Administrador Local').id %>
      <% @user.role_id = Role.find_by_name("Staff").id %>
    <% end %>
  <% end %><br />
  
  <div class="actions">


    <%= f.submit %>
  </div>
<% end %>
