
<div>
	<% i = 1 %>
	<% @sessionBooking.bookings.where(:is_session_booked => true).order('start asc').each do |booking| %>

		<% if DateTime.now < (booking.start.to_datetime - booking.service.company.company_setting.before_edit_booking.hours) && booking.max_changes > 0  %>
			<% if booking.user_session_confirmed %>
				<div class="row session-row" booking_id="<%= booking.id %>">
					<div class="col-md-2 session-row-number">
						Sesi贸n <%= i.to_s %>
					</div>
					<div class="col-md-6 session-row-date">
						<i class="fa fa-calendar-o"></i>&nbsp;<%= I18n.l(booking.start.to_date, format: :day) %>&nbsp;&nbsp;
						<i class="fa fa-clock-o"></i>&nbsp;<%= I18n.l(booking.start.to_time, format: :hour) %>
					</div>
					<div class="col-md-4 session-row-btns">
						<span><button class="btn session-btn session-btn-edit" data-toggle="bookModal" href="book_session_form?id=<%= booking.id %>">Editar</button><button class="btn session-btn session-btn-delete">Cancelar</button></span>
					</div>
				</div>
			<% else %>
				<div class="row session-row" booking_id="<%= booking.id %>">
					<div class="col-md-2 session-row-number">
						Sesi贸n <%= i.to_s %>
					</div>
					<div class="col-md-6 session-row-date">
						<i class="fa fa-calendar-o"></i>&nbsp;<%= I18n.l(booking.start.to_date, format: :day) %>&nbsp;&nbsp;
						<i class="fa fa-clock-o"></i>&nbsp;<%= I18n.l(booking.start.to_time, format: :hour) %>
					</div>
					<div class="col-md-4 session-row-btns">
						<button class="btn session-btn session-btn-validate">Validar</button>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="row used-session-row" booking_id="<%= booking.id %>">
				<div class="col-md-2 session-row-number">
					Sesi贸n <%= i.to_s %>
				</div>
				<div class="col-md-6 session-row-date">
					<i class="fa fa-calendar-o"></i>&nbsp;<%= I18n.l(booking.start.to_date, format: :day) %>&nbsp;&nbsp;
						<i class="fa fa-clock-o"></i>&nbsp;<%= I18n.l(booking.start.to_time, format: :hour) %>
				</div>
				<div class="col-md-4 session-row-btns">
					<button class="btn session-btn session-btn-detail" data-toggle="detailModal" href="session_booking_detail?id=<%= booking.id %>">Ver detalle</button>
				</div>
			</div>
		<% end %>
		<% i = i+1 %>
	<% end %>
	<% @sessionBooking.bookings.where(:is_session_booked => false).order('created_at asc').each do |booking| %>

		<div class="row session-row" booking_id="<%= booking.id %>">
			<div class="col-md-2 session-row-number">
				Sesi贸n <%= i.to_s %>
			</div>
			<div class="col-md-6 session-row-date">
				
			</div>
			<div class="col-md-4 session-row-btns">
				<button class="btn session-btn session-btn-book" data-toggle="bookModal" href="book_session_form?id=<%= booking.id %>">Reservar</button>
			</div>
		</div>

		<% i = i+1 %>
	<% end %>
</div>

<div class="modal" id="detailModal">
	<div class="modal-body">
		
	</div>
</div>

<div class="modal" id="bookModal">
	<div class="modal-body">
		
	</div>
</div>

<div class="modal" id="calendarModal">
	<div class="modal-body">
		
	</div>
</div>

<script type="text/javascript">

	$(".session-btn-delete").click(function(){
		var booking_id = $(this).closest(".session-row").attr("booking_id");
		$.ajax({
			type: "post",
			url: "delete_session_booking",
			dataType: "json",
			data: {id: booking_id},
			success: function(response)
			{
				$('.session-row[booking_id="' + booking_id + '"]').remove();
				$("#session-booking-select").trigger("change");
			},
			error: function(response)
			{

			}
		})
	});

	$(".session-btn-validate").click(function(){
		var booking_id = $(this).closest(".session-row").attr("booking_id");
		$.ajax({
			type: "post",
			url: "validate_session_booking",
			dataType: "json",
			data: {id: booking_id},
			success: function(response)
			{
				$("#session-booking-select").trigger("change");
			},
			error: function(response)
			{

			}
		})
	});

	$('[data-toggle="detailModal"]').on('click', function(e) {
        $('#detailModal').remove();
        e.preventDefault();
        var $this = $(this)
          , $remote = $this.data('remote') || $this.attr('href')
          , $modal = $('<div class="modal" id="detailModal"><div class="modal-body"></div></div>');
        $('body').append($modal);
        $modal.modal({backdrop: 'static', keyboard: false});
        $modal.load($remote); 
    });

    $('[data-toggle="bookModal"]').on('click', function(e) {
        $('#bookModal').remove();
        e.preventDefault();
        var $this = $(this)
          , $remote = $this.data('remote') || $this.attr('href')
          , $modal = $('<div class="modal" id="bookModal"><div class="modal-body"></div></div>');
        $('body').append($modal);
        $modal.modal({backdrop: 'static', keyboard: false});
        $modal.load($remote); 
    });

</script>