<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-title">
          BIENVENIDO A TU AGENDA
        </div>
      </div>
    </div>
  </div>
  <div class="agenda-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-subtitle">
            <% if @user.first_name.blank? || @user.last_name.blank? %>
              <%= @user.email %>
            <% else %>
              <%= @user.first_name + " " + @user.last_name %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <% if !@user.phone.blank? %>
            <%= image_tag "search/email.png", :size => "20x15" %>&nbsp;Email:&nbsp;<%= @user.email %>&nbsp;&nbsp;&nbsp;
            <%= image_tag "telefono.png", :size => "15x15" %>&nbsp;Teléfono:&nbsp;<%= @user.phone %>
          <% else %>
            <%= image_tag "search/email.png", :size => "20x15" %>&nbsp;Email:&nbsp;<%= @user.email %>
          <% end %>
        </div>
      </div>
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-12" style="text-align: center;">
          Puedes editar tus datos <%= link_to 'aquí', edit_user_registration_path %>.
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="spa">
          <%= image_tag "search/spa.png", :class => "img-responsive", size: "48x37" %>
          <span>Spa</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="peluquería">
          <%= image_tag "search/peluqueria.png", :class => "img-responsive", size: "48x37" %>
          <span>Peluquería</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="maquillaje">
          <%= image_tag "search/maquillaje.png", :class => "img-responsive", size: "48x37" %>
          <span>Maquillaje</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="centro de estética">
          <%= image_tag "search/centros_de_estetica.png", :class => "img-responsive", size: "48x37" %>
          <span>Centros de estética</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="masaje">
          <%= image_tag "search/masajes.png", :class => "img-responsive", size: "48x37" %>
          <span>Masajes</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="manicure">
          <%= image_tag "search/manicure_pedicure.png", :class => "img-responsive", size: "48x37" %>
          <span>Manos y pies</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-xs-2 col-xs-offset-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="medicina alternativa">
          <%= image_tag "search/medicina_alternativa.png", :class => "img-responsive", size: "48x37" %>
          <span>Medicina alternativa</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="bronceado">
          <%= image_tag "search/bronceado.png", :class => "img-responsive", size: "48x37" %>
          <span>Bronceados</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="tratamiento facial">
          <%= image_tag "search/tratamientos_faciales.png", :class => "img-responsive", size: "48x37" %>
          <span>Tratamientos faciales</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="search-btn btn-default sector_search_agenda" data-search="tratamiento corporal">
          <%= image_tag "search/tratamientos_corporales.png", :class => "img-responsive", size: "48x37" %>
          <span>Tratamientos corporales</span>
        </div>
      </div>
    </div>
  </div>

  <% if @sessionBookings.count > 0 %>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="sessions-header">
            Reservas por sesiones
            <span style="float: right; padding-right: 10px;">
              <table>
              <tr>
              <td>
              <select id="session-booking-select" class="form-control">
                <% @sessionBookings.each do |session_booking| %>
                  <option value="<%= session_booking.id %>">
                    <%= session_booking.service.name %> en <%= session_booking.service.company.name %>
                  </option>
                <% end %>
              </select>
              </td>
              <td>
              <!--<button class="btn" id="btn-delete-session-booking" style="margin-left: 5px; margin-bottom: 2px;">
                Eliminar serie
              </button>-->
              </td>
              </tr>
              </table>
            </span>
          </div>


          <% @sessionBookings.each do |sessionBooking| %>

            <div class="sessions-div" session_booking_id="<%= sessionBooking.id %>" hidden>
              <% i = 1 %>
              <% sessionBooking.bookings.where(:is_session_booked => true).order('start asc').each do |booking| %>

                <% if DateTime.now < (booking.start.to_datetime - booking.service.company.company_setting.before_edit_booking.hours) && booking.max_changes > 0  %>
                  <% if booking.user_session_confirmed %>
                    <div class="row session-row" booking_id="<%= booking.id %>">
                      <div class="col-md-2 session-row-number">
                        Sesión <%= i.to_s %>
                      </div>
                      <div class="col-md-6 session-row-date">
                        <i class="fa fa-calendar-o"></i>&nbsp;<%= I18n.l(booking.start.to_date, format: :day) %>&nbsp;&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;<%= I18n.l(booking.start.to_time + 4.hours, format: :hour) %>
                      </div>
                      <div class="col-md-4 session-row-btns">
                        <span><a class="btn session-btn session-btn-edit" booking_id="<%= booking.id %>" session_booking_id='<%= sessionBooking.id %>'>Editar</a><button class="btn session-btn session-btn-delete">Cancelar</button></span>
                      </div>
                    </div>
                  <% else %>
                    <div class="row session-row" booking_id="<%= booking.id %>">
                      <div class="col-md-2 session-row-number">
                        Sesión <%= i.to_s %>
                      </div>
                      <div class="col-md-6 session-row-date">
                        <i class="fa fa-calendar-o"></i>&nbsp;<%= I18n.l(booking.start.to_date, format: :day) %>&nbsp;&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;<%= I18n.l(booking.start.to_time + 4.hours, format: :hour) %>
                      </div>
                      <div class="col-md-4 session-row-btns">
                        <a class="btn session-btn session-btn-detail" booking_id="<%= booking.id %>">Ver detalle</a>
                        <button class="btn session-btn session-btn-validate">Validar</button>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="row used-session-row" booking_id="<%= booking.id %>">
                    <div class="col-md-2 session-row-number">
                      Sesión <%= i.to_s %>
                    </div>
                    <div class="col-md-6 session-row-date">
                      <i class="fa fa-calendar-o"></i>&nbsp;<%= I18n.l(booking.start.to_date, format: :day) %>&nbsp;&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;<%= I18n.l(booking.start.to_time + 4.hours, format: :hour) %>
                    </div>
                    <div class="col-md-4 session-row-btns">
                      <a class="btn session-btn session-btn-detail" booking_id="<%= booking.id %>">Ver detalle</a>
                    </div>
                  </div>
                <% end %>
                <% i = i+1 %>
              <% end %>
              <% sessionBooking.bookings.where(:is_session_booked => false).order('created_at asc').each do |booking| %>

                <div class="row session-row" booking_id="<%= booking.id %>">
                  <div class="col-md-2 session-row-number">
                    Sesión <%= i.to_s %>
                  </div>
                  <div class="col-md-6 session-row-date">
                    
                  </div>
                  <div class="col-md-4 session-row-btns">
                    <a class="btn session-btn session-btn-book" booking_id="<%= booking.id %>" session_booking_id='<%= sessionBooking.id %>'>Reservar</a>
                  </div>
                </div>

                <% i = i+1 %>
              <% end %>
            </div>

          <% end %>


          <!--<div id="sessions-div">
          </div>-->
        </div>
        <div class="col-md-3">


          <% @sessionBookings.each do |sessionBooking| %>
            <div class="sessions-summary" session_booking_id="<%= sessionBooking.id %>" hidden>
              <%
                count_used = 0
                count_booked = 0
                count_unbooked = 0
                sessionBooking.bookings.each do |booking|
                  if booking.is_session_booked
                    if DateTime.now < (booking.start.to_datetime - booking.service.company.company_setting.before_edit_booking.hours) && booking.max_changes > 0
                      count_booked = count_booked + 1
                    else
                      count_used = count_used + 1
                    end
                  else
                    count_unbooked = count_unbooked + 1
                  end
                end
              %>
              <div>
                <% if sessionBooking.bookings.first.payed %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="sessions-summary-payed">
                        <i class="fa fa-money"></i>&nbsp;Servicio pagado en línea
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-7">
                    <div class="sessions-summary-title">Número de sesiones</div>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= sessionBooking.bookings.count.to_s %></span>
                  </div>
                  <div class="col-md-1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-7">
                    <div class="sessions-summary-title">Usadas</div>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= count_used %></span>     
                  </div>
                  <div class="col-md-1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-7">
                    <div class="sessions-summary-title">Reservadas</div>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= count_booked %></span>
                  </div>
                  <div class="col-md-1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-7">
                    <div class="sessions-summary-title">No reservadas</div>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= count_unbooked %></span>
                  </div>
                  <div class="col-md-1">
                  </div>
                </div>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="reservas-header">
      Reservas Activas
    </div>
    <div class="panel-reservas">
      <div class="campos campos-header">
        <div class="campo">
          Inicio
        </div>
        <div class="campo">
          Empresa
        </div>
        <div class="campo">
          Local
        </div>
        <div class="campo">
          Servicio
        </div>
        <div class="campo">
          Staff
        </div>
        <div class="campo">
          Precio
        </div>
        <div class="campo">
          Opciones
        </div>
      </div>
      <div style="clear: both;"></div>
      <% @activeBookings.each do |booking| %>
      <hr />
      <div class="campos booking">
        <div class="campo">
          <%= l booking.start, format: :short %>
        </div>
        <div class="campo">
          <%= Company.find(booking.service_provider.company_id).name %>
        </div>
        <div class="campo">
          <%= booking.location.name %>
        </div>
        <div class="campo">
          <% if !booking.is_session %>
            <%= booking.service.name %>
          <% else %>
            <%
              index = 1
              session_index = "Sesión "
              session_booking = booking.session_booking
              session_booking.bookings.where(:is_session_booked => true).order('start asc').each do |b|
                if b.id == booking.id
                  session_index = session_index + index.to_s
                  break
                end
                index = index + 1
              end
              session_index = session_index + " de " + session_booking.sessions_amount.to_s
            %>
            <%= booking.service.name %><br /><%= "(" + session_index + ")" %>
          <% end %>
        </div>
        <div class="campo">
          <%= booking.service_provider.public_name %>
        </div>
        <% if booking.service.show_price && booking.service.price > 0 %>
        <div class="campo">
          $<%= number_with_precision(booking.service.price, precision: 0, separator: '', delimiter: '.') %>
        </div>
        <% end %>
        <div class="campo">
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, booking_edit_url(:confirmation_code => booking.confirmation_code), :class => 'btn btn-warning btn-xs' %>
          <%= link_to '<i class="fa fa-trash-o"></i> Cancelar'.html_safe, booking_cancel_url(:confirmation_code => booking.confirmation_code), :class => 'btn btn-danger btn-xs' %>
        </div>
      </div>
      <div style="clear: both;"></div>
      <% end %>
      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="container">
    <div class="reservas-header">
      Últimas Reservas
    </div>
    <div class="panel-reservas">
      <div class="campos">
        <div class="campo2">
          Inicio
        </div>
        <div class="campo2">
          Empresa
        </div>
        <div class="campo2">
          Local
        </div>
        <div class="campo2">
          Servicio
        </div>
        <div class="campo2">
          Staff
        </div>
        <div class="campo2">
          Estado
        </div>
      </div>
      <div style="clear: both;"></div>
      <% @lastBookings.each do |booking| %>
      <hr />
      <div class="campos booking">
        <div class="campo2">
          <%= l booking.start, format: :short %>
        </div>
        <div class="campo2">
          <%= Company.find(booking.service_provider.company_id).name %>
        </div>
        <div class="campo2">
          <%= booking.location.name %>
        </div>
        <div class="campo2">
          <% if !booking.is_session %>
            <%= booking.service.name %>
          <% else %>
            <%
              index = 1
              session_index = "Sesión "
              session_booking = booking.session_booking
              session_booking.bookings.where(:is_session_booked => true).order('start asc').each do |b|

                if b.id == booking.id
                  session_index = session_index + index.to_s
                  break
                end
                index = index + 1
              end

              session_index = session_index + " de " + session_booking.sessions_amount.to_s

            %>

            <%= booking.service.name %><br /><%= "(" + session_index + ")" %>
          <% end %>
        </div>
        <div class="campo2">
          <%= booking.service_provider.public_name %>
        </div>
        <div class="campo2">
          <%= booking.status.name %>
        </div>
      </div>
      <div style="clear: both;"></div>
      <% end %>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>



<div class="modal" id="detailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Detalle de sesión</h3>
          </div>
          <div class="modal-body">
                
          </div>
          <div class="modal-footer">
              <a href="#" class="btn btn-white" data-dismiss="modal">Cerrar</a>
          </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal" id="bookModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeBookModal" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="optimizerTitle" style="line-height: 1.1;">Reservar</h3>
            </div>
            <div class="modal-body">
                <div id="optimizerFirst">
                  <div id="pickerSelectDate">
                    <div class="row">
                      <div class="col-xs-3" style="text-align: right; font-weight: bold;">
                        Inicio
                      </div>
                      <div class="col-xs-9">
                        <input id="initialPickerDate" value="<%= I18n.l(DateTime.now.to_date) %>" hidden />
                        <span id="pickerSelected" style="color: #949292;"><%= I18n.l(DateTime.now.to_date) %></span>&nbsp;&nbsp;
                          <input type="hidden" name="bookingId" id="bookingId" value="" />
                          <input type="hidden" name="selectedLocal" id="selectedLocal" value="" />
                          <input type="hidden" name="selectedService" id="selectedService" value="" />
                      </div>
                    </div>
                  </div>
                  <form class="form-horizontal" id="serviceOptimizer">
                      <div class="form-group">
                        <label for="providerOptimizerSelector" class="col-xs-3 control-label">Prestador</label>
                        <div class="col-xs-9">
                          <select class="form-control" name="providerOptimizerSelector" id="providerOptimizerSelector">
                            
                          </select>
                        </div>
                      </div>
                      <input type="hidden" name="service" value="" />
                  </form>
                  <div id="selectHour"></div>
                </div>

                <input type="hidden" id="session_booking_id" value="" />

                <div id="calendar-div" hidden>
                  <div class="row" id="past_date_alert" style="display: none;">
                    <div class="col-md-12">
                      <input type="hidden" id="after_booking" value="" />
                      <label style="color: #fd633f !important;" id="past_date_label"></label>
                    </div>
                  </div>
                  <div class="row staff">
                    <div class="col-md-9" id="staff-calendar">
                      <div class="panel panel-info">
                        <div class="calendar-head">
                          <div class="panel-title">
                            <div class="row">
                              <div class="col-xs-1">
                                <button type="button" class="btn btn-default" id="prev"><i class="fa fa-chevron-left"></i></button>
                              </div>
                              <div class="col-xs-8">
                                <span class="tittle"></span>
                              </div>
                              <div class="col-xs-2">
                                <span class="date-span" id="openCalendarDatepicker">
                                  Ir a fecha&nbsp;<i class="fa fa-calendar-o"></i>
                                  <input type="text" id="datepicker" name="date" />
                                </span>
                              </div>
                              <div class="col-xs-1">
                                <button type="button" class="btn btn-default pull-right" id="next"><i class="fa fa-chevron-right"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="days-row">
                        </div>
                        <div class="panel-body">
                          <div class="horario">
                            <!-- <%= image_tag "ajax-loader.gif", :alt => "Loader", :id => "calendar-loader" %> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">

                      <div class="changeStaffPanel" style="margin-bottom: 10px;">
                        <div id="changeStaffTitle" style="display: inline;">
                          <a data-toggle="collapse" href="#staffCollapse" aria-expanded="false" aria-controls="staffCollapse">
                            Cambiar prestador
                            <span style="float: right; color: #22c488;"><i class="fa fa-plus-circle" id="openStaffCollapseIcon"></i><i class="fa fa-minus-circle" id="closeStaffCollapseIcon" style="display: none;"></i></span>
                          </a>
                        </div>
                        <div class="collapse" id="staffCollapse">
                          <div class="changeStaff" style="margin-top: 5px;">

                            
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div id="selected-hour-heading">
                          Detalle Reserva
                        </div>
                        <div id="selected-hour-body">

                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>



                <div class="row" id="loader-div" hidden>
                  <p style="text-align: center; margin-top: 40px;">
                    <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
                  </p>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-green pull-left" id="addButton" style="display: none;" disabled><i class="fa fa-plus"></i>&nbsp;<span>Ver más resultados</span></button>-->
                <!--<button type="button" class="btn session-btn btn-orange" id="optimizerBackBtn" style="display: none;" disabled><i class="fa fa-chevron-left"></i>&nbsp;Atrás</button>-->
                <button type="button" class="btn session-btn btn-green" id="nextButton" style="display: none;">Reservar&nbsp;<i class="fa fa-chevron-right"></i></button>
                <a type="button" class="btn session-btn" id="openCalendarBtn" booking_id=""><i class="fa fa-calendar-o"></i>&nbsp;Ver calendario</a>
                <!--<button type="button" class="btn session-btn" id="openOptimizerBtn"><i class="fa fa-calendar-o"></i>&nbsp;Sugerir hora</button>-->
                <a href="#" class="btn btn-white closeBookModal" data-dismiss="modal">Cerrar</a>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->



<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "home/agenda" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "Alert" %>
  <%= javascript_include_tag "workflow/promotions-calendar" %>
  <%= javascript_include_tag "agenda/agenda" %>
<% end %>
