<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2><%= @user.email %></h2>
				<p>Bienvenido a tu agenda</p>
				<p>Puedes editar tus datos <%= link_to 'aquí', edit_user_registration_path %>.</p>
			</div>
			<div class="col-md-6">
				<div class="well well-sm">
					<h3>Reservas Activas</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Inicio</th>
								<th>Fin</th>
								<th>Local</th>
								<th>Servicio</th>
								<th>Staff</th>
								<th>Precio</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @activeBookings.each do |booking| %>
							<tr>
								<td><%= booking.start %></td>
								<td><%= booking.end %></td>
								<td><%= booking.location.name %></td>
								<td><%= booking.service.name %></td>
								<td><%= booking.service_provider.public_name %></td>
								<td><%= number_with_precision(booking.service.price, precision: 0, separator: '', delimiter: '.') %></td>
								<td>
									<%= link_to 'Editar', booking_edit_url(:confirmation_code => booking.confirmation_code), :class => 'btn btn-info' %>
									<%= link_to 'Cancelar', booking_cancel_url(:confirmation_code => booking.confirmation_code), :class => 'btn btn-danger' %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well well-sm">
					<h3>Ultimas Reservas</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Inicio</th>
								<th>Fin</th>
								<th>Local</th>
								<th>Servicio</th>
								<th>Staff</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							<% @lastBookings.each do |booking| %>
							<tr>
								<td><%= booking.start %></td>
								<td><%= booking.end %></td>
								<td><%= booking.location.name %></td>
								<td><%= booking.service.name %></td>
								<td><%= booking.service_provider.public_name %></td>
								<td><%= booking.status.name %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>