<p id="notice"><%= notice %></p>

<p>Nombre: <%= @user.first_name %></p>
<p>Apellido: <%= @user.last_name %></p>
<p>Teléfono: <%= @user.phone %></p>
<p>Usuario: <%= @user.user_name %></p>
<p>Rol: <%= @user.role.name %></p>
<p>E-mail: <%= @user.email %></p>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>
