
<% if params[:notice] %>
    <div class="alert alert-info alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= params[:notice] %>
    </div>
<% end %>

<% if params[:alert] %>
    <div class="alert alert-warning alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= params[:alert] %>
    </div>
<% end %>

<div class="row" style="margin-top: 20px;">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-12">
						<h3 class="panel-title payments-title">Editar</h3>
					</div>
				</div>
			</div>
			<div class="panel-body scrollable">


				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Cliente:</label>
					</div>
					<div class="col-sm-6">
						<%= @payed_booking.bookings.first.client.first_name + " " + @payed_booking.bookings.first.client.last_name %>
					</div>
					<div class="col-sm-3">

					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Local:</label>
					</div>
					<div class="col-sm-6">
						<%= @payed_booking.bookings.first.location.name %>
					</div>
					<div class="col-sm-3">

					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Servicio(s):</label>
					</div>
					<div class="col-sm-6">
						<% @payed_booking.bookings.each do |booking| %>
						<%= @booking.service.name %><br />
						<% end %>
					</div>
					<div class="col-sm-3">

					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Orden de compra:</label>
					</div>
					<div class="col-sm-6">
						<%= @payed_booking.punto_pagos_confirmation.operation_number %>
					</div>
					<div class="col-sm-3">

					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Código de autorización:</label>
					</div>
					<div class="col-sm-6">
						<%= @payed_booking.punto_pagos_confirmation.authorization_code %>
					</div>
					<div class="col-sm-3">

					</div>
				</div>


				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Estado:</label>
					</div>
					<div class="col-sm-2">
						<select id="status_id" class="form-control">
							<% Status.all.each do |status| %>
								<% if @payed_booking.bookings.first.status_id == status.id %>
									<option value="<%= status.id %>" selected> <%= status.name %> </option>
								<% else %>
									<option value="<%= status.id %>"> <%= status.name %> </option>
								<% end %>
							<% end %>
						</select>
					</div>
					<div class="col-sm-3">

					</div>
				</div>

				<div class="row" style="margin-top: 10px;">

					<div class="col-sm-3">
						<%= link_to '<button class="cancel-btn">Volver</button>'.html_safe, '/company_bookings' %>
					</div>
					<div class="col-sm-3">
						<form action="/payed_bookings/update" method="post">
							<input type="hidden" id="input-status-id" name="status_id" value="<%= @payed_booking.bookings.first.status_id %>">
							<input type="hidden" name="id" value="<%= @payed_booking.id %>" />
							<button class="edit-btn">Editar</button>
						</form>
					</div>
					<div class="col-sm-3">
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<% content_for :scripts do %>
	<%= javascript_include_tag "jquery-ui.min" %>

	<script type="text/javascript">
		$("#status_id").change(function(){
			$("#input-status-id").val($("#status_id").val());
		});
	</script>
<% end %>
