<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Reservas Pagadas en línea</h2>
      <p>Acá podrás revisar el detalle de todas las reservas que fueron pagadas en línea a través de la plataforma. Primero, las reservas que aún no han sido realizadas y están pendientes por transferir a la empresa. Luego, las reservas pagadas que ya fueron transferidas a la empresa.</p>
    </div>
  </div>
</div>

<% if @company_setting.allows_online_payment %>
<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5">
              <h3 class="panel-title payments-title">Transferencias pendientes&nbsp;&nbsp;<span style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Pagos efectuados por clientes que AgendaPro aún no ha transferido a la empresa."><i class="fa fa-question-circle"></i></span></h3>
            </div>
            <div class="col-md-7">
              <form class="form-inline" action="payed_bookings/create_company_csv.csv" method="post" id="get_transfered">
                <input type="hidden" name="type" value="company_pending" />
                <div class="form-group">
                  <label for="pending_start">Desde:</label>
                  <input type="text" id="pending_start" name="start_date" class="datepicker form-control" value="" />
                </div>
                <div class="form-group">
                  <label for="pending_end">Hasta:</label>
                  <input type="text" id="pending_end" name="end_date" class="datepicker form-control" value="" />
                </div>
                <button class="btn btn-white">Descargar&nbsp; <i class="fa fa-file-text-o fa-lg"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="panel-body panel-scrollable">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Local</th>
                <th>Servicio</th>
                <th>Monto</th>
                <th>Orden de compra</th>
                <th>Código de autorización</th>
                <th>Fecha</th>
                <th>Ver más</th>
              </tr>
            </thead>
            <tbody>
              <% @pending_payments.each do |payed_booking| %>
                <tr>
                  <td><%= payed_booking.id %></td>
                  <td><%= payed_booking.bookings.first.client.first_name + " " + payed_booking.bookings.first.client.last_name %></td>
                  <td><%= payed_booking.bookings.first.location.name %></td>
                  <td>
                    <% payed_booking.bookings.each do |booking| %>
                      <%= booking.service.name %>
                    <% end %>
                  </td>
                  <td><%= payed_booking.punto_pagos_confirmation.amount %></td>
                  <td><%= payed_booking.punto_pagos_confirmation.operation_number %></td>
                  <td><%= payed_booking.punto_pagos_confirmation.authorization_code %></td>
                  <td><%= payed_booking.punto_pagos_confirmation.approvement_date %></td>
                  <td><%= link_to "Editar", controller: "payed_bookings", action: "edit", id: payed_booking.id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5">
              <h3 class="panel-title payments-title">Transferencias completadas</h3>
            </div>
            <div class="col-md-7">
              <form class="form-inline" action="payed_bookings/create_company_csv.csv" method="post" id="get_transfered">
                <input type="hidden" name="type" value="company_transfered" />
                <div class="form-group">
                  <label for="transfered_start">Desde:</label>
                  <input type="text" id="transfered_start" name="start_date" class="datepicker form-control" value="" />
                </div>
                <div class="form-group">
                  <label for="transfered_end">Hasta:</label>
                  <input type="text" id="transfered_end" name="end_date" class="datepicker form-control" value="" />
                </div>
                <button class="btn btn-white">Descargar&nbsp; <i class="fa fa-file-text-o fa-lg"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="panel-body panel-scrollable">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Local</th>
                <th>Servicio</th>
                <th>Monto</th>
                <th>Orden de compra</th>
                <th>Código de autorización</th>
                <th>Fecha</th>
                <th>Ver más</th>
              </tr>
            </thead>
            <tbody>
              <% @transfered_payments.each do |payed_booking| %>
                <tr>
                  <td><%= payed_booking.id %></td>
                  <td><%= payed_booking.bookings.first.client.first_name + " " + payed_booking.bookings.first.client.last_name %></td>
                  <td><%= payed_booking.bookings.first.location.name %></td>
                  <td>
                    <% payed_booking.bookings.each do |booking| %>
                      <%= booking.service.name %>
                    <% end %>
                  </td>
                  <td><%= payed_booking.punto_pagos_confirmation.amount %></td>
                  <td><%= payed_booking.punto_pagos_confirmation.operation_number %></td>
                  <td><%= payed_booking.punto_pagos_confirmation.authorization_code %></td>
                  <td><%= payed_booking.punto_pagos_confirmation.approvement_date %></td>
                  <td><%= link_to "Editar", controller: "payed_bookings", action: "edit", id: payed_booking.id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(".datepicker").datepicker({
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      prevText: 'Atrás',
      nextText: 'Adelante',
      dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sáb'],
      dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sáb'],
      today: 'Hoy',
      clear: '',
      firstDay: 1,
      dateFormat: 'yy-mm-dd',
    });
    $(".datepicker").each(function(){
      var altField = '#' + $(this).prop('id');
      $(this).datepicker('option', 'altField', altField);
    });
  </script>
<% end %>

<% else %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p><br />¡Activa los pagos en línea y asegura el pago de tus servicios!<br />Para activarlo y/o detalles comerciales envía un mensaje a Nicolás a:<br /><br /><a class="btn btn-green btn-lg" href="mailto:nrossi@agendapro.cl?Subject=Activar%20transferencias%20en%20linea" target="_top">nrossi@agendapro.cl</a></p>
    </div>
  </div>
</div>

<% end %>



