<fieldset id="fieldset_step2" class="content-fill  below-1" <%=  'style="display: none;" disabled'.html_safe if @company.economic_sectors.count < 1 || params[:step].nil? || params[:step] < 2 %>>
  <section class="green-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">¿Cuántos locales/sucursales tienes?</h2>
          <p class="text-center text-dark-green">Completa la información de cada uno de tus locales (máximo <%= @company.plan.locations %>)
            <i id="load_location_spinner" class="fa fa-spinner fa-spin" style="display:none;"></i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul id="location_pills" class="nav nav-pills nav-justified quickadd-pills">
            <% @company.locations.where(active:true).each do |location| %>
            <li><a href="#" id="location_pill_<%= location.id %>"><%= location.name %></a></li>
            <% end %>
            <li class="active"><a href="#" id="new_location_pill">Nuevo Local</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <!-- Local -->
      <div class="row">
        <div class="col-md-6">
          <%= form_for @location, html: {class: "form-horizontal"} do |f| %>
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>
            <div class="form-group has-feedback">
              <%= f.label :name, "Nombre: ", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.text_field :name, :autofocus => true, class: "form-control" %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :address, "Dirección: ", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <div class="input-group">
                  <%= text_field_tag :address, @location.try(:full_address), class: "form-control", placeholder: 'Dirección (requerido)' %>
                  <%= f.hidden_field :address %>
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="geolocate" type="button"><i class="fa fa-crosshairs"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :second_address, "Dirección Adicional: ", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.text_field :second_address, class: "form-control", placeholder: 'Oficina D, Local 22' %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :outcall %> Sólo servicios a domicilio.
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group has-feedback" hidden="true">
              <%= f.label :outcall_places, "Lugares que atienden", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.text_area :outcall_places, class: "form-control", placeholder: "Sector San Carlos\r\nBario Lastareas" %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :phone, "Teléfono: ", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.text_field :phone, class: "form-control" %>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <%= f.label :email, "E-mail", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.email_field :email, class: "form-control", placeholder: "Email (requerido)", required: true %>
                <span class="help-block"></span>
                <span class="form-control-feedback"></span>
                <span class="help-block">En caso de que un cliente responda algún mensaje, la respuesta llegará a esta dirección</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3">
                <button id="update_location_button" name="new_location_btn" class="btn btn-green btn-lg">Guardar Local</button>
                <a id="next_location_button" class="btn btn-orange btn-lg" <%= 'disabled' if @company.locations.where(active: true).count < 1 %>>Siguiente Paso</a>
                <i id="update_location_spinner" class="fa fa-spinner fa-spin" style="display:none;"></i>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <div style="margin-bottom:10px;">
            <h4 style="margin-bottom: 0; margin-top: 0;">¿Aquí se ubica tu local? <small class="hide"><i class="fa fa-spinner fa-spin"></i></small></h4>
            <span>Puedes dar click en el mapa para cambiar la ubicación</span>
            <div id="map" style="height:100px;"></div>
          </div>
          <h4 class="text-dark-green">Selecciona el horario de apertura y cierre para cada día</h4>
          <div class="panel panel-info">
            <div class="panel-body">
              <table class="table">
                <tbody id="localTable">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</fieldset>


<% content_for :scripts do %>
  <%= javascript_include_tag "admin/quick_add/locations" %>
  <% if @company.economic_sectors.count > 0 %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(window).load(function() {
        initializeStep2();
        $('#fieldset_step2').show();
        $('#fieldset_step2').attr('disabled', false);
        scrollToAnchor("fieldset_step2");
      });
    });
  </script>
  <% end %>
<% end %>
