<fieldset class="content-fill" id="fieldset_step6" disabled hidden>
  <section class="green-background">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Ingresa tus preferencias de notificaciones.</h2>
        <p class="text-center text-dark-green">Escoge entre distintos tipos de notificaciones y determina a qué cuentas de correo llegarán.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">


        <div class="col-md-6">
          <%= form_for @notification_email do |f| %>
            <%= f.hidden_field :company_id, value: @company.id %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :email, "E-mail de Notificación", class: 'text-green' %>
                  <%= f.email_field :email, class: "form-control", required: true %>
                  <span class="help-block">En que dirección desea recibir la notificación.</span>
                </div>
                <div class="form-group">
                  <%= f.label :receptor_type, "Tipo de Notificación", class: 'text-green' %>
                  <%= f.select :receptor_type, [['Compañía', 0], ['Local', 1], ['Prestador de Servicio', 2]], {}, {class: 'form-control'} %>
                  <span class="help-block">Recibir notificaciones sobre eventos de la compañía, locales o prestadores de servicios.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden" id="local-notification">
                <div class="form-group">
                  <%= f.label :location_ids, @company.name %>
                  <%= f.collection_check_boxes :location_ids, @company.locations.where(active: true), :id, :name, {}, {class: "check_boxes"} do |b|%>
                    <div class="checkbox">
                      <label>
                        <%= b.check_box %> <%= b.text %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-12 hidden" id="provider-notification">
                <div class="row">
                  <% for local in @company.locations.where(active: true) %>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= f.label :service_provider_ids, local.name %>
                      <%= f.collection_check_boxes :service_provider_ids, local.service_providers.where(active: true), :id, :public_name, {}, {class: "check_boxes"} do |b|%>
                        <div class="checkbox">
                          <label>
                            <%= b.check_box %> <%= b.text %>
                          </label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group background-green">
                  <div class="row">
                    <div class="col-md-12">
                      <label style="margin: 0;">Cuando recibir la Notificación</label>
                      <span class="help-block" style="margin: 0;">Sobre cual evento desea recibir la notificación.</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :summary %> Resumen diario
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :new %> Nueva reserva manual
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :modified %> Reserva manual modificada
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :confirmed %> Reserva manual confirmada
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :canceled %> Reserva manual cancelada
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :new_web %> Nueva reserva online
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :modified_web %> Reserva online modificada
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :confirmed_web %> Reserva online confirmada
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :canceled_web %> Reserva online cancelada
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.submit 'Agregar', :class => 'btn btn-green', :id => "addNotificationBtn", :style => "width: 160px;" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-md-6">
          <div class="background-grey">
            <h4 class="text-green">Notificaciones Activas</h4>
            <div class="table-responsive">
              <table class="table table-bordered" id="notification-emails-table">
                <thead>
                  <tr>
                    <th>E-mail</th>
                    <th>Tipo</th>
                    <th>Notificaciones</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for notification in @notifications %>
                  <tr class="notification-email-row" notification_id="<%= notification.id %>">
                    <td><%= notification.email %></td>
                    <td>
                      <%= notification.receptor_type_text %>
                    </td>
                    <td><%= notification.notification_text %></td>
                    <td style="white-space: nowrap;">
                      <button id="notification_email_delete_<%= notification.id %>" class="btn btn-danger btn-xs notification-email-delete-btn"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="text-center">
              <a id="update_notifications_button" class="btn btn-orange btn-lg next-button" data-loading-text="<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>">Siguiente Paso</a>
            </div>
          </div>
        </div>
      </div>
    </div>\
  </section>
</fieldset>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/quick_add/notifications" %>
<% end %>
