<fieldset class="content-fill" id="fieldset_step4" <%= "disabled" if @company.service_providers.where(active: true).count < 1 %>>
<section class="green-background">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">¿Quiénes son las personas que prestan los distintos servicios que ofreces?</h2>
      <p class="text-center text-dark-green">Por favor ingrésalas a continuación (máximo <%= @company.plan.service_providers %>)</p>
    </div>
  </div>
</div>
</section>
<section>  
<div class="container">
  <!-- Local -->
  <div class="row">
      <div class="col-sm-12 text-center">
      <table class="table">
      <% @company.service_providers.where(active: true).each do |service_provider| %>
      <tr>
        <td><%= service_provider.public_name %></td><td><%= service_provider.location.name %></td><td><button id="provider_delete_<%= service_provider.id %>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></td>
      </tr>
      <% end %>
      </table>
      </div>
      <div class="col-sm-12 text-center">
        <%= form_for @service_provider, html: {class: "form-inline" } do |f| %>
          <div class="form-group">
            <%= f.label :public_name, "Nombre: ", class: "control-label" %>
            <%= f.text_field :public_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :location_id, "Local: ", class: "control-label" %>
            <%= f.collection_select :location_id, Location.where(company_id: current_user.company_id, active: true), :id, :name, {}, { class: "form-control" }%>
          </div>
          <button class="btn btn-default">Guardar</button>
        <% end %>
      </div>
      <div class="col-sm-12 text-center">
        <a id="next_provider_button" class="btn btn-orange btn-lg">Siguiente</a>
      </div>
  </div>
</div>
</section>
</fieldset>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/quick_add/providers" %>
  <script type="text/javascript">

    // var elt = $('#service_categories_input');
    // elt.tagsinput({
    //   itemValue: 'value',
    //   itemText: 'text',
    //   typeaheadjs: {
    //     source: function(str) {
    //       return {"text": str, "value": 0 };
    //     }
    //   },
    //   freeInput: false
    // });
    // <% @company.service_categories.each do |service_category| %>
    // elt.tagsinput('add', { "value":  <%= service_category.id %>, "text": "<%= service_category.name %>" });
    // <% end %>
  <% if @company.service_providers.where(active:true).count > 0 %>
    
  <% else %>
    
  <% end %>
  </script>
<% end %>