<fieldset class="content-fill below-1 below-2" id="fieldset_step3" <%= 'style="display: none;" disabled'.html_safe if @company.locations.where(active: true).count < 1 %>>
  <section class="green-background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">¿Cuáles son las categorías o familias de servicios que ofreces?</h2>
          <p class="text-center text-dark-green">Por favor ingrésalas a continuación (por ejemplo: masajes, cortes de pelo, depilación, tratamientos, etc.)</p>
        </div>
      </div>
      <div class="row">
        <div id="service_categories" class="col-sm-12 text-center">
          <% @company.service_categories.each do |service_category| %>
          <div id="service_category_<%= service_category.id %>" class="category-pill">
            <%= service_category.name %><%= (' <button id="service_category_delete_'+service_category.id.to_s+'" class="btn btn-default btn-xs service-category-delete-btn"><i class="fa fa-times"></i></button>').html_safe if service_category.name != 'Otros' %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <%= form_for @service_category, html: {class: "form-inline" } do |f| %>
            <div class="form-group">
              <%= f.label :name, "Nueva Categoría de Servicios: ", class: "control-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <button id="update_service_category_button" class="btn btn-default">Guardar</button>
            <i id="update_service_category_spinner" class="fa fa-spinner fa-spin" style="display:none;"></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <!-- Local -->
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="text-center">¿Cuáles son los servicios que ofreces?</h2>
          <table id="services" class="table">
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Duración</th>
              <th>Categoría</th>
              <th></th>
            </tr>
            <% @company.services.where(active: true).each do |service| %>
            <tr id="service_<%= service.id %>">
              <td><%= service.name %></td>
              <td><%= number_to_currency(service.price, currency: '$ ', separator: ',', delimeter: '.', precision: 0) %></td>
              <td><%= service.duration %> min.</td>
              <td><%= service.service_category.name %></td>
              <td><button id="service_delete_<%= service.id %>" class="btn btn-danger btn-xs service-delete-btn"><i class="fa fa-trash-o"></i></button></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="col-sm-12 text-center">
          <%= form_for @service, html: {class: "form-inline" } do |f| %>
            <div class="form-group" style="margin-bottom: 15px;">
              <%= f.label :name, "Nombre: ", class: "control-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
              <%= f.label :price, "Precio: ", class: "control-label" %>
              <%= f.number_field :price, placeholder: "$15000 (pesos)", value: nil, class: "form-control" %>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
              <%= f.label :duration, "Duración: ", class: "control-label" %>
              <%= f.number_field :duration, placeholder: "30 (minutos)", step: 5, class: "form-control" %>
            </div>
            <br />
            <div class="form-group" style="margin-bottom: 15px;">
              <%= f.label :service_category_id, "Categoría: ", class: "control-label" %>
              <%= f.collection_select :service_category_id, ServiceCategory.where(company_id: current_user.company_id), :id, :name, {}, { class: "form-control" }%>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
              <div class="checkbox">
                <label>
                  <%= f.check_box :has_sessions %> Este servicio tiene sesiones
                </label>
              </div>
            </div>
            <div class="form-group hidden" style="margin-bottom: 15px;">
              <%= f.label :sessions_amount, "Cantidad", class: "control-label" %>
              <%= f.number_field :sessions_amount, class: "form-control", :min => 2, disabled: true, placeholder: '2 (requerido)' %>
            </div>
            <button id="update_service_button" class="btn btn-green">Guardar</button>
            <i id="update_service_spinner" class="fa fa-spinner fa-spin" style="display:none;"></i>
          <% end %>
        </div>
        <div class="col-sm-12 text-center">
          <a id="next_service_button" class="btn btn-orange btn-lg next-button" <%= 'disabled' if @company.services.where(active: true).count < 1 %>>Siguiente Paso</a>
        </div>
      </div>
    </div>
  </section>
</fieldset>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/quick_add/services" %>
<% end %>
