<div class="container-fluid background-start content-fill">
  <div class="row">
    <div class="col-md-12 content-top">
      <div class="pull-center">
        <%= image_tag 'logos/logo1.png', alt: 'AgendaPro' %>
      </div>
    </div>
    <div class="col-md-12 vertical-center">
      <div class="pull-center">
        <%= image_tag 'quickadd/glasses.png', alt: 'glasses', size: "91x37" %>
      </div>
      <h1 class="text-center text-uppercase">Bienvenido a AgendaPro</h1>
      <h1 class="text-center">¡Sólo nos falta un poco de información sobre tu empresa para empezar!</h1>
    </div>
    <div class="col-md-12 content-bottom">
      <div class="pull-center">
        <a href="#" class="btn btn-transparent btn-wide">Comenzar</a>
      </div>
    </div>
  </div>
</div>

<%= render 'company' %>
<%= render 'new_local' %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function () {
      var windowheight = $(window).height();
      $(".content-fill").height(windowheight - 100);
    });
    $( window ).resize(function() {
      var windowheight = $(window).height();
      $(".content-fill").height(windowheight - 100);
    });
  </script>
<% end %>

<!-- Local -->
<div class="box-step step-workflow">
  <fieldset disabled>
    <div class="col-md-12">
      <h4>Nuevo Local</h4>
    </div>
    <div class="col-md-6">
      <%= form_for @location, html: {class: "form-horizontal"} do |f| %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <div class="form-group has-feedback">
          <%= f.label :name, "Nombre: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :name, :autofocus => true, class: "form-control" %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= label_tag :country, "País: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= select_tag :country, options_from_collection_for_select(Country.all.order(:name), :id, :name), class: "form-control", include_blank: true %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= label_tag :region, "Región: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= select_tag :region, options_from_collection_for_select(Region.all.order(:name), :id, :name), class: "form-control", :disabled => true %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= label_tag :city, "Ciudad: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= select_tag :city, options_from_collection_for_select(City.all.order(:name), :id, :name), class: "form-control", :disabled => true %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :district, "Comuna: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.collection_select :district_id, District.all, :id, :name, {}, { class: "form-control", :disabled => true }%>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :address, "Dirección: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :address, class: "form-control" %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :second_address, "Dirección Adicional", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :second_address, class: "form-control", placeholder: 'Oficina D, Local 22' %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
            <div class="checkbox">
              <label>
                <%= f.check_box :outcall %> Sin Dirección (sólo servicios a domicilio).
              </label>
            </div>
            <div id="districtsCheckboxes" class='hidden'></div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :phone, "Teléfono: ", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :phone, class: "form-control" %>
            <span class="help-block"></span>
          </div>
        </div>
      <% end %>
      <div style="margin-top: 10px;">
        <h4 class="text-center" style="margin-bottom: 0;">¿Aquí se ubica tu local? <small class="hide"><i class="fa fa-spinner fa-spin"></i></small></h4>
        <span class="hide" id="error">Hubo un error ubicando tu local</span>
        <span>Puedes dar click en el mapa para cambiar la ubicación</span>
        <div id="map"></div>
    <br />
    <br />
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            Horario Local
          </h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody id="localTable">
              <tr>
                <th>Día</th>
                <th>Apertura</th>
                <th>Cierre</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Service -->
<div class="box-step step-workflow-min">
  <fieldset disabled>
    <div class="col-md-12">
      <h4>Nuevo Servicio</h4>
      <%= form_for @service, html: {class: "form-horizontal" } do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :name, "Nombre: ", class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_field :name, :autofocus => true, class: "form-control" %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :price, "Precio: ", class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <%= f.number_field :price, class: "form-control", min: 0, placeholder: '0 (requerido)' %>
                <span class="input-group-addon">Pesos</span>
              </div>
              <span class="help-block"></span>
              <!-- <span class="form-control-feedback"></span> -->
              <div class="checkbox">
                <label>
                  <%= f.check_box :show_price %> Mostrar el precio en tu mini-sitio AgendaPro
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :duration, "Duración: ", class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <div class="input-group">
                <%= f.number_field :duration, class: "form-control", min: 5, placeholder: '5 (requerido)' %>
                <span class="input-group-addon">Minutos</span>
              </div>
              <span class="help-block"></span>
              <!-- <span class="form-control-feedback"></span> -->
              <div class="checkbox">
                        <label>
                        <% if params[:step] && params[:step] > 1 && Company.find(current_user.company_id).locations.first.outcall %>
                          <%= f.check_box :outcall, :checked => true, :disabled => true  %>
                        <% else %>
                          <%= f.check_box :outcall %>
                        <% end %>
                          Servicio a domicilio <br /><small id="outcallTip" class="hidden">Si el servicio no pertenece a una sucursal exclusivamente a domicilio, recomendamos ingresar las comunas que se atienden en la descripción.</small>
                        </label>
                      </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, "Descripción: ", class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_area :description, class: "form-control" %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :service_category_id, "Categoría de Servicio:", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.collection_select :service_category_id, ServiceCategory.where(company_id: current_user.company_id), :id, :name, {}, { class: "form-control" }%>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
              </div>
          <% if @service.service_category.nil? then @service.build_service_category end %>
          <%= f.fields_for :service_category do |builder| %>
          <div class="form-group hidden">
            <%= builder.label :name, "Categoría de Servicio:", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= builder.text_field :name, class: "form-control", :value => '', disabled: true %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
              <%= builder.hidden_field :company_id, class: "form-control", :value => current_user.company_id %>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="catCheck" id="categoryCheckboxId" value="0" onchange="newCategory()" class="checkbox"> Crear nueva Categoría de Servicio
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <div class="checkbox">
                <label>
                  <%= f.check_box :group_service %> Servicio Grupal
                </label>
              </div>
            </div>
          </div>
          <div class="form-group hidden">
            <%= f.label :capacity, "Capacidad: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <div class="input-group">
                <%= f.number_field :capacity, class: "form-control", min: 2, disabled: true %>
                <span class="input-group-addon">Personas</span>
              </div>
              <span class="help-block"></span>
              <!-- <span class="form-control-feedback"></span> -->
            </div>
          </div>

          <% if @company.company_setting.allows_online_payment %>

            <div class="form-group">
              <%= f.label :online_payable, "Pago en línea:", class: "col-sm-4 control-label" %>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :online_payable %> Este servicio se puede pagar en línea
                  </label>
                </div>
              </div>
                </div>

            <div class="form-group hidden" id="form-has-discount">
              <%= f.label :has_discount, "Descuento:", class: "col-sm-4 control-label" %>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :has_discount %> Tiene descuento por pago en línea
                  </label>
                </div>
              </div>
                </div>

                <div class="form-group hidden" id="form-discount">
              <div class="col-sm-8 col-sm-offset-4">
                <div class="input-group">
                  <%= f.number_field :discount, class: "form-control", min: 0, placeholder: '0 (requerido)' %>
                  <span class="input-group-addon">%</span>
                </div>
                <span class="help-block"></span>
              </div>
                </div>

              <% end %>


        </div>
      <% end %>
    </div>
  </fieldset>
</div>
<!-- Prestador de Servicios -->
<div class="box-step step-workflow">
  <fieldset disabled>
    <div class="col-md-12">
      <h4>Nuevo Prestador de Servicios</h4>
    </div>
    <div class="col-md-6">
      <%= form_for @service_provider, html: {class: "form-horizontal" } do |f| %>
        <div class="form-group has-feedback">
          <%= f.label :public_name, "Nombre Público:", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :public_name, :autofocus => true, class: "form-control" %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :notification_email, "Email de Notificación:", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :notification_email, class: "form-control" %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :location_id, "Local:", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <% if params[:step] && params[:step] > 1 %>
            <%= f.hidden_field :location_id, class: "form-control", :value => Company.find(current_user.company_id).locations.first.id if params[:step] > 1 %>
            <p class="form-control-static"><%= Company.find(current_user.company_id).locations.first.name %></p>
            <% else %>
            <%= f.hidden_field :location_id, class: "form-control", :value => '' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Horario Local</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody id="provTable">
              <tr>
                <th>Día</th>
                <th>Apertura</th>
                <th>Cierre</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "Alert" %>
  <%= javascript_include_tag "admin/quick_add" %>
  <%= javascript_include_tag "validations/validate" %>
  <%= javascript_include_tag "validations/admin/quick-add" %>

  <script type="text/javascript">
    $(document).ready(function(){
        if($('#company_setting_allows_online_payment').prop('checked'))
      {
        $(".account-info").removeClass("hidden");
        if($("#company_setting_bank :selected").text() == "Otro")
        {
          $("#other-bank").removeClass("hidden");
          $(".account-data").addClass("hidden");
        }
        else
        {
          $("#other-bank").addClass("hidden");
          $(".account-data").removeClass("hidden");
        }
      }
      else
      {
        $(".account-info").addClass("hidden");
        $("#other-bank").addClass("hidden");
      }
      var oldTop = $(document).scrollTop();
      $('#foo5').trigger('updateSizes');
      $(document).scrollTop(oldTop);
    });

    $("#company_setting_allows_online_payment").change(function(){
      if($('#company_setting_allows_online_payment').prop('checked'))
      {
        $(".account-info").removeClass("hidden");
        if($("#company_setting_bank :selected").text() == "Otro")
        {
          $("#other-bank").removeClass("hidden");
          $(".account-data").addClass("hidden");
        }
        else
        {
          $("#other-bank").addClass("hidden");
          $(".account-data").removeClass("hidden");
        }
      }
      else
      {
        $("#other-bank").addClass("hidden");
        $(".account-info").addClass("hidden");
      }
      var oldTop = $(document).scrollTop();
      $('#foo5').trigger('updateSizes');
      $(document).scrollTop(oldTop);
    });

    $("#company_setting_bank").change(function(){
      if($("#company_setting_bank :selected").text() == "Otro")
      {
        $("#other-bank").removeClass("hidden");
        $(".account-data").addClass("hidden");
      }
      else
      {
        $("#other-bank").addClass("hidden");
        $(".account-data").removeClass("hidden");
      }
      var oldTop = $(document).scrollTop();
      $('#foo5').trigger('updateSizes');
      $(document).scrollTop(oldTop);
    });
  </script>

<% end %>
