<h1>Nuevo Proveedor de Servicios</h1>

<%= simple_form_for(@service_provider) do |f| %>

  <div class="form-inputs">
    <%= f.input :public_name, :label => "Nombre Público" %>
    <%= f.input :notification_email, :label => "Email de Notificación" %>
    <%= f.association :user, :as => :collection_select, collection: User.where(company_id: current_user.company_id), :label => "Usuario", :label_method => :email, value_method: :id %><br />
    <%= f.association :location, :as => :collection_select, collection: Location.where(company_id: current_user.company_id), :label => "Local", value_method: :id %><br />
    <%= f.association :services, 
                     as: :check_boxes,
                     collection: Service.where(company_id: current_user.company_id),
                     label_method: :name, 
                     value_method: :id,
                     label: 'Servicios' %>

  </div>


  <div class="row">
    <label>Lunes:</label><div id="div1"></div>
  </div>
  <div class="row">
    <label>Martes:</label><div id="div2"></div>
  </div>
  <div class="row">
    <label>Miércoles:</label><div id="div3"></div>
  </div>
  <div class="row">
    <label>Jueves:</label><div id="div4"></div>
  </div>
  <div class="row">
    <label>Viernes:</label><div id="div5"></div>
  </div>
  <div class="row">
    <label>Sábado:</label><div id="div6"></div>
  </div>
  <div class="row">
    <label>Domingo:</label><div id="div7"></div>
  </div>
  <br />
<% end %>
<div class="row">
  <%= button_to 'Atrás', service_providers_path, :method => :get, :class => "btn btn-warning btn-sm" %><%= button_to_function "Guardar Proveedor", "createProvider()", :class => "btn btn-success btn-sm" %>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "quick_provider" %>
<% end %>
