<div class="box-step"></div>
<div class="box-step"></div>
<div class="box-step">
  <div class="col-md-12">
    <h4>Nuevo Proveedor de Servicios</h4>
    <%= form_for @service_provider, html: {class: "form-horizontal" } do |f| %>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :public_name, "Nombre Público:", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :public_name, :autofocus => true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :notification_email, "Email de Notificación:", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :notification_email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :location_id, "Local:", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.collection_select :location_id, Location.where(company_id: current_user.company_id), :id, :name, {}, {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= button_to 'Atrás', service_providers_path, :method => :get, :class => "btn btn-warning btn-sm" %>
            <%= button_to_function "Guardar Proveedor", "createProvider()", :class => "btn btn-success btn-sm" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Horario Local</h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "quick_provider" %>
<% end %>
