<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="pull-center text-gray">Contáctanos</h3>
            <%= image_tag "search/mapa_celular.png", width: "100%" %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%= form_tag("pcontact", method: "post", id: 'contact' ) do %>
                <%= hidden_field_tag :inputName %>
                <%= hidden_field_tag :inputLastname %>
                <div class="form-group has-feedback">
                    <label for="full_name" class="label-contacto">Nombre</label>
                    <input type="text" id="full_name" name="user[full_name]" class="form-control" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group has-feedback">
                    <%= label_tag(:inputEmail, 'E-mail', :class => "label-contacto") %>
                    <%= email_field_tag(:inputEmail, nil, :class => "form-control", :required => true) %>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <%= label_tag(:inputSubject, "Asunto", :class => "label-contacto") %>
                    <%= text_field_tag(:inputSubject, nil, :class => "form-control", :required => true) %>
                    <span class="help-block"></span>
                </div>
                <div class="form-group has-feedback">
                    <%= label_tag(:inputMessage, "Mensaje", :class => "label-contacto") %>
                    <%= text_area_tag(:inputMessage, nil, :class => "form-control", :required => true, :rows => 6) %>
                    <span class="help-block"></span>
                </div>
                <button type="submit" class="btn btn-orange pull-right"><i class="fa fa-envelope-o"></i> Enviar</button>
            <% end %>
        </div>
    </div>
</div>
<div class="background-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 pull-center">
                <div class="background-box">
                    <%= image_tag "footer/3.png" %>
                    <p>(+56 9) 5178 5898</p>
                </div>
                <div class="background-box">
                    <%= image_tag "footer/1.png" %>
                    <p>Nuestra Señora de los
                     Angeles 185, Oficina D,
                      Las Condes, Santiago</p>
                </div>
                <div class="background-box">
                    <%= image_tag "footer/2.png" %>
                    <p>contacto@agendapro.cl</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :scripts do %>
<%= javascript_include_tag 'validations/validate' %>
<%= javascript_include_tag 'validations/home/contact' %>
<%= javascript_include_tag 'split-name' %>
<script>
    $(function() {
        split_name('#full_name', '#inputName', '#inputLastname');
    });
</script>
<% end %>