<div class="row">
    <div class="col-xs-12">
        <%= form_tag("pcontact", method: "post", role: 'form', id: 'contact' ) do %>
            <%= hidden_field_tag :inputName %>
            <%= hidden_field_tag :inputLastname %>
            <div class="form-group">
                <label for="full_name" class="label-contacto">Nombre</label>
                <input type="text" id="full_name" name="user[full_name]" class="form-control" placeholder="Nombre completo (requerido)">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <%= label_tag(:inputEmail, "Email:") %>
                <%= email_field_tag(:inputEmail, nil, :class => "form-control", :placeholder => "mail@dominio.com", :required => true) %>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <%= label_tag(:inputSubject, "Asunto:") %>
                <%= select_tag(:inputSubject, options_for_select(["Servicio Técnico", "Consulta por plan especial", "Reclamos", "Otros"]), :class => "form-control") %>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <%= label_tag(:inputMessage, "Mensaje:") %>
                <%= text_area_tag(:inputMessage, nil, :class => "form-control", :placeholder => "Escriba sus comentarios por favor.", :required => true, :rows => 6) %>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <%= submit_tag "Enviar", :class => "btn btn-success btn-lg" %>
            </div>
        <% end %>
    </div>
    <div class="col-xs-12">
        <div class="well well-blanco">
            <strong>Agend@Pro</strong><br>
            Nuestra Señora de los Angeles 185, Oficina D<br>
            Las Condes, Santiago.<br>
            <abbr title="Teléfono">Tel:</abbr> (+56 9) 5178 5898<br>
            <a href="mailto:contacto@agendapro.cl">contacto@agendapro.cl</a>
        </div>
    </div>
</div>

<% content_for :scripts do %>
<%= javascript_include_tag 'validations/validate' %>
<%= javascript_include_tag 'validations/home/contact' %>
<%= javascript_include_tag 'split-name' %>
<script>
    $(function() {
        split_name('#full_name', '#inputName', '#inputLastname');
    });
</script>
<% end %>