<div class="background-light-grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="pull-center">
					<h1 class="text-grey">Características</h1>
					<p>Aquí encontrarás algunas de las principales ventajas de usar nuestro sistema.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-bottom: 10px;">
	<div class="row">
		<div class="col-sm-6">
			<h2><span class="text-green">Reservas Online </span>Acepta reservas 24/7, los 365 días del año</h2>
			<p>No pierdas más reservas porque no pudiste contestar el teléfono. Nunca más tendrás que devolver llamadas a tus clientes.</p>
		</div>
		<div class="col-sm-6">
			<div class="pull-center">
				<%= image_tag "home/features/laptopview-1.png", :alt => "Característica Laptop", :class => "img-responsive max-width" %>
			</div>
		</div>
	</div>
</div>
<div class="background-green">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="pull-center">
					<%= image_tag "home/features/responsive.png", :alt => "Característica Responsiva", :class => "img-responsive" %>
					<h2><span class="text-grey">Para PCs, tablets y móviles </span>AgendaPro es 100% compatible con PCs, tablets y móviles</h2>
				</div>
				<p class="text-justify">Por medio del uso de la tecnología Responsive, AgendaPro es compatible con la gran mayoría de los dispositivos con acceso a Internet existentes. Tus clientes podrán reservar desde el dispositivo que ellos quieran y a la hora que quieran, lo que permite que tus ventas se incrementen desde el primer minuto.</p>
			</div>
			<div class="col-sm-4">
				<div class="pull-center">
					<%= image_tag "home/features/support.png", :alt => "Característica Soporte", :class => "img-responsive" %>
					<h2><span class="text-grey">Para PCs, tablets y móviles </span>AgendaPro es 100% compatible con PCs, tablets y móviles</h2>
				</div>
				<p class="text-justify">Por medio del uso de la tecnología Responsive, AgendaPro es compatible con la gran mayoría de los dispositivos con acceso a Internet existentes. Tus clientes podrán reservar desde el dispositivo que ellos quieran y a la hora que quieran, lo que permite que tus ventas se incrementen desde el primer minuto.</p>
			</div>
			<div class="col-sm-4">
				<div class="pull-center">
					<%= image_tag "home/features/bi_white.png", :alt => "Característica IN", :class => "img-responsive" %>
					<h2><span class="text-grey">Inteligencia de Negocios </span>Obtén información importante para mejorar tu gestión</h2>
				</div>
				<p class="text-justify">Por medio de reportes personalizados y métricas pre-definidas, podrás ver el desempeño de tu negocio al instante, permitiéndote tomar decisiones más informadas e inteligentes.</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="pull-center">
				<%= image_tag "home/features/mobileview.png", :alt => "Característica Móvil", :class => "img-responsive" %>
			</div>
		</div>
		<div class="col-sm-6">
			<h2><span class="text-green">Recordatorios automáticos </span>Asegúrate que tus clientes lleguen a sus citas</h2>
			<p>AgendaPro envía recordatorios automáticos a todos tus clientes para que nunca más se les olviden sus reservas. Elimina las inasistencias y aumenta tu productividad.</p>
		</div>
	</div>
</div>
<div class="background-green" style="padding-bottom: 0;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2><span class="text-grey">Maneja tu Agenda </span>Gestiona tu empresa desde cualquier lugar</h2>
				<p class="text-justify">Con AgendaPro podrás gestionar todos tus locales, servicios y staffs desde cualquier lugar. Cambia o revisa que está ocurriendo en tus locales con tan sólo un click. Sólo necesitas una conexión a Internet y listo.</p>
				<div class="pull-center">
					<%= image_tag "home/features/tabletview_half.png", :alt => "Característica Tablet", :class => "img-responsive max-width" %>
				</div>
			</div>
		</div>
	</div>
</div>
