<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-green">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Email</th>
            <th>Visualizaciones</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% @emails.each do |email| %>
          <tr>
            <td><%= email.status %></td>
            <td><%= l email.timestamp + @timezone, format: :long %></td>
            <td><%= email.subject %></td>
            <td><%= email.recipient %></td>
            <td><%= email.opens %></td>
            <td><%= email.clicks %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
