<div class="container">
  <%= form_for @client, html: {class: "form-horizontal" } do |f| %>
    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> no permitió que el cliente fuera guardado:</h2>
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="row">
        <div class="col-md-6 well">
          <div class="form-group">
            <%= f.label :email, "Email: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :email, :autofocus => true, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :first_name, "Nombre: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, "Apellido: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, "Teléfono: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.text_field :phone, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address, "Dirección: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.text_field :address, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :district, "Comuna: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.text_field :district, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :city, "Ciudad: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.text_field :city, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :birth_date, "Fecha Nacimiento: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.text_field :birth_date, class: "form-control", :value => (@client.birth_date.blank? ? '' : @client.birth_date.strftime('%d/%m/%Y')) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :age, "Edad: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.number_field :age, class: "form-control", :min => 0 %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :gender, "Género: ", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.select :gender, [['No especificado',0], ['Femenino',1], ['Masculino',2]], { }, { class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
              <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
              <%= link_to 'Cancelar', clients_path, class: "btn btn-danger" %>  
            </div>
          </div>
        </div>
  <% end %>

        <% if @client.id %>
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Reservas Pasadas
                </h3>
              </div>
              <div class="panel-body fixed-panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Fecha</th>
                      <th>Local</th>
                      <th>Servicio</th>
                      <th>Estado</th>
                    </tr>
                    <% @lastBookings.each do |booking| %>
                    <tr>
                      <td><%= l booking.start, format: :short %></td>
                      <td><%= booking.location.name %></td>
                      <td><%= booking.service.name %></td>
                      <td><%= booking.status.name %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Próximas Reservas
                </h3>
              </div>
              <div class="panel-body fixed-panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Fecha</th>
                      <th>Local</th>
                      <th>Servicio</th>
                      <th>Estado</th>
                    </tr>
                    <% @activeBookings.each do |booking| %>
                    <tr>
                      <td><%= l booking.start, format: :short %></td>
                      <td><%= booking.location.name %></td>
                      <td><%= booking.service.name %></td>
                      <td><%= booking.status.name %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <%= link_to "Ver Historial Completo", client_history_path(:id => @client.id) %>      
          </div>
        <% end %>
      </div>
  
  <div class="row">
    <% if @client.id %>
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              Comentarios acerca del Cliente
            </h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <tr>
                  <th class="col-md-9">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Comentario: </label>
                      <div class="col-sm-9">
                        <textarea class="form-control" id="client_comment_comment" rows="5"></textarea>
                      </div>
                    </div>
                    <input id="client_comment_client_id" type="hidden" value="<%= @client.id %>" />
                  </th>
                  <th class="col-md-3">
                    <div class="form-group">
                      <button class="btn btn-primary" id="new_comment_button">Agregar</button>
                    </div>
                  </th>
                </tr>
                <% @client_comments.each do |client_comment| %>
                <tr>
                  <td id="comment<%= client_comment.id %>"><%= client_comment.comment.gsub("\n", "<br />").html_safe %></td>
                  <td><%= l client_comment.created_at, format: :short %><br />
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, '#', :class => 'btn btn-warning btn-xs', :id => 'edit_button'+client_comment.id.to_s %>
                    <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, '#', :class => 'btn btn-danger btn-xs', :id => 'destroy_button'+client_comment.id.to_s %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <% content_for :scripts do %>
  <%= javascript_include_tag "clients" %>
  <%= stylesheet_link_tag "jquery-ui-1.10.4" %>
  <%= javascript_include_tag "jquery-ui-1.10.4.min.js" %>
<% end %>
</div>
