<style>
.well {
  overflow: hidden;
}
</style>

<div class="container-fluid">
      <div class="row">
        <%= form_for @client, html: {class: "form-horizontal", multipart: true} do |f| %>
          <% if @client.errors.any? %>
            <div id="error_explanation">
              <h2 class="text-green"><%= pluralize(@client.errors.count, "error") %> no permitió que el cliente fuera guardado:</h2>
              <ul>
                <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <% if @client.id %>
          <div class="col-md-6">
          <div class="well">
          <% else %>
          <div class="well">
          <div class="col-md-6">
          <% end %>
              <% if Company.find(current_user.company_id).company_setting.client_exclusive %>
              <div class="form-group">
                <%= f.label :can_book, "¿Puede reservar?", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.check_box :can_book, class: "check_box" %>
                </div>
              </div>
              <% end %>
              <div class="form-group has-feedback">
                <%= f.label :record, "Número de Cliente", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :record, :autofocus => true, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :email, "E-mail", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :email, :autofocus => true, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :first_name, "Nombre", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :first_name, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :last_name, "Apellido", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :last_name, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :identification_number, (I18n.t('ci')).capitalize, class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :identification_number, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :phone, "Teléfono", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :phone, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :second_phone, "Teléfono 2", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :second_phone, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <% if !@client.id %>
              </div>
              <div class="col-md-6">
              <% end %>
              <div class="form-group has-feedback">
                <%= f.label :address, "Dirección", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :address, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :district, (I18n.t('district')).capitalize, class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :district, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :city, "Ciudad", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :city, class: "form-control" %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :birth_day, "Cumpleaños", class: "col-sm-3 control-label" %>
                <div class="col-sm-3">
                  <%= f.select :birth_day, [['01',1], ['02',2], ['03',3], ['04',4], ['05',5], ['06',6], ['07',7], ['08',8], ['09',9], ['10',10], ['11',11], ['12',12], ['13',13], ['14',14], ['15',15], ['16',16], ['17',17], ['18',18], ['19',19], ['20',20], ['21',21], ['22',22], ['23',23], ['24',24], ['25',25], ['26',26], ['27',27], ['28',28], ['29',29], ['30',30], ['31',31]], {prompt: "Día..."}, { class: "form-control"} %>
                </div>
                <div class="col-sm-3">
                  <%= f.select :birth_month, [['Enero',1], ['Febrero',2], ['Marzo',3], ['Abril',4], ['Mayo',5], ['Junio',6], ['Julio',7], ['Agosto',8], ['Septiembre',9], ['Octubre',10], ['Noviembre',11], ['Diciembre',12]], {prompt: "Mes..."}, { class: "form-control"} %>
                </div>
                <div class="col-sm-3">
                  <%= f.select :birth_year, options_for_select(Time.now.year.downto(Time.now.year-100).map {|s| ["#{s}", s]}, selected: @client.birth_year), {prompt: "Año..."}, { class: "form-control"} %>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :age, "Edad", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.number_field :age, class: "form-control", :min => 0 %>
                  <span class="help-block"></span>
                  <span class="form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :gender, "Género", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.select :gender, [['No especificado',0], ['Femenino',1], ['Masculino',2]], { }, { class: "form-control"} %>
                </div>
              </div>

              <% if @company.is_plan_capable("Premium") %>
                <% @company.custom_attributes.each do |attribute| %>

                  <% if attribute.datatype == "float" %>

                    <% 
                      float_attribute = FloatAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      float_attribute_value = ""
                      if !float_attribute.nil? && !float_attribute.value.nil?
                        float_attribute_value = float_attribute.value
                      end
                    %>

                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" value="<%= float_attribute_value %>" <%= "required" if attribute.mandatory %> />
                        <span class="help-block"><%= attribute.description %></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "integer" %>

                    <% 
                      integer_attribute = IntegerAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      integer_attribute_value = ""
                      if !integer_attribute.nil? && !integer_attribute.value.nil?
                        integer_attribute_value = integer_attribute.value
                      end
                    %>
                    
                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" value="<%= integer_attribute_value %>" <%= "required" if attribute.mandatory %> />
                        <span class="help-block"><%= attribute.description %></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "text" %>

                    <% 
                      text_attribute = TextAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      text_attribute_value = ""
                      if !text_attribute.nil? && !text_attribute.value.nil?
                        text_attribute_value = text_attribute.value
                      end
                    %>
                    
                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" value="<%= text_attribute_value %>" <%= "required" if attribute.mandatory %> />
                        <span class="help-block"><%= attribute.description %></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "textarea" %>

                    <% 
                      textarea_attribute = TextareaAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      textarea_attribute_value = ""
                      if !textarea_attribute.nil? && !textarea_attribute.value.nil?
                        textarea_attribute_value = textarea_attribute.value
                      end
                    %>
                    
                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" <%= "required" if attribute.mandatory %> /><%= textarea_attribute_value %></textarea>
                        <span class="help-block"><%= attribute.description %></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "boolean" %>

                    <% 
                      boolean_attribute = BooleanAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      boolean_attribute_value = "0"
                      if !boolean_attribute.nil? && !boolean_attribute.value.nil?
                        if boolean_attribute_value
                          boolean_attribute_value = "1"
                        end
                      end
                    %>
                    
                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <select class="form-control" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute">
                          <% if boolean_attribute_value == "1" %>
                            <option value="1" selected>Sí</option>
                            <option value="0">No</option>
                          <% else %>
                            <option value="0" selected>No</option>
                            <option value="1">Sí</option>
                          <% end %>
                        </select>
                        <span class="help-block"><%= attribute.description %></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "date" %>

                    <% 
                      date_attribute = DateAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      date_attribute_value = ""
                      if !date_attribute.nil? && !date_attribute.value.nil?
                        date_attribute_value = date_attribute.value.strftime('%d/%m/%Y')
                      end
                    %>
                    
                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control attribute_datepicker" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" value="<%= date_attribute_value %>" <%= "required" if attribute.mandatory %> />
                        <span class="help-block"><%= attribute.description %></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "datetime" %>

                    <% 
                      date_time_attribute = DateTimeAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                      date_time_attribute_date = ""
                      date_time_attribute_hour = "00"
                      date_time_attribute_minute = "00"
                      if !date_time_attribute.nil? && !date_time_attribute.value.nil?
                        date_time_attribute_date = date_time_attribute.value.strftime("%d/%m/%Y")
                        date_time_attribute_hour = date_time_attribute.value.strftime("%H")
                        date_time_attribute_minute = date_time_attribute.value.strftime("%M")
                      end
                    %>
                    
                    <div class="form-group">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <div class="col-sm-5">
                          <input type="text" class="form-control attribute_datepicker" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" value="<%= date_time_attribute_date %>" <%= "required" if attribute.mandatory %> />
                        </div>
                        <div class="col-sm-3">
                          <select class="form-control" name="<%= attribute.slug %>_attribute_hour" id="<%= attribute.slug %>_attribute_hour">
                            <% 
                              for i in 0..23
                                str_hour = i.to_s
                                if str_hour.length == 1
                                  str_hour = "0" + str_hour
                                end

                                if str_hour == date_time_attribute_hour
                                %>
                                  <option value="<%= str_hour %>" selected><%= str_hour %></option>
                                <%
                                else
                                %>
                                  <option value="<%= str_hour %>"><%= str_hour %></option>
                                <%
                                end

                              end 
                            %>
                          </select>
                        </div>
                        <div class="col-sm-1">
                        :
                        </div>
                        <div class="col-sm-3">
                          <select class="form-control" name="<%= attribute.slug %>_attribute_minute" id="<%= attribute.slug %>_attribute_minute">
                            <% 
                              for i in 0..59
                                str_minute = i.to_s
                                if str_minute.length == 1
                                  str_minute = "0" + str_minute
                                end

                                if str_minute == date_time_attribute_minute
                                %>
                                  <option value="<%= str_minute %>" selected><%= str_minute %></option>
                                <%
                                else
                                %>
                                  <option value="<%= str_minute %>"><%= str_minute %></option>
                                <%
                                end

                              end 
                            %>
                          </select>
                        </div>
                        <span class="help-block"><%= attribute.description %></span>
                        <span class="form-control-feedback"></span>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "file" %>

                    <% file_attribute = FileAttribute.where(attribute_id: attribute.id, client_id: @client.id).first %>

                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <input type="file" class="form-control file-attribute" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute" value="" <%= "required" if attribute.mandatory %> />
                        <span class="help-block"><%= attribute.description %></span>
                        <% 
                          if !file_attribute.nil? && !file_attribute.client_file.nil?

                            full_path = file_attribute.client_file.full_path
                            obj = @s3_bucket.object(full_path)

                            if !obj.content_type.index("image").nil?
                            %>
                              <span style="color: #949292; font-size: 14px; margin-top: 5px;">Actual: <br /><img src="<%= obj.public_url %>" width="120px" hegith="120px" /></span>
                            <%
                            else
                            %>
                              <span style="color: #949292; font-size: 14px; margin-top: 5px;">Actual: <a href="<%= obj.public_url %>"><%= file_attribute.client_file.name %></a>
                            <% 
                            end

                          end 
                        %>
                      </div>
                    </div>

                  <% elsif attribute.datatype == "categoric" %>
                    <% 
                      categoric_attribute = CategoricAttribute.where(attribute_id: attribute.id, client_id: @client.id).first
                    %>
                    
                    <div class="form-group has-feedback">
                      <label for="<%= attribute.slug %>_attribute" class="col-sm-3 control-label">
                        <%= attribute.name %>
                      </label>
                      <div class="col-sm-9">
                        <select class="form-control" name="<%= attribute.slug %>_attribute" id="<%= attribute.slug %>_attribute">
                          <% attribute.attribute_categories.each do |category| %>
                            <% if !categoric_attribute.nil? && !categoric_attribute.attribute_category_id.nil? && categoric_attribute.attribute_category_id == category.id %>
                              <option value="<%= category.id %>" selected><%= category.category %></option>
                            <% else %>
                              <option value="<%= category.id %>"><%= category.category %></option>
                            <% end %>
                          <% end %>
                        </select>
                        <span class="help-block"><%= attribute.description %></span>
                      </div>
                    </div>
                  <% end %>

                <% end %>
              <% end %>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= f.submit 'Guardar', :class => 'btn btn-green' %>
                  <%= link_to 'Cancelar', clients_path, class: "btn btn-default" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @client.id %>
        <div class="col-md-6">
          <div class="panel panel-green">
            <div class="panel-heading">
              <h3 class="panel-title">Reservas Pasadas</h3>
            </div>
            <div class="panel-body panel-scrollable" style="max-height: 220px !important;">
              <table class="table">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Local</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <% @lastBookings.each do |booking| %>
                  <tr>
                    <td><%= l booking.start, format: :short %></td>
                    <td><%= booking.location.name %></td>
                    <td>
                      <% if !booking.is_session %>
                        <%= booking.service.name %>
                      <% else %>
                        <% 
                            index = 1
                            session_index = "Sesión "
                            session_booking = booking.session_booking
                            session_booking.bookings.where(:is_session_booked => true).order('start asc').each do |b|

                                if b.id == booking.id
                                    session_index = session_index + index.to_s
                                    break
                                end
                                index = index + 1
                            end

                            session_index = session_index + " de " + session_booking.sessions_amount.to_s

                        %>

                        <%= booking.service.name %><br /><%= "(" + session_index + ")" %>
                      <% end %>
                    </td>
                    <td><%= booking.status.name %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-green">
            <div class="panel-heading">
              <h3 class="panel-title">Próximas Reservas</h3>
            </div>
            <div class="panel-body panel-scrollable" style="max-height: 230px !important;">
              <table class="table">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Local</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <% @activeBookings.each do |booking| %>
                  <tr>
                    <td><%= l booking.start, format: :short %></td>
                    <td><%= booking.location.name %></td>
                    <td>
                      <% if !booking.is_session %>
                        <%= booking.service.name %>
                      <% else %>
                        <% 
                            index = 1
                            session_index = "Sesión "
                            session_booking = booking.session_booking
                            session_booking.bookings.where(:is_session_booked => true).order('start asc').each do |b|

                                if b.id == booking.id
                                    session_index = session_index + index.to_s
                                    break
                                end
                                index = index + 1
                            end

                            session_index = session_index + " de " + session_booking.sessions_amount.to_s

                        %>

                        <%= booking.service.name %><br /><%= "(" + session_index + ")" %>
                      <% end %>
                    </td>
                    <td><%= booking.status.name %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-green">
            <div class="panel-heading">
              <h3 class="panel-title">Sesiones</h3>
            </div>
            <div class="panel-body panel-scrollable" style="max-height: 230px !important;">
              <table class="table">
                <thead>
                  <tr>
                    <th>Servicio</th>
                    <th>Local</th>
                    <th>Agendadas</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% @sessionBookings.each do |session_booking| %>
                  <% if session_booking.bookings.first %>
                  <tr>
                    <td><%= session_booking.service.name %></td>
                    <td><%= session_booking.bookings.first.location.name %></td>
                    <td><%= session_booking.sessions_taken %></td>
                    <td><%= session_booking.sessions_amount %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <% if @company.is_plan_capable("Premium") %>
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-6">
                    Archivos
                  </div>
                  <div class="col-md-6">
                    <button id="addFileBtn" class="btn btn-default" style="float: right; color: #22c488;">Agregar archivo</button>
                  </div>
                </div>
              </div>
              <div class="panel-body panel-scrollable" style="max-height: 230px !important;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha</th>
                      <th>Tamaño</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @files.each do |file| %>
                      <% 
                        s3_bucket = Aws::S3::Resource.new.bucket(ENV['S3_BUCKET'])
                        if s3_bucket.object(file.full_path).exists?
                      %>
                        <tr class="file-row" file_id="<%= file.id %>">
                          <td><%= file.name %></td>
                          <td><%= file.updated_at.strftime("%d/%m/%Y %R") %></td>
                          <td><%= bytes_to_text(file.size) %></td>
                          <td>
                            <button class="btn btn-green btn-xs viewFileBtn" client_file_id="<%= file.id %>"><i class="fa fa-search-plus"></i>&nbsp;Ver</button>
                            <%= link_to '<i class="fa fa-trash-o"></i>&nbsp;Eliminar'.html_safe, file, method: :delete, :remote => true, data: { confirm: '¿Estás seguro de eliminar el archivo seleccionado?', type: :json }, class: 'btn btn-red btn-xs file-delete' %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
          <%= link_to '<i class="fa fa-eye"></i> Historial Completo'.html_safe, client_history_path(:id => @client.id), class: "btn btn-white" %>
          <% if @company.is_plan_capable("Premium") %>
            <%= link_to '<i class="fa fa-file-o"></i> Todos los archivos'.html_safe, get_client_files_path(:client_id => @client.id), class: "btn btn-white" %>
          <% end %>
        </div>
        <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @client.id %>
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Comentarios acerca del Cliente</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="col-md-9">
                  <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Comentario: </label>
                    <div class="col-sm-9">
                      <textarea class="form-control" id="client_comment_comment" name="client_comment_comment" rows="5"></textarea>
                      <span class="help-block"></span>
                      <span class="form-control-feedback"></span>
                    </div>
                  </div>
                  <input id="client_comment_client_id" type="hidden" value="<%= @client.id %>" />
                </td>
                <td class="col-md-3">
                  <div class="form-group">
                    <button class="btn btn-green" id="new_comment_button">Agregar</button>
                  </div>
                </td>
              </tr>
              <% @client_comments.each do |client_comment| %>
              <tr>
                <td id="comment<%= client_comment.id %>"><%= client_comment.comment.gsub("\n", "<br />").html_safe %></td>
                <td>
                  <p><%= l client_comment.created_at - eval(ENV["TIME_ZONE_OFFSET"]), format: :long %></p>
                  <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, '#', :class => 'btn btn-orange btn-sm', :id => 'edit_button' + client_comment.id.to_s %>
                  <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, '#', :class => 'btn btn-red btn-sm', :id => 'destroy_button' + client_comment.id.to_s %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% if @company.is_plan_capable("Premium") %>
  <!-- File Upload Modal -->

  <div class="modal fade fileUploadModal" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="Agregar archivo" aria-hidden="true">
    <div class="modal-dialog" style="width: auto;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></button>
          <h3 class="modal-title" id="fileUploadModallTitle" style="line-height: 1.1;">
            Subir archivo
          </h3>
        </div>
        <div class="modal-body" id="fileUploadModalBody">
          <div class="row">
            <div class="col-xs-12">

              <%= form_tag upload_client_file_path, multipart: true, class: 'form-horizontal', id: 'client_upload_file_form' do %>

                <input type="hidden" id="client_id" name="client_id" value="<%= @client.id %>" %>
                <input type="hidden" id="origin" name="origin" value="edit_client" %>

                <div class="payment-form-div form-group has-feedback">
                  <label class="col-xs-4 control-label">Archivo</label>
                  <div class="col-xs-8">
                    <%= file_field_tag :file, :class => 'form-control'  %>
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

                <div class="payment-form-div form-group has-feedback">
                  <label class="col-xs-4 control-label">Nombre</label>
                  <div class="col-xs-8">
                    <input type="text" class="form-control" id="file_name" name="file_name" value="" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

                <div class="payment-form-div form-group has-feedback">
                  <label class="col-xs-4 control-label">Descripción</label>
                  <div class="col-xs-8">
                    <textarea class="form-control" id="file_description" name="file_description"></textarea>
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

                <div class="payment-form-div form-group has-feedback">
                  <label class="col-xs-4 control-label">Carpeta</label>
                  <div class="col-xs-8">
                    <select id="folderSelect" class="form-control" name="folder_name">
                      <option value="select">Nueva carpeta</option>
                      <% @folders.each do |folder_name| %>
                        <option value="<%= folder_name %>"><%= folder_name %></option>
                      <% end %>
                    </select>
                    <input type="text" id="new_folder_name" name="new_folder_name" class="form-control" value="" style="margin-top: 10px;" />
                    <span class="help-block"></span>
                    <span class="form-control-feedback"></span>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

                <div class="payment-form-div form-group">
                  <label class="col-xs-4 control-label"></label>
                  <div class="col-xs-8">
                    <button type="submit" class="btn btn-green">Guardar</button>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

              <% end %>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Cancelar">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- END File Upload Modal -->

  <!-- View File Modal -->

  <div class="modal fade fileUploadModal" id="viewFileModal" tabindex="-1" role="dialog" aria-labelledby="Ver archivo" aria-hidden="true">
    <div class="modal-dialog" style="width: auto;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></button>
          <h3 class="modal-title" id="viewFileModallTitle" style="line-height: 1.1;">
            Archivo
          </h3>
        </div>
        <div class="modal-body" id="viewFileModalBody">
          <div class="row">
            <div class="col-xs-12">

                <div class="payment-form-div form-group">
                  <label class="col-xs-4 control-label">Nombre</label>
                  <div class="col-xs-8">
                    <div id="view_file_name" class="view_file_content">

                    </div>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

                <div class="payment-form-div form-group">
                  <label class="col-xs-4 control-label">Descripción</label>
                  <div class="col-xs-8">
                    <div id="view_file_description" class="view_file_content">

                    </div>
                  </div>
                </div>

                <div style="clear: both;">
                </div>
              
                <div class="payment-form-div form-group">
                  <label class="col-xs-4 control-label">Enlace</label>
                  <div class="col-xs-8">
                    <div id="view_file_link" class="view_file_content">

                    </div>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

                <div class="payment-form-div form-group" id="view_file_preview_div">
                  <label class="col-xs-4 control-label">Vista previa</label>
                  <div class="col-xs-8">
                    <div id="view_file_preview" class="view_file_content">

                    </div>
                  </div>
                </div>

                <div style="clear: both;">
                </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Cancelar">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- END View File Modal -->

<% content_for :scripts do %>
  <%= javascript_include_tag "validations/identification_number/" + I18n.locale.to_s %>
  <%= javascript_include_tag "clients" %>
<% end %>
