<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-green">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Local</th>
            <th>Monto</th>
            <th>Descuento</th>
            <th>Ver</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
          <tr>
            <td><%= l payment.payment_date, format: :long %></td>
            <td><%= payment.location.name %></td>
            <td><%= number_to_currency(payment.amount, currency: ' $', separator: ',', delimeter: '.', precision: 0) %></td>
            <td><%= payment.discount.round(2) %> %</td>
            <td>
              <button class="btn btn-default btn-xs" onclick="openPaymentSummary(<%= payment.id %>);"><i class="fa fa-search-plus"></i></button>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>