<div class="container-fluid background-grey">

  <%= render 'client_layout' %>

</div>
<div class="container-fluid" style="margin-top: 10px;">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">

      <div class="row">
        <label for="from" class="col-sm-1 control-label">Desde:</label>
        <div class="col-sm-3">
          <input type="text" id="from" name="from" class="form-control option_select option_select_date" value="<%= @start_date %>">
        </div>
        <label for="from" class="col-sm-1 control-label">Hasta:</label>
        <div class="col-sm-3">
          <input type="text" id="to" name="to" class="form-control option_select option_select_date" value="<%= @end_date %>">
        </div>
        <div class="col-sm-4">
          <button class="btn btn-green" id="addChartBtn"><i class="fa fa-plus"></i>&nbsp;Agregar ficha</button>
        </div>
        <div style="clear: both;">
        </div>
      </div>
      <div class="row" style="margin-top: 7px;">
        <label for="from" class="col-sm-1 control-label">Ver:</label>
        <div class="col-sm-3">
          <select name="option" id="option" class="form-control option_select">
            <option value="summary">
              Resumen
            </option>
            <option value="evolution">
              Evolución
            </option>
          </select>
        </div>
        <label for="fieldMultiSelect" class="col-sm-1 control-label">Campos:</label>
        <div class="col-sm-3">
          <select id="fieldMultiSelect" multiple="multiple" hidden>
            <% @company.chart_groups.order(:order).each do |chart_group| %>
              <% if chart_group.chart_fields.count > 0 %>
                <optgroup label="<%= chart_group.name %>">
                  <% chart_group.chart_fields.order(:order).each do |chart_field| %>
                    <option value="<%= chart_field.id %>">
                      <%= chart_field.name %>
                    </option>
                  <% end %>
                </optgroup>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="col-sm-4">
        </div>
        <div style="clear: both;">
        </div>
      </div>
    </div>

  </div>

  <input type="hidden" id="client_id" value="<%= @client.id %>" />

  <div id="client_charts_div">

  </div>
</div>

<div class="modal fade chartModal" id="chartSummaryModal" tabindex="-1" role="dialog" aria-labelledby="Ficha" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="chartSummaryModalTitle" style="line-height: 1.1;">Resumen de ficha</h3>
      </div>
      <div class="modal-body" id="chartSummaryModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Salir">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Chart cration form modal -->

<div class="modal fade chartModal" id="newChartModal" tabindex="-1" role="dialog" aria-labelledby="Nueva ficha" aria-hidden="true">
  <%= form_for @chart, html: {class: "form-horizontal", multipart: true} do |f| %>
    <input type="hidden" name="chart[client_id]" id="chart_client_id" value="<%= @client.id %>" />
    <input type="hidden" name="chart[company_id]" id="chart_company_id" value="<%= @company.id %>" />
    <input type="hidden" name="chart[user_id]" id="chart_user_id" value="<%= current_user.id %>" />
    <div class="modal-dialog" style="width: 70%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
          <h3 class="modal-title" id="newChartModalTitle" style="line-height: 1.1;">Nueva ficha</h3>
        </div>
        <div class="modal-body" id="newChartModalBody" style="padding-top: 0px; padding-bottom: 0px;">
          

          <div class="row well" style="margin-bottom: 0px;">
            <div class="col-md-2">
              <ul id="client-chart-fields-tab" class="nav nav-pills nav-stacked" role="tablist">
                <li id="client-chart-general-li" class="booking-client-li active"><a href="#chart-general" role="tab" data-toggle="tab" class="client_tab_index">General</a></li>
                <% @company.chart_groups.each_with_index do |chart_group, index| %>
                  <% if chart_group.chart_fields.count > 0 %>
                    <li id="client-chart-fields<%= chart_group.id %>-li" class="booking-client-li"><a href="#client-chart-fields-<%= chart_group.id %>" role="tab" data-toggle="tab" class="client_tab_index" id="client-chart-fields-<%= chart_group.id %>-tab"><%= chart_group.name %></a></li>
                  <% end %>
                <% end %>


              </ul>
            </div>
            <div class="col-md-10">



                  <div id="clientTabContent" class="tab-content">

                    <div class="tab-pane active" id="chart-general">
                      <div class="form-group">
                        <label for="chart_date" class="col-xs-2 col-md-2 control-label left-label">Fecha</label>
                        <div class="col-xs-2 col-md-2">
                          <input type="hidden" name="chart[date]" id="chart_date" value="" /> 
                          <input type="text" class="form-control chart_field_datepicker" id="aux_date" value="<%= (DateTime.now + @company.country.timezone_offset.hours).strftime('%d/%m/%Y') %>" autocomplete="off" />
                        </div>
                        <div class="col-xs-4" style="text-align: right;">
                          <select class="form-control" style="width: 45% !important; display: inline;" id="aux_hour">
                            <%
                              for i in 0..23
                                str_hour = i.to_s
                                if str_hour.length == 1
                                  str_hour = "0" + str_hour
                                end

                                %>
                                  <option value="<%= str_hour %>"><%= str_hour %></option>
                                <%

                              end
                            %>
                          </select>
                          &nbsp;:&nbsp;
                          <select class="form-control" style="width: 45% !important; display: inline;" id="aux_minute">
                            <%
                              for i in 0..59
                                str_hour = i.to_s
                                if str_hour.length == 1
                                  str_hour = "0" + str_hour
                                end

                                %>
                                  <option value="<%= str_hour %>"><%= str_hour %></option>
                                <%

                              end
                            %>
                          </select>
                        </div>
                        <div class="col-xs-4">

                        </div>

                      </div>
                      <div class="form-group">
                        <input type="hidden" name="chart[booking_id]" id="chart_booking_id" value="" />
                        <label for="chart_booking_id" class="col-xs-2 col-md-2 control-label left-label">Reserva</label>
                        <div class="col-xs-4" style="padding-top: 7px;">
                          <span id="chart_booking_detail">Sin reserva asociada</span>
                        </div>
                        <div class="col-xs-2">
                          <button class="btn btn-default form-control" id="addChartBookingBtn">Ver reservas</button>
                        </div>
                        <div class="col-xs-2">
                          <input type="text" id="bookings_from" class="form-control chart_field_datepicker" value="<%= (DateTime.now + @company.country.timezone_offset.hours - 7.days).strftime('%d/%m/%Y') %>" />
                        </div>
                        <div class="col-xs-2">
                        <input type="text" id="bookings_to" class="form-control chart_field_datepicker" value="<%= (DateTime.now + @company.country.timezone_offset.hours).strftime('%d/%m/%Y') %>" />
                        </div>
                      </div>
                      <div class="form-group">

                        <!-- Past bookings -->

                        <div id="chartBookings" hidden>
                          <div class="cpb-title">
                            Reservas existentes
                          </div>
                          <div class="cpb-headers">
                            <div class="col-xs-2">
                              &nbsp;
                            </div>
                            <div class="col-xs-3">
                              Servicio
                            </div>
                            <div class="col-xs-3">
                              Prestador
                            </div>
                            <div class="col-xs-4">
                              Fecha
                            </div>
                            <div style="clear: both;">
                            </div>
                          </div>
                          <div style="clear: both;">
                          </div>
                          <div id="cpb-bookings">

                          </div>
                        </div>

                      </div>
                    </div>

                    <!--
                      Chart fields
                    -->
                    
                      <% @company.chart_groups.order(:order).each_with_index do |chart_group, index| %>
                        <% if chart_group.chart_fields.count > 0 %>
                          <div class="tab-pane" id="client-chart-fields-<%= chart_group.id %>">
                            <div class="row">

                              <% chart_group.chart_fields.order(:order).each do |chart_field| %>

                                <%
                                  if (chart_field.datatype == "categoric" && (chart_field.chart_categories.nil? || chart_field.chart_categories.count < 1))
                                    next
                                  end
                                %>

                                <div class="col-md-6">

                                  <% if chart_field.datatype == "file" %>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <input type="file" class="form-control file-chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" value="" <%= "required" if chart_field.mandatory %> />
                                            <span class="help-block"><%= chart_field.description %></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                  <% elsif chart_field.datatype == "float" %>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <input type="number" class="form-control chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" value="" <%= "required" if chart_field.mandatory %> />
                                            <span class="help-block"><%= chart_field.description %></span>
                                            <span class="form-control-feedback"></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <% elsif chart_field.datatype == "integer" %>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <input type="number" class="form-control chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" value="" <%= "required" if chart_field.mandatory %> />
                                            <span class="help-block"><%= chart_field.description %></span>
                                            <span class="form-control-feedback"></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <% elsif chart_field.datatype == "text" %>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <input type="text" class="form-control chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" value="" <%= "required" if chart_field.mandatory %> />
                                            <span class="help-block"><%= chart_field.description %></span>
                                            <span class="form-control-feedback"></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  <% elsif chart_field.datatype == "textarea" %>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <textarea class="form-control chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" <%= "required" if chart_field.mandatory %> /></textarea>
                                            <span class="help-block"><%= chart_field.description %></span>
                                            <span class="form-control-feedback"></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  <% elsif chart_field.datatype == "boolean" %>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <select class="form-control chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field">
                                                <option value="1" selected>Sí</option>
                                                <option value="0">No</option>
                                            </select>
                                            <span class="help-block"><%= chart_field.description %></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  <% elsif chart_field.datatype == "date" %>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                            <%= chart_field.name %>
                                          </label>
                                          <div class="col-sm-8">
                                            <input type="text" class="form-control chart_field_datepicker chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" value="" <%= "required" if chart_field.mandatory %> />
                                            <span class="help-block"><%= chart_field.description %></span>
                                            <span class="form-control-feedback"></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  <% elsif chart_field.datatype == "datetime" %>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                        <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                          <%= chart_field.name %>
                                        </label>
                                        <div class="col-sm-8" style="padding: 0px !important;">
                                          <div class="col-sm-12">
                                            <input type="text" class="form-control chart_field_datepicker chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field" value="" <%= "required" if chart_field.mandatory %> />
                                          </div>
                                          <div class="col-sm-5" style="padding-right: 0px;">
                                            <select class="form-control chart-field" name="<%= chart_field.slug %>_chart_field_hour" id="<%= chart_field.slug %>_chart_field_hour">
                                              <%
                                                for i in 0..23
                                                  str_hour = i.to_s
                                                  if str_hour.length == 1
                                                    str_hour = "0" + str_hour
                                                  end

                                                  %>
                                                    <option value="<%= str_hour %>"><%= str_hour %></option>
                                                  <%

                                                end
                                              %>
                                            </select>
                                          </div>
                                          <div class="col-sm-2">
                                          :
                                          </div>
                                          <div class="col-sm-5" style="padding-left: 0px;">
                                            <select class="form-control chart-field" name="<%= chart_field.slug %>_chart_field_minute" id="<%= chart_field.slug %>_chart_field_minute">
                                              <%
                                                for i in 0..59
                                                  str_minute = i.to_s
                                                  if str_minute.length == 1
                                                    str_minute = "0" + str_minute
                                                  end

                                                  %>
                                                    <option value="<%= str_minute %>"><%= str_minute %></option>
                                                  <%

                                                end
                                              %>
                                            </select>
                                          </div>
                                          <span class="help-block"><%= chart_field.description %></span>
                                          <span class="form-control-feedback"></span>
                                        </div>
                                      </div>
                                      </div>
                                    </div>

                                  <% elsif chart_field.datatype == "categoric" %>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                        <label for="<%= chart_field.slug %>_chart_field" class="col-sm-4 control-label">
                                          <%= chart_field.name %>
                                        </label>
                                        <div class="col-sm-8">
                                          <select class="form-control chart-field" name="<%= chart_field.slug %>_chart_field" id="<%= chart_field.slug %>_chart_field">
                                            <% chart_field.chart_categories.each do |category| %>
                                              <option value="<%= category.id %>"><%= category.name %></option>
                                            <% end %>
                                          </select>
                                          <span class="help-block"><%= chart_field.description %></span>
                                        </div>
                                      </div>
                                      </div>
                                    </div>

                                  <% end %>
                                </div>
                              <% end %>

                            </div>
                          </div>
                        <% end %>
                      <% end %>

                    
                  </div>

              
              <!--<p><strong>Nota:</strong> Si modificas estos datos, al guardar la reserva, se actualizarán los datos del cliente.</p>-->
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-green" id="saveChartBtn">Guardar</button>
          <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Salir">Salir</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Chart creation form end -->

<!-- Chart edition form -->

<div class="model fade ChartModal" id ="editChartModal" tabindex="-1" role="dialog" aria-labelledby="Editar ficha" aria-hidden="true">

</div>

<!-- Chart editiuon end -->

<!-- Chart summary modal -->

<div class="modal fade chartModal" id="chartSummaryModal" tabindex="-1" role="dialog" aria-labelledby="Ficha de cliente" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="chartSummaryModalTitle" style="line-height: 1.1;">Ficha de cliente</h3>
      </div>
      <div class="modal-body" id="chartSummaryModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default payment-btn-close" data-dismiss="modal" aria-label="Salir">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Chart summary end -->

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/bootstrap-multiselect" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/bootstrap-multiselect" %>
  <%= javascript_include_tag "admin/clients-charts" %>
  <%= javascript_include_tag 'validations/validate' %>
  <%= javascript_include_tag 'validations/admin/client' %>
<% end %>
