<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-green">Historial de envío de correos</h2>
      <p>Revisa el historial de envíos de <%= @client.full_name %>.</p>
    </div>
    <div class="col-md-2">
      <%= link_to '<i class="fa fa-search-plus"></i> <span class="hidden-xs">Ver Cliente</span>'.html_safe, client_path(@client), :class => "btn btn-orange", :style => "margin-bottom: 3px; width: 150px;" %><br />
      <%= link_to '<i class="fa fa-pencil"></i> <span class="hidden-xs">Editar Cliente</span>'.html_safe, edit_client_path(@client), :class => "btn btn-orange", :style => "margin-bottom: 3px; width: 150px;" %><br />
      <%= link_to '<i class="fa fa-search-plus"></i> <span class="hidden-xs">Ver Archivos</span>'.html_safe, get_client_files_path(client_id: @client.id), :class => "btn btn-orange", :style => "min-width: 150px;" %>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: 10px;">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">

      <div class="row">
        <label for="from" class="col-sm-1 control-label">Desde:</label>
        <div class="col-sm-3">
          <input type="text" id="from" name="from" class="form-control option_select" value="<%= @start_date %>">
        </div>
        <label for="from" class="col-sm-1 control-label">Hasta:</label>
        <div class="col-sm-3">
          <input type="text" id="to" name="to" class="form-control option_select" value="<%= @end_date %>">
        </div>
        <div style="clear: both;">
        </div>
      </div>
    </div>

  </div>

  <input type="hidden" id="client_id" value="<%= @client.id %>" />

  <div id="client_emails_div">

  </div>
</div>

<input type="hidden" id="client_id" value="<%= @client.id %>" />

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/clients-emails" %>
<% end %>
