<div class="container">
  <div class="row">
    <section class="hgroup">
      <h2>Historial Reservas <%= @client.email %></h2>
      <h2 class="section_header">En esta sección se muestran todas las reservas hechas para este cliente, identificando por el correo ingresado en la reserva.</h2>
      <div class="line-breadcrumb">
        <ul class="breadcrumb pull-right">
            <li><%= link_to "Resumen", dashboard_path %> </li>
            <li><%= link_to "Clientes", clients_path %> </li>
            <li><%= link_to @client.email, edit_client_path(@client) %> </li>
            <li class="active">Historial Cliente</li>
        </ul>
    </div>
    </section>
  </div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Servicio</th>
			<th>Proveedor</th>
			<th>Estado</th>
			<th>Nota Cliente</th>
			<th>Nota Interna</th>
		</tr>
	</thead>
	<tbody>
		<% @bookings.each do |booking| %>
			<tr>
				<td><%= l booking.start, format: :short %></td>
				<td><%= booking.service.name %></td>
				<td><%= booking.service_provider.public_name %></td>
				<td><%= booking.status.name %></td>
				<td><%= booking.notes %></td>
				<td><%= booking.company_comment %></td>
			</tr>
		 <% end %>
	</tbody>
</table>