<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Historial Reservas <%= @client.email %></h2>
      <p>En esta sección se muestran todas las reservas hechas para este cliente, identificando por el e-mail ingresado en la reserva.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-green">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Servicio</th>
            <th>Prestador</th>
            <th>Estado</th>
            <th>Nota Cliente</th>
            <th>Nota Interna</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= l booking.start, format: :long %></td>
              <td><%= booking.service.name %></td>
              <td><%= booking.service_provider.public_name %></td>
              <td><%= booking.status.name %></td>
              <td><%= booking.notes %></td>
              <td><%= booking.company_comment %></td>
            </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
