<div class="container-fluid">
  <div class="row" style="margin-top: 15px;">
    <div class="col-md-3">
      <div class="dropdown btn-pseudo-block">
        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="clientsDropdownMenu"> Clientes <i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu" aria-labelledby="clientsDropdownMenu">
          <li><%= link_to '<i class="fa fa-plus"></i> Nuevo Cliente'.html_safe, new_client_path %></li>
          <li><a id="import_clients" type="button" data-toggle="modal" data-target="#importModal"><i class="fa fa-group"></i> Importar Clientes</a></li>
        </ul>
      </div>
      <div class="btn-pseudo-block">
        <% if @from_collection.first %>
          <% if @monthly_mails_sent < @monthly_mails %>
            <%= link_to '<i class="fa fa-envelope"></i> Enviar e-mail a este listado'.html_safe, send_mail_path(search: params[:search], locations: params[:locations], providers: params[:providers], services: params[:services], statuses: params[:statuses], gender: params[:gender], birth_from: params[:birth_from], birth_to: params[:birth_to], attendance: params[:attendance], range_from: params[:range_from], range_to: params[:range_to]), class: "btn btn-green", id: 'sendMail' %>
          <% else %>
            <button class="btn btn-green">Has alcanzado el limite de e-mails.</button>
          <% end %>
        <% else %>
          <a id="sendMail" type="button" class="btn btn-green" data-toggle="modal" data-target="#mailModal"><i class="fa fa-envelope"></i> Enviar e-mail a este listado</a>
        <% end %>
        <span class="text-green" data-toggle="tooltip" data-placement="bottom" title="Al hacer click en este botón podrás enviar un correo a todos los clientes previamente filtrados por el buscador y los filtros avanzados. En caso de que no selecciones ningún filtro, se le enviará a la lista completa de clientes.">&nbsp;<i class="fa fa-question-circle fa-lg"></i></span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="well">
        <div class="row">
          <div class="col-xs-3 col-md-3">
            <p><strong>Buscar Clientes</strong></p>
          </div>
          <div class="col-xs-6 col-md-7">
            <%= text_field_tag :search_bar, params[:search], class: "form-control", placeholder: "nombre, apellido, e-mail o RUT..." %>
          </div>
          <div class="col-xs-3 col-md-2">
            <button class="btn btn-green" id="search_btn"><i class="fa fa-search"></i> Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= form_tag clients_path, name: "client_filter", id: "client_filter", method: "get" do %>
        <%= hidden_field_tag :search, params[:search] %>
        <div class="form-group filter-header">
          <strong>Filtros Avanzados</strong>
          <div class="dropdwn pull-right">
            <button class="btn btn-green dropdown-toggle" type="button" id="addFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i></button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="addFilter" style="top: initial;">
              <li class="<%= 'hidden' if params[:locations] %>"><a href="#" id="addFilterLocations" data-target="#filterLocations">Por Local</a></li>
              <li class="<%= 'hidden' if params[:providers] %>"><a href="#" id="addFilterProviders" data-target="#filterProviders">Por Prestador</a></li>
              <li class="<%= 'hidden' if params[:services] %>"><a href="#" id="addFilterServices" data-target="#filterServices">Por Servicio</a></li>
              <li class="<%= 'hidden' if params[:statuses] %>"><a href="#" id="addFilterStatuses" data-target="#filterStatuses">Por Estado de Reserva</a></li>
              <li class="<%= 'hidden' if params[:gender] %>"><a href="#" id="addFilterGender" data-target="#filterGender">Por Género</a></li>
              <li class="<%= 'hidden' if !params[:birth_from].blank? and !params[:birth_to].blank? %>"><a href="#" id="addFilterBirthday" data-target="#filterBirthday">Por Cumpleaños</a></li>
              <li class="<%= 'hidden' if !params[:range_from].blank? and !params[:range_to].blank? %>"><a href="#" id="addFilterRange" data-target="#filterRange">Por Rango de Fecha</a></li>
              <li class="<%= 'hidden' if !params[:attendance].blank? %>"><a href="#" id="addFilterAttendance" data-target="#filterAttendance">Ha Reservado</a></li>
            </ul>
          </div>
        </div>
        <div class="filter-body">
          <div class="form-group <%= 'hidden' if not params[:locations] %>" id="filterLocations">
            <div class="panel panel-green">
              <div class="panel-heading">
                Locales
                <a class="pull-right" href="#" data-target="#addFilterLocations"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <% @locations.each do |location| %>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "locations[]", location.id, params[:locations] && params[:locations].include?(location.id.to_s) %> <%= location.name %>
                    </label>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if not params[:providers] %>" id="filterProviders">
            <div class="panel panel-green">
              <div class="panel-heading">
                Prestadores
                <a class="pull-right" href="#" data-target="#addFilterProviders"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <% @service_providers.each do |provider| %>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "providers[]", provider.id, params[:providers] && params[:providers].include?(provider.id.to_s) %> <%= provider.public_name %>
                    </label>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if not params[:services] %>" id="filterServices">
            <div class="panel panel-green">
              <div class="panel-heading">
                Servicios
                <a class="pull-right" href="#" data-target="#addFilterServices"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <% @services.each do |service| %>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "services[]", service.id, params[:services] && params[:services].include?(service.id.to_s) %> <%= service.name %>
                    </label>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if not params[:statuses] %>" id="filterStatuses">
            <div class="panel panel-green">
              <div class="panel-heading">
                Estado de Reserva
                <a class="pull-right" href="#" data-target="#addFilterStatuses"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <% Status.all.each do |status| %>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "statuses[]", status.id, params[:statuses] && params[:statuses].include?(status.id.to_s) %> <%= status.name %>
                    </label>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if not params[:gender] %>" id="filterGender">
            <div class="panel panel-green">
              <div class="panel-heading">
                Genero
                <a class="pull-right" href="#" data-target="#addFilterGender"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "gender[]", 0, params[:gender] && params[:gender].include?("0") %> No Especificado
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "gender[]", 1, params[:gender] && params[:gender].include?("1") %> Femenino
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "gender[]", 2, params[:gender] && params[:gender].include?("2") %> Masculino
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if params[:birth_from].blank? and params[:birth_to].blank? %>" id="filterBirthday">
            <div class="panel panel-green">
              <div class="panel-heading">
                Cumpleaños
                <a class="pull-right" href="#" data-target="#addFilterBirthday"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= text_field_tag :birth_from_display, params[:birth_from_display], class: "form-control", placeholder: "Desde" %>
                  <%= hidden_field_tag :birth_from, params[:birth_from], class: "form-control" %>
                </li>
                <li class="list-group-item">
                  <%= text_field_tag :birth_to_display, params[:birth_to_display], class: "form-control", placeholder: "Hasta" %>
                  <%= hidden_field_tag :birth_to, params[:birth_to], class: "form-control" %>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if params[:range_from].blank? and params[:range_to].blank? %>" id="filterRange">
            <div class="panel panel-green">
              <div class="panel-heading">
                Rango de Fecha
                <a class="pull-right" href="#" data-target="#addFilterRange"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= text_field_tag :range_from_display, params[:range_from_display], class: "form-control", placeholder: "Desde" %>
                  <%= hidden_field_tag :range_from, params[:range_from], class: "form-control" %>
                </li>
                <li class="list-group-item">
                  <%= text_field_tag :range_to_display, params[:range_to_display], class: "form-control", placeholder: "Hasta" %>
                  <%= hidden_field_tag :range_to, params[:range_to], class: "form-control" %>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group <%= 'hidden' if params[:attendance].blank? %>" id="filterAttendance">
            <div class="panel panel-green">
              <div class="panel-heading">
                ¿Ha Reservado?<span data-toggle="tooltip" data-placement="bottom" title="Este filtro permite buscar clientes que tienen o no tienen reserva de acuerdo a los demás filtros utilizados.">&nbsp;<i class="fa fa-question-circle fa-lg"></i></span>
                <a class="pull-right" href="#" data-target="#addFilterAttendance"><i class="fa fa-times"></i></a>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= radio_button_tag "attendance", true, params[:attendance] && params[:attendance].include?("true") %> Tiene reserva según los filtros
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <%= radio_button_tag "attendance", false, params[:attendance] && params[:attendance].include?("false") %> No tiene reserva según los filtros
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group filter-footer">
          <%= link_to '<i class="fa fa-times"></i><span> Restablecer</span>'.html_safe, clients_path, class: 'btn btn-white btn-bloc' %>
          <button class="btn btn-green btn-bloc pull-right" type="submit" action="/clients" value="client_filter"><i class="fa fa-filter"></i><span> Filtrar</span></button>
        </div>
      <% end %>
    </div>
    <div class="col-md-9">
      <table class="table table-bordered table-green">
        <caption id="mails" data-monthly-mails="<%= @monthly_mails %>" data-monthly-mails-sent="<%= @monthly_mails_sent %>">E-mails enviados <%= number_with_delimiter(@monthly_mails_sent) %> de <%= number_with_delimiter(@monthly_mails) %></caption>
        <thead>
          <tr>
            <th><%= sortable "first_name", 'Nombre <i class="fa indicator"></i>'.html_safe %></th>
            <th><%= sortable "last_name", 'Apellido <i class="fa indicator"></i>'.html_safe %></th>
            <th><%= sortable "email", 'E-mail <i class="fa indicator"></i>'.html_safe %></th>
            <th><%= sortable "identification_number", ((I18n.t('ci')).capitalize + ' <i class="fa indicator"></i>').html_safe %></th>
            <th>Opciones</th>
            <% if Company.find(current_user.company_id).company_setting.client_exclusive %>
            <th>¿Puede Reservar?</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.first_name %></td>
              <td><%= client.last_name %></td>
              <td><%= client.email %></td>
              <td><%= client.identification_number %></td>
              <td>
                <%= link_to '<i class="fa fa-eye"></i> <span class="hidden-xs">Ver</span>'.html_safe, client_path(client), class: 'btn btn-sm btn-margin-bottom btn-green' %>
                <%= link_to '<i class="fa fa-pencil"></i> <span class="hidden-xs">Editar</span>'.html_safe, edit_client_path(client), :class => "btn btn-sm btn-margin-bottom btn-orange" %>
                <%= link_to '<i class="fa fa-trash-o"></i> <span class="hidden-xs">Eliminar</span>'.html_safe, client, :class => "btn btn-sm btn-margin-bottom btn-red", method: :delete, data: { confirm: '¿Estás seguro de eliminar el Cliente seleccionado? Este cliente tiene '+client.bookings.count.to_s+' reserva(s) asociada(s), que será(n) eliminada(s) también.' } unless cannot? :destroy, client %>
              </td>
              <% if Company.find(current_user.company_id).company_setting.client_exclusive %>
              <td class="centered">
                <%= check_box_tag 'client_can_book'+client.id.to_s, client.id, client.can_book, class: 'client_can_book' %>
                <i class="fa fa-spin fa-spinner hidden" id="loader<%= client.id.to_s %>"></i>
              </td>
              <% end %>
            </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-9 col-md-push-3">
      <%= will_paginate @clients, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-sm-4 col-md-3">
      <small class="pull-right">Descargar este listado de clientes:</small><br />
      <%= link_to '<i class="fa fa-download"></i> CSV'.html_safe, clients_path(format: "csv", search: params[:search], locations: params[:locations], providers: params[:providers], services: params[:services], statuces: params[:statuces], gender: params[:gender], from: params[:from], to: params[:to]), class: "btn btn-white pull-right" %>
      <%= link_to '<i class="fa fa-download"></i> Excel'.html_safe, clients_path(format: "xls", search: params[:search], locations: params[:locations], providers: params[:providers], services: params[:services], statuces: params[:statuces], gender: params[:gender], from: params[:from], to: params[:to]), class: "btn btn-white pull-right" %>
    </div>
  </div>
</div>

<% content_for :modals do %>
  <% if !@from_collection.first %>
  <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="mailModalLabel">No es posible Enviar E-mails</h4>
        </div>
        <ul>
          <h4>Por favor confirme como mínimo una dirección de e-mail válida</h4>
          <p>Para lo anterior, valide en <%= link_to "Configuración E-mails", edit_company_setting_path(id: Company.find(current_user.company_id).company_setting.id) %> algún e-mail.</p>
        </ul>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="importModalLabel">Importar Clientes</h4>
        </div>
        <%= form_tag import_clients_path, multipart: true, class: 'form-horizontal' do %>
        <div class="modal-body">
          <h4>Instrucciones:</h4>
          <ul class="list-separate">
            <li>Usar las plantillas de ejemplo como base para la importación. Todos los campos son opcionales.</li>
            <li><strong>No se pueden cambiar los nombres de las columnas</strong> de las plantillas bases.</li>
            <li>
              El identificador único para los clientes es el <strong>e-mail</strong>:
              <ul>
                <li>Si se sube un cliente con un email existente, se reemplazaran los valores guardados anteriormente.</li>
                <li>Si no existe el e-mail, se crea un cliente nuevo.</li>
                <li>Para editar el e-mail de un cliente o eliminar un cliente de la base de datos, se debe realizar a través de la página.</li>
              </ul>
            </li>
            <li>El email, <%= (I18n.t('ci')).capitalize %> y número de ficha de cada cliente debe ser <mark>único</mark>.</li>
            <li>
              Para ingresar el género de los clientes se debe utilizar:
              <ul>
                <li><mark>0</mark> si no se desea especificar.</li>
                <li><mark>1</mark> si es Femenino.</li>
                <li><mark>2</mark> si es Masculino.</li>
              </ul>
            </li>
          </ul>
          <p>
            Plantillas para importación:
            <%= link_to '<i class="fa fa-download"></i> Plantilla Excel'.html_safe, '/clients_base.xls', :target => :blank, class: "btn btn-white" %>
            <%= link_to '<i class="fa fa-download"></i> Plantilla CSV'.html_safe, '/clients_base.csv', :target => :blank, class: "btn btn-white" %>
          </p>
          <div class="form-group" id="file-group">
            <label for="file" class="control-label col-md-3">Seleccionar Archivo</label>
            <div class="col-md-9">
              <%= file_field_tag :file, :class => 'form-control'  %>
            </div>
          </div>
        </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Importar", class: "btn btn-green", disabled: true, id: "import_button" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'admin/clients_mail' %>
<% end %>
