<div class="container-fluid">

  <%= render 'client_layout' %>

  <div class="row">
    <div class="col-md-12">
      <div style="margin-top: 15px; margin-bottom: 25px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 22px; color: #22c488">
        Reservas
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">

      <div class="row">
        <label for="from" class="col-sm-1 control-label">Desde:</label>
        <div class="col-sm-5">
          <input type="text" id="from" name="from" class="form-control client_select" value="<%= @start_date %>">
        </div>
        <label for="from" class="col-sm-1 control-label">Hasta:</label>
        <div class="col-sm-5">
          <input type="text" id="to" name="to" class="form-control client_select" value="<%= @end_date %>">
        </div>
        <div style="clear: both;">
        </div>
      </div>
      <div class="row">
        <label for="serviceMultiSelect" class="col-sm-1 control-label" style="margin-top: 5px;">Servicios:</label>
        <div class="col-sm-3">

          <select id="serviceMultiSelect" multiple="multiple" style="margin-top: 7px;" hidden>
            <% for service in @services.accessible_by(current_ability) do %>
              <option value="<%= service.id %>">
                <%= service.name %>
              </option>
            <% end %>
          </select>

        </div>

        <label for="serviceProviderMultiSelect" class="col-sm-1 control-label" style="margin-top: 5px;">Prestadores:</label>
        <div class="col-sm-3">

          <select id="serviceProviderMultiSelect" multiple="multiple" style="margin-top: 7px;" hidden>
            <% for service_provider in @service_providers.accessible_by(current_ability) do %>
              <option value="<%= service_provider.id %>">
                <%= service_provider.public_name %>
              </option>
            <% end %>
          </select>

        </div>

        <label for="statusMultiSelect" class="col-sm-1 control-label" style="margin-top: 5px;">Estado:</label>
        <div class="col-sm-3">

          <select id="statusMultiSelect" multiple="multiple" style="margin-top: 7px;" hidden>
            <% for status in Status.all do %>
              <option value="<%= status.id %>">
                <%= status.name %>
              </option>
            <% end %>
          </select>

        </div>

        <div style="clear: both;">
        </div>
      </div>
    </div>

  </div>

  <div id="client_bookings_div">

  </div>

  <div class="row">
    <div class="col-md-12">
      <div style="margin-top: 15px; margin-bottom: 25px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 22px; color: #22c488">
        Tratamientos
      </div>
    </div>
  </div>

  <div id="client_treatments_div">

  </div>

</div>

<input type="hidden" id="client_id" value="<%= @client.id %>" />

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/bootstrap-multiselect" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/bootstrap-multiselect" %>
  <%= javascript_include_tag "admin/clients-show" %>
<% end %>
