<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">
        <%= @client.first_name %> <%= @client.last_name %>
        <small><%= @client.email %></small>
      </h2>
    </div>
    <div class="col-sm-4 col-md-4">
      <p><strong>RUT:&nbsp;</strong> <%= if !@client.identification_number.blank? then @client.identification_number else '---' end %></p>
    </div>
    <div class="col-sm-4 col-md-4">
      <p><strong>Teléfono 1:&nbsp;</strong> <%= if !@client.phone.blank? then @client.phone else '---' end %></p>
    </div>
    <div class="col-sm-4 col-md-4">
      <p><strong>Teléfono 2:&nbsp;</strong> <%= if !@client.second_phone.blank? then @client.second_phone else '---' end %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-2">
      <div class="well well-sm">
        <h4 class="text-center"><strong>Reservadas</strong></h4>
        <p class="text-center text-green" style="font-size: 20px;"><strong><%= @booked %></strong></p>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="well well-sm">
        <h4 class="text-center"><strong>Confirmadas</strong></h4>
        <p class="text-center text-green" style="font-size: 20px;"><strong><%= @confirmed %></strong></p>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="well well-sm">
        <h4 class="text-center"><strong>Asistidas</strong></h4>
        <p class="text-center text-green" style="font-size: 20px;"><strong><%= @attended %></strong></p>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="well well-sm">
        <h4 class="text-center"><strong>Pagadas</strong></h4>
        <p class="text-center text-green" style="font-size: 20px;"><strong><%= @payed %></strong></p>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="well well-sm">
        <h4 class="text-center"><strong>Canceladas</strong></h4>
        <p class="text-center text-green" style="font-size: 20px;"><strong><%= @cancelled %></strong></p>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="well well-sm">
        <h4 class="text-center"><strong>No Asistidas</strong></h4>
        <p class="text-center text-green" style="font-size: 20px;"><strong><%= @notAttended %></strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-green">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Local</th>
              <th>Servicio</th>
              <th>Prestador</th>
              <th>Estado</th>
              <th>Nota Cliente</th>
              <th>Nota Interna</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
            <%
              tr_class = ""
              if booking.start.utc > DateTime.now
                tr_class = "success"
                if booking.is_session
                  tr_class = "info"
                end
              end
              if booking.status == Status.find_by(name: 'Cancelado')
                tr_class = 'warning'
              end
              if booking.status == Status.find_by(name: 'No Asiste')
                tr_class = 'danger'
              end
            %>
            <tr class="<%= tr_class %>">
              <td><%= l booking.start, format: :long %></td>
              <td><%= booking.location.name %></td>
              <td>
                <%= booking.service.name %>
                <% if booking.is_session %>
                  <%
                    index = 1
                    session_index = "Sesión "
                    session_booking = booking.session_booking
                    session_booking.bookings.where(:is_session_booked => true).order('start asc').each do |b|
                      if b.id == booking.id
                        session_index = session_index + index.to_s
                        break
                      end
                      index = index + 1
                    end
                    session_index = session_index + " de " + session_booking.sessions_amount.to_s
                  %>
                  <br /><%= "(" + session_index + ")" %>
                <% end %>
              </td>
              <td><%= booking.service_provider.public_name %></td>
              <td><%= booking.status.name %></td>
              <td><%= booking.notes %></td>
              <td><%= booking.company_comment %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= will_paginate @bookings, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
