<div class="full_page_photo">
    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=203242437679709703522.0004eac6d6f055db0f016&amp;ie=UTF8&amp;t=h&amp;ll=-33.409377,-70.590591&amp;spn=0.01433,0.041585&amp;z=15&amp;iwloc=0004eac6d6f38a5f8f6eb&amp;output=embed"></iframe>
</div>

<div class="main">
    <section class="hgroup">
        <div class="container">
            <h1>Contáctanos</h1>
            <h2>S&oacute;lo necesitaremos un poco de informaci&oacute;n para poder responderle</h2>
            <ul class="breadcrumb pull-right">
                <li><%= link_to "Inicio", home_path %> </li>
                <li class="active">Contacto</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="office_address col-sm-4 col-md-4">
                    <address>
                        <strong>Agend@Pro</strong><br>
                        Nuestra Se&ntilde;ora de los Angeles 185, Oficina D<br>
                        Las Condes, Santiago.<br>
                        <abbr title="Tel&eacute;fono">Tel:</abbr> (+56 9) 5178 5898<br>
                        <a href="mailto:contacto@agendapro.cl">contacto@agendapro.cl</a>
                    </address>
                </div>
                <div class="contact_form col-sm-8 col-md-8">
                	<%= form_tag("post_contact", method: "post" ) do %>
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                            	<%= label_tag(:inputName, "Nombre:") %>
                            	<%= text_field_tag(:inputName, nil, :class => "form-control", :placeholder => "Juan", :required => true) %>
                            </div>
                            <div class="col-sm-4 col-md-4">
                            	<%= label_tag(:inputLastname, "Apellido:") %>
                            	<%= text_field_tag(:inputLastname, nil, :class => "form-control", :placeholder => "Perez", :required => true) %>
                            </div>
                            <div class="col-sm-8 col-md-8">
                            	<%= label_tag(:inputEmail, "Email:") %>
                            	<%= email_field_tag(:inputEmail, nil, :class => "form-control", :placeholder => "mail@dominio.com", :required => true) %>
                            </div>
                            <div class="col-sm-8 col-md-8">
                            	<%= label_tag(:inputSubject, "Asunto:") %>
                            	<%= select_tag(:inputSubject, options_for_select(["Participar en la Beta", "Servicio Técnico", "Consulta por plan especial", "Reclamos", "Otros"]), :class => "form-control") %>
                            </div>
                            <div class="col-sm-8 col-md-8">
                            	<%= label_tag(:inputMessage, "Mensaje:") %>
                            	<%= text_area_tag(:inputMessage, nil, :class => "form-control", :placeholder => "Escriba sus comentarios por favor.", :required => true, :rows => 6) %>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <br>
                            <%= submit_tag("Enviar", :class => "btn btn-success btn-lg") %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- scripts -->
<script>
    $(function() {
        $("#c_contact").addClass("active")
        $("body").addClass("collapsing_header")
    });
</script>