<!-- start: CSS -->
<%= stylesheet_link_tag "home/characteristics.css" %>
<!-- end: CSS -->

<div class="main">
	<section class="hgroup">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>Características</h1>
					<h3>Aquí encontrarás algunas de las principales ventajas<br>de usar nuestro sistema.</h3>
					<hr class="home-hr">
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="marketing">
				<div class="row row-padded">
					<div class="col-xs-5 vcenter">
						<h1 class="featurette-heading text-justify">Reservas Online <span class="text-muted">Acepta reservas 24/7, los 365 días del año</span></h1>
						<p class="lead text-justify">No pierdas más reservas porque no pudiste contestar el teléfono. Nunca más tendrás que devolver llamadas a tus clientes.</p>
					</div><!-- No borrar comentario, es para obligar que no haya nada entre ambos divs
					--><div class="col-xs-7 vcenter">
						<%= image_tag "home/features/laptopview-1.png", :alt => "Característica Laptop", :class => "img-responsive center-block laptop-maxheight" %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="green-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<%= image_tag "home/features/responsive.png", :alt => "Característica Responsiva", :class => "img-responsive center-block" %>
				</div>
				<div class="col-xs-4">
					<%= image_tag "home/features/support.png", :alt => "Característica Soporte", :class => "img-responsive center-block" %>
				</div>
				<div class="col-xs-4">
					<%= image_tag "home/features/bi_white.png", :alt => "Característica IN", :class => "img-responsive center-block" %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<h2 class="featurette-heading">Para PCs, tablets y móviles<br><span class="text-muted">AgendaPro es 100% compatible con PCs, tablets y móviles</span></h2>
				</div>
				<div class="col-xs-4">
					<h2 class="featurette-heading">Soporte personalizado<br><span class="text-muted">Comunícate con personas directamente, no con esas molestas contestadoras</span></h2>
				</div>
				<div class="col-xs-4">
					<h2 class="featurette-heading">Inteligencia de Negocios<br><span class="text-muted">Obtén información importante para mejorar tu gestión</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<p class="lead text-justify">Por medio del uso de la tecnología Responsive, AgendaPro es compatible con la gran mayoría de los dispositivos con acceso a Internet existentes. Tus clientes podrán reservar desde el dispositivo que ellos quieran y a la hora que quieran, lo que permite que tus ventas se incrementen desde el primer minuto.</p>
				</div>
				<div class="col-xs-4 text-justify">
					<p class="lead">En AgendaPro damos el soporte directamente, sin intermediarios. Llámanos directamente o envíanos un Email, siempre tendrás una respuesta rápida de nuestra parte.</p>
				</div>
				<div class="col-xs-4 text-justify">
					<p class="lead">Por medio de reportes personalizados y métricas pre-definidas, podrás ver el desempeño de tu negocio al instante, permitiéndote tomar decisiones más informadas e inteligentes.</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row row-padded">
				<div class="col-xs-4 vcenter">
					<%= image_tag "home/features/mobileview.png", :alt => "Característica Móvil", :class => "img-responsive center-block mobile-maxheight" %>
				</div><!-- No borrar comentario, es para obligar que no haya nada entre ambos divs
				--><div class="col-xs-8 vcenter">
					<h2 class="featurette-heading text-justify">Recordatorios automáticos <span class="text-muted">Asegúrate que tus clientes lleguen a sus citas</span></h2>
					<p class="lead text-justify">AgendaPro envía recordatorios automáticos a todos tus clientes para que nunca más se les olviden sus reservas. Elimina las inasistencias y aumenta tu productividad.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="green-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h2 class="featurette-heading text-justify">Maneja tu Agenda <span class="text-muted">Gestiona tu empresa desde cualquier lugar</span></h2>
					<p class="lead text-center">Con AgendaPro podrás gestionar todos tus locales, servicios y staffs desde cualquier lugar. Cambia o revisa que está ocurriendo en tus locales con tan sólo un click. Sólo necesitas una conexión a Internet y listo.</p>
					<%= image_tag "home/features/tabletview_half.png", :alt => "Característica Tablet", :class => "img-responsive center-block half-tablet-maxheight" %>
				</div>
			</div>
		</div>
	</section>
	<section></section>
	<section></section>
</div>