<section id="mensaje-principal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>AgendaPro, el mejor sistema de Reservas Online<br />Gestiona tu negocio desde cualquier lugar del mundo y aumenta tus ventas</h3>
        <hr class="home-hr">
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12 boxed-feature">
              <h3>Reservas Online</h3>
              <%= image_tag "home/index/reservasonline2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "34x33" %>
              <p>Tus clientes podrán reservar tus servicios a cualquier hora del día, desde cualquier lugar.</p>
            </div>
            <div class="col-md-12 boxed-feature">
              <h3>Gestiona tu Negocio</h3>
              <%= image_tag "home/index/gestionatunegocio2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "34x33" %>
              <p>Ahorra tiempo y recursos, organizando las reservas para tu staff y revisa el desempeño de cada una de tus sucursales.</p>
            </div>
            <div class="col-md-12 boxed-feature">
              <h3>Simple y Amigable</h3>
              <%= image_tag "home/index/simpleyamigable2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "34x33" %>
              <p>Con una interfaz intuitiva y fácil de usar, AgendaPro te permite gestionar tu negorcio de manera rápida y eficiente.</p>
            </div>
          </div>
          <div class="col-md-6">
            <%= image_tag "home/index/empresa-home.png", :alt => "Ejemplo Index Ipad", :class => "img-responsive center-block", size: "460x479" %>
          </div>
          <div class="col-md-3">
            <div class="col-md-12 boxed-feature">
              <h3>Agenda Online</h3>
              <%= image_tag "home/index/agendaonline2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "34x33" %>
              <p>Tus clientes pueden reservar una hora online en cualquier momento y lugar, sin la necesidad de llamar por teléfono.</p>
            </div>
            <div class="col-md-12 boxed-feature">
              <h3>Administra tu Agenda</h3>
              <%= image_tag "home/index/administratuagenda2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "34x33" %>
              <p>AgendaPro te permite administrar todos tus locales y staff en un mismo lugar. Confirmación, edición y cancelación de reservas online.</p>
            </div>
            <div class="col-md-12 boxed-feature">
              <h3>Recordatorios Automáticos</h3>
              <%= image_tag "home/index/recordatoriosautomaticos2.png", :alt => "Caracteristica 1", :class => "img-responsive center-block", size: "34x33" %>
              <p>Tus clientes nunca más olvidarán sus citas, AgendaPro envía automáticamente recordatorios a tus clientes.</p>
            </div>
          </div>
        </div>
        <hr class="home-hr">
        <div class="trial-button-home">
          <p><%= link_to "Pruébalo Gratis Ahora!", new_user_registration_path(:plan => Plan.find_by_name("Trial").id, :company => true), :class => "btn btn-lg btn-orange" %>
          <br />No se requiere tarjeta de crédito</p>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :scripts do %>
<script>
    $(function() {
        $("#c_home").addClass("active")
    });
</script>
<% end %>
