<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @chart.company %>
</p>

<p>
  <strong>Client:</strong>
  <%= @chart.client %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @chart.booking %>
</p>

<p>
  <strong>User:</strong>
  <%= @chart.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @chart.date %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
