<div class="container container-margin">
  <% unless params[:id] %>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">¿Estás seguro de cancelar tu reserva?</h3>
      <p>Si cancelas tu reserva, otra persona podrá utilizar la hora liberada.</p>
    </div>
    <div class="col-xs-12">
      <%= form_tag("/cancel_booking", method: "post", role: "form", id: "edit_form" ) do %>
        <%= hidden_field_tag :id, @booking.id %>
        <div class="form-group">
          <button type="submit" class="btn btn-green btn-lg btn-block">Cancelar Reserva</button>
          <%= link_to '<i class="fa fa-caret-left"></i> <span>Volver</span>'.html_safe, root_url, class: 'btn btn-orange btn-lg btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Tu reserva fue cancelada</h3>
      <div class="pull-center">
        <%= image_tag 'logos/logo2.png', :alt => 'AgendaPro' %>
        <div class="vertical-divider"></div>
        <%= image_tag @company.logo.page.url.to_s, :alt => @company.name %>
      </div>
    </div>
  </div>
  <% end %>
</div>
