<div class="container container-margin">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="text-center">Gracias <%= @booking.client.first_name %></h3>
			<p>Tu reserva fue confirmada correctamente</p>
		</div>
	</div>
	<div class="row background-grey">
		<div class="col-xs-12">
			<h4 class="text-center">Resumen de tu Reserva</h4>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td><%= @booking.location.address %></td>
					</tr>
					<tr>
						<td><%= l @booking.start.to_date, format: :long %></td>
					</tr>
					<tr>
						<td><%= l @booking.start, format: :hour %> - <%= l @booking.end, format: :hour %></td>
					</tr>
					<tr>
						<td><%= @booking.service.name %></td>
					</tr>
					<tr>
						<td><%= @booking.service_provider.public_name %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12">
			<%= link_to '<i class="fa fa-caret-left"></i> <span>Volver</span>'.html_safe, root_url, class: 'btn btn-orange btn-lg btn-block' %>
		</div>
	</div>
</div>
