<div class="container container-margin">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag("/edited_booking", method: "post", role: "form") do %>
        <%= hidden_field_tag :id, @booking.id %>
        <%= hidden_field_tag :start, nil %>
        <%= hidden_field_tag :end, nil %>
        <% unless @available_time.length == 0 %>
        <div class="form-group">
          <label for="">Selecciona un horario</label>
          <% @available_time.each do |time| %>
          <button type="submit" class="btn btn-block btn-default btn-lg" data-date="<%= time[:date] %>" data-start="<%= time[:hour][:start] %>" data-end="<%= time[:hour][:end] %>"><%= time[:hour][:start] %></button>
          <% end %>
        </div>
        <a type="button" class="btn btn-green btn-block" disabled>Siguiente</a>
        <% else %>
        <h3>¡Lo sentimos!</h3>
        <br />
        <p>No hay horarios disponibles para este día o no se puede reservar con tan poca anticipación.<p/>
        <p>Por favor ponte en contacto con la empresa si requieres más información al teléfono <%= @location.phone %><%= if @location.email && @location.email != "" then 'o al email '+@location.email end %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= content_tag "div", id: "timeInterval", data: {min: @before_now, max: @after_now} do %>
<% end %>

<% content_for :scripts do %>
<%= javascript_include_tag "mobile/workflow" %>
<script type="text/javascript">
  $(document).ready(function(){
    $('button[type="submit"]').click(function (event) {
      event.preventDefault();
      $('.btn-press').removeClass('btn-press').addClass('btn-default');
      $(event.target).addClass('btn-press').removeClass('btn-default');
      $('a.btn-green').attr('disabled', false);
      $("html, body").animate({ scrollTop: $(document).height() }, 500);

      var date = $(event.target).data('date');
      var start = $(event.target).data('start');
      var end = $(event.target).data('end');
      addBooking(date, start, end);
    });

    $('a.btn-green').click(function (event) {
      $('form').submit();
    });
  });
</script>
<% end %>
