<%= form_for @booking, html: {class: 'form-horizontal', style: 'margin-top: 10px; margin-bottom: 10px;'} do |f| %>
  <div class="background-green">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center" style="margin: 0;">Datos Reserva</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= f.hidden_field :location, value: params[:location] %>
        <div class="form-group">
          <%= label_tag :date, 'Fecha', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= date_field_tag :date, DateTime.now.to_date, class: 'form-control' %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :start, 'Hora Inicio', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= time_field_tag :start, DateTime.now.strftime('%H:%M'), step: 300, class: 'form-control', required: true %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :end, 'Hora Termino', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= time_field_tag :end, DateTime.now.strftime('%H:%M'), step: 300, class: 'form-control', required: true %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :service_provider, 'Prestador', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= f.collection_select :service_provider, ServiceProvider.where(location_id: params[:location]).where(active: true), :id, :public_name, {}, {class: 'form-control'} %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :service, 'Servicio', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= f.collection_select :service, ServiceProvider.where(location_id: params[:location]).where(active: true).first.services.where(:active => true).order(:name), :id, :name, {}, {class: 'form-control'} %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :price, 'Precio', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= f.number_field :price, class: 'form-control', min: 0 %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :status, 'Estado', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= f.collection_select :status, Status.all, :id, :name, {}, {class: 'form-control'} %>
            <span class="help-block"></span>
          </div>
        </div>
        <% if @company.company_setting.staff_code %>
        <div class="form-group">
          <%= label_tag :booking_staff_code, "Código de Empleado", class: "control-label col-xs-3" %>
          <div class="col-xs-9">
            <%= text_field_tag :booking_staff_code, '',{class: "form-control", required: true} %>
            <span class="help-block"></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="background-green">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center" style="margin: 0;">Datos Cliente</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= f.hidden_field :client %>
        <div class="form-group">
          <%= hidden_field_tag :first_name %>
          <%= hidden_field_tag :last_name %>
          <%= label_tag :name, 'Nombre', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= text_field_tag :name, nil, class: 'form-control' %>
            <span class="help-block"></span>
            <ul id="name_suggestion"></ul>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :email, 'E-mail', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= text_field_tag :email, nil, class: 'form-control' %>
            <ul id="email_suggestion"></ul>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="send_mail" name="send_mail"> Notificar cliente por e-mail
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :phone, 'Teléfono', class: 'control-label col-xs-3' %>
          <div class="col-xs-9">
            <%= text_field_tag :phone, nil, class: 'form-control' %>
          </div>
        </div>
        <% if @company.company_setting.client_exclusive %>
        <div class="form-group">
          <%= label_tag :identification_number, "RUT", class: "control-label col-xs-3" %>
          <div class="col-xs-9">
            <%= text_field_tag :identification_number, nil, class: "form-control" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-block btn-lg btn-orange" data-url="POST" data-loading="Guardando <i class='fa fa-spinner fa-spin'></i>" autocomplete="off">Guardar</button>
        <%= link_to 'Volver', bookings_path, class: 'btn btn-block btn-lg btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag "jquery-ui-1.10.4" %>
<%= stylesheet_link_tag "admin/autocomplete" %>
<% end %>

<% content_for :scripts do %>
<%= javascript_include_tag "admin/mobile-booking" %>
<script type="text/javascript">
  $(function () {
    loadServiceData($('#booking_service').val());
  });
</script>
<% end %>
