<style type="text/css">
  #add_question{
    cursor: pointer;
    font-size: 30px;
    color: #22c488;
  }
  .content_questions {
      border-top: 1px solid #d2d2d2;
      padding-top: 15px;
  }
  .fa-bars {
    cursor: pointer;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <%= form_for @survey_construct, :html => {:class => 'form-horizontal'} do |f| %>
          <% if @survey_construct.errors.any? %>
            <% content_for :scripts do %>
              <% message = '' %>
              <% @survey_construct.errors.full_messages.each do |msg| %>
                <% message += '* ' + msg + '\n' %>
              <% end %>
              <script type="text/javascript">
                swal({
                  title: "Error al guardar la categoría",
                  text: "<%= message %>",
                  type: "error"
                });
              </script>
            <% end %>
          <% end %>
          <div class="form-group has-feedback">
            <%= f.label :name, 'Título', :class => 'col-md-3 control-label' %>
            <div class="col-md-5">
              <%= f.text_field :name, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Título' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
            <div class="col-md-1"><%= link_to_add_fields "Agregar Pregunta", f, :survey_questions %></div>
          </div>
          <div class="content_questions">
            <div class="form-group">
              <%= f.label :service_ids, "Selecciona los servicios", class: "col-md-2 control-label" %>
              <div class="col-md-12">
                <div class="panel-group" id="service-accordion">
                  <% @service_categories.each do |service_category| %>
                    <% @service = Service.where(company_id: current_user.company_id, service_category_id: service_category.id, :active => true).order(:order, :name) %>
                    <% if @service.length > 0 %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#service-accordion" href="#service-category<%= service_category.id %>"><%= service_category.name %></a>
                        </h4>
                      </div>
                      <div id="service-category<%= service_category.id %>" class="panel-collapse collapse<% if service_category == @service_categories.first%> in<% end %>">
                        <div class="panel-body">
                          <%= f.collection_check_boxes :service_ids, @service, :id, :name_with_small_outcall, {}, {class: "check_boxes"} do |b|%>
                            <div class="checkbox">
                              <label>
                                <%= b.check_box %> <%= b.object.name.html_safe %>
                              </label>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <%= f.fields_for :survey_questions, @survey_construct.survey_questions.sort_by(&:order) do |u| %>
              <%= render 'survey_question_fields' , :f => u %>
          <% end %>
          </div>
          <p></p>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-5">
              <%= f.submit 'Guardar', :class => 'btn btn-green' %>
              <%= link_to 'Cancelar', survey_constructs_path, class: "btn btn-white" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="partial" style="display:none">
  <div class="form-group has-feedback">
    <%= label :question, 'Pregunta', :class => 'col-md-3 control-label' %>
    <div class="col-md-5">
      <%= text_field :question,nil, name:"survey_question[question][]", :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Pregunta' %>
      <span class="help-block"></span>
      <span class="form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group has-feedback">
    <%= label :description, 'Descripción', :class => 'col-md-3 control-label' %>
    <div class="col-md-5">
      <%= text_area :description,nil, name:"survey_question[description][]", :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Descripción' %>
      <span class="help-block"></span>
      <span class="form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group has-feedback">
    <%= label :type, 'Tipo', :class => 'col-md-3 control-label' %>
    <div class="col-md-5">
      <%= select :type,nil, ([["Estrellas",1],["Comentario",2]]),{}, {:name => "survey_question[type][]", :class => 'form-control', :placeholder => 'Pregunta'} %>
      <span class="help-block"></span>
      <span class="form-control-feedback"></span>
    </div>
  </div>
</div>

