<div class="content_questions">
  <div class="form-group has-feedback">
    <%= f.label :question, 'Pregunta', :class => 'col-md-3 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :question, name:"survey_question[question][]", :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Pregunta' %>
      <span class="help-block"></span>
      <span class="form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :description, 'Descripción', :class => 'col-md-3 control-label' %>
    <div class="col-md-5">
      <%= f.text_area :description, name:"survey_question[description][]", :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Descripción' %>
      <span class="help-block"></span>
      <span class="form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :type_question, 'Tipo', :class => 'col-md-3 control-label' %>
    <div class="col-md-5">
      <%= f.select :type_question, ([["Estrellas",1],["Comentario",2]]),{}, {:name => "survey_question[type_question][]", :class => 'form-control', :placeholder => 'Pregunta'} %>
      <span class="help-block"></span>
      <span class="form-control-feedback"></span>
    </div>
  </div>
</div>
