<div class="" data-order=''>
  <div class="row">
    <div class="form-group has-feedback">
      <%= f.label :survey_attribute_id, 'Atributo a medir', :class => 'col-md-12 control-label' %>
      <div class="col-md-12">
        <%= f.select :survey_attribute_id, options_from_collection_for_select(SurveyAttribute.all, :id, :name) ,{},{ :class => 'form-control', :placeholder => 'Atributo', :dataQuestion => "attribute"}%>
        <span class="help-block"></span>
        <span class="form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group has-feedback ">
      <%= f.label :type_question, 'Tipo', :class => 'col-md-12  control-label' %>
      <div class="col-md-12">
        <%= f.select :type_question, ([["Estrellas",1],["Comentario",2]]),{}, { :class => 'form-control ', :placeholder => 'Pregunta', :dataQuestion => "type"} %>
        <span class="help-block"></span>
        <span class="form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group has-feedback">
      <% if SurveyQuestion.all.count > 0 %>
      <%= f.label :id, 'Pregunta', :class => 'col-md-12 control-label' %>
      <div class="col-md-12">
        <%= f.collection_radio_buttons :id, SurveyQuestion.all, :id, :name_with_initial, {}  do |q| %>
          <label>
            <%= q.radio_button(:"data-id" => q.object.id) %> <%= q.object.question.html_safe %>
          </label>
        <% end %>

        <%else%>
        <%= f.text_field :question,{:autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Pregunta', :dataQuestion => "question"} %>
      <% end %>
        <span class="help-block"></span>
        <span class="form-control-feedback"></span>
      </div>
       <!--<i class="fa fa-bars col-md-2" title="Manten presionado y arrastra para cambiar el orden de las preguntas"></i> -->
      <div class="edition" style="display:none !important;">
        <div class="col-md-offset-10 col-md-2 inline-right"><%= link_to_remove_fields "", f %><a href="#" class="btn btn-orange" onclick="editQuestion(this)" style="margin-left:10px;"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
      </div>
    </div>
    <div class="form-group has-feedback">
      <%= f.label :description, 'Descripción', :class => 'col-md-12 control-label' %>
      <div class="col-md-12">
        <%= f.text_area :description, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Descripción', :dataQuestion => "description" %>
        <span class="help-block"></span>
        <span class="form-control-feedback"></span>
      </div>
    </div>
    <%= f.hidden_field :order, class:"order", dataQuestion: "order", value:1 %>
  </div>
</div>
