<div class="row">
  <div class="col-xs-12">
    <div class="single-local">
      <div class="center-load">
        <p>RECUPERAR CONTRASEÑA</p>
      </div>
    </div>
    <div id="reservar" class="visible">
      <%= form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'loginform' } do |f| %>
        <% if resource.errors.any? %>
          <div class="well">
            <h3>Errores</h3>
            <ul>
              <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.label :password, 'Nueva contraseña' %>
          <%= f.password_field :password, :required => true, :autofocus => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirma tu Nueva Contraseña' %>
          <%= f.password_field :password_confirmation, :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Actualizar', :class => 'btn btn-agendapro-orange btn-lg btn-block' %>
          <%= link_to "Cancelar", :back, :class => 'btn btn-default btn-lg btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="well">
      <p> ¿No quieres seguir con nosotros?
      <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro que deseas cancelar tu cuenta?" }, :method => :delete %>
      </p>
    </div>
  </div>
</div>
