<div class="container">
  <div class="row">
    <h2>Agrega tu compañía a AgendaPro</h2>
    <h4>¡Podrás tener el sistema AgendaPro para tu propio negocio!</h4>

    <%= form_for @company, :html => {:class => 'form-horizontal', :multipart => true} do |f| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> no permitió que la empresa sea creada:</h2>

          <ul>
          <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, 'Nombre Empresa: ', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, 'Descripción: ', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-5">
          <%= f.text_area :description, :class => 'form-control', :rows => "7" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :web_address, 'Dirección Web:', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :web_address, :required => true, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :logo, 'Logo Compañía: ', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.file_field :logo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <div class="checkbox">
            <label>
              <%= f.check_box :remove_logo %> Quitar Logo
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :economic_sector_id, 'Sector Económico:', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.collection_select :economic_sector_id, EconomicSector.all, :id, :name, {}, {:class => 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :cancellation_policy, 'Política de Cancelación: ', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-5">
          <%= f.text_area :cancellation_policy, :class => 'form-control', :rows => "7" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
         <%= f.submit 'Guardar', :class => 'btn btn-agendapro-oscuro' %>
         <%= link_to 'Cancelar', root_path, :class => "btn btn-danger" %>
        </div> 
      </div>

    <% end %>
  </div>
</div>