
<div class="row companies_header">
	<ul class="nav nav-tabs">

		<li><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>

		<li class="active"><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>

		<li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>

		<li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>

		<li><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>

	</ul>
</div>


<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="col-md-12">
		<div class="form-group">
			<!--<label class="control-label col-md-2">Selecciona un año</label>-->
			<div class="col-md-2">
				<select id="year-select" name="year" class="form-control">
					<% current = DateTime.now.year.to_i %>
					<% for i in 2014..current do %>
						<% if i == @year %>
							<option value="<%= i %>" selected><%= i.to_s %></option>
						<% else %>
							<option value="<%= i %>"><%= i.to_s %></option>
						<% end %>
					<% end %>
				</select>
			</div>
			<div class="col-md-2">
				<span class="form-control">
					<a id="year-select-link" href="/companies_incomes?year=<%= @year %>">Obtener ingresos</a>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="companies_incomes_header">
			<h3>Ingresos para el año <%= @year %></h3>
		</div>
		<div style="max-height: 320px;" class="scrollable">
			<table class="companies-table">
				<tr class="companies-table-header">
					<th>
						Empresa
					</th>
					<th>
						Enero
					</th>
					<th>
						Febrero
					</th>
					<th>
						Marzo
					</th>
					<th>
						Abril
					</th>
					<th>
						Mayo
					</th>
					<th>
						Junio
					</th>
					<th>
						Julio	
					</th>
					<th>
						Agosto
					</th>
					<th>
						Septiembre
					</th>
					<th>
						Octubre
					</th>
					<th>
						Noviembre
					</th>
					<th>
						Diciembre
					</th>
					<th>
						Total
					</th>
				</tr>
				<%	@companies.each do |company| %>
					<% 
						company_income = 0
					%>
					<tr>
						<td>
							<%= link_to company.name, controller: "companies", action: "manage_company", id: company.id %>
						</td>
						<% for i in 1..12 do %>

							<%
								month_income = 0

								start_date = DateTime.new(@year, i, 1)
								end_date = start_date
								if i < 12	
									end_date = DateTime.new(@year, i+1, 1)-1.minutes
								else
									end_date = DateTime.new(@year+1, 1, 1)-1.minutes
								end
								billing_logs = BillingLog.where('company_id = ? and created_at BETWEEN ? and ?', company.id, start_date, end_date)
								billing_records = BillingRecord.where('company_id = ? and date BETWEEN ? and ?', company.id, start_date, end_date)
								
								billing_logs.each do |bl|
									month_income = month_income + bl.payment
									company_income = company_income + bl.payment
									@incomes[i]['income'] = @incomes[i]['income'] + bl.payment
									@incomes[13]['income'] = @incomes[13]['income'] + bl.payment
								end

								billing_records.each do |br|
									month_income = month_income + br.amount
									company_income = company_income + br.amount
									@incomes[i]['income'] = @incomes[i]['income'] + br.amount
									@incomes[13]['income'] = @incomes[13]['income'] + br.amount
								end
							%>

							<td>
								<%= month_income.to_s %>
							</td>

						<% end %>
						<td>
							<b><%= company_income.to_s %></b>
						</td>
					</tr>
				<% end %>
				<tr>
					<td>
						<b>Total:</b>
					</td>
					<% total = 0 %>
					<% for i in 1..12 %>
						<td>
							<b>
								<%= @incomes[i]['income'].to_s %>
							</b>
						</td>
					<% end %>
					<td>
						<b>
							<%= @incomes[13]['income'].to_s %>
						</b>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<% content_for :scripts do %>
	<%= javascript_include_tag "jquery-ui-1.10.4.min.js" %>

	<script type="text/javascript">
		$("#year-select").on('change', function(){
			
			var year = $(this).val();
			$("#year-select-link").attr("href", "/companies_incomes?year=" + year);
			
		});

	</script>

<% end %>