<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Ingresos mensuales</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Navegation Tabs -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked tab-margin">
        <li><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>
        <li class="active"><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>
        <li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>
        <li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>
        <li><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>
        <li><%= link_to 'Empresas', companies_path, { :id => "companies" } %></li>
      </ul>
    </div>
    <!-- Panels -->
    <div class="col-md-10 left-panel">
      <div class="tab-margin">
        <div class="row">
          <div class="col-md-3">
            <select id="year-select" name="year" class="form-control col-md-4">
              <% current = DateTime.now.year.to_i %>
              <% for i in 2014..current do %>
                <% if i == @year %>
                  <option value="<%= i %>" selected><%= i.to_s %></option>
                <% else %>
                  <option value="<%= i %>"><%= i.to_s %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div class="col-md-3">
            <a id="year-select-link" href="/companies_incomes?year=<%= @year %>" class="btn btn-white">Obtener ingresos</a>
          </div>
        </div>
        <h3>Ingresos para el año <%= @year %></h3>
        <table class="table table-hover table-green">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Septiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <% company_income = 0 %>
              <tr>
                <td><%= link_to company.name, controller: "companies", action: "manage_company", id: company.id %></td>
                <% for i in 1..12 do %>
                  <%
                    month_income = 0
                    start_date = DateTime.new(@year, i, 1)
                    end_date = start_date
                    if i < 12
                      end_date = DateTime.new(@year, i+1, 1)-1.minutes
                    else
                      end_date = DateTime.new(@year+1, 1, 1)-1.minutes
                    end
                    billing_logs = BillingLog.where('company_id = ? and created_at BETWEEN ? and ?', company.id, start_date, end_date).where(:trx_id => PuntoPagosConfirmation.where(:response => "00").pluck(:trx_id))
                    billing_records = BillingRecord.where('company_id = ? and date BETWEEN ? and ?', company.id, start_date, end_date)
                    transfers = company.billing_wire_transfers.where(approved: true).where('payment_date BETWEEN ? and ?', start_date, end_date)

                    billing_logs.each do |bl|
                      month_income = month_income + bl.payment
                      company_income = company_income + bl.payment
                      @incomes[i]['income'] = @incomes[i]['income'] + bl.payment
                      @incomes[13]['income'] = @incomes[13]['income'] + bl.payment
                    end
                    billing_records.each do |br|
                      month_income = month_income + br.amount
                      company_income = company_income + br.amount
                      @incomes[i]['income'] = @incomes[i]['income'] + br.amount
                      @incomes[13]['income'] = @incomes[13]['income'] + br.amount
                    end
                    transfers.each do |transfer|
                      month_income = month_income + transfer.amount
                      company_income = company_income + transfer.amount
                      @incomes[i]['income'] = @incomes[i]['income'] + transfer.amount
                      @incomes[13]['income'] = @incomes[13]['income'] + transfer.amount
                    end
                  %>
                  <td><%= month_income.to_s %></td>
                <% end %>
                <th><%= company_income.to_s %></th>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total:</th>
              <% total = 0 %>
              <% for i in 1..12 %>
                <th><%= @incomes[i]['income'].to_s %></th>
              <% end %>
              <th><%= @incomes[13]['income'].to_s %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $("#year-select").on('change', function(){
      var year = $(this).val();
      $("#year-select-link").attr("href", "/companies_incomes?year=" + year);
    });
  </script>
<% end %>
