<h1>Empresas</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Estadísticas internas
    </h3>
  </div>
  <div class="panel-body">
    Cantidad de reservas totales hechas esta semana: <%= Booking.where(created_at: Time.now.beginning_of_week..Time.now.end_of_week).count %><br />
    Cantidad de empresas totales hechas esta semana: <%= Company.where(created_at: Time.now.beginning_of_week..Time.now.end_of_week).count %><br /><br />
    Cantidad de reservas totales hechas este mes: <%= Booking.where(created_at: Time.now.beginning_of_month..Time.now.end_of_month).count %><br />
    Cantidad de empresas totales hechas este mes: <%= Company.where(created_at: Time.now.beginning_of_month..Time.now.end_of_month).count %><br />
  </div>
  <div class="panel-body">
    Cantidad de reservas totales hechas semana pasada: <%= Booking.where(created_at: 1.week.ago.beginning_of_week..1.week.ago.end_of_week).count %><br />
    Cantidad de empresas totales hechas semana pasada: <%= Company.where(created_at: 1.week.ago.beginning_of_week..1.week.ago.end_of_week).count %><br /><br />
    Cantidad de reservas totales hechas mes pasado: <%= Booking.where(created_at: 1.month.ago.beginning_of_month..1.month.ago.end_of_month).count %><br />
    Cantidad de empresas totales hechas mes pasado: <%= Company.where(created_at: 1.month.ago.beginning_of_month..1.month.ago.end_of_month).count %><br />
  </div>
</div> 

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de Creación</th>
      <th>Administrador</th>
      <th>Última Reserva</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, root_url(:subdomain => company.web_address) %></td>
        <td><%= l company.created_at, format: :short %> (<%= ((Time.now - company.created_at) / 1.day).to_i %>)</td>
        <td><%= company.users.where(role_id: Role.find_by_name("Administrador General")).first.email %></td>
        <td><%= l Booking.where(:service_provider_id => ServiceProvider.where(:company_id => company.id)).last.created_at, format: :short  if  Booking.where(:service_provider_id => ServiceProvider.where(:company_id => company.id)).last %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_company_path(company) %>
          <%= link_to '<i class="fa fa-pencil"></i> Pagos'.html_safe, edit_payment_company_path(company) %>
        <% if company.active %>
        <%= link_to '<i class="fa fa-trash-o"></i> Desactivar'.html_safe, deactivate_company_path(:id => company.id), data: { confirm: '¿Estás seguro?' } %></td>
        <% else %>
        <%= link_to '<i class="fa fa-check"></i> Re-Activar'.html_safe, activate_company_path(:id => company.id), data: { confirm: '¿Estás seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fa fa-plus"></i> Crear Empresa'.html_safe, new_company_path %>
