<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Estados de Pagos</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Navegation Tabs -->
    <div class="col-md-2">
      <% if current_user.role_id == Role.find_by_name("Super Admin").id %>
      <ul class="nav nav-pills nav-stacked tab-margin">
        <li class="active"><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>
        <li><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>
        <li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>
        <li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>
        <li><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>
        <li><%= link_to 'Empresas', companies_path, { :id => "companies" } %></li>
      </ul>
      <% end %>
    </div>
    <!-- Panels -->
    <div class="col-md-10 left-panel">
      <div>
        <select id="country_changer">
          <option value="<%= url_for(params.merge({locale: 'es'})) %>" <%= 'selected' if :es == I18n.locale %>>Todos</option>
          <% Country.all.order(:name).each do |country| %>
            <option value="<%= url_for(params.merge({locale: country.locale})) %>" <%= 'selected' if country.locale == I18n.locale.to_s %>><%= country.name %></option>
          <% end %>
        </select>
      </div>
      <div class="tab-margin">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#summary" role="tab" data-toggle="tab" class="tab_index">Resumen</a></li>
          <li class=""><a href="#trial" role="tab" data-toggle="tab" class="tab_index">Trial</a></li>
          <li class=""><a href="#active" role="tab" data-toggle="tab" class="tab_index">Activos</a></li>
          <li class=""><a href="#issued" role="tab" data-toggle="tab" class="tab_index">Emitidos</a></li>
          <li class=""><a href="#late" role="tab" data-toggle="tab" class="tab_index">Vencidos</a></li>
          <li class=""><a href="#blocked" role="tab" data-toggle="tab" class="tab_index">Bloqueados</a></li>
          <li class=""><a href="#pac" role="tab" data-toggle="tab" class="tab_index">Convenio / PAC</a></li>
          <li class=""><a href="#inactive" role="tab" data-toggle="tab" class="tab_index">Inactivos</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="summary">
            <table class="table table-hover">
              <tr>
                <th>
                  Trial:
                </th>
                <td>
                  <%= @trial_companies.count %>
                </td>
              </tr>
              <tr>
                <th>
                  Activas:
                </th>
                <td>
                  <%= @active_companies.count %>
                </td>
              </tr>
              <tr>
                <th>
                  Emitidas:
                </th>
                <td>
                  <%= @issued_companies.count %>
                </td>
              </tr>
              <tr>
                <th>
                  Vencidas:
                </th>
                <td>
                  <%= @late_companies.count %>
                </td>
              </tr>
              <tr>
                <th>
                  Bloqueadas:
                </th>
                <td>
                  <%= @blocked_companies.count %>
                </td>
              </tr>
              <tr>
                <th>
                  Convenio / PAC:
                </th>
                <td>
                  <%= @pac_companies.count %>
                </td>
              </tr>
              <tr>
                <th>
                  Inactivas:
                </th>
                <td>
                  <%= @inactive_companies.count %>
                </td>
              </tr>
            </table>
          </div>
          <div class="tab-pane fade" id="trial">
            <p>Número de empresas: <%= @trial_companies.count %></p>
            <table class="table table-hover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @trial_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking ? l(company.last_booking, format: :short) : "" %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment ? l(company.last_payment, format: :short) : "" %></td>
                    <td><%= company.company_start ? l(company.company_start, format: :short) : "" %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="active">
            <p>Número de empresas: <%= @active_companies.count %></p>
            <table class="table table-hover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @active_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment %></td>
                    <td><%= company.company_start %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="issued">
            <p>Número de empresas: <%= @issued_companies.count %></p>
            <table class="table table-hover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @issued_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment %></td>
                    <td><%= company.company_start %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="late">
            <p>Número de empresas: <%= @late_companies.count %></p>
            <table class="table table-hover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @late_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment %></td>
                    <td><%= company.company_start %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="blocked">
            <p>Número de empresas: <%= @blocked_companies.count %></p>
            <table class="table table-hoover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @blocked_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment %></td>
                    <td><%= company.company_start %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pac">
            <p>Número de empresas: <%= @pac_companies.count %></p>
            <table class="table table-hover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @pac_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment %></td>
                    <td><%= company.company_start %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="inactive">
            <p>Número de empresas: <%= @inactive_companies.count %></p>
            <table class="table table-hover table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Última Reserva</th>
                  <th>Reservas 7</th>
                  <th>Reservas 7 Ant.</th>
                  <th>% Reservas Web</th>
                  <th>Último Pago</th>
                  <th>Fecha Inicio</th>
                  <th>Ver/Manejar</th>
                  <th>Agregar pago</th>
                </tr>
              </thead>
              <tbody>
                <% @inactive_companies.each do |company| %>
                  <tr>
                    <td><%= link_to company.company_name, controller: "companies", action: "manage_company", id: company.company_id %></td>
                    <td><%= company.last_booking %></td>
                    <td><%= company.week_bookings %></td>
                    <td><%= company.past_week_bookings %></td>
                    <td><%= number_to_percentage(company.web_bookings * 100, precision: 2) %></td>
                    <td><%= company.last_payment %></td>
                    <td><%= company.company_start %></td>
                    <td><%= link_to '<i class="fa fa-pencil"></i> Manejar'.html_safe, {controller: "companies", action: "manage_company", id: company.company_id}, class: "btn btn-sm btn-orange" %></td>
                    <td><%= link_to '<i class="fa fa-plus"></i> Agregar pago'.html_safe, {controller: "companies", action: "new_payment", id: company.company_id}, class: "btn btn-sm btn-green" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">

    $(function () {
      $('#country_changer').on('change', function() {
        var url = $(this).val(); // get selected value
        if (url) { // require a URL
            window.location = url; // redirect
        }
        return false;
      });
    });

  </script>
<% end %>
