<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Resumen de reservas</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Navegation Tabs -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked tab-margin">
        <li><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>
        <li><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>
        <li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>
        <li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>
        <li class="active"><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>
        <li><%= link_to 'Empresas', companies_path, { :id => "companies" } %></li>
      </ul>
    </div>
    <!-- Panels -->
    <div class="col-md-10 left-panel">
      <div class="tab-margin">
        <div class="row">
          <div class="col-md-3">
            <select id="year-select" name="year" class="form-control col-md-4">
              <% current = DateTime.now.year.to_i %>
              <% for i in 2014..current do %>
                <% if i == @year %>
                  <option value="<%= i %>" selected><%= i.to_s %></option>
                <% else %>
                  <option value="<%= i %>"><%= i.to_s %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div class="col-md-3">
            <a id="year-select-link" href="/companies_monthly_bookings?year=<%= @year %>" class="btn btn-white">Obtener reservas</a>
          </div>
        </div>
        <ul id="booking-types" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#book-date" role="tab" data-toggle="tab" class="tab_index">Por fecha de reserva</a></li>
          <li class=""><a href="#creation-date" role="tab" data-toggle="tab" class="tab_index">Por fecha de creación</a></li>
        </ul>
        <div class="tab-content">
          <!-- INICIO POR FECHAS DE RESERVA -->
          <div id="book-date" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-2">
                <ul id="bookings-details-tab1" class="nav nav-pills nav-stacked tab-margin" role="tablist">
                  <li class="active"><a href="#general1" role="tab" data-toggle="tab" class="tab_index">General</a></li>
                  <li class=""><a href="#versus1" role="tab" data-toggle="tab" class="tab_index">Total vs Web</a></li>
                  <li class=""><a href="#all1" role="tab" data-toggle="tab" class="tab_index">Top Reservas</a></li>
                  <li class=""><a href="#web1" role="tab" data-toggle="tab" class="tab_index">Top Reservas Web</a></li>
                </ul>
              </div>
              <div class="col-md-10 left-panel">
                <div id="bookings-details-content1" class="tab-content">
                  <h3>POR FECHA DE RESERVA</h3>
                  <!-- INICIO GENERAL -->
                  <div class="tab-pane fade in active" id="general1">
                    <!-- FECHA DE RESERVA -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Reservas para el año <%= @year %>
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class: "pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="general" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <table class="table table-green">
                        <thead>
                          <tr>
                            <th>Empresa</th>
                            <% for i in 1..12 %>
                              <th><%= @bookings[i]['month'] %></th>
                            <% end %>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <%
                          companies_info = Hash.new
                          for i in 1..12
                            companies_info[i] = Array.new
                          end
                        %>
                        <%  @companies.each do |company| %>
                          <%
                            company_bookings = 0
                            company_web_bookings = 0
                          %>
                          <tr>
                            <td style="width: 10%;"><%= link_to company.name, controller: "companies", action: "manage_company", id: company.id %></td>
                            <% for i in 1..12 do %>
                              <%
                                #Company info for each month
                                company_info = Hash.new
                                company_info['company'] = company
                                company_info['count'] = 0
                                company_info['web'] = 0
                                month_bookings = 0
                                start_date = DateTime.new(@year, i, 1)
                                end_date = start_date
                                if i < 12
                                  end_date = DateTime.new(@year, i+1, 1)-1.minutes
                                else
                                  end_date = DateTime.new(@year+1, 1, 1)-1.minutes
                                end
                                bookings = Booking.where('start BETWEEN ? and ?', start_date, end_date).where(:location_id => company.locations.pluck(:id))
                                bookings_count = bookings.count
                                web_bookings = bookings.where(:web_origin => true)
                                month_bookings = bookings_count
                                company_bookings = company_bookings + bookings_count
                                company_web_bookings = company_web_bookings + web_bookings.count
                                @bookings[i]['count'] = @bookings[i]['count'] + bookings_count
                                @bookings[i]['web'] = @bookings[i]['web'] + web_bookings.count
                                @bookings[13]['count'] = @bookings[13]['count'] + bookings_count
                                @bookings[13]['web'] =  @bookings[13]['web'] + web_bookings.count
                                company_info['count'] = month_bookings
                                company_info['web'] = web_bookings.count
                                companies_info[i] << company_info
                              %>
                              <td>
                                <p>Total: <%= month_bookings.to_s %></p>
                                <p>Web: <%= web_bookings.count.to_s %></p>
                                <p>
                                  %:  <% if month_bookings > 0 %>
                                        <%= web_bookings.count*100/month_bookings %>
                                      <% else %>
                                        <%= 0 %>
                                      <% end %>
                                </p>
                              </td>
                            <% end %>
                            <th>
                                <p>Total: <%= company_bookings.to_s %></p>
                                <p>Web: <%= company_web_bookings.to_s %></p>
                                <p>
                                  %:  <% if company_bookings > 0 %>
                                        <%= company_web_bookings*100/company_bookings %>
                                      <% else %>
                                        <%= 0 %>
                                      <% end %>
                                </p>
                            </th>
                          </tr>
                        <% end %>
                        <tfoot>
                          <tr>
                            <th>Total:</th>
                            <% total = 0 %>
                            <% for i in 1..12 %>
                              <th>
                                <p>Total: <%= @bookings[i]['count'].to_s %></p>
                                <p>Web: <%= @bookings[i]['web'].to_s %></p>
                                <p>
                                  %: <% if @bookings[i]['count'] > 0 %>
                                    <%= @bookings[i]['web']*100/@bookings[i]['count'] %>
                                  <% else %>
                                    <%= 0 %>
                                  <% end %>
                                </p>
                              </th>
                            <% end %>
                            <th>
                              <p>Total: <%= @bookings[13]['count'].to_s %></p>
                              <p>Web: <%= @bookings[13]['web'].to_s %></p>
                              <p>
                                %: <% if @bookings[13]['count'] > 0 %>
                                  <%= @bookings[13]['web']*100/@bookings[13]['count'] %>
                                <% else %>
                                  <%= 0 %>
                                <% end %>
                              </p>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <!-- FIN GENERAL -->
                  <!-- INICIO RESERVAS VS WEB -->
                  <div class="tab-pane fade" id="versus1">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Reservas vs Reservas Web (<%= @year %>)
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class:"pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="versus" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <table class="table table-green">
                        <thead>
                          <tr>
                            <th></th>
                            <% for i in 1..12 %>
                              <th><%= @bookings[i]['month'] %></th>
                            <% end %>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Reservas</td>
                            <% for i in 1..12 %>
                              <td><%= @bookings[i]['count'].to_s %></td>
                            <% end %>
                            <th><%= @bookings[13]['count'].to_s %></th>
                          </tr>
                          <tr>
                            <td>Web origin</td>
                            <% for i in 1..12 %>
                              <td><%= @bookings[i]['web'].to_s %></td>
                            <% end %>
                            <th><%= @bookings[13]['web'].to_s %></th>
                          </tr>
                          <tr>
                            <td>%</td>
                            <% for i in 1..12 %>
                              <td>
                                <% if @bookings[i]['count'] > 0 %>
                                  <%= @bookings[i]['web']*100/@bookings[i]['count'] %>
                                <% else %>
                                  <%= 0 %>
                                <% end %>
                              </td>
                            <% end %>
                            <th>
                              <% if @bookings[13]['count'] > 0 %>
                                <%= @bookings[13]['web']*100/@bookings[13]['count'] %>
                              <% else %>
                                <%= 0 %>
                              <% end %>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- FIN RESERVAS VS WEB -->
                  <!-- INICIO TOP RESERVAS -->
                  <div class="tab-pane fade" id="all1">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Top reservas por mes (<%= @year %>)
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class: "pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="all" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <div class="panel-body">
                        <div class="panel-group" id="accordionR">
                          <% for i in 1..12 %>
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionR" href="#R<%= i %>" aria-expanded="true" aria-controls="<%= i %>"><%= @bookings[i]['month'] %></a></h4>
                              </div>
                              <div id="R<%= i %>" class="panel-collapse collapse" role="tabpanel">
                                <% top_companies = companies_info[i].sort_by { |info| info['count'] }.reverse %>
                                <table class="table table-green">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <th><%= top_companies[j]['company'].name %></th>
                                        <% end %>
                                      <% end %>
                                      <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                  <tr>
                                    <td>Reservas</td>
                                    <% num_bookings = 0 %>
                                    <% for j in 0..9 %>
                                      <% if !top_companies[j].nil? %>
                                        <td><%= top_companies[j]['count'] %></td>
                                        <% num_bookings = num_bookings + top_companies[j]['count'] %>
                                      <% end %>
                                    <% end %>
                                    <th><%= num_bookings %></th>
                                  </tr>
                                  <tr>
                                    <td>Web</td>
                                    <% num_web_bookings = 0 %>
                                    <% for j in 0..9 %>
                                      <% if !top_companies[j].nil? %>
                                        <td><%= top_companies[j]['web'] %></td>
                                        <% num_web_bookings = num_web_bookings + top_companies[j]['web'] %>
                                      <% end %>
                                    <% end %>
                                    <th><%= num_web_bookings %></th>
                                  </tr>
                                  <tr>
                                    <td>%</td>
                                    <% for j in 0..9 %>
                                      <% if !top_companies[j].nil? %>
                                        <td>
                                          <% if top_companies[j]['count'] > 0 %>
                                            <%= top_companies[j]['web']*100/top_companies[j]['count'] %>
                                          <% else %>
                                            <%= 0 %>
                                          <% end %>
                                        </td>
                                      <% end %>
                                    <% end %>
                                    <th>
                                      <% if num_bookings > 0 %>
                                        <%= num_web_bookings*100/num_bookings %>
                                      <% else %>
                                        <%= 0 %>
                                      <% end %>
                                    </th>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIN TOP RESERVAS -->
                  <!-- INICIO TOP RESERVAS WEB -->
                  <div class="tab-pane fade" id="web1">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Top reservas web por mes (<%= @year %>)
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class: "pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="all" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <div class="panel-body">
                        <div class="panel-group" id="accordionW">
                          <% for i in 1..12 %>
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionW" href="#W<%= i %>" aria-expanded="true" aria-controls="<%= i %>"><%= @bookings[i]['month'] %></a></h4>
                              </div>
                              <div id="W<%= i %>" class="panel-collapse collapse" role="tabpanel">
                                <% top_companies = companies_info[i].sort_by { |info| info['web'] }.reverse %>
                                <table class="table table-green">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <th><%= top_companies[j]['company'].name %></th>
                                        <% end %>
                                      <% end %>
                                      <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Reservas</td>
                                      <% num_bookings = 0 %>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td><%= top_companies[j]['count'] %></td>
                                          <% num_bookings = num_bookings + top_companies[j]['count'] %>
                                        <% end %>
                                      <% end %>
                                      <th><%= num_bookings %></th>
                                    </tr>
                                    <tr>
                                      <td>Web</td>
                                      <% num_web_bookings = 0 %>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td><%= top_companies[j]['web'] %></td>
                                          <% num_web_bookings = num_web_bookings + top_companies[j]['web'] %>
                                        <% end %>
                                      <% end %>
                                      <th><%= num_web_bookings %></th>
                                    </tr>
                                    <tr>
                                      <td>%</td>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td>
                                            <% if top_companies[j]['count'] > 0 %>
                                              <%= top_companies[j]['web']*100/top_companies[j]['count'] %>
                                            <% else %>
                                              <%= 0 %>
                                            <% end %>
                                          </td>
                                        <% end %>
                                      <% end %>
                                      <th>
                                        <% if num_bookings > 0 %>
                                          <%= num_web_bookings*100/num_bookings %>
                                        <% else %>
                                          <%= 0 %>
                                        <% end %>
                                      </th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIN TOP RESERVAS WEB -->
                </div>
              </div>
            </div>
          </div>
          <!-- FIN POR FECHAS DE RESERVA -->
          <!-- INICIO POR FECHAS DE CREACIÓN -->
          <div id="creation-date" class="tab-pane fade">
            <div class="row">
              <div class="col-md-2">
                <ul id="bookings-details-tab2" class="nav nav-pills nav-stacked tab-margin" role="tablist">
                  <li class="active"><a href="#general2" role="tab" data-toggle="tab" class="tab_index">General</a></li>
                  <li class=""><a href="#versus2" role="tab" data-toggle="tab" class="tab_index">Total vs Web</a></li>
                  <li class=""><a href="#all2" role="tab" data-toggle="tab" class="tab_index">Top Reservas</a></li>
                  <li class=""><a href="#web2" role="tab" data-toggle="tab" class="tab_index">Top Reservas Web</a></li>
                </ul>
              </div>
              <div class="col-md-10 left-panel">
                <div id="bookings-details-content2" class="tab-content">
                  <h3>POR FECHA DE CREACIÓN</h3>
                  <!-- INICIO GENERAL -->
                  <div class="tab-pane fade in active" id="general2">
                    <!-- FECHA DE RESERVA -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Reservas para el año <%= @year %>
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class: "pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="general" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <table class="table table-green">
                        <thead>
                          <tr>
                            <th>Empresa</th>
                            <% for i in 1..12 %>
                              <th><%= @bookings[i]['month'] %></th>
                            <% end %>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                          <%
                            companies_info = Hash.new
                            for i in 1..12
                              companies_info[i] = Array.new
                            end
                          %>
                          <%  @companies.each do |company| %>
                            <%
                              company_bookings = 0
                              company_web_bookings = 0
                            %>
                            <tr>
                              <td style="width: 10%;"><%= link_to company.name, controller: "companies", action: "manage_company", id: company.id %></td>
                              <% for i in 1..12 do %>
                                <%
                                  #Company info for each month
                                  company_info = Hash.new
                                  company_info['company'] = company
                                  company_info['count'] = 0
                                  company_info['web'] = 0
                                  month_bookings = 0
                                  start_date = DateTime.new(@year, i, 1)
                                  end_date = start_date
                                  if i < 12
                                    end_date = DateTime.new(@year, i+1, 1)-1.minutes
                                  else
                                    end_date = DateTime.new(@year+1, 1, 1)-1.minutes
                                  end
                                  bookings = Booking.where('created_at BETWEEN ? and ?', start_date, end_date).where(:location_id => company.locations.pluck(:id))
                                  bookings_count = bookings.count
                                  web_bookings = bookings.where(:web_origin => true)
                                  month_bookings = bookings_count
                                  company_bookings = company_bookings + bookings_count
                                  company_web_bookings = company_web_bookings + web_bookings.count
                                  @cat_bookings[i]['count'] = @cat_bookings[i]['count'] + bookings_count
                                  @cat_bookings[i]['web'] = @cat_bookings[i]['web'] + web_bookings.count
                                  @cat_bookings[13]['count'] = @cat_bookings[13]['count'] + bookings_count
                                  @cat_bookings[13]['web'] =  @cat_bookings[13]['web'] + web_bookings.count
                                  company_info['count'] = month_bookings
                                  company_info['web'] = web_bookings.count
                                  companies_info[i] << company_info
                                %>
                                <td>
                                  <p>Total: <%= month_bookings.to_s %></p>
                                  <p>Web: <%= web_bookings.count.to_s %></p>
                                  <p>
                                    %:  <% if month_bookings > 0 %>
                                          <%= web_bookings.count*100/month_bookings %>
                                        <% else %>
                                          <%= 0 %>
                                        <% end %>
                                  </p>
                                </td>
                              <% end %>
                              <th>
                                  <p>Total: <%= company_bookings.to_s %></p>
                                  <p>Web: <%= company_web_bookings.to_s %></p>
                                  <p>
                                    %:  <% if company_bookings > 0 %>
                                          <%= company_web_bookings*100/company_bookings %>
                                        <% else %>
                                          <%= 0 %>
                                        <% end %>
                                  </p>
                              </th>
                            </tr>
                          <% end %>
                        <tfoot>
                          <tr>
                            <th>Total:</th>
                            <% total = 0 %>
                            <% for i in 1..12 %>
                              <th>
                                <p>Total: <%= @cat_bookings[i]['count'].to_s %></p>
                                <p>Web: <%= @cat_bookings[i]['web'].to_s %></p>
                                <p>
                                  %: <% if @cat_bookings[i]['count'] > 0 %>
                                    <%= @cat_bookings[i]['web']*100/@cat_bookings[i]['count'] %>
                                  <% else %>
                                    <%= 0 %>
                                  <% end %>
                                </p>
                              </th>
                            <% end %>
                            <th>
                              <p>Total: <%= @cat_bookings[13]['count'].to_s %></p>
                              <p>Web: <%= @cat_bookings[13]['web'].to_s %></p>
                              <p>
                                %: <% if @cat_bookings[13]['count'] > 0 %>
                                  <%= @cat_bookings[13]['web']*100/@cat_bookings[13]['count'] %>
                                <% else %>
                                  <%= 0 %>
                                <% end %>
                              </p>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <!-- FIN GENERAL -->
                  <!-- INICIO RESERVAS VS WEB -->
                  <div class="tab-pane fade" id="versus2">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Reservas vs Reservas Web (<%= @year %>)
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class:"pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="versus" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <table class="table table-green">
                        <thead>
                          <tr>
                            <th></th>
                            <% for i in 1..12 %>
                              <th><%= @cat_bookings[i]['month'] %></th>
                            <% end %>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Reservas</td>
                            <% for i in 1..12 %>
                              <td><%= @cat_bookings[i]['count'].to_s %></td>
                            <% end %>
                            <th><%= @cat_bookings[13]['count'].to_s %></th>
                          </tr>
                          <tr>
                            <td>Web origin</td>
                            <% for i in 1..12 %>
                              <td><%= @cat_bookings[i]['web'].to_s %></td>
                            <% end %>
                            <th><%= @cat_bookings[13]['web'].to_s %></th>
                          </tr>
                          <tr>
                            <td>%</td>
                            <% for i in 1..12 %>
                              <td>
                                <% if @cat_bookings[i]['count'] > 0 %>
                                  <%= @cat_bookings[i]['web']*100/@cat_bookings[i]['count'] %>
                                <% else %>
                                  <%= 0 %>
                                <% end %>
                              </td>
                            <% end %>
                            <th>
                              <% if @cat_bookings[13]['count'] > 0 %>
                                <%= @cat_bookings[13]['web']*100/@cat_bookings[13]['count'] %>
                              <% else %>
                                <%= 0 %>
                              <% end %>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- FIN RESERVAS VS WEB -->
                  <!-- INICIO TOP RESERVAS -->
                  <div class="tab-pane fade" id="all2">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Top reservas por mes (<%= @year %>)
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class: "pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="all" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <div class="panel-body">
                        <div class="panel-group" id="accordionCR">
                          <% for i in 1..12 %>
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionCR" href="#CR<%= i %>" aria-expanded="true" aria-controls="<%= i %>"><%= @cat_bookings[i]['month'] %></a></h4>
                              </div>
                              <div id="CR<%= i %>" class="panel-collapse collapse" role="tabpanel">
                                <% top_companies = companies_info[i].sort_by { |info| info['count'] }.reverse %>
                                <table class="table table-green">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <th><%= top_companies[j]['company'].name %></th>
                                        <% end %>
                                      <% end %>
                                      <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Reservas</td>
                                      <% num_bookings = 0 %>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td><%= top_companies[j]['count'] %></td>
                                          <% num_bookings = num_bookings + top_companies[j]['count'] %>
                                        <% end %>
                                      <% end %>
                                      <th><%= num_bookings %></th>
                                    </tr>
                                    <tr>
                                      <td>Web</td>
                                      <% num_web_bookings = 0 %>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td><%= top_companies[j]['web'] %></td>
                                          <% num_web_bookings = num_web_bookings + top_companies[j]['web'] %>
                                        <% end %>
                                      <% end %>
                                      <th><%= num_web_bookings %></th>
                                    </tr>
                                    <tr>
                                      <td>%</td>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td>
                                            <% if top_companies[j]['count'] > 0 %>
                                              <%= top_companies[j]['web']*100/top_companies[j]['count'] %>
                                            <% else %>
                                              <%= 0 %>
                                            <% end %>
                                          </td>
                                        <% end %>
                                      <% end %>
                                      <th>
                                        <% if num_bookings > 0 %>
                                          <%= num_web_bookings*100/num_bookings %>
                                        <% else %>
                                          <%= 0 %>
                                        <% end %>
                                      </th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIN TOP RESERVAS -->
                  <!-- INICIO TOP RESERVAS WEB -->
                  <div class="tab-pane fade" id="web2">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Top reservas web por mes (<%= @year %>)
                          <%= form_tag({ :controller => 'companies', :action => 'get_monthly_bookings'}, method: "post", class: "pull-right") do %>
                            <input type="hidden" name="type" value="book_date" />
                            <input type="hidden" name="subtype" value="all" />
                            <input type="hidden" name="year" value="<%= @year %>" />
                            <button class="btn btn-green">Descargar <i class="fa fa-file-text-o fa-lg"></i></button>
                          <% end %>
                        </h3>
                      </div>
                      <div class="panel-body">
                        <div class="panel-group" id="accordionCW">
                          <% for i in 1..12 %>
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionCW" href="#CW<%= i %>" aria-expanded="true" aria-controls="<%= i %>"><%= @cat_bookings[i]['month'] %></a></h4>
                              </div>
                              <div id="CW<%= i %>" class="panel-collapse collapse" role="tabpanel">
                                <% top_companies = companies_info[i].sort_by { |info| info['web'] }.reverse %>
                                <table class="table table-green">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <th><%= top_companies[j]['company'].name %></th>
                                        <% end %>
                                      <% end %>
                                      <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Reservas</td>
                                      <% num_bookings = 0 %>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td><%= top_companies[j]['count'] %></td>
                                          <% num_bookings = num_bookings + top_companies[j]['count'] %>
                                        <% end %>
                                      <% end %>
                                      <th><%= num_bookings %></th>
                                    </tr>
                                    <tr>
                                      <td>Web</td>
                                      <% num_web_bookings = 0 %>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td><%= top_companies[j]['web'] %></td>
                                          <% num_web_bookings = num_web_bookings + top_companies[j]['web'] %>
                                        <% end %>
                                      <% end %>
                                      <th><%= num_web_bookings %></th>
                                    </tr>
                                    <tr>
                                      <td>%</td>
                                      <% for j in 0..9 %>
                                        <% if !top_companies[j].nil? %>
                                          <td>
                                            <% if top_companies[j]['count'] > 0 %>
                                              <%= top_companies[j]['web']*100/top_companies[j]['count'] %>
                                            <% else %>
                                              <%= 0 %>
                                            <% end %>
                                          </td>
                                        <% end %>
                                      <% end %>
                                      <th>
                                        <% if num_bookings > 0 %>
                                          <%= num_web_bookings*100/num_bookings %>
                                        <% else %>
                                          <%= 0 %>
                                        <% end %>
                                      </th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIN TOP RESERVAS WEB -->
                </div>
              </div>
            </div>
          </div>
          <!-- FIN POR FECHAS DE CREACIÓN -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $("#year-select").on('change', function(){
      var year = $(this).val();
      $("#year-select-link").attr("href", "/companies_monthly_bookings?year=" + year);
    });
  </script>
<% end %>
