<input type="hidden" id="after_booking" value="<%= @company.company_setting.after_booking %>" />

<div class="modal fade" id="hoursOptimizer" tabindex="-1" role="dialog" aria-labelledby="optimizador de Horas" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="optimizerTitle" style="line-height: 1.1;"></h3>
      </div>
      <div class="modal-body">
        <div id="optimizerFirst">
          <div id="pickerSelectDate">
            <div class="row">
              <div class="col-xs-3" style="text-align: right; font-weight: bold;">
                Inicio
              </div>
              <div class="col-xs-9">
                <input id="initialPickerDate" value="<%= I18n.l(DateTime.now.to_date) %>" hidden />
                <span id="pickerSelected" style="color: #949292;"><%= I18n.l(DateTime.now.to_date) %></span>&nbsp;&nbsp;
                <span class="optimizer-date-span" style="float: right;">
                  Seleccionar nuevo inicio&nbsp;<i class="fa fa-calendar-o"></i>
                  <input type="text" class="form-control" name="optimizerDateSelector" id="optimizerDateSelector" class="datepicker" />
                </span>
              </div>
            </div>
          </div>
          <form class="form-horizontal" id="serviceOptimizer"></form>
          <div id="selectHour"></div>
          <%= form_tag '/optimizer_data', method: 'post', role: 'form', class: 'hidden', id: 'userData' do %>
            <input type="hidden" id="local" name="local" value="<%= @location.id %>">
            <!--<input type="hidden" class="bookings" name="bookings">-->
          <% end %>
        </div>
        <div id="hoursDetails"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green pull-left" id="addButton"><i class="fa fa-plus"></i>&nbsp;<span></span></button>
        <button type="button" class="btn btn-orange optimizerBtn" id="optimizerPrevButton" hidden><i class="fa fa-chevron-left"></i>&nbsp;Atrás</button>
        <button type="button" class="btn btn-orange optimizerBtn" id="nextButton">Siguiente&nbsp;<i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="workflow-header">
  <div class="container">
    <div class="row">
      <% if !@company.description.blank? %>
        <div class="col-xs-5 col-md-4 company-header-left company-header">
          <div class="row">
            <div class="col-xs-4 col-md-3">
              <% if @company.logo_url %>
                <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name, :class => "company-logo" %>
              <% else %>
                <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', :size => "80x80", :class => "company-logo" %>
              <% end %>
            </div>
            <div class="col-xs-8 col-md-9">
              <div class="row">
                <div class="col-md-12 company-name">
                    <%= @company.name %>
                </div>
                <div class="col-md-12">
                  <div class="header-btn inactive">
                    <a href="#" id="boton-locales" class="btn btn-default btn-green-wf">Lugares</a>
                  </div>
                  <div class="header-btn active" style="float: left;">
                    <a href="#" id="boton-servicio" class="btn btn-default btn-green-wf">Servicios</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-4 company-header-center company-header">
          <div class="header-description">
            <%= @company.description %>
          </div>
        </div>
        <div class="col-xs-3 col-md-4 company-header-right company-header">
          <% if @selectedLocation %>
            <div id="phone-info">
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number">
                <%= @selectedLocation.phone %>
              </span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address">
                <% @second_address = @selectedLocation.second_address.blank? ? '' : ', ' + @selectedLocation.second_address %>
                <%= if !@selectedLocation.outcall then @selectedLocation.address+@second_address+', '+@selectedLocation.district.name else "A Domicilio" end %>
              </span>
            </div>
          <% else %>
            <div id="phone-info" hidden>
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number"></span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address"></span>
            </div>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% else %>
        <div class="col-xs-5 col-md-4 company-header-left company-header" style="border-right: 1px solid #949292;">
          <div class="row">
            <div class="col-xs-4 col-md-3">
              <% if @company.logo_url %>
                <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name, :class => "company-logo" %>
              <% else %>
                <%= image_tag 'logo_vacio.png', :alt => 'AgendaPro', :size => "80x80", :class => "company-logo" %>
              <% end %>
            </div>
            <div class="col-xs-8 col-md-9">
              <div class="row">
                <div class="col-md-12 company-name">
                    <%= @company.name %>
                </div>
                <div class="col-md-12">
                  <div class="header-btn inactive">
                    <a href="#" id="boton-locales" class="btn btn-default btn-green-wf">Lugares</a>
                  </div>
                  <div class="header-btn active" style="float: left;">
                    <a href="#" id="boton-servicio" class="btn btn-default btn-green-wf">Servicios</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-7 col-md-8 company-header-center2 company-header">
          <% if @selectedLocation %>
            <div id="phone-info">
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number">
                <%= @selectedLocation.phone %>
              </span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address">
                <% @second_address = @selectedLocation.second_address.blank? ? '' : ', ' + @selectedLocation.second_address %>
                <%= if !@selectedLocation.outcall then @selectedLocation.address+@second_address+', '+@selectedLocation.district.name else "A Domicilio" end %>
              </span>
            </div>
          <% else %>
            <div id="phone-info" hidden>
              <%= image_tag 'telefono.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-number"></span><br />
              <%= image_tag 'ubicacion.png', :alt => '', :size => "12x14", :class=>"loc-icon" %>&nbsp;
              <span id="phone-address"></span>
            </div>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row" id="navegacion-workflow">
  <div class="container">
  <div class="col-md-1">
    <div id="prev3" class="prev-btn"><i class="fa fa-chevron-left fa-lg"></i></div>
  </div>
  <div class="col-md-10">
    <div id="pager2" class="pasos-reserva">
    </div>
  </div>
  <div class="col-md-1">
    <div id="next3" class="next-btn"><i class="fa fa-chevron-right fa-lg"></i></div>
  </div>
  </div>
</div>

<div>
  <div class="container" id="warning"></div>
  <div class="container">
    <div clas="row" id="espacio-workflow">
      <div class="col-md-12">
        <div class ="well">
          <div class="center-block" style="display: table;">
            <p>
              <h3>Cargando Contenido</h3>
              <span>Por favor espere</span>
            </p>
            <p class="text-center" style="color: #ccc;"><i class="fa fa-spinner fa-spin fa-lg"></i></p>
          </div>
        </div>
        <div id="foo4" style="visibility: collapse;">
          <div class="box-step" id="box-step-1">
            <div class="row">
              <div class="col-sm-5">
                <div class="services-title light-green">
                  Elegir servicio
                </div>
                <div class="services-subtitle light-gray">
                  Seleccione un servicio
                </div>
              </div>
              <div class="col-sm-3">
                <div class="services-title light-green">
                  Detalle
                </div>
                <div class="services-subtitle light-gray">
                  Detalle del servicio
                </div>
              </div>
              <div class="col-sm-4">
                <div class="services-title light-green">
                  Elegir prestador
                </div>
                <div class="services-subtitle light-gray">
                  Selecciona staff para el servicio
                </div>
              </div>
              <% if @company.company_setting.allows_optimization %>
                <!--<div class="col-sm-3" style="text-align: right; color: #505050;">
                  <div class="optimizer-item">
                    <b>O elige varios servicios y te propondremos los mejores horarios:&nbsp;&nbsp;</b>
                  </div>
                </div>
                <div class="col-sm-3 col-md-2" style="text-align: right;">
                  <div class="optimizer-item">
                    <button type="button" id="optimizerOpenBtn" class="btn btn-green" data-toggle="modal" data-target="#hoursOptimizer" style="background: #22c488; color: #ffffff; font-size: 20px;">Elegir servicios</button>
                  </div>
                </div>-->
              <% end %>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="panel-group" id="services-selector" style="border-radius: 4px; border: 1px solid #acacac; margin-left: 10px !important;">
                  <span style="color: #ccc;"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <input id="selectedServiceId" type="hidden" />
                  <div id="description-default">
                    Elige un servicio para revisar sus detalles. Haz click en "Agregar servicio" para agregarlo a tu lista de servicios, y en "Elegir horario" para elegir la hora de tu reserva.
                  </div>
                  <div id="description-heading">
                  </div>
                  <div class="descripcion-body">
                    <table class="table">
                      <tbody id="services-description">
                      </tbody>
                    </table>
                    <div id="description-info" class="light-gray">
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn-add-service" id="new-add-service"><span style="font-size: 18px !important;"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;&nbsp; Agregar servicio</button>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">

                  <div class="col-sm-12" id="selected-services">

                  </div>

                </div>
                <div class="btn-change btn-next" style="margin-top: 10px;">
                  <a class="next2 next-btn">Elegir horario <i class="fa fa-chevron-right next-arrow"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="box-step">
            <div class="row staff">
              <!--<div class="col-md-3 step2-left-col" style="max-height: 346px; overflow-y: hidden;<%= 'display:none;' if @location.company.company_setting.provider_preference == 2 %>">
                <div class="staff-wrapper">
                  <span class="subtitulos-workflow">Elige Staff<br /> y Horario &nbsp;</span><span><i class="fa fa-clock-o gray-icon"></i>&nbsp;<i class="fa fa-user gray-icon"></i></span>
                  <div class="sub-workflow dark-gray">Selecciona un staff para ver su horario</div>
                    <div class="panel panel-default light-gray">
                      <ul class="list-group" id="staff-selector">
                      </ul>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
                <div style="clear: both;">
                </div>
              </div>-->
              <div class="col-md-9" id="staff-calendar">
                <div class="panel panel-info <%= 'full-margin' if @location.company.company_setting.provider_preference == 2 %>">
                  <div class="calendar-head">
                    <div class="panel-title">
                      <div class="row">
                        <div class="col-xs-1">
                          <button type="button" class="btn btn-default" id="prev"><i class="fa fa-chevron-left"></i></button>
                        </div>
                        <div class="col-xs-8">
                          <span class="tittle"></span>
                        </div>
                        <div class="col-xs-2">
                          <span class="date-span">
                            Ir a fecha&nbsp;<i class="fa fa-calendar-o"></i>
                            <input type="text" id="datepicker" name="date" />
                          </span>
                        </div>
                        <div class="col-xs-1">
                          <button type="button" class="btn btn-default pull-right" id="next"><i class="fa fa-chevron-right"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="days-row">
                  </div>
                  <div class="panel-body">
                    <div class="horario">
                      <!-- <%= image_tag "ajax-loader.gif", :alt => "Loader", :id => "calendar-loader" %> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">

                <div id="current-discount-div" style="color: #949292;" hidden>
                  Descuento a aplicar: <span id="current-discount" style="color: #22c488;">0%</span>
                </div>

                <div class="changeStaffPanel" style="margin-bottom: 10px;" style="display: none;">
                  <div id="changeStaffTitle" style="display: inline;">
                    <a data-toggle="collapse" href="#staffCollapse" aria-expanded="false" aria-controls="staffCollapse">
                      Cambiar prestador
                      <span style="float: right; color: #22c488;"><i class="fa fa-plus-circle" id="openStaffCollapseIcon"></i><i class="fa fa-minus-circle" id="closeStaffCollapseIcon" style="display: none;"></i></span>
                    </a>
                  </div>
                  <div class="collapse" id="staffCollapse">
                    <div class="changeStaff" style="margin-top: 5px;">

                      
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div id="selected-hour-heading">
                    Detalle Reserva
                  </div>
                  <div id="selected-hour-body">

                  </div>
                </div>
              </div>
            </div>
            <!--<div class="row sessions-bar" style="display: none;">
              <div class="col-xs-12 col-md-2">
                <a class="btn btn-large btn-green btn-add-session" style="padding: 5px 12px; margin-right: 10px; font-size: 20px;" onclick="addNewSession()"><i class="fa fa-plus"></i> Agregar Sesión</a>
              </div>
              <div class="col-xs-12 col-md-10">
                Puedes agendar hasta <span id="sessions-left"></span> sesiones más. Las sesiones que no agendes podrán ser agendadas desde tu cuenta AgendaPro o llamando al local elegido.
              </div>
            </div>-->
            <div class="row change-bar">
              <div class="col-xs-12 col-md-4 col-md-push-3">
                <p class="p-label"><span class="wf-label label-available">&nbsp;</span> Disponible<span class="wf-label label-past">&nbsp;</span> No Disponible</p><!--<span class="wf-label label-unavailable">&nbsp;</span> Ocupado</p>-->
              </div>
              <div class="col-xs-4 col-md-3 col-md-pull-4">
                <div class="btn-change btn-prev">
                  <a class="prev2 prev-btn"><i class="fa fa-chevron-left prev-arrow"></i> Anterior</a>
                </div>
              </div>
              <div class="col-xs-8 col-md-5">
                <!--<a class="btn btn-large btn-green btn-add-service" style="padding: 5px 12px; margin-right: 10px; font-size: 20px;" onclick="addNewService()"><i class="fa fa-plus"></i> Agregar Otro Servicio</a>-->
                <a class="btn btn-large btn-green btn-add-session sessions-bar" style="padding: 5px 12px; margin-right: 10px; font-size: 20px;" onclick="addNewSession()" style="display: none;"><i class="fa fa-plus"></i> Agregar Sesión</a>
                <div class="btn-change btn-next">
                  <a class="next2 next-btn">Siguiente <i class="fa fa-chevron-right next-arrow"></i></a>
                </div>
              </div>
            </div>
            <div class="row sessions-bar">
              <div class="col-md-9">
                <div id="sessions-summary">
                  <div id="sessions-summary-title">
                    Detalle de reserva&nbsp;&nbsp;
                    <span id="sessions-summary-subtitle">
                      Puedes agendar hasta <span id="sessions-left"></span> sesiones más. &nbsp;&nbsp; <span id="sessions-help"><i class="fa fa-question-circle"></i>
                    </span>
                  </div>
                  <div id="sessions-summary-body">
                    <table>
                      <tr id="sessions-summary-tr">
                      <tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div><label id="booking-error" style="color: #fd633f;"></label></div>
              </div>
            </div>
            <div style="clear: both;">
            </div>
          </div>
          <div class="box-step">
            <div class="row" style="margin-left: 0px !important;">
              <div class="col-md-6">
                <div class="subtitulos-workflow">Ingresa tus datos &nbsp;<i class="fa fa-file-text-o gray-icon"></i></div>
              </div>
            </div>
            <div class="row" style="margin-left: 0px !important;">
              <%= form_tag("book", method: "post", role: "form", class: "form-horizontal", id: "bookingForm" ) do %>
              <div class="col-md-6">
                <!-- INICIO FORM -->
                <div id="form-datos">
                  <div class="datos-heading">
                    Datos de la reserva
                  </div>
                  <div class="panel-body">
                    <input type="hidden" name="bookings" class="bookings" value="">
                    <input type="hidden" name="location" id="location" value="<%= @location.id %>">
                    <input type="hidden" name="origin" id="origin" value="true">
                    <input type="hidden" name="payment" id="payment" value="0">
                    <input type="hidden" name="has_sessions" id ="has_sessions" value="0" />
                    <input type="hidden" name="max_discount" id="max_discount" value="0" />
                    <input type="hidden" name="used_promo_discount" id="used_promo_discount" value="0" />

                    <% if user_signed_in? %>
                    <div id="user-data">
                      <%= hidden_field_tag :user_id, current_user.id %>
                      <%= hidden_field_tag :firstName, current_user.first_name %>
                      <%= hidden_field_tag :lastName, current_user.last_name %>
                      <div class="row">
                        <div class="col-md-12 dark-gray">
                          Nombre
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group has-feedback">
                            <input type="text" id="full_name" name="user[full_name]" class="form-control light-gray" placeholder="Nombre completo (requerido)">
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 dark-gray">
                          Email
                        </div>
                        <div class="col-md-6 dark-gray">
                          Teléfono
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group has-feedback">
                            <%= email_field_tag(:email, current_user.email, :class => "form-control light-gray", :placeholder => "ejemplo@dominio.com (requerido)", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group has-feedback">
                            <%= telephone_field_tag(:phone, current_user.phone, :class => "form-control light-gray", :placeholder => "1122334455 (requerido)", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% else %>
                      <%= hidden_field_tag :firstName %>
                      <%= hidden_field_tag :lastName %>
                      <div class="row">
                        <div class="col-md-12 dark-gray">
                          Nombre
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group has-feedback">
                            <input type="text" id="full_name" name="user[full_name]" class="form-control light-gray" placeholder="Nombre completo (requerido)">
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 dark-gray">
                          Email
                        </div>
                        <div class="col-sm-6 dark-gray">
                          Teléfono
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group has-feedback">
                            <%= email_field_tag(:email, nil, :class => "form-control light-gray", :placeholder => "ejemplo@dominio.com (requerido)", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group has-feedback">
                            <%= telephone_field_tag(:phone, nil, :class => "form-control light-gray", :placeholder => "1122334455 (requerido)", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <% if @location.company.company_setting.client_exclusive %>
                      <div class="row">
                        <div class="col-md-12 dark-gray">
                          RUT
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group has-feedback">
                            <%= text_field_tag(:identification_number, nil, :class => "form-control light-gray", :placeholder => "Escriba su RUT, debe estar autorizado como cliente" ) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <% if @location.company.company_setting.deal_activate %>
                      <div class="row">
                        <div class="col-md-12 dark-gray">
                          <%= !@location.company.company_setting.deal_name.blank? ? @location.company.company_setting.deal_name : "Convenio" %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group has-feedback">
                            <%= text_field_tag(:deal_code, nil, :class => "form-control light-gray" ) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <div id="outcallAddress" class="row form-group has-feedback">
                      <div class="row">
                        <div class="col-md-12 dark-gray">
                          Dirección
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group has-feedback">
                            <%= text_field_tag(:address, nil, :class => "form-control light-gray", :placeholder => "Escribe la dirección donde se debe realizar el servicio" ) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if @location.company.company_setting.activate_notes %>
                    <div class="row">
                      <div class="col-md-12 dark-gray">
                        Comentario
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= text_area_tag(:comment, nil, :class => "form-control light-gray", :placeholder => "Agrega algún comentario a tu reserva en caso de ser necesario", :rows => 4) %>
                        </div>
                      </div>
                    </div>
                    <% end %>
                    <% if !user_signed_in? %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                            <%= check_box_tag :mailing_option, true, class: 'checkbox' %> Quiero recibir promociones a mi email
                          </label>
                        </div>
                      </div>
                    </div>
                    <% end %>
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-sm-6">
                        <div class="btn-change btn-prev">
                          <a class="prev2 prev-btn"><i class="fa fa-chevron-left prev-arrow"></i> Anterior</a>
                        </div>
                      </div>
                      <!--<div class="col-sm-6" id="reservar1">
                        <button type="submit" class="submitBtn">Reservar</button>
                      </div>-->
                    </div>
                  </div>
                </div>
                <!-- FIN FORM -->
              </div>
              <div class="col-sm-6">
                <div id="resumen-reserva">
                  <div class="resumen-heading">
                    Resumen de tu Reserva
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      <tbody id="summary">
                      </tbody>
                    </table>
                  </div>
                </div>
                <div id="reservar2" style="margin-top: 20px;">
                  <!--<div class="row">
                    <div class="col-md-6">

                      <a href="#" id="openPayOptions">Seleccionar opción de pago</a>

                    </div>
                  </div>-->
                  <% if @location.company.company_setting.allows_online_payment %>
                    <div class="row">
                      <div class="col-sm-6">
                        <div>
                          <button type="submit" data-loading-text = "Cargando..." class="payBtn">Pagar</button>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <button type="submit" data-loading-text="Cargando..." class="submitBtn">Reservar</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div id="discount" style="color: #505050; padding: 5px 5px 5px 5px;">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div id="normal-book" style="color: #505050; padding: 5px 5px 5px 5px; float: right; text-align: right;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div style="color: #505050; padding: 5px 5px 5px 5px;">
                          <a href="#" id="open-online-policy" data-toggle="modal" data-target="#online-policy" style="color: #505050 !important; border-top: 1px solid #949292; padding-top: 5px;"><b><%= image_tag 'icono_pago.png', :alt => 'Pago' %>Política de pagos en línea.</b></a>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div style="color: #505050; padding: 5px 5px 5px 5px; float: right; text-align: right;">
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="row">
                      <div class="col-sm-6 col-md-offset-6">
                        <button type="submit" data-loading-text="Cargando..." class="submitBtn">Reservar</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="modal fade" id="medio-de-pago" tabindex="-1" role="dialog" aria-labelledby="siginLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" style="color: #505050 !important;">Elige el medio de pago</h4>
                    </div>
                    <div class="modal-body" style="color: #505050 !important;">

                      <div class="row">
                        <div class="col-md-4">
                          <input type="radio" name="mp" value="04" class="mp_radio" id="mp_radio_04" />
                          <label for="mp_radio_04"><image src="https://www.puntopagos.com/content/mp4.gif" alt="Banco Chile" class="mp_link" mp = "04" /></label>
                        </div>
                        <div class="col-md-4">
                          <input type="radio" name="mp" value="10" class="mp_radio" id="mp_radio_10" />
                          <label for="mp_radio_10"><image src="https://www.puntopagos.com/content/mp10.gif" alt="Banco Ripley" class="mp_link" mp = "10" /></label>
                        </div>
                        <!-- <div class="col-md-4">
                          <input type="radio" name="mp" value="05" class="mp_radio" id="mp_radio_05" />
                          <label for="mp_radio_05"><image src="https://www.puntopagos.com/content/mp5.gif" alt="BCI" class="mp_link" mp = "05" /></label>
                        </div> -->
                        <!-- <div class="col-md-4">
                          <input type="radio" name="mp" value="06" class="mp_radio" id="mp_radio_06" />
                          <label for="mp_radio_06"><image src="https://www.puntopagos.com/content/mp6.gif" alt="TBanc" class="mp_link" mp = "06" /></label>
                        </div> -->
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <input type="radio" name="mp" value="07" class="mp_radio" id="mp_radio_07" />
                          <label for="mp_radio_07"><image src="https://www.puntopagos.com/content/mp7.gif" alt="Banco Estado" class="mp_link" mp = "07" /></label>
                        </div>
                        <div class="col-md-4">
                          <input type="radio" name="mp" value="03" class="mp_radio" id="mp_radio_03" />
                          <label for="mp_radio_03"><image src="https://www.puntopagos.com/content/mp3.gif" alt="Webpay Transbank" class="mp_link" mp = "03" /></label>
                        </div>
                        <div class="col-md-4">
                          <input type="radio" name="mp" value="01" style="display: none !important;" class="mp_radio" id="mp_radio_01" />
                          <label for="mp_radio_01"><image style="display: none;" src="https://www.puntopagos.com/content/mp1.gif" alt="Banco Santander" class="mp_link" mp = "01" /></label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="padding-left: 10px; padding-top: 10px;">
                          <p>Antes de pagar, asegúrate de leer la política de pagos en línea de la empresa: <a href="#" id="policy-link" style="color: #505050 !important;"><b>ver.</b></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="modal-pay" id="select-medio">Confirmar pago</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <!-- FIN MODAL MEDIO DE PAGO -->

              <!-- MODAL POLÍTICA DE MODIFICACIÓN/CANCELACIÓN PAGOS EN LÍNEA -->
              <div class="modal fade" id="online-policy" tabindex="-1" role="dialog" aria-labelledby="siginLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" style="color: #505050 !important;">Política de modificación/cancelación de reservas pagadas en línea.</h4>
                    </div>
                    <div class="modal-body" style="color: #505050 !important;">

                      <div id="online-policy-div">
                        <h3>Política para reservas pagadas en línea que no están en promoción:</h3>
                        <% if !@location.company.company_setting.online_cancelation_policy.modifiable %>
                          <p>La empresa no permite modificar reservas pagadas en línea.</p>
                        <% else %>
                          <p>La reserva se puede modificar:</p>
                          <p>- Hasta <%= @location.company.company_setting.online_cancelation_policy.min_hours.to_s %> horas antes del servicio contratado.<br />
                          - Hasta <%= @location.company.company_setting.online_cancelation_policy.modification_max.to_s %> <%= TimeUnit.find(@location.company.company_setting.online_cancelation_policy.modification_unit).unit.to_s.downcase %> desde la fecha en que se efectuó el pago.</p>
                          <p>
                            Si no cumple con alguna de las dos restricciones, no podrá modificar su reserva.
                            <br />
                            Además, la empresa permite modificar la reserva un máximo de <%= @location.company.company_setting.max_changes.to_s %> veces.
                          </p>
                        <% end %>

                        <% if !@location.company.company_setting.online_cancelation_policy.cancelable %>
                          <p>La empresa no permite cancelar reservas pagadas en línea.</p>
                        <% else %>
                          <p>La reserva se puede cancelar:</p>
                          <p>- Hasta <%= @location.company.company_setting.online_cancelation_policy.min_hours.to_s %> horas antes del servicio contratado.<br />
                          - Hasta <%= @location.company.company_setting.online_cancelation_policy.cancel_max.to_s %> <%= TimeUnit.find(@location.company.company_setting.online_cancelation_policy.cancel_unit).unit.to_s.downcase %> desde la fecha en que se efectuó el pago.</p>
                          <p>Si no cumple con alguna de las dos restricciones, no podrá cancelar su reserva.</p>
                          <br />
                          <p>
                            Si cancela su reserva, se le devolverá un 90% del monto cancelado debido a los costos de transacción.
                          </p>
                        <% end %>
                      </div>

                      <div id="promo-policy">
                        <h3>Política para reservas en promoción:</h3>
                          <p>La siguiente política rige para estas reservas: </p>
                          <p id="promo-bookings-policy">

                          </p>
                          <p>
                            La empresa no permite modificar ni cancelar reservas pagadas en promoción.
                          </p>

                          <p>
                            Si la empresa cancela o modifica sus promociones, se respetarán el precio y horario en que efectuaste tu reserva.
                          </p>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" id="policyNext">Siguiente</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <!-- FIN MODAL POLÍTICA DE MODIFICACIÓN/CANCELACIÓN PAGOS EN LÍNEA -->


              <!-- MODAL DE EXPLICACIÓN DE SESIONES -->

              <div class="modal fade" id="sessions-explanation" tabindex="-1" role="dialog" aria-labelledby="siginLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" style="color: #505050 !important;">Reserva de sesiones</h4>
                    </div>
                    <div class="modal-body" style="color: #505050 !important;">

                      <p style="text-align: justify;">
                        El servicio que quieres agendar consta de <span id="sessions-explanation-total"></span> sesiones.
                      </p>
                      <p style="text-align: justify;">
                        Haz click sobre un bloque horario para seleccionar el horario de una sesión. Si quieres agendar otra, haz click en el botón "Agregar sesión". La hora seleccionada quedará marcada y podrás elegir una nueva. Cuando hayas seleccionado todas las que quieras, haz click en "Siguiente". Ten en cuenta que sólo debes apretar "Agregar sesión" para bloquear una y poder elegir otra más, por lo que para agendar la última sesión sólo debes hacer click en el bloque horario de preferencia y luego en "Siguiente".
                      </p>
                      <p style="text-align: justify;">
                        No es necesario que agendes todas las sesiones ahora, pero debes agendar al menos la primera. Una vez reservado el servicio, podrás agendar las restantes y modificar las que ya hayas agendado. Esto lo podrás hacer en tu Agenda, ingresando con tu usuario de AgendaPro, o bien llamando al local de la empresa que ofrece el servicio para pedir que agenden tus sesiones. Recomendamos que te hagas una cuenta para poder llevar un manejo más rápido y simple de tus sesiones y otras reservas.
                      </p>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->


              <!-- FIN MODAL DE EXPLICACIÓN DE SESIONES -->


              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services-popovers-contents" hidden>

</div>

<%= content_tag "div", id: "selectedLocal", data: {local: @location, district: @location.district.name} do %>
<% end %>
<%= content_tag "div", id: "clientExclusive", data: {client_exclusive: @location.company.company_setting.client_exclusive} do %>
<% end %>
<%= content_tag "div", id: "providerPreference", data: {provider_preference: @location.company.company_setting.provider_preference } do %>
<% end %>
<%= content_tag "div", id: "workflow_url", data: {url: @url, location_id: @location.id} do %>
<% end %>
<%= content_tag "div", id: "dealCode", data: {deal_identification_number: @location.company.company_setting.deal_identification_number, deal_required: @location.company.company_setting.deal_required } do %>
<% end %>
<%= content_tag "div", id: "online_capabilities", data: {online_payment_capable: @online_payment_capable, promo_offerer_capable: @promo_offerer_capable} do %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "calendar" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'workflow/index' %>
  <script type="text/javascript">

    $(function(){
      $("#selected-services").sortable({
        revert: true,
        axis: "y",
        handle: ".move-service",
        containment: "#selected-services",
        scroll: true,
        stop: function(){
          aux_added_services = [];
          $("#selected-services").children().each(function(){
            var service_id = $(this).attr("service_id");
            for(i=0; i<added_services.length; i++)
            {
              if(added_services[i].id == parseInt(service_id))
              {
                aux_added_services.push(added_services[i]);
              }
            }
          });
          added_services = aux_added_services;
        }
      });
    });

    $(function() {
      <% if @location.company.company_setting.deal_identification_number %>
        $('#deal_code').change(function() {
          var rut_string = $('#deal_code').val()
          if (rut_string != '') {
            $('#deal_code').val(rut_format(rut_string));
          }
        });
      <% end %>

      $(".payBtn").click(function(e){
        e.preventDefault();
        $("#payment").val("1");
        $('#online-policy').modal('show');
        //$("#bookingForm").submit();
      });

      $('#policyNext').click(function(e){
        $('#online-policy').modal('hide');
        $("#bookingForm").submit();
      });

      $(".submitBtn").click(function(e){
        e.preventDefault();
        $("#payment").val("0");
        $("#bookingForm").submit();
      });

      //  Responsive layout, resizing the items
      compose_name('#full_name', '#firstName', '#lastName');
      split_name('#full_name', '#firstName', '#lastName');

      $('#boton-servicio').click(function () {
        window.location.href = 'http://' + $('#workflow_url').data('url') + '/workflow?local=' + $('#workflow_url').data('location-id').toString();
      });
      $('#boton-locales').click(function () {
        window.location.href = 'http://' + $('#workflow_url').data('url') + '/?local=' + $('#workflow_url').data('location-id').toString();
      });

      $("#datepicker").datepicker({
          autoSize: true,
          firstDay: 1,
          changeMonth: true,
          changeYear: true,
          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
          prevText: 'Atrás',
          nextText: 'Adelante',
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          today: 'Hoy',
          clear: '',
          dateFormat: 'yy-mm-dd',
          onSelect: function(newDate){

            var newProviderSelector = $('#providerOptimizerSelector option[value="' + $('input[name="changeProvider"]:checked').val() + '"]').attr("selected", true);

            if(!$('input[name="changeProvider"]:checked').val())
            {

            }
            else
            {

            }

            var data;

            /* = {
              provider: $('[name="staffRadio"]:checked').val(),
              local: $('#selectedLocal').data('local').id,
              date: newDate,
              service: $('input[name="serviceRadio"]:checked').val(),
            }*/

            var localId = $('#selectedLocal').data('local').id;;
            var selects = [];
            var start_date = $("#optimizerDateSelector").val();

            if (!sessions_service)
            {
              $(".selected-service").each(function() {
                var provider = $(this).find('.selected-service-provider').val();
                var service_id = $(this).attr("service_id");
                console.log(provider)
                selects.push({
                  service: service_id,
                  provider: provider
                });
              });
            }
            else
            {
              if(!$('input[name="changeProvider"]:checked').val())
              {
                $(".selected-service").each(function() {
                  var provider = $(this).find('.selected-service-provider').val();
                  var service_id = $(this).attr("service_id");
                  console.log(provider)
                  selects.push({
                    service: service_id,
                    provider: provider
                  });
                });
              }
              else
              {
                $(".selected-service").each(function() {
                  var provider = $('input[name="changeProvider"]:checked').val();
                  var service_id = $(this).attr("service_id");
                  console.log(provider)
                  selects.push({
                    service: service_id,
                    provider: provider
                  });
                });
              }
            }

            data = {local: localId, serviceStaff: JSON.stringify(selects), date: $("#datepicker").val()};

            if (promoCalendar) {
              promoCalendar.rebuild('/promotion_hours', data);
            }
            else {
              promoCalendar = new PromoCalendar('/promotion_hours', data);
            }

            /*$(document).on('hourClick', function (e) {
              selected = true;
    
              bookSummary = bookSummaries[e.index];

              $("#selected-hour-body").empty();

              for(k=0; k<bookSummary.bookings.length; k++)
              {
                bookDetails = bookSummary.bookings[k];
                console.log(bookDetails);
                bookDetailsStart = bookDetails.start.split("T")[1].split(":")[0] + ':' + bookDetails.start.split("T")[1].split(":")[1];
                bookDetailsEnd = bookDetails.end.split("T")[1].split(":")[0] + ':' + bookDetails.end.split("T")[1].split(":")[1];

                bookDetailsDiscountPrice = bookDetails.price;

                
                if(bookDetails.has_discount && bookDetails.has_time_discount)
                {
                  if(bookDetails.discount > bookDetails.time_discount)
                  {
                    bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.discount) / 100;
                    $("#selected-hour-body").append(
                      '<b>' + bookDetails.service_name + '</b><br />' +
                      '<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
                      '<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %>  <strike>' + simple_currency(bookDetails.price) + '</strike>  <span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span> (' + bookDetails.discount + ' % off) <br /></div>'
                    );
                  }
                  else
                  {
                    bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.time_discount) / 100;
                    $("#selected-hour-body").append(
                      '<b>' + bookDetails.service_name + '</b><br />' +
                      '<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %>' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
                      '<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> <strike>' + simple_currency(bookDetails.price) + '</strike> ' + '<span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span>' + ' (' + bookDetails.time_discount + ' % off) <br /></div>'
                    );
                  }
                }
                else if(bookDetails.has_discount && !bookDetails.has_time_discount)
                {
                  bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.discount) / 100;
                  $("#selected-hour-body").append(
                      '<b>' + bookDetails.service_name + '</b><br />' +
                      '<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
                      '<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> <strike>' + simple_currency(bookDetails.price) + '</strike> <span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span> (' + bookDetails.discount + ' % off) <br /></div>'
                    );
                }
                else if(!bookDetails.has_discount && bookDetails.has_time_discount)
                {
                  bookDetailsDiscountPrice = bookDetails.price * (100 - bookDetails.time_discount) / 100;
                  $("#selected-hour-body").append(
                      '<b>' + bookDetails.service_name + '</b><br />' +
                      '<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
                      '<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> <strike>' + simple_currency(bookDetails.price) + '</strike> <span class="light-green"><b>' + simple_currency(bookDetailsDiscountPrice) + '</b></span> (' + bookDetails.time_discount + ' % off) <br /></div>'
                    );
                }
                else
                {
                  $("#selected-hour-body").append(
                    '<b>' + bookDetails.service_name + '</b><br />' +
                    '<div class="light-gray"><%= image_tag("promociones/reloj.png", class:"promotion-hour-icon", size: "18x18") %> ' + bookDetailsStart + ' - ' + bookDetailsEnd + '<br />' +
                    '<%= image_tag("promociones/etiqueta.png", class:"promotion-hour-icon", size: "18x18") %> ' + simple_currency(bookDetails.price) + '<br /></div>'
                  );
                }
                

              }
              console.log(e);
              if (sessions_service)
              {
                addSession(e);
              }
              else
              {
                addBooking(e);
              }
            });*/

            $(function () {
              $('.prev-btn').click(function () {
                selected = false;
              });
              $('.next-btn').click(function () {
                selected = false;
              });
            });
          }
      });

      $(document.body).on('click', '.date-span', function(e){
        $(e.currentTarget).find('input').datepicker('show');
      });

      $("#optimizerDateSelector").datepicker({
          autoSize: true,
          firstDay: 1,
          changeMonth: true,
          changeYear: true,
          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
          prevText: 'Atrás',
          nextText: 'Adelante',
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          today: 'Hoy',
          clear: '',
          dateFormat: 'yy-mm-dd',
          onSelect: function(newDate){
            $("#pickerSelected").empty();
            var prettyDate = newDate.split("-")[2] + "/" + newDate.split("-")[1] + "/" + newDate.split("-")[0];
            $("#pickerSelected").append(prettyDate);
          }
      });

      $(document.body).on('click', '.optimizer-date-span', function(e){
        $(e.currentTarget).find('input').datepicker('show');
      });

      //  Responsive layout, resizing the items
      $('#foo4').carouFredSel({
        responsive: true,
        auto: false,
        pagination: {
          container: "#pager2",
          anchorBuilder: function (nr) {
            var title;
            if (nr == 1) {
              title = '<i class="fa fa-circle fa-2x"></i><span class="circle-number">'+nr+'</span><span class="navigation-title"> | Elige tu servicio</span>';
            } else if (nr == 2) {
              title = '<i class="fa fa-circle fa-2x"></i><span class="circle-number">'+nr+'</span><span class="navigation-title"> | Elige tu hora</span>';
            } else{
              title = '<i class="fa fa-circle fa-2x"></i><span class="circle-number">'+nr+'</span><span class="navigation-title"> | Ingresa tus datos</span>';
            };
            return '<a href="#" id="pager-btn-'+nr+'" class="pager-btn disabled"><span>' + title + '</span></a>';
          },
        },
        width: '100%',
        height: 'variable',
        prev: '.prev-btn',
        next: '.next-btn',
        direction: "left",
        circular: false,
        infinite: false,
        onCreate: function () {
          $('.center-block').parent().remove();
          $('#foo4').css('visibility', 'visible');
          loadStep1(<%= if params[:service_id] and params[:service_id].to_i > 0 then params[:service_id] else 0 end %>);
        },
        scroll: {
          conditions: function (direction) {
            return scrollEvents(direction);
          },
          onEnd: function (direction) {
            if (direction == 'prev') {
              step = 1;
            }
          }
        }
      });
    });

    var waitForFinalEvent = (function () {
      var timers = {};
      return function (callback, ms, uniqueId) {
        if (!uniqueId) {
          uniqueId = "Don't call this twice without a uniqueId";
        }
        if (timers[uniqueId]) {
          clearTimeout (timers[uniqueId]);
        }
        timers[uniqueId] = setTimeout(callback, ms);
      };
    })();

    $(window).resize(function () {
      waitForFinalEvent(function(){
        var count = $('.columna-dia').length;
        var width = (100 / count);

        var width2 = $(".horario")[0].clientWidth/count;
        $('.dia-semana').width(width2-1);
        $('.dia-semana:last').width(width2-1);

        console.log("Resize " + $(".horario")[0].clientWidth);
        //...
      }, 100, "some unique string");
    });

    $(document).ready(function(){
      var oldTop = $(document).scrollTop();
      $('#foo4').trigger('updateSizes');
      $(document).scrollTop(oldTop);

      $("#policy-link").click(function(e){
        e.preventDefault();
        $("#medio-de-pago").modal('hide');
        $("#online-policy").modal('show');
      });



      $('#select-medio').click(function(){
        console.log('clicked select medio');
        var is_selected = false;
        $('.mp_radio').each(function(){
          if($(this).prop('checked'))
          {
            is_selected = true;
            console.log(is_selected);
          }
        });
        if(is_selected)
        {
          console.log("Entra");
          $("#medio-de-pago").modal('hide');
          $('#bookingForm').submit();
        }
      });
    });
  </script>
<% end %>