<div class="main">
    <section class="pricing_wrapper">
        <div class="container">
          <div class="menu-bar">
            <a id="overview-link" href="#" class="active"><span class="badge">Overview</span></a>
            <a id="services-link" href="#"><span class="badge">Services</span></a>
            <button id="schedule" type="button" class="btn btn-info pull-right">Agendar</button>
          </div>
          <div class="well well-lg">
            <div id="overview" class="overview">
              <div>
                <h4>About</h4>
                <p><%= @company.description %></p>
              </div>
              <hr>
              <div>
                <div class="row">
                  <div class="col-md-4"><!-- Locations -->
                    <h4>Selecciona un Local</h4>
                    <form id="local-form" role="form">
                      <% @locations.each do |local| %>
                      <div class="radio">
                        <label>
                          <input type="radio" name="localRadio" id="localOption<%= local.id %>" value="<%= local.id %>" <%= "checked" if @selectedLocal == local.id %>>
                          <p class="lead"><%= local.name %></p>
                          <p><%= local.address %>, <%= local.district.name %></p>
                        </label>
                      </div>
                      <% end %>
                    </form>
                  </div>
                  <div class="col-md-8"><!-- Local Description -->
                    <div class="map">
                      <h3 align="center">Mapa</h3>
                    </div>
                    <div class="schedule">
                      <div class="schedule-title">
                        <h5>Horario</h5>
                      </div>
                      <div class="schedule-body">
                        No hay un local seleccionado
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="services" class="services">
              <div id="barra" class="wizard">
                  <ul class="steps">
                      <li class="step" id="step1"><span class="badge badge-info">1</span></li>
                      <li class="step" id="step2"><span class="badge">2</span></li>
                      <li class="step" id="step3"><span class="badge">3</span></li>
                      <li class="step" id="step4"><span class="badge">4</span></li>
                  </ul>
                  <div class="actions">
                      <button type="button" class="btn btn-success btn-prev" id="back_button" onclick="prevStep()" disabled="true"><i class="glyphicon glyphicon-chevron-left"></i><span>Anterior</span></button>
                      <button type="button" class="btn btn-success btn-next" id="next_button" onclick="nextStep()"><span>Siguiente</span><i class="glyphicon glyphicon-chevron-right"></i></button>
                  </div>
              </div>
              <div class="panel-group step-content" id="accordion">
                <div class="panel panel-default step-pane">
                  <div class="panel-heading">
                    <h4 class="panel-title">Selecciona un Local</h4>
                  </div>
                  <div id="step-content1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default step-pane">
                  <div class="panel-heading">
                    <h4 class="panel-title">Elije el Servicio</h4>
                  </div>
                  <div id="step-content2" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default step-pane">
                  <div class="panel-heading">
                    <h4 class="panel-title">Elije el Horario</h4>
                  </div>
                  <div id="step-content3" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default step-pane">
                  <div class="panel-heading">
                    <h4 class="panel-title">Ingresa tus Datos</h4>
                  </div>
                  <div id="step-content4" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</div>