<%= stylesheet_link_tag "calendar" %>

<div class="main">
  <div class="container">
    <div class="row" id="navegacion-workflow">
      <div class="col-md-2"><a id="prev2" class="btn btn-success"><i class="glyphicon glyphicon-chevron-left"></i> Anterior</a></div>
      <div class="col-md-8"><div id="pager2" class="pasos-reserva"></div></div>
      <div class="col-md-2"><a id="next2" class="btn btn-success pull-right">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></a></div>
    </div>
  </div>
  <div class="container">
    <div clas="row" id="espacio-workflow">
      <div class="col-md-12">
        <div id="foo4">
          <div class="box-step">
            <div class="col-md-12">
              <h4>Servicios</h4>
              <div class="col-md-6" id="services-selector">
                <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
              </div>
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Descripción</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      <tbody id="services-description">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-step">
            <div class="col-md-12">
              <h4>Seleccione un Staff</h4>
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Seleccione un staff para ver el horario
                  </div>
                  <ul class="list-group" id="staff-selector">
                    <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
                  </ul>
                </div>
              </div>
              <div class="col-md-9">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <button type="button" class="btn btn-default" id="prev"><i class="fa fa-chevron-left"></i></button>
                      <span class="tittle"></span>
                      <button type="button" class="btn btn-default pull-right" id="next"><i class="fa fa-chevron-right"></i></button>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="horario"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-step">
            <div class="col-md-12">
              <h4>Ingresa tus Datos</h4>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Datos</h3>
                  </div>
                  <div class="panel-body">
                    <%= form_tag("book", method: "post", role: "form", class: "form-horizontal", id: "bookingForm" ) do %>
                      <input type="hidden" name="start" id="start" value="">
                      <input type="hidden" name="end" id="end" value="">
                      <input type="hidden" name="provider" id="provider" value="">
                      <input type="hidden" name="service" id="service" value="">
                      <input type="hidden" name="location" id="location" value="<%= @location.id %>">
                      <% if user_signed_in? %>
                      <div id="user-data">
                        <input type="hidden" name="user" id="user" value="<%= current_user.id %>">
                        <div class="form-group">
                          <%= label_tag(:firstName, "Nombre", class: "col-sm-3 control-label") %>
                          <div class="col-sm-9">
                            <%= text_field_tag(:firstName, current_user.first_name, :class => "form-control", :placeholder => "Nombre", :required => true) %>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:lastName, "Apellido", class: "col-sm-3 control-label") %>
                          <div class="col-sm-9">
                            <%= text_field_tag(:lastName, current_user.last_name, :class => "form-control", :placeholder => "Apellido", :required => true) %>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:email, "E-mail", class: "col-sm-3 control-label") %>
                          <div class="col-sm-9">
                            <%= email_field_tag(:email, current_user.email, :class => "form-control", :placeholder => "ejemplo@dominio.com", :required => true) %>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:phone, "Teléfono", class: "col-sm-3 control-label") %>
                          <div class="col-sm-9">
                            <%= telephone_field_tag(:phone, current_user.phone, :class => "form-control", :placeholder => "97193440", :required => true) %>
                          </div>
                        </div>
                      </div>
                      <p id="user-message">Estas agendando como <%= current_user.email %>. Si no es usted puede dar clik <a href="#" id="user-change">aquí</a>.</p>
                      <% else %>
                      <div class="form-group">
                        <%= label_tag(:firstName, "Nombre", class: "col-sm-3 control-label") %>
                        <div class="col-sm-9">
                          <%= text_field_tag(:firstName, nil, :class => "form-control", :placeholder => "Matias", :required => true) %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= label_tag(:lastName, "Apellido", class: "col-sm-3 control-label") %>
                        <div class="col-sm-9">
                          <%= text_field_tag(:lastName, nil, :class => "form-control", :placeholder => "Rossi", :required => true) %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= label_tag(:email, "E-mail", class: "col-sm-3 control-label") %>
                        <div class="col-sm-9">
                          <%= email_field_tag(:email, nil, :class => "form-control", :placeholder => "ejemplo@dominio.com", :required => true) %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= label_tag(:phone, "Teléfono", class: "col-sm-3 control-label") %>
                        <div class="col-sm-9">
                          <%= telephone_field_tag(:phone, nil, :class => "form-control", :placeholder => "97193440", :required => true) %>
                        </div>
                      </div>
                      <% end %>
                      <div class="form-group">
                        <%= label_tag(:comment, "Comentario", class: "col-sm-3 control-label") %>
                        <div class="col-sm-9">
                          <%= text_area_tag(:comment, nil, :class => "form-control", :placeholder => "Escriba sus comentarios por favor.", :rows => 4) %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                          <button type="submit" class="btn btn-default" id="submitBtn">Agendar</button>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Resumen</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      <tbody id="summary">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "selectedLocal", data: {local: @location} do %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'workflow/services' %>
  <%= javascript_include_tag 'jquery.carouFredSel-6.2.1.js' %>
  <script type="text/javascript">
    $(function() {
      $('#user-data').hide();
      $('#user-change').click(function () {
        $('#user-data').show();
        $('#user-message').hide();
        $('#foo4').trigger('updateSizes');
      });

      //  Responsive layout, resizing the items
      $('#foo4').carouFredSel({
        responsive: true,
        auto: false,
        pagination: "#pager2",
        width: '100%',
        prev: '#prev2',
        next: '#next2',
        direction: "left",
        circular: false,
        infinite: false,
        onCreate: function () {loadStep1();},
        scroll: {
          conditions: function (direction) {
            return scrollEvents(direction);
          },
          onEnd: function (direction) {
            if (direction == 'prev') {
              step = 1;
            }
          }
        }
      });
    });
  </script>
<% end %>
