<%= stylesheet_link_tag "calendar" %>

<div class="workflow-header">
  <div class="container">
    <% if @company.description.blank? %>
      <div class="row">
        <div class="col-md-12">
          <p>
            <span>
              <% if @company.logo_url %>
                <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name %>
              <% else %>
                <%= image_tag 'Iso_Pro_Color.png', :alt => 'AgendaPro', :size => "80x80" %>
              <% end %>
            </span>
            <span>
              <%= @company.name %>
            </span>
          </p>
        </div>
      </div>
    <% else %>
      <div class="col-md-6 company-header-left">
        <div>
          <span>
            <% if @company.logo_url %>
              <%= image_tag @company.logo_url.to_s, :size => "80x80", :alt => @company.name %>
            <% else %>
              <%= image_tag 'Iso_Pro_Color.png', :alt => 'AgendaPro', :size => "80x80" %>
            <% end %>
          </span>
          <span>
            <%= @company.name %>
          </span>
        </div>
      </div>
      <div class="col-md-6 company-header-right">
        <div class="header-description">
          <%= @company.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="overview-main">
  <div class="container">
    <div class="row company-header-btns">
      <div class="col-md-6">
        <div class="header-btn inactive" style="float: right;">
          <%= link_to 'Locales', url_for(:controller => 'companies', :action => 'overview', :local => @location.id, only_path: true) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header-btn active" style="float: left;">
          <a href="#" id="boton-servicio">Servicios</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" id="navegacion-workflow">
  <div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10"><div id="pager2" class="pasos-reserva"></div></div>
  <div class="col-md-1"></div>
  </div>
</div>

<div>
  <div class="container">
    
  </div>
  <div class="container" id="warning"></div>
  <div class="container">
    <div clas="row" id="espacio-workflow">
      <div class="col-md-12">
        <div class ="well">
          <div class="center-block" style="display: table;">
            <p>
              <h3>Cargando Contenido</h3>
              <span>Por favor espere</span>
            </p>
            <%= image_tag 'ajax-loader.gif', :alt => 'Loader' %>
          </div>
        </div>
        <div id="foo4" style="visibility: collapse;">
          <div class="box-step">
            <div class="row">
              <div class="col-md-6">
                <div class="services-title">
                  Servicios
                </div>
                <div class="services-subtitle">
                  Seleccione un servicio
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel-group" id="services-selector">
                  <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
                </div>
                
              </div>
              <div class="col-md-6">
                <div class="descripcion">
                  <div class="descripcion-header">
                    Descripción del servicio
                  </div>
                  <div class="descripcion-body">
                    <table class="table">
                      <tbody id="services-description">
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="btn-change btn-next" style="margin-top: 10px;">
                  <a class="next2">Siguiente <i class="fa fa-chevron-right next-arrow"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="box-step">
            <div class="row">
              <div class="col-md-3">
                <div class="staff-wrapper">             
                  <span class="subtitulos-workflow">Seleccione un Staff<br /> y Horario &nbsp;</span><span><i class="fa fa-clock-o gray-icon"></i>&nbsp;<i class="fa fa-user gray-icon"></i></span>
                  <div class="sub-workflow">Seleccione un staff para ver su horario</div>
                  <div <%= 'style="display:none;"'.html_safe if @location.company.company_setting.provider_preference == 2 %>>
                    <div class="panel panel-default">
                      <ul class="list-group" id="staff-selector">
                        <%= image_tag "ajax-loader.gif", :alt => "Loader" %>
                      </ul>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="col-md-9" id="staff-calendar">
                <div class="panel panel-info <%= 'full-margin' if @location.company.company_setting.provider_preference == 2 %>">
                  <div class="calendar-head">
                    <div class="panel-title">
                      <div class="row">
                        <div class="col-md-1">
                          <button type="button" class="btn btn-default" id="prev"><i class="fa fa-chevron-left"></i></button>
                        </div>
                        <div class="col-md-8">
                          <span class="tittle"></span>
                          
                        </div>
                        <div class="col-md-2">
                          <span class="date-span">
                            Ir a fecha
                            <input type="text" id="datepicker" name="date" />
                          </span>
                        </div>
                        <div class="col-md-1">
                          <button type="button" class="btn btn-default pull-right" id="next"><i class="fa fa-chevron-right"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="horario"></div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="btn-change btn-prev">
                  <a class="prev2"><i class="fa fa-chevron-left prev-arrow"></i> Anterior</a>
                </div>  
              </div>
              <div class="col-md-9">
                <div class="btn-change btn-next">
                  <a class="next2">Siguiente <i class="fa fa-chevron-right next-arrow"></i></a>
                </div>
              </div>
            </div>
            
          </div>
          <div class="box-step">

            <div class="row" style="margin-left: 0px !important;">
              <div class="col-md-6">
                <div class="subtitulos-workflow">Ingresa tus datos &nbsp;<i class="fa fa-file-text-o gray-icon"></i></div>
              </div>
              <div class="col-md-6">
              </div>
            </div>

            <div class="row" style="margin-left: 0px !important;">

              <div class="col-md-6">


                <!-- INICIO FORM -->

                <div id="form-datos">
                  <div class="datos-heading">
                    Datos de la reserva
                  </div>
                  <div class="panel-body">
                    <%= form_tag("book", method: "post", role: "form", class: "form-horizontal", id: "bookingForm" ) do %>
                      <input type="hidden" name="start" id="start" value="">
                      <input type="hidden" name="end" id="end" value="">
                      <input type="hidden" name="provider_lock" id="provider_lock" value="">
                      <input type="hidden" name="provider" id="provider" value="">
                      <input type="hidden" name="service" id="service" value="">
                      <input type="hidden" name="location" id="location" value="<%= @location.id %>">
                      <input type="hidden" name="origin" id="origin" value="true">
                      <% if user_signed_in? %>
                      <div id="user-data">
                        <%= hidden_field_tag :user_id, current_user.id %>
                        <%= hidden_field_tag :firstName, current_user.first_name %>
                        <%= hidden_field_tag :lastName, current_user.last_name %>

                        <div class="row">
                          <div class="col-md-12">
                            Nombre
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group has-feedback">
                              <input type="text" id="full_name" name="user[full_name]" class="form-control" placeholder="Nombre completo (requerido)">
                              <span class="help-block"></span>
                              <span class="form-control-feedback"></span>
                            </div>
                          </div>
                        </div>

                      
                        <div class="row">
                          <div class="col-md-6">
                            Email
                          </div>
                          <div class="col-md-6">
                            Teléfono
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group has-feedback">
                              <%= email_field_tag(:email, current_user.email, :class => "form-control", :placeholder => "ejemplo@dominio.com (requerido)", :required => true) %>
                              <span class="help-block"></span>
                              <span class="form-control-feedback"></span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group has-feedback">
                              <%= telephone_field_tag(:phone, current_user.phone, :class => "form-control", :placeholder => "1122334455 (requerido)", :required => true) %>
                              <span class="help-block"></span>
                              <span class="form-control-feedback"></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <% else %>
                        <%= hidden_field_tag :firstName %>
                        <%= hidden_field_tag :lastName %>
                        <div class="row">
                          <div class="col-md-12">
                            Nombre
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group has-feedback">
                              <input type="text" id="full_name" name="user[full_name]" class="form-control" placeholder="Nombre completo (requerido)">
                              <span class="help-block"></span>
                              <span class="form-control-feedback"></span>
                            </div>
                          </div>
                        </div>

                      
                        <div class="row">
                          <div class="col-md-6">
                            Email
                          </div>
                          <div class="col-md-6">
                            Teléfono
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group has-feedback">
                              <%= email_field_tag(:email, nil, :class => "form-control", :placeholder => "ejemplo@dominio.com (requerido)", :required => true) %>
                              <span class="help-block"></span>
                              <span class="form-control-feedback"></span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group has-feedback">
                              <%= telephone_field_tag(:phone, nil, :class => "form-control", :placeholder => "1122334455 (requerido)", :required => true) %>
                              <span class="help-block"></span>
                              <span class="form-control-feedback"></span>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @location.company.company_setting.client_exclusive %>
                        <div id="identificationNumber" class="form-group has-feedback">
                          <%= label_tag(:identification_number, "RUT", class: "col-sm-3 control-label") %>
                          <div class="col-sm-9">
                            <%= text_field_tag(:identification_number, nil, :class => "form-control", :placeholder => "Escriba su RUT, debe estar autorizado como cliente" ) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                          </div>
                        </div>
                      <% end %>
                      <div id="outcallAddress" class="form-group has-feedback">
                        <%= label_tag(:address, "Dirección", class: "col-sm-3 control-label") %>
                        <div class="col-sm-9">
                          <%= text_field_tag(:address, nil, :class => "form-control", :placeholder => "Escribe la dirección donde se debe realizar el servicio" ) %>
                          <span class="help-block"></span>
                          <span class="form-control-feedback"></span>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          Comentario
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                              <%= text_area_tag(:comment, nil, :class => "form-control", :placeholder => "Agrega algún comentario a tu reserva en caso de ser necesario", :rows => 4) %>
                          </div>
                        </div>
                      </div>

                      <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                          <div class="btn-change btn-prev">
                            <a class="prev2"><i class="fa fa-chevron-left prev-arrow"></i> Anterior</a>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" id="submitBtn">Reservar</button>
                        </div>
                      </div>

                    <% end %>
                  </div>
                </div>

                <!-- FIN FORM -->

                


              </div>
              <div class="col-md-6">

                <div id="resumen-reserva">
                  <div class="resumen-heading">
                    Resumen de tu Reserva
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      <tbody id="summary">
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>

          </div>




        </div>

        <!--<div class="row">
          <div class="col-md-6">
            <div class="btn-change btn-prev">
              <a id="prev2"><i class="fa fa-chevron-left"></i> Anterior</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="btn-change btn-next">
              <a id="next2">Siguiente <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>-->

      </div>
    </div>
  </div>
</div>
</div>

<%= content_tag "div", id: "selectedLocal", data: {local: @location, district: @location.district.name} do %>
<% end %>
<%= content_tag "div", id: "clientExclusive", data: {client_exclusive: @location.company.company_setting.client_exclusive} do %>
<% end %>
<%= content_tag "div", id: "providerPreference", data: {provider_preference: @location.company.company_setting.provider_preference } do %>
<% end %>
<%= content_tag "div", id: "workflow_url", data: {url: @url, location_id: @location.id} do %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'workflow/services' %>
  <%= javascript_include_tag 'jquery.carouFredSel-6.2.1.js' %>
  <%= javascript_include_tag "jquery-ui-1.10.4.min.js" %>
  <%= javascript_include_tag 'split-name' %>
  <%= javascript_include_tag 'validations/validate' %>
  <%= javascript_include_tag 'validations/home/workflow' %>
  <script type="text/javascript">
    $(function() {


      compose_name('#full_name', '#firstName', '#lastName');
      split_name('#full_name', '#firstName', '#lastName');

      $('#boton-servicio').click(function () {
        window.location.href = 'http://' + $('#workflow_url').data('url') + '/workflow?local=' + $('#workflow_url').data('location-id').toString();
      });

      //$("#datepicker").formatDate('yyyy-mm-dd');
      $("#datepicker").datepicker({
          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
          prevText: 'Atrás',
          nextText: 'Adelante',
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'vie', 'Sáb'],
          dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'vie', 'Sáb'],
          today: 'Hoy',
          clear: '',
          firstDay: 1,
          dateFormat: 'yy-mm-dd',
          onSelect: function(newDate){
            
            var data = {
              provider: $('[name="staffRadio"]:checked').val(),
              local: $('#selectedLocal').data('local').id,
              date: newDate,
              service: $('input[name="serviceRadio"]:checked').val(),
            }

            console.log(data);

            

            if (calendar) {
              calendar.rebuild('/get_available_time.json', data);
              console.log("Rebuild calendar.");
            }
            else {
              calendar = new Calendar('/get_available_time.json', data);
              console.log("New calendar.");
            }
            
            $(document).on('hourClick', function (e) {
              addBooking(e);
            });
            

            $(function () {
              $('#prev').click(function () {
                selected = false;
              });
              $('#next').click(function () {
                selected = false;
              });
            });

          }
      });

      $(document.body).on('click', '.date-span', function(e) { $(e.currentTarget).find('input').datepicker('show');
});

      //  Responsive layout, resizing the items
      $('#foo4').carouFredSel({
        responsive: true,
        auto: false,
        pagination: {
            container: "#pager2",
            anchorBuilder: function (nr) {
              var title;
              if (nr == 1) {
                title = '<i class="fa fa-circle fa-2x"></i><span class="circle-number">'+nr+'</span><span class="navigation-title"> | Elegir el servicio</span>';
              } else if (nr == 2) {
                title = '<i class="fa fa-circle fa-2x"></i><span class="circle-number">'+nr+'</span><span class="navigation-title"> | Elegir el staff</span>';
              } else{
                title = '<i class="fa fa-circle fa-2x"></i><span class="circle-number">'+nr+'</span><span class="navigation-title"> | Ingresa tus datos</span>';
              };
              return '<a href="#"><span>' + title + '</span></a>';
            }
          },
        width: '100%',
        height: 'variable',
        prev: '.prev2',
        next: '.next2',
        direction: "left",
        circular: false,
        infinite: false,
        onCreate: function () {
          $('.center-block').parent().remove();
          $('#foo4').css('visibility', 'visible');
          loadStep1();
        },
        scroll: {
          conditions: function (direction) {
            return scrollEvents(direction);
          },
          onEnd: function (direction) {
            if (direction == 'prev') {
              step = 1;
            }
          }
        }
      });
    });
  </script>
<% end %>