<div class="modal-content">

	<%= form_for @custom_filter, :html => {:class => 'form-horizontal custom_filter_form', :id => 'custom_filter_form'} do |f| %>

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="addFilterModalLabel">Nuevo filtro</h4>
		</div>
		<div class="modal-body">
			<%= f.hidden_field :company_id, :value => current_user.company.id %>

		  	<div class="form-group has-feedback">
			  	<%= f.label :name, 'Nombre', :class => 'control-label col-xs-4' %>
			    <div class="col-xs-8">
			      <%= f.text_field :name, :class => 'form-control' %>
			      <span class="help-block"></span>
			      <span class="form-control-feedback"></span>
			    </div>
			</div>

			<% current_user.company.custom_attributes.each do |attribute| %>

				<% if attribute.datatype == "integer" || attribute.datatype == "float" %>

					<div class="form-group has-feedback">
					  	<label class ='control-label col-xs-3'><%= attribute.name %></label>
					  	<div class="col-xs-3">
					  		<select id="attribute_<%= attribute.id %>_option" name="attribute_<%= attribute.id %>_option" class="form-control">
					  			<option value="equals">Igual a</option>
					  			<option value="greater">Mayor que</option>
					  			<option value="greater_equal">Mayor o igual que</option>
					  			<option value="lower">Menor que</option>
					  			<option value="lower_equal">Menor o igual que</option>
					  			<option value="between">Entre</option>
					  			<option value="out">Fuera de</option>
					  		</select>
					  	</div>
					    <div class="col-xs-3">
					      	<input type="number" id="attribute_<%= attribute.id %>_value1" name="attribute_<%= attribute.id %>_value1" class="form-control" />
					      	<span class="help-block"></span>
					      	<span class="form-control-feedback"></span>
					    </div>
					    <div class="col-xs-3">
					      	<input type="number" id="attribute_<%= attribute.id %>_value2" name="attribute_<%= attribute.id %>_value2" class="form-control" />
					      	<span class="help-block"></span>
					      	<span class="form-control-feedback"></span>
					    </div>
					</div>

				<% elsif attribute.datatype == "date" %>

					<div class="form-group has-feedback">
					  	<label class ='control-label col-xs-3'><%= attribute.name %></label>
					  	<div class="col-xs-3">
					  		<select id="attribute_<%= attribute.id %>_option" name="attribute_<%= attribute.id %>_option" class="form-control">
					  			<option value="equals">Igual a</option>
					  			<option value="greater">Mayor que</option>
					  			<option value="greater_equal">Mayor o igual que</option>
					  			<option value="lower">Menor que</option>
					  			<option value="lower_equal">Menor o igual que</option>
					  			<option value="between">Entre</option>
					  			<option value="out">Fuera de</option>
					  		</select>
					  	</div>
					    <div class="col-xs-3">
					      	<input type="text" id="attribute_<%= attribute.id %>_date1" name="attribute_<%= attribute.id %>_date1" class="form-control attribute-datepicker" />
					      	<span class="help-block"></span>
					      	<span class="form-control-feedback"></span>
					    </div>
					    <div class="col-xs-3">
					      	<input type="text" id="attribute_<%= attribute.id %>_date2" name="attribute_<%= attribute.id %>_date2" class="form-control attribute-datepicker" />
					      	<span class="help-block"></span>
					      	<span class="form-control-feedback"></span>
					    </div>
					</div>

				<% elsif attribute.datatype == "datetime" %>

					<div class="form-group has-feedback">
					  	<label class ='control-label col-xs-3'><%= attribute.name %></label>
					  	<div class="col-xs-3">
					  		<select id="attribute_<%= attribute.id %>_option" name="attribute_<%= attribute.id %>_option" class="form-control">
					  			<option value="equals">Igual a</option>
					  			<option value="greater">Mayor que</option>
					  			<option value="greater_equal">Mayor o igual que</option>
					  			<option value="lower">Menor que</option>
					  			<option value="lower_equal">Menor o igual que</option>
					  			<option value="between">Entre</option>
					  			<option value="out">Fuera de</option>
					  		</select>
					  	</div>
					    <div class="col-xs-3">
					      	<div>

						      	<input type="text" id="attribute_<%= attribute.id %>_date1" name="attribute_<%= attribute.id %>_date1" class="form-control attribute-datepicker" />
						      	<span class="help-block"></span>
						      	<span class="form-control-feedback"></span>
						    </div>
						    <div>
						    	<table style="width: 100%;">
						    		<tr>
								    	<td style="width: 47%">
									    	<select class="form-control" name="attribute_<%= attribute.id %>_date1_hour" id="attribute_<%= attribute.id %>_date1_hour">
					                            <% 
					                              for i in 0..23
					                                str_hour = i.to_s
					                                if str_hour.length == 1
					                                  str_hour = "0" + str_hour
					                                end

					                                %>
					                                  <option value="<%= str_hour %>"><%= str_hour %></option>
					                                <%

					                              end 
					                            %>
					                        </select>
		                       			</td>
		                       			<td style="width: 6%; text-align: center;">
		                       				:
		                       			</td>
		                       			<td style="width: 47%">
									    	<select class="form-control" name="attribute_<%= attribute.id %>_date1_minute" id="attribute_<%= attribute.id %>_date1_minute">
					                            <% 
					                              for i in 0..59
					                                str_minute = i.to_s
					                                if str_minute.length == 1
					                                  str_minute = "0" + str_minute
					                                end

					                                #if str_minute == date_time_attribute_minute
					                            %>

					                                <option value="<%= str_minute %>"><%= str_minute %></option>
					                            <%

					                              end 
					                            %>
					                        </select>
		                       			</td>
		                       		</tr>
		                       	</table>
						    </div>
					    </div>
					    <div class="col-xs-3">
					    	<div>
						      	<input type="text" id="attribute_<%= attribute.id %>_date2" name="attribute_<%= attribute.id %>_date2" class="form-control attribute-datepicker" />
						      	<span class="help-block"></span>
						      	<span class="form-control-feedback"></span>
					      	</div>
					      	<div>
						    	<table style="width: 100%;">
						    		<tr>
								    	<td style="width: 47%">
									    	<select class="form-control" name="attribute_<%= attribute.id %>_date2_hour" id="attribute_<%= attribute.id %>_date2_hour">
					                            <% 
					                              for i in 0..23
					                                str_hour = i.to_s
					                                if str_hour.length == 1
					                                  str_hour = "0" + str_hour
					                                end

					                                %>
					                                  <option value="<%= str_hour %>"><%= str_hour %></option>
					                                <%

					                              end 
					                            %>
					                        </select>
		                       			</td>
		                       			<td style="width: 6%; text-align: center;">
		                       				:
		                       			</td>
		                       			<td style="width: 47%">
									    	<select class="form-control" name="attribute_<%= attribute.id %>_date2_minute" id="attribute_<%= attribute.id %>_date2_minute">
					                            <% 
					                              for i in 0..59
					                                str_minute = i.to_s
					                                if str_minute.length == 1
					                                  str_minute = "0" + str_minute
					                                end

					                                #if str_minute == date_time_attribute_minute
					                            %>

					                                <option value="<%= str_minute %>"><%= str_minute %></option>
					                            <%

					                              end 
					                            %>
					                        </select>
		                       			</td>
		                       		</tr>
		                       	</table>
						    </div>
					    </div>
					</div>

				<% elsif attribute.datatype == "categoric" %>

					<div class="form-group has-feedback">
					  	<label class ='control-label col-xs-3'><%= attribute.name %></label>
					  	<div class="col-xs-9">
					  		<!-- Use multiselect to combine categories -->
					  		<select class="categoric-multiselect" id="attribute_<%= attribute.id %>_multi_select" name="attribute_<%= attribute.id %>_multi_select" multiple="multiple" style="margin-top: 7px;" hidden>
								<% attribute.attribute_categories.each do |attribute_category| %>
									<option value="<%= attribute_category.id %>">attribute_category.category</option>
								<% end %>
				            </select>
					  	</div>
					</div>


				<% elsif attribute.datatype == "text" || attribute.datatype == "textarea" %>

				<% elsif attribute.datatype == "boolean" %>

				<% end %>

			<% end %>
		</div>
		<div class="modal-footer">
		  	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		  	<input type="submit" class="btn btn-green" id="saveFilterBtn" value="Guardar" />
		</div>

	<% end %>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/bootstrap-multiselect" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/custom-filter" %>
  <%= javascript_include_tag "admin/bootstrap-multiselect" %>
<% end %>
