<%= form_for @district, html: {class: "form-horizontal" } do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> no permitió que la comuna se creara:</h2>

      <ul>
      <% @district.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre:", class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city_id, "Ciudad:", class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :city_id, City.all, :id, :name, {selected: @district.city_id}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="actions col-sm-offset-3 col-sm-4">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fa fa-check"></i>   Guardar
    <% end %>
      <%= link_to '   Cancelar',  districts_path, class: "btn btn-danger fa fa-times" %>    
    </div>
  </div>

<% end %>
