<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <%= form_for @service_provider, html: {class: "form-horizontal" } do |f| %>
          <div class="form-group has-feedback">
            <%= f.label :public_name, "Nombre Público", class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :public_name, :autofocus => true, class: "form-control", placeholder: 'Nombre (requerido)' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :notification_email, "Email de Notificación", class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :notification_email, class: "form-control", placeholder: 'ejemplo@dominio.com (requerido)' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :location_id, "Local", class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.collection_select :location_id, Location.where(company_id: current_user.company_id, :active => true).accessible_by(current_ability), :id, :name, {:include_blank => true}, {class: "form-control"} %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :block_length, "Bloque Itinerario", class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.select :block_length, options_for_select({ "15 minutos" => "15", "20 minutos" => "20", "30 minutos" => "30", "40 minutos" => "40", "45 minutos" => "45", "50 minutos" => "50", "60 minutos" => "60" }, @service_provider.block_length), {}, {class: "form-control"} %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :booking_configuration_email, 'Resumen Reservas', :class => 'col-md-4 control-label' %>
            <div class="col-md-8">
              <%= f.select :booking_configuration_email, options_for_select([["Notificación por cada reserva", 0], ["Enviar resumen de reservas diario", 1], ["Por defecto configuración local", 2], ["No notificar reservas por email", 3]], selected: @service_provider.booking_configuration_email ), {}, {class: "form-control" } %>
              <span class="help-block">En esta opción defines cómo se notifican las reservas. Esta configuración sobreescribe la configuración del local y la empresa.</span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :service_ids, "Selecciona los servicios", class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <div class="panel-group" id="service-accordion">
                <% @service_categories.each do |service_category| %>
                  <% @service = Service.where(company_id: current_user.company_id, service_category_id: service_category.id, :active => true) %>
                  <% if @service.length > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <input type="checkbox" name="selectCategory" id="selectCategory<%= service_category.id %>" value="0">
                        <a data-toggle="collapse" data-parent="#service-accordion" href="#service-category<%= service_category.id %>"><%= service_category.name %></a>
                      </h4>
                    </div>
                    <div id="service-category<%= service_category.id %>" class="panel-collapse collapse<% if service_category == @service_categories.first%> in<% end %>">
                      <div class="panel-body">
                        <%= f.collection_check_boxes :service_ids, @service, :id, :name_with_small_outcall, {}, {class: "check_boxes"} do |b|%>
                          <div class="checkbox">
                            <label>
                              <%= b.check_box %> <%= b.object.name.html_safe %>
                            </label>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="actions col-md-offset-4 col-md-8">
              <%= f.submit 'Guardar', :class => "btn btn-green buttonProvider"%>
              <%= link_to 'Cancelar'.html_safe, service_providers_path, :class => "btn btn-white" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Horario Prestador de Servicios</h3>
        </div>
        <table class="table">
          <tbody id="providerTable">
            <tr>
              <th>Día</th>
              <th>Apertura</th>
              <th>Cierre</th>
              <th>Descanso</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
