<%= form_for @service_provider, html: {class: "form-horizontal" } do |f| %>
  <% if @service_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_provider.errors.count, "error") %> no permitió que el local sea creado:</h2>

      <ul>
      <% @service_provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.collection_select :service_provider, :user_id, User.where(company_id: current_user.company_id), :id, :name, {class: "form-control"} %>

    <%= f.collection_select :service_provider, :location_id, Location.where(company_id: current_user.company_id), :id, :name, {class: "form-control"} %>
    
    <%= f.collection_check_boxes :service_provider, :services_id, Service.where(company_id: current_user.company_id), :id, :name, {class: "form-control"} %>

  </div>

  <%= f.fields_for :provider_times do |provider_time| %>
    <%= render 'provider_time_fields', :f => provider_time %>
  <% end %>
  <div class="links">
      <%= link_to_add_association 'Agregar Bloque Horario', f, :provider_times %>
    </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
