<div class="container">
	<div class="row">
		<section class="hgroup">
		  <h2 id='title'>Editar Prestador de Servicios</h2>
		  <h2 class="section_header">Modifica la información del Prestador seleccionado.</h2>
		  <div class="line-breadcrumb">
		    <ul class="breadcrumb pull-right">
		        <li><%= link_to "Resumen", dashboard_path %> </li>
		        <li><%= link_to "Prestadores de Servicios", service_providers_path %> </li>
		        <li class="active">Editar</li>
		    </ul>
		  </div>
		</section>
	</div>
</div>

<%= content_tag "div", id: "id_data", data: { id: @service_provider.id } do %>
  <% end %>

<%= content_tag "div", id: "provider_times_data", data: { provider_times: @service_provider.provider_times.to_json } do %>
  <% end %>

<%= render "form" %>

<% content_for :scripts do %>
	<%= javascript_include_tag "provider" %>
	<%= javascript_include_tag 'validations/validate' %>
	<%= javascript_include_tag 'validations/admin/provider' %>
<% end %>