<div class="container">
	<div class="row">
		<section class="hgroup">
			<h2>Proveedores de Servicios</h2>
			<h2 class="section_header">Los Proveedores de Servicios son las personas, máquinas o salas necesarias para realizar un servicio. Acá los podrás crear y editar.</h2>
			<div class="line-breadcrumb">
				<ul class="breadcrumb pull-right">
						<li><%= link_to "Resumen", dashboard_path %> </li>
						<li class="active">Proveedores de Servicios</li>
				</ul>
		</div>
		</section>
	</div>
</div>

<div class="panel-group" id="accordion">
	<% @locations.each do |location| %> 
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= location.id %>">
					<%= location.name %>
				</a>
			</h4>
		</div>
		<div id="collapse<%= location.id %>" class="panel-collapse collapse<% if @locations.count == 1%> in<% end %>">
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Opciones</th>
						</tr>
					</thead>

					<tbody>
						<% @service_providers.each do |service_provider| %>
						<% if service_provider.location_id == location.id %>
							<tr>
								<td><%= service_provider.public_name %></td>
								<td>
									<%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_provider_path(service_provider), :class => "btn btn-warning" %>
									<%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, deactivate_service_provider_path(:id => service_provider.id), :class => "btn btn-danger", data: { confirm: '¿Estás seguro de desactivar el Proveedor seleccionado?' } %>
								</td>
							</tr>
						<% end %>
						<% end %>
					</tbody>
				</table> 
			</div>
		</div>
	</div>
	<% end %>
</div>

<br/>

<%= link_to '<i class="fa fa-plus"></i> Nuevo Proveedor de Servicios'.html_safe, new_service_provider_path, :class => "btn btn-primary" %>
<%= link_to '<i class="fa fa-minus"></i> Proveedores de Servicios Inactivos'.html_safe, inactive_service_providers_path, :class => "btn btn-primary pull-right" %>
