<div class="container">
  <div class="row">
    <section class="hgroup">
      <h2>Recursos</h2>
      <h2 class="section_header">Estos son los Recursos creados para controlar los servicios que puedes hacer simultáneamente. Acá puedes editarlos y crear nuevos.</h2>
      <div class="line-breadcrumb">
        <ul class="breadcrumb pull-right">
            <li><%= link_to "Resumen", dashboard_path %> </li>
            <li class="active">Recursos</li>
        </ul>
    </div>
    </section>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.resource_category.name %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_resource_path(resource), :class => "btn btn-warning" %>
          <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, resource, :class => "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro de eliminar el Recurso seleccionado?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="fa fa-plus"></i> Nuevo Recurso'.html_safe, new_resource_path, :class => "btn btn-primary" %>
