<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Recursos</h2>
      <p>Estos son los Recursos creados para controlar los servicios que puedes hacer simultáneamente. Acá puedes editarlos y crear nuevos.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin: 10px 0;">
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Recurso'.html_safe, new_resource_path, :class => "btn btn-green" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |resource| %>
            <tr>
              <td><%= resource.name %></td>
              <td><%= resource.resource_category.name %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_resource_path(resource), :class => "btn btn-sm btn-orange" %>
                <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, resource, :class => "btn btn-sm btn-red", method: :delete, data: { confirm: '¿Estás seguro de eliminar el Recurso seleccionado?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
