<div class="main">
  <div class="container">
    <div class="row">
      <div class="well">
      <%= form_for @facebook_page, :url => '/iframe/facebook_submit', :html => {:class => 'form-horizontal'} do |f| %>
       <%= f.hidden_field :facebook_page_id %>
        <div class="form-group">
          <%= f.label :company_id, 'Código AgendaPro', :class => 'col-sm-3 control-label' %>
          <div class="col-sm-5">
            <%= f.text_field :company_id, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
           <%= f.submit 'Guardar', :class => 'btn btn-agendapro-claro' %>
          </div> 
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>