

<div class="main">
  <div class="container">
  <% if @admin %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <%= link_to "Configurar Página (Admin)", facebook_setup_path(fb_page_id: @page_id), class: "btn btn-agendapro-claro btn-block" %>
      </div>
    </div>
    <br />
    <% end %>
    <div class="row">
      <div class="well">
        <div class="col-sm-6">
          <h3>Selecciona el lugar</h3>
          <div class="fixed-scroll">
            <table class="table table-bordered table-scroll" id="locales-empresa">
              <tbody>
                <% @locations.each do |local| %>
                <tr class="<%= 'local-seleccionado' if @selectedLocal.to_i == local.id %>">
                  <td>
                    <div class="radio">
                      <label>
                        <input type="radio" name="localRadio" id="localOption<%= local.id %>" value="<%= local.id %>" data-outcall="<%= local.outcall %>" <%= "checked" if @selectedLocal.to_i == local.id %> >
                        <p>
                          <strong><%= local.name %></strong> <br/>
                          <%= if !local.outcall then local.address+', '+local.district.name else "A Domicilio" end %>
                        </p>

                      </label>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="google-maps-empresa">
            <div id="map"></div>
          </div>
          <div id="outcallDistricts" class="well">
          </div>
        </div>
        <div class="col-sm-6">
          <br />
          <a href="#" class="btn btn-agendapro-orange btn-lg btn-block" id="boton-agendar"><i class="fa fa-calendar"></i> AGENDAR </a>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Horario</h3>
            </div>
            <div class="panel-body">
              <table class="table">
                <tbody id="schedule-body">
                  <tr><td>Elige un lugar...</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "workflow_url", data: {url: @url} do %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "iframe/overview" %>
<% end %>