<style type="text/css">
  .nopadding {
    padding: 0 !important;
  }
  label{
    color:#d2d2d2;
    font-size: 30px;
    margin-top: 10px;
  }
  input[type = "radio"]{
    display:none;
  }
  .form_survey {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
    margin-top: 10px;
  }
  label:hover{
    color:#ffd865;
  }
  label:hover ~ label{
    color:#ffd865;
  }
  input[type = "radio"]:checked ~ label{
    color:#ffd865;
  }
  form {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 25px auto;
  }
  form .img_email {
    width: 30px;
    height: auto;
    display: inline-block;
    margin-right: 5px;
  }
  form .img_logo {
    width: 165px;
    height: auto;
  }
  form p{
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    color: #666;
    font-weight: normal;
  }
  form textarea{
    height: 100px !important;
    resize: none;
  }
  form .header p{
    display: inline-block;
  }
  form .circles span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #22c488;
    border-radius: 100%;
    margin: 4px;
    float: right;
  }
  form .separator{
    height: 1px;
    background: #d2d2d2;
    margin: 20px 0;
  }
  form ol {
    color: #000;
    font-weight: bold;
    padding-left: 20px;
    font-size: 16px;
  }
  form ol li {
    margin-top: 10px;
  }
  form ol li p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
  }

  form .btn_green {
    background-color: #22c488;
    color: #fff;
    width: 100%;
    max-width: 100px;
    margin-top: 10px;
    display: inline-block;
  }
  form .button_right {
    text-align: right;
  }
  .invalid {
    background-color: rgba(214,0,0,1);
    height: 50px;
    font-size: 20px;
    display: block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 30px auto;
    line-height: 49px;
    box-shadow: 1px 1px 2px #ccc;
  }
</style>
<div class="container-fluid tab-margin form_survey">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ">
    <% if @found %>
      <%= form_for(@survey) do |f| %>
        <div class="col-md-12 nopadding header">
          <div class="col-md-5 nopadding"><%= image_tag "mailers/icono_mail.png", alt:"Correo", class:"img_email"%><p>Escribenos a contacto@agendapro.cl</p></div>
          <div class="col-md-4 nopadding"><%= image_tag "logos/logo2.png", alt:"Logo AgendaPro", class:"img_logo"%></div>
          <div class="col-md-3 nopadding circles"><span></span><span></span><span></span></div>
        </div>
        <div class="col-md-12 separator"></div>
        <%= @survey.bookings.first.service.service_survey_constructs.first.survey_construct.survey_questions.sort_by(&:order).each do %>
          <%= f.fields_for :survey_questions do |u| %>
            <%= render 'questions_fields' , :f => u %>
          <% end %>
        <% end %>
        <div class="form-actions button_right">
          <%= f.button("Enviar",{:class => 'form-control btn_green'}) %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <p class="invalid"><%= @error %></p>
  <%end%>
</div>
