<div class="row">
  <div class="col-sm-4">
    <div class="well revenue1">
      <h4>Recaudación:</h4>
      <p class="revenue-price"><strong><%= number_to_currency(@payments_sum, currency: ' $', separator: ',', delimeter: '.', precision: 0) %></strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well revenue">
      <h4>Recaudación por Servicios:</h4>
      <p class="revenue-price"><strong><%= number_to_currency(MockBooking.where(payment_id: @payments).sum(:price) + Booking.where(payment_id: @payments).sum(:price), currency: ' $', separator: ',', delimeter: '.', precision: 0) %></strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well revenue">
      <h4>Recaudación por Productos:</h4>
      <p class="revenue-price"><strong><%= number_to_currency(@products_sum, currency: ' $', separator: ',', delimeter: '.', precision: 0) %></strong></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-div">
      <div class="content_header">Pagos</div>
      <table class="table sales_cash_table">
        <thead>
          <tr>
            <th>Fecha de Pago</th>
            <th>Local</th>
            <th>Cliente</th>
            <th>Detalle</th>
            <th>Monto</th>
            <th>Descuento</th>
            <th></th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.payment_date.strftime('%d-%m-%Y') %></td>
            <td><%= payment.location ? payment.location.name : '' %></td>
            <td>
              <% if !payment.client.nil? %>
                <%= payment.client.first_name %> <%= payment.client.last_name %>
              <% else %>
                Sin información
              <% end %>
            </td>
            <td><button class="btn btn-green btn-xs" id="payment_details_button_<%= payment.id %>">Vista Rápida</button></td>
            <td><%= number_to_currency(payment.amount, currency: ' $', separator: ',', delimeter: '.', precision: 0) %></td>
            <td><%= payment.discount.round(2) %> %</td>
            <td>&nbsp;</td>
            <td>
              <button class="btn btn-dark-green btn-xs" onclick="openPaymentPdfs(<%= payment.id %>);"><i class="fa fa-file-pdf-o"></i></button>
              <button class="btn btn-orange btn-xs" onclick="openPaymentMailer(<%= payment.id %>);"><i class="fa fa-envelope"></i></button>
              <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
                <button class="btn btn-warning btn-xs" onclick="editPayment(<%= payment.id %>);"><i class="fa fa-pencil"></i></button> 
                <button class="btn btn-red btn-xs" onclick="deletePayment(<%= payment.id %>);"><i class="fa fa-trash-o"></i></button>
              <% end %>
            </td>
          </tr>
          <% bookings_text = ''
            products_text = ''
            mock_bookings_text = ''
           %>
          <% payment.bookings.each do |booking|
            bookings_text += '* ' + booking.service.name + ' con ' + booking.service_provider.public_name + ' (' + booking.start.strftime('%R %d-%m-%Y') + ') ' + number_to_currency(booking.price, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' con ' + booking.discount.to_s + '% de descuento<br/>'
          end %>
          <% payment.payment_products.each do |payment_product|
            if payment_product.quantity == 1
              products_text += '* ' + payment_product.product.name + ' ' + number_to_currency(payment_product.price * payment_product.quantity, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' (1 unidad con ' + payment_product.discount.to_s + '% de descuento)<br/>'
            else
              products_text += '* ' + payment_product.product.name + ' ' + number_to_currency(payment_product.price * payment_product.quantity, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' (' + payment_product.quantity.to_s + ' unidades con ' + payment_product.discount.to_s + '% de descuento)<br/>'
            end
          end %>
          <% payment.mock_bookings.each do |mock_booking|
            if mock_booking.service_id.nil? && mock_booking.service_provider_id.nil?
              mock_bookings_text += '* ' + number_to_currency(mock_booking.price, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' con ' + mock_booking.discount.to_s + '% de descuento<br/>'
            elsif !mock_booking.service_id.nil? && mock_booking.service_provider_id.nil?
              mock_bookings_text += '* ' + mock_booking.service.name + " sin prestador " + number_to_currency(mock_booking.price, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' con ' + mock_booking.discount.to_s + '% de descuento<br/>'
            elsif mock_booking.service_id.nil? && !mock_booking.service_provider_id.nil?
              mock_bookings_text += '* ' + " servicio por definir con " + mock_booking.service_provider.public_name + " " + number_to_currency(mock_booking.price, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' con ' + mock_booking.discount.to_s + '% de descuento<br/>'
            else
              mock_bookings_text += '* ' + mock_booking.service.name + " con " + mock_booking.service_provider.public_name + " " + number_to_currency(mock_booking.price, currency: ' $', separator: ',', delimeter: '.', precision: 0) + ' con ' + mock_booking.discount.to_s + '% de descuento<br/>'
            end
              
          end %>
          <% qtip_text = ''
          if bookings_text != '' then qtip_text += '<strong>Reservas:</strong><br/>' + bookings_text + '<br/>' end
          if mock_bookings_text != '' then qtip_text += '<strong>Servicios:</strong><br/>' + mock_bookings_text + '<br/>' end
          if products_text != '' then qtip_text += '<strong>Productos:</strong><br/>' + products_text + '<br/>' end %>
          <script type="text/javascript">
            $('#payment_details_button_<%= payment.id %>').qtip({
               show: {
                  event: 'click mouseover focus'
                },
               content: {
                button: true,
                text: '<%= qtip_text.html_safe %>',
                title: 'Detalles del Pago'
               },
               position: {
                my: 'bottom center',  // el triángulo sale de abajo al medio
                at: 'top center' // se ubica arriba del elemento en cuestión
               },
               style: {
                classes: 'qtip-bootstrap'
               },
               hide: {
                event: 'click mouseleave mouseout unfocus',
                leave: true,
                fixed: true
              }
            })
          </script>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- VENTAS INTERNAS -->
    <div class="table-div">
      <div class="content_header sales_cash_table">Ventas internas</div>
      <table class="table sales_cash_table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Local</th>
            <th>Prestador</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Monto</th>
            <th>Descuento</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @internal_sales.each do |internal_sale| %>
            <tr>
              <td><%= internal_sale.date.strftime('%d-%m-%Y') %></td>
              <td><%= internal_sale.location ? internal_sale.location.name : '' %></td>
              <td>
                <%= internal_sale.service_provider.public_name %>
              </td>
              <td>
                <%= internal_sale.product.name %>
              </td>
              <td>
                <%= internal_sale.quantity.to_s %>
              </td>
              <td><%= number_to_currency(internal_sale.price * internal_sale.quantity, currency: ' $', separator: ',', delimeter: '.', precision: 0) %></td>
              <td><%= internal_sale.discount.round(2) %> %</td>
              <td>
                <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
                  <button class="btn btn-warning btn-xs" onclick="editInternalSale(<%= internal_sale.id %>);"><i class="fa fa-pencil"></i></button> 
                  <button class="btn btn-red btn-xs" onclick="deleteInternalSale(<%= internal_sale.id %>);"><i class="fa fa-trash-o"></i></button>
                <% else %>
                  Sin opciones
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>