<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

    <% @service_providers.each do |service_provider| %>

      <Worksheet ss:Name="<%= service_provider.public_name %> (<%= service_provider.id.to_s %>)">

        <Table>

            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>
            <ss:Column ss:Width="100"/>

            <%
              payment_products = PaymentProduct.where(seller_id: service_provider.id, seller_type: 0, payment_id: Payment.where(payment_date: @from.beginning_of_day..@to.end_of_day).pluck(:id))

              mock_bookings = MockBooking.where(service_provider_id: service_provider.id, payment_id: Payment.where(payment_date: @from.beginning_of_day..@to.end_of_day).pluck(:id))

              bookings = Booking.where.not(status_id: Status.find_by_name("Cancelado").id).where('payment_id is not null').where(service_provider_id: service_provider.id, payment_id: Payment.where(payment_date: @from.beginning_of_day..@to.end_of_day).pluck(:id))

              internal_sales = InternalSale.where(service_provider_id: service_provider.id, date: @from.beginning_of_day..@to.end_of_day)

              payment_products_total = 0.0
              mock_bookings_total = mock_bookings.sum(:price)
              bookings_total = bookings.sum(:price)
              internal_sales_total = 0.0

              payment_products_commissions = 0.0
              mock_bookings_commissions = 0.0
              bookings_commissions = 0.0

            %>

            <Row>
              <Cell><Data ss:Type="String">Productos</Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Fecha de pago</Data></Cell>
              <Cell><Data ss:Type="String">Cliente</Data></Cell>
              <Cell><Data ss:Type="String">Sku</Data></Cell>
              <Cell><Data ss:Type="String">Categoría</Data></Cell>
              <Cell><Data ss:Type="String">Marca</Data></Cell>
              <Cell><Data ss:Type="String">Nombre</Data></Cell>
              <Cell><Data ss:Type="String">Cantidad/Unidad</Data></Cell>
              <Cell><Data ss:Type="String">Precio</Data></Cell>
              <Cell><Data ss:Type="String">Cantidad</Data></Cell>
              <Cell><Data ss:Type="String">Comisión</Data></Cell>
              <Cell><Data ss:Type="String">Medios de pago</Data></Cell>
              <Cell><Data ss:Type="String">Comentarios</Data></Cell>
              <Cell><Data ss:Type="String">N° de comprobante</Data></Cell>
            </Row>

            <% payment_products.each do |payment_product| %>

              <%

                payment_products_total += payment_product.quantity * payment_product.price

                payment_products_commissions = payment_product.quantity * payment_product.product.get_commission

                payment_methods_arr = []
                payment_methods = ""
                payment_product.payment.payment_transactions.each do |payment_transaction|
                  if !payment_transaction.payment_method_id.nil?
                    payment_methods_arr << payment_transaction.payment_method.name
                  else
                    payment_methods_arr << payment_transaction.company_payment_method.name
                  end
                end

                if payment_methods_arr.count > 0
                  payment_methods = payment_methods_arr.join(", ")
                end

                client_name = "Sin información"

                if !payment_product.payment.client.nil?
                  client_name = payment_product.payment.client.full_name
                end

              %>

              <Row>
                <Cell><Data ss:Type="String"><%= payment_product.payment.payment_date.strftime('%d/%m/%Y %R') %></Data></Cell>
                <Cell><Data ss:Type="String"><%= client_name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.product.sku %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.product.product_category.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.product.product_brand.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.product.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.product.product_display.name %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= payment_product.price %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= payment_product.quantity %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= payment_product.product.get_commission * payment_product.quantity %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_methods %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.receipt.notes %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_product.receipt.number %></Data></Cell>
              </Row>
            <% end %>

            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Servicios</Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Fecha de pago</Data></Cell>
              <Cell><Data ss:Type="String">Cliente</Data></Cell>
              <Cell><Data ss:Type="String">Servicio</Data></Cell>
              <Cell><Data ss:Type="String">Precio</Data></Cell>
              <Cell><Data ss:Type="String">Comisión</Data></Cell>
              <Cell><Data ss:Type="String">Medios de pago</Data></Cell>
              <Cell><Data ss:Type="String">Comentarios</Data></Cell>
              <Cell><Data ss:Type="String">N° de comprobante</Data></Cell>
            </Row>

            <% mock_bookings.each do |mock_booking| %>

              <%

                mock_bookings_commissions += mock_booking.get_commission

                payment_methods_arr = []
                payment_methods = ""
                mock_booking.payment.payment_transactions.each do |payment_transaction|
                  if !payment_transaction.payment_method_id.nil?
                    payment_methods_arr << payment_transaction.payment_method.name
                  else
                    payment_methods_arr << payment_transaction.company_payment_method.name
                  end
                end

                if payment_methods_arr.count > 0
                  payment_methods = payment_methods_arr.join(", ")
                end

                service_name = ""

                if mock_booking.service_id.nil?
                  service_name = "Sin información"
                else
                  service_name = mock_booking.service.name
                end

                client_name = "Sin información"

                if !mock_booking.payment.client.nil?
                  client_name = mock_booking.payment.client.full_name
                end

              %>

              <Row>
                <Cell><Data ss:Type="String"><%= mock_booking.payment.payment_date.strftime('%d/%m/%Y %R') %></Data></Cell>
                <Cell><Data ss:Type="String"><%= client_name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= service_name %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= mock_booking.price %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= mock_booking.get_commission %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_methods %></Data></Cell>
                <Cell><Data ss:Type="String"><%= mock_booking.receipt.notes %></Data></Cell>
                <Cell><Data ss:Type="String"><%= mock_booking.receipt.number %></Data></Cell>
              </Row>
            <% end %>

            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Reservas</Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Fecha de pago</Data></Cell>
              <Cell><Data ss:Type="String">Fecha de reserva</Data></Cell>
              <Cell><Data ss:Type="String">Cliente</Data></Cell>
              <Cell><Data ss:Type="String">Servicio</Data></Cell>
              <Cell><Data ss:Type="String">Precio</Data></Cell>
              <Cell><Data ss:Type="String">Comisión</Data></Cell>
              <Cell><Data ss:Type="String">Medios de pago</Data></Cell>
              <Cell><Data ss:Type="String">Comentarios</Data></Cell>
              <Cell><Data ss:Type="String">N° de comprobante</Data></Cell>
            </Row>

            <% bookings.each do |booking| %>

              <%

                bookings_commissions += booking.get_commission

                payment_methods_arr = []
                payment_methods = ""
                booking.payment.payment_transactions.each do |payment_transaction|
                  if !payment_transaction.payment_method_id.nil?
                    payment_methods_arr << payment_transaction.payment_method.name
                  else
                    payment_methods_arr << payment_transaction.company_payment_method.name
                  end
                end

                if payment_methods_arr.count > 0
                  payment_methods = payment_methods_arr.join(", ")
                end

                client_name = "Sin información"

                if !booking.client.nil?
                  client_name = booking.client.full_name
                end

              %>

              <Row>
                <Cell><Data ss:Type="String"><%= booking.payment.payment_date.strftime('%d/%m/%Y %R') %></Data></Cell>
                <Cell><Data ss:Type="String"><%= booking.start.strftime('%d/%m/%Y %R') %></Data></Cell>
                <Cell><Data ss:Type="String"><%= client_name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= booking.service.name %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= booking.price %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= booking.get_commission %></Data></Cell>
                <Cell><Data ss:Type="String"><%= payment_methods %></Data></Cell>
                <Cell><Data ss:Type="String"><%= booking.receipt.notes %></Data></Cell>
                <Cell><Data ss:Type="String"><%= booking.receipt.number %></Data></Cell>
              </Row>
            <% end %>

            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Ventas internas (cobros a prestador)</Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Fecha de venta</Data></Cell>
              <Cell><Data ss:Type="String">Sku</Data></Cell>
              <Cell><Data ss:Type="String">Categoría</Data></Cell>
              <Cell><Data ss:Type="String">Marca</Data></Cell>
              <Cell><Data ss:Type="String">Nombre</Data></Cell>
              <Cell><Data ss:Type="String">Cantidad/Unidad</Data></Cell>
              <Cell><Data ss:Type="String">Precio</Data></Cell>
              <Cell><Data ss:Type="String">Cantidad</Data></Cell>
              <Cell><Data ss:Type="String">Descuento</Data></Cell>
              <Cell><Data ss:Type="String">Cobro total</Data></Cell>
            </Row>

            <% internal_sales.each do |internal_sale| %>

              <%
                internal_sales_total += internal_sale.quantity * internal_sale.price
              %>

              <Row>
                <Cell><Data ss:Type="String"><%= internal_sale.date.strftime('%d/%m/%Y %R') %></Data></Cell>
                <Cell><Data ss:Type="String"><%= internal_sale.product.sku %></Data></Cell>
                <Cell><Data ss:Type="String"><%= internal_sale.product.product_category.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= internal_sale.product.product_brand.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= internal_sale.product.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= internal_sale.product.product_display.name %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= internal_sale.price %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= internal_sale.quantity %></Data></Cell>
                <Cell><Data ss:Type="String"><%= internal_sale.discount.to_s + "%" %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= internal_sale.quantity * (internal_sale.price * (100 - internal_sale.discount) / 100) %></Data></Cell>
              </Row>
            <% end %>

            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>

            <Row>
              <Cell><Data ss:Type="String">Totales</Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Ventas reservas</Data></Cell>
              <Cell><Data ss:Type="Number"><%= bookings_total.round(2) %></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Comisiones reservas</Data></Cell>
              <Cell><Data ss:Type="Number"><%= bookings_commissions.round(2) %></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Ventas servicios (sin reserva)</Data></Cell>
              <Cell><Data ss:Type="Number"><%= mock_bookings_total.round(2) %></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Comisiones servicios</Data></Cell>
              <Cell><Data ss:Type="Number"><%= mock_bookings_commissions.round(2) %></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Ventas productos</Data></Cell>
              <Cell><Data ss:Type="Number"><%= payment_products_total.round(2) %></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Comisiones productos</Data></Cell>
              <Cell><Data ss:Type="Number"><%= payment_products_commissions.round(2) %></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String">Compras productos</Data></Cell>
              <Cell><Data ss:Type="Number"><%= internal_sales_total.round(2) %></Data></Cell>
            </Row>

        </Table>

      </Worksheet>

    <% end %>

</Workbook>