<%= simple_form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> no permitió que el rol fuera creado:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Nombre: <%= f.input :name, :label => false %></br>
  Descripción: <%= f.input :description, :label => false %></br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
