<%= form_for @role, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> no permitió que el rol fuera creado:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nombre', :class => 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :name, :autofocus => true, :required => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descripción', :class => 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.text_area :description, :required => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= submit_tag 'Guardar', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
