<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Roles</h2>
      <p>
        Roles de la aplicación. NO editar ni eliminar (preguntar a Seba y Nico)
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Rol'.html_safe, new_role_path, :class => "btn btn-green pull-right" %>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-green">
        <thead>
          <tr>
            <th>Rol</th>
            <th>Descripción</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @roles.each do |role| %>
            <tr>
              <td><%= role.name %></td>
              <td><%= role.description if role.description %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_role_path(role), :class => "btn btn-orange" %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, role, :class => "btn btn-red", method: :delete, data: { confirm: '¿Estás seguro? (Eliminar en caso de que sea estrictamente necesario, corrobar con Nico y Seba)' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
