<div class="form-group row fields">
<%= f.label :service_id, "Servicio", class: "col-md-1 control-label" %>
<div class="col-md-3">
<%= f.collection_select :service_id, Service.where(company_id: current_user.company_id).order(:order, :name), :id, :name, {}, { class: "form-control" } %>
</div>
<%= f.label :price, "Precio", class: "col-md-1 control-label" %>
<div class="col-md-3">
<%= f.number_field :price, class: "form-control", :min => 0, placeholder: '0 (requerido)' %>
</div>
<%= link_to_remove_fields "Eliminar", f %>
</div>