<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bundle.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bundle.price %>
</p>

<p>
  <strong>Service category:</strong>
  <%= @bundle.service_category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bundle.description %>
</p>

<%= link_to 'Edit', edit_bundle_path(@bundle) %> |
<%= link_to 'Back', bundles_path %>
