<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @country, :html => {:class => 'form-horizontal'} do |f| %>
        <% if @country.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@country.errors.count, "error") %> no permitió que el país se creara:</h2>
            <ul>
              <% @country.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, "Nombre: ", class: "col-md-2 control-label" %>
          <div class="col-md-4">
            <%= f.text_field :name, :autofocus => true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :locale, 'Locale: ', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :locale, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :currency_code, 'Moneda: ', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :currency_code, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :domain, 'Dominio: ', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :domain, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :latitude, 'Latitud: ', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.number_field :latitude, step: 'any', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :longitude, 'Longitud: ', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.number_field :longitude, step: 'any', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :formatted_address, 'DIrección: ', :class => 'col-md-2 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :formatted_address, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :flag_photo, "Foto Bandera: ", class: "col-md-2 control-label" %>
          <div class="col-md-4">
            <%= f.file_field :flag_photo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
          </div>
          <div class="col-md-4">
            <% if @country.flag_photo.url.nil? %>
              No se ha subido foto
            <% else %>
              Foto actual: <%= image_tag @country.flag_photo.url.to_s, :alt => "", :class => "img-responsive" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="actions col-md-offset-2 col-md-4">
            <%= f.submit 'Guardar', :class => 'btn btn-green' %>
            <%= link_to 'Cancelar', countries_path, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
