<%= form_for @country, html: {class: "form-horizontal" } do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> no permitió que el país se creara:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre:", class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="actions col-sm-offset-3 col-sm-4">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fa fa-check"></i>   Guardar
    <% end %>
      <%= link_to '   Cancelar',  countries_path, class: "btn btn-danger fa fa-times" %>    
    </div>
  </div>

<% end %>
