<%= simple_form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> no permitió que el país se creara:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
