<tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;">
    <h4 class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:inherit;font-weight:500;line-height:1.1;color:inherit;margin-top:10px;margin-bottom:10px;font-size:20px;text-align:center;">Bienvenido a AgendaPro</h4>
  </td>
</tr>
<tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;">
    <p class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:center;">Ahora podrás disfrutar de todos los beneficios que <a href="http://<%= @url %>" target="_blank" class="text-green" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:transparent;text-decoration:none;color:#22c488;">AgendaPro</a> tiene para ti.</p>
  </td>
</tr>
<tr class="background-green" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#22c488;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.42857143;vertical-align:top;padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
    <p class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:20px;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:center;">Datos de Registro</p>
  </td>
</tr>
<tr class="background-green" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#22c488;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;">
  <td class="col-2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.42857143;vertical-align:top;width:50%;padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
    <p class="text-right" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:right;">
      <%= image_tag "http://agendapro.co/assets/email/email-white.png", alt: "E-mail" style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-width:0;vertical-align:middle;" %>
      E-mail: <%= @user.email %>
    </p>
  </td>
  <td class="col-2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.42857143;vertical-align:top;width:50%;padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
    <p class="text-left" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:left;">
      <%= image_tag "http://agendapro.co/assets/email/password.png", alt: "E-mail" style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-width:0;vertical-align:middle;" %>
      Contraseña: <%= @user.password %>
    </p>
  </td>
</tr>

<%= render '/mailers/shared/green_footer' %>
