<% if ["billing","plan"].include? @success_page %>
<div class="main">
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-6">
						<hr>
						<% if @success_page == "billing" %>
						<h4>Resumen de tu Pago</h4>
						<dl class="dl-horizontal">
							<dt>¿Qué pagaste?</dt>
							<dd><%= Plan.find(@billing_log.plan_id).name %></dd>
							<dt>¿Cuántos Meses pagaste?</dt>
							<dd><%= @billing_log.amount %></dd>
							<dt>¿Cuánto costó?</dt>
							<dd><%= @billing_log.payment %></dd>
							<dt>Código de la Transacción</dt>
							<dd><%= @billing_log.trx_id %></dd>
							<dt>¿Dudas o consultas?</dt>
							<dd>Por favor envíanos un e-mail a <i class="fa fa-envelope-square"></i> contacto@agendapro.cl o llamanos al <i class="fa fa-phone-square"></i> (+56 9) 5178 5898</dd>
						</dl>
						<% elsif @success_page == "plan" %>
						<h4>Resumen de tu Pago</h4>
						<dl class="dl-horizontal">
							<dt>Plan anterior</dt>
							<dd><%= Plan.find(@plan_log.prev_plan_id).name %></dd>
							<dt>Nuevo Plan</dt>
							<dd><%= Plan.find(@plan_log.new_plan_id).name %></dd>
							<dt>¿Cuánto costó?</dt>
							<dd><%= PuntoPagosConfirmation.find_by_trx_id(@plan_log.trx_id).amount %></dd>
							<dt>Código de la Transacción</dt>
							<dd><%= @plan_log.trx_id %></dd>
							<dt>¿Dudas o consultas?</dt>
							<dd>Por favor envíanos un e-mail a <i class="fa fa-envelope-square"></i> contacto@agendapro.cl o llamanos al <i class="fa fa-phone-square"></i> (+56 9) 5178 5898</dd>
						</dl>
						<% end %>
						<hr>
						<h4>Información de la Cuenta</h4>
						<dl class="dl-horizontal">
							<dt>Administrador</dt>
							<dd><%= current_user.first_name + " " + current_user.last_name %></dd>
							<dt>E-mail</dt>
							<dd><%= current_user.email %></dd>
							<dt>Teléfono</dt>
							<dd><%= current_user.phone %></dd>
							<dt>Estado de Cuenta</dt>
							<dd><%= PaymentStatus.find(@company.payment_status_id).name %></dd>
							<dt>Meses Restantes</dt>
							<dd><%= @company.months_active_left.to_i %> (Incluyendo mes actual)</dd>
							<% if @company.due_amount >= 0 %>
					        <dt>Deuda Actual</dt>
					        <dd><%= number_to_currency(@company.due_amount, {:unit => '$', :separator => ',', :delimiter => '.', :precision => 0})%> CLP</dd>
					        <% else %>
					        <dt>Saldo a Favor</dt>
					        <dd><%= number_to_currency(-1*@company.due_amount, {:unit => '$', :separator => ',', :delimiter => '.', :precision => 0})%> CLP</dd>
					        <% end %>
						</dl>
					</div>
					<div class="col-md-6">
						<%= image_tag("backgrounds/check.png", :class => "center-block") %>
					</div>
				</div>
       		</div>
        </div>
    </section>
</div>
<% end %>