<%= simple_form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> no permitió que la ciudad se creara:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  Nombre: <%= f.input :name, :label => false %><br />

  Región: <%= f.association :region, :label => false %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
