<!-- search -->
<div class="background" style="background-image: url(<%= asset_path 'home/spa.jpg' %>)">
    <div class="below-navbar overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="search-text">Busca, Encuentra y <br> Reserva tus <span class="search-text-green">Servicios en</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <%= image_tag 'search/pin-overlay.png', :alt => 'Pin' %>
                </div>
                <div class="col-sm-10 form-container">
                    <%= form_tag({controller: "searchs", action: "search"}, method: "GET", class: "form-horizontal", id: "search-form") do %>
                        <input type="hidden" id="district" name="district">
                        <input type="hidden" id="latitude" name="latitude" value="-33.412819">
                        <input type="hidden" id="longitude" name="longitude" value="-70.591945">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="input-group input-group-lg">
                                    <%= text_field_tag :inputLocalization, params[:inputLocalization], class: "form-control form-transparent", placeholder: "Escribe tu dirección ..", required: true %>
                                    <span class="input-group-btn">
                                        <button class="btn btn-search form-transparent" type="button">Encuentrame <i class="fa fa-crosshairs"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <%= search_field_tag :inputSearch, params[:inputSearch], class: "form-control input-lg green-placeholder", placeholder: "Ejemplo: Corte de Pelo, Masajes", :required => "true", :autofocus => "autofocus" %>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-search form-transparent btn-lg" type="submit"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="clients">Algunos de nuestros clientes..</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <%= image_tag "search/cliente1.png", alt: "La Guapa Simona" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente2.png", alt: "The Boss" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente3.png", alt: "Miranda" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente4.png", alt: "Nutrición Cuerpo y Alma" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente5.png", alt: "La Banqueta" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente7.png", alt: "Solo para Muñecas" %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Que Hacemos -->
<div class="background" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center text-uppercase">Que Hacemos</h1>
                <p class="text-center" style="margin-top:-15px;">Sistema de Reservas Online enfocado en ayudar a pequeñas y medianas empresas en el manejo y gestión de sus negocios.<a href="#"><%= image_tag "search/play1.png", alt: "play" %></a> Ver Video</p>
            </div>
            <div class="col-sm-12 pull-center">
                <div class="square-border">
                    <%= image_tag "search/search.png", alt: "Busca" %>
                    <p class="text-uppercase">Busca</p>
                </div>
                <div class="square-border">
                    <%= image_tag "search/find.png", alt: "Encuentra" %>
                    <p class="text-uppercase">Encuentra</p>
                </div>
                <div class="square-border">
                    <%= image_tag "search/booking.png", alt: "Reserva" %>
                    <p class="text-uppercase">Reserva</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-gray">
        <div class="col-sm-12">
            <h1 class="text-center text-uppercase">¿Qué puedes encontrar?</h1>
        </div>
        <div class="col-sm-12 pull-center">
            <div class="border">
                <%= image_tag "search/spa.png", alt: "Spa" %>
                <p>Spa</p>
            </div>
            <div class="border">
                <%= image_tag "search/peluqueria.png", alt: "Peluquerías" %>
                <p>Peluquerías</p>
            </div>
            <div class="border">
                <%= image_tag "search/dentista.png", alt: "Dentistas" %>
                <p>Dentistas</p>
            </div>
            <div class="border">
                <%= image_tag "search/centros_estetica.png", alt: "Clinicas y Centros de Estetica" %>
                <p>Clinicas y Centros de Estetica</p>
            </div>
            <div class="border">
                <%= image_tag "search/veterinarios.png", alt: "Veterinarios" %>
                <p>Veterinarios</p>
            </div>
            <div class="border">
                <%= image_tag "search/medicina_alternativa.png", alt: "Medicina Alternativa" %>
                <p>Medicina Alternativa</p>
            </div>
            <div class="border">
                <%= image_tag "search/lavado_autos.png", alt: "Talleres y Lavado de Autos" %>
                <p>Talleres y Lavado de Autos</p>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="text-center" id="margin">Y mas! ..</p>
        </div>
    </div>
</div>

<!-- Clientes -->
<div style="background: #eeeeee; padding: 10px 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <%= image_tag "search/cliente1.png", alt: "La Guapa Simona" %>
            </div>
            <div class="col-sm-2">
                <%= image_tag "search/cliente2.png", alt: "The Boss" %>
            </div>
            <div class="col-sm-2">
                <%= image_tag "search/cliente3.png", alt: "Miranda" %>
            </div>
            <div class="col-sm-2">
                <%= image_tag "search/cliente4.png", alt: "Nutrición Cuerpo y Alma" %>
            </div>
            <div class="col-sm-2">
                <%= image_tag "search/cliente5.png", alt: "La Banqueta" %>
            </div>
            <div class="col-sm-2">
                <%= image_tag "search/cliente7.png", alt: "Solo para Muñecas" %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 pull-center">
            <%= image_tag "search/quotes.png", alt: "quote" %>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
            <div class="media">
                <%= image_tag "home/nico_f.png", class: "pull-left img-circle", size: "100x100" %>
                <div class="media-body">
                    <h3 class="media-heading search-text-green">Nicolas FLores</h3>
                    <p>AgendaPro</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
            <div class="media">
                <%= image_tag "home/nico_f.png", class: "media-left img-circle", size: "100x100" %>
                <div class="media-body">
                    <h3 class="media-heading search-text-green">Nicolas FLores</h3>
                    <p>AgendaPro</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
            <div class="media">
                <%= image_tag "home/nico_f.png", class: "media-left img-circle", size: "100x100" %>
                <div class="media-body">
                    <h3 class="media-heading search-text-green">Nicolas FLores</h3>
                    <p>AgendaPro</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">Síguenos también en nuestras redes sociales</div>
            <div class="col-sm-1"><i class="fa fa-facebook"></i></div>
            <div class="col-sm-1"><i class="fa fa-twitter"></i></div>
            <div class="col-sm-1"><i class="fa fa-vimeo-square"></i></div>
        </div>
    </div>
</div>