<!-- search -->
<div class="background" style="background-image: url(<%= asset_path 'home/spa.jpg' %>)">
    <div class="below-navbar overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="search-text">Busca, Encuentra y <br> Reserva tus <span class="search-text-green">Servicios en</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <%= image_tag 'search/pin-overlay.png', :alt => 'Pin' %>
                </div>
                <div class="col-sm-10 form-container">
                    <%= form_tag({controller: "searchs", action: "search"}, method: "GET", class: "form-horizontal", id: "search-form") do %>
                        <input type="hidden" id="district" name="district">
                        <input type="hidden" id="latitude" name="latitude" value="-33.412819">
                        <input type="hidden" id="longitude" name="longitude" value="-70.591945">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="input-group input-group-lg">
                                    <%= text_field_tag :inputLocalization, params[:inputLocalization], class: "form-control form-transparent", placeholder: "Escribe tu dirección ..", required: true %>
                                    <span class="input-group-btn">
                                        <button class="btn btn-search form-transparent" type="button">Encuentrame <i class="fa fa-crosshairs"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <%= search_field_tag :inputSearch, params[:inputSearch], class: "form-control input-lg green-placeholder", placeholder: "Ejemplo: Corte de Pelo, Masajes", :required => "true", :autofocus => "autofocus" %>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-search form-transparent btn-lg" type="submit"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="clients"><span class="search-text-green">Reserva</span><br>con nuestros clientes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <%= image_tag "search/laguapasimonablanco.png", alt: "La Guapa Simona" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/thebossblanco.png", alt: "The Boss" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/mirandablanco.png", alt: "Miranda" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/nutricioncuerpoyalmablanco.png", alt: "Nutrición Cuerpo y Alma" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/labanquetablanco.png", alt: "La Banqueta" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/soloparamunecasblanco.png", alt: "Solo para Muñecas" %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Que Hacemos -->
<div class="background" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center text-uppercase">Que Hacemos</h1>
                <p class="text-center" style="margin-top:-15px;">Sistema de Reservas Online enfocado en ayudar a pequeñas y medianas empresas en el manejo y gestión de sus negocios.<a href="#"><%= image_tag "search/play1.png", alt: "play" %></a> Ver Video</p>
            </div>
            <div class="col-sm-12">
                <div class="row-border pull-center">
                    <div class="box-content box-border-left">
                        <%= image_tag "search/search.png", alt: "Busca" %>
                        <p class="text-uppercase">Busca</p>
                    </div>
                    <div class="box-content box-border-left box-border-right">
                        <%= image_tag "search/find.png", alt: "Encuentra" %>
                        <p class="text-uppercase">Encuentra</p>
                    </div>
                    <div class="box-content box-border-right">
                        <%= image_tag "search/booking.png", alt: "Reserva" %>
                        <p class="text-uppercase">Reserva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-gray">
        <div class="col-sm-12">
            <h1 class="text-center text-uppercase">¿Qué puedes encontrar?</h1>
        </div>
        <div class="col-sm-12 pull-center">
            <div class="border-box">
                <%= image_tag "search/spa.png", alt: "Spa" %>
                <p>Spa</p>
            </div>
            <div class="border-box">
                <%= image_tag "search/peluqueria.png", alt: "Peluquerías" %>
                <p>Peluquerías</p>
            </div>
            <div class="border-box">
                <%= image_tag "search/dentista.png", alt: "Dentistas" %>
                <p>Dentistas</p>
            </div>
            <div class="border-box">
                <%= image_tag "search/centros_estetica.png", alt: "Clinicas y Centros de Estetica" %>
                <p>Clinicas y Centros de Estetica</p>
            </div>
            <div class="border-box">
                <%= image_tag "search/veterinarios.png", alt: "Veterinarios" %>
                <p>Veterinarios</p>
            </div>
            <div class="border-box">
                <%= image_tag "search/medicina_alternativa.png", alt: "Medicina Alternativa" %>
                <p>Medicina Alternativa</p>
            </div>
            <div class="border-box">
                <%= image_tag "search/lavado_autos.png", alt: "Talleres y Lavado de Autos" %>
                <p>Talleres y Lavado de Autos</p>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="text-center" id="margin">Y mas! ..</p>
        </div>
    </div>
</div>

<!-- Clientes -->
<div class="background background-grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div id="carousel">
                    <%= image_tag "search/thebossblanco.png", alt: "The Boss" %>
                    <%= image_tag "search/mirandablanco.png", alt: "Miranda" %>
                    <%= image_tag "search/nutricioncuerpoyalmablanco.png", alt: "Nutrición Cuerpo y Alma" %>
                    <%= image_tag "search/labanquetablanco.png", alt: "La Banqueta" %>
                    <%= image_tag "search/soloparamunecasblanco.png", alt: "Solo para Muñecas" %>
                    <%= image_tag "search/thebossgris.png", alt: "The Boss" %>
                    <%= image_tag "search/mirandagris.png", alt: "Miranda" %>
                    <%= image_tag "search/nutricioncuerpoyalmagris.png", alt: "Nutrición Cuerpo y Alma" %>
                    <%= image_tag "search/labanquetagris.png", alt: "La Banqueta" %>
                    <%= image_tag "search/soloparamunecasgris.png", alt: "Solo para Muñecas" %>
                    <%= image_tag "search/thebosscolor.png", alt: "The Boss" %>
                    <%= image_tag "search/mirandacolor.png", alt: "Miranda" %>
                    <%= image_tag "search/nutricioncuerpoyalmacolor.png", alt: "Nutrición Cuerpo y Alma" %>
                    <%= image_tag "search/labanquetacolor.png", alt: "La Banqueta" %>
                    <%= image_tag "search/soloparamunecascolor.png", alt: "Solo para Muñecas" %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 pull-center">
            <%= image_tag "search/quotes.png", alt: "quote" %>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
            <div class="media">
                <a href="#" class="media-left">
                    <%= image_tag "home/nico_f.png", class: "img-circle", size: "80x80" %>
                </a>
                <div class="media-body">
                    <h3 class="media-heading search-text-green">Nicolas FLores</h3>
                    <p>AgendaPro</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
            <div class="media">
                <a href="#" class="media-left">
                    <%= image_tag "home/nico_f.png", class: "img-circle", size: "80x80" %>
                </a>
                <div class="media-body">
                    <h3 class="media-heading search-text-green">Nicolas FLores</h3>
                    <p>AgendaPro</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
            <div class="media">
                <a href="#" class="media-left">
                    <%= image_tag "home/nico_f.png", class: "img-circle", size: "80x80" %>
                </a>
                <div class="media-body">
                    <h3 class="media-heading search-text-green">Nicolas FLores</h3>
                    <p>AgendaPro</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="background background-green social">
    <div class="container">
        <div class="row">
            <div class="col-sm-9" style="line-height: 3em;">Síguenos también en nuestras redes sociales</div>
            <div class="col-sm-1">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-green social-facebook"></i>
                </span>
            </div>
            <div class="col-sm-1">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-green social-twitter"></i>
                </span>
            </div>
            <div class="col-sm-1">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-vimeo-square fa-stack-1x fa-green social-vimeo"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- contact -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pull-center text-gray text-uppercase">Contáctanos</h1>
        </div>
        <div class="col-sm-12">
            <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zxyVW9hDKDEg.kYaUAImoWzTg&amp;hl=es-419&amp;z=17" width="100%" height="350"></iframe>
        </div>
        <div class="col-sm-12">
            <%= form_tag("pcontact", method: "post", id: 'contact' ) do %>
                <%= hidden_field_tag :inputName %>
                <%= hidden_field_tag :inputLastname %>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            <label for="full_name" class="label-contacto">Nombre</label>
                            <input type="text" id="full_name" name="user[full_name]" class="form-control" required>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <%= label_tag(:inputEmail, 'E-mail', :class => "label-contacto") %>
                            <%= email_field_tag(:inputEmail, nil, :class => "form-control", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <%= label_tag(:inputSubject, "Asunto", :class => "label-contacto") %>
                            <%= text_field_tag(:inputSubject, nil, :class => "form-control", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            <%= label_tag(:inputMessage, "Mensaje", :class => "label-contacto") %>
                            <%= text_area_tag(:inputMessage, nil, :class => "form-control", :required => true, :rows => 6) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-green form-transparent pull-right"><i class="fa fa-envelope-o"></i> Enviar Mensaje</button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="background contact-footer" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
    <div class="container">
        <div class="row pull-center">
            <div class="col-sm-4">
                <%= image_tag "search/location.png" %>
                <p>Nuestra Señora de los
                 Angeles 185, Oficina D,
                  Las Condes, Santiago</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag "search/email.png" %>
                <p>contacto@agendapro.cl</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag "search/telephone.png" %>
                <p>(+56 9) 5178 5898</p>
            </div>
        </div>
        <div class="row footer">
            <div class="col-sm-6">
                <i class="fa fa-copyright"></i> Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados
            </div>
            <div class="col-sm-5 text-right">
                <a href="#">Sobre Nosotros</a> | <a href="#">Tutoriales</a> | <a href="#">Terminos y condiciones</a>
            </div>
            <div class="col-sm-1">
                <%= image_tag 'logos/logo.png', :alt => 'AgendaPro', :size => "127x39" %>
            </div>
        </div>
    </div>
</div>

<% content_for :scripts do %>
<%= javascript_include_tag 'validations/home/contact' %>
<%= javascript_include_tag 'split-name' %>
<%= javascript_include_tag 'jquery.carouFredSel-6.2.1'  %>
<script>
    $(function() {
        split_name('#full_name', '#inputName', '#inputLastname');

        $('#carousel').carouFredSel({
            items               : 5,
            scroll : {
                items           : 1,
                duration        : 500,                         
                pauseOnHover    : true
            }                   
        });
    });
</script>
<% end %>
