<div class="main">
    <section class="call_to_action">
        <div class="container">
			<%= render 'form' %>
        </div>
    </section>
    <section class="portfolio_teasers_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-recomendacion-lg position-background" style="background-image: url(<%= asset_path 'home/peluqueria.jpg' %>)">
                        <a href="/search?district=1&inputSearch=Centros%20de%20Estética" class="box-recomendacion-lg overlay">
                            <h3>Centros de Estética</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-md position-background" style="background-image: url(<%= asset_path 'home/kinesiologo.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay">
                             <h3>Kinesiólogos</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-recomendacion-md position-background" style="background-image: url(<%= asset_path 'home/centro_estetica.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay">
                            <h3>SPA</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-lg position-background" style="background-image: url(<%= asset_path 'home/psicologia.jpg' %>)">
                        <a href="#" class="box-recomendacion-lg overlay">
                            <h3>Psicólogos</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-recomendacion-lg position-background " style="background-image: url(<%= asset_path 'home/dentista.jpg' %>)">
                        <a href="#" class="box-recomendacion-lg overlay">
                            <h3>Dentistas</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-md position-background " style="background-image: url(<%= asset_path 'home/medicina_alternativa.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" >
                            <h3>Medicina Alternativa</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>