<!-- search -->
<div class="background" style="background-image: url(<%= asset_path 'home/spa.jpg' %>)">
    <div class="below-navbar overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="search-text">Busca, Encuentra y <br> Reserva tus <span class="search-text-green">Servicios en</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <%= image_tag 'search/pin-overlay.png', :alt => 'Pin' %>
                </div>
                <div class="col-sm-10">
                    <%= form_tag({controller: "searchs", action: "search"}, method: "GET", class: "form-horizontal") do %>
                        <input type="hidden" id="district" name="district">
                        <input type="hidden" id="latitude" name="latitude" value="-33.412819">
                        <input type="hidden" id="longitude" name="longitude" value="-70.591945">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <%= text_field_tag :inputLocalization, params[:inputLocalization], class: "form-control form-transparent", placeholder: "Escribe tu dirección ..", required: true %>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default form-transparent" type="button">Encuentrame <i class="fa fa-crosshairs"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= search_field_tag :inputSearch, params[:inputSearch], class: "form-control green-placeholder", placeholder: "Ejemplo: Corte de Pelo, Masajes", :required => "true", :autofocus => "autofocus" %>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default form-transparent" type="submit"><i class="fa fa-search"><span> Buscar</span></i></button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="clients">Algunos de nuestros clientes..</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <%= image_tag "search/cliente1.png", alt: "La Guapa Simona" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente2.png", alt: "The Boss" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente3.png", alt: "Miranda" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente4.png", alt: "Nutrición Cuerpo y Alma" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente5.png", alt: "La Banqueta" %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag "search/cliente7.png", alt: "Solo para Muñecas" %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Que Hacemos -->
<div class="background" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><p class="text-center text-uppercase">Que Hacemos</p></h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur dolor enim, id suscipit mi consequat non.<a href="#"><%= image_tag "search/play1.png", alt: "play" %> Ver Video</a></p>
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <td align="center">
                            <%= image_tag "search/search.png", alt: "Busca" %>
                            <p class="text-uppercase">Busca</p>
                        </td>
                        <td align="center">
                            <%= image_tag "search/find.png", alt: "Encuentra" %>
                            <p class="text-uppercase">Encuentra</p>
                        </td>
                        <td align="center">
                            <%= image_tag "search/booking.png", alt: "Reserva" %>
                            <p class="text-uppercase">Reserva</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><p class="text-center text-uppercase">¿Qué puedes encontrar?</p></h1>
        </div>
        <div class="col-sm-12">
            imagenes
        </div>
        <div class="col-sm-12">
            <p class="text-center">Y mas! ..</p>
        </div>
    </div>
</div>