<!-- search -->
<div class="background fill" style="background-image: url(<%= asset_path 'search/fondo2.png' %>)" id="buscador">
    <div class="fill">
        <div class="container container-search fill" id="buscador2">
            <div class="row vertical-center-row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="search-text">Busca, Encuentra y <br> Reserva <span class="search-text-green" id="typed-text"></span></h1>
                        </div>
                    </div>
                    <div class="row search-row">
                        <div class="col-sm-2 auto-width">
                            <%= image_tag 'search/pin-overlay.png', :alt => 'Pin', class: "img-responsive pull-left" %>
                        </div>
                        <div class="col-xs-10 col-sm-8 col-md-6">
                            <%= form_tag({controller: "searchs", action: "search"}, method: "GET", class: "form-horizontal", id: "search-form") do %>
                                <input type="hidden" id="district" name="district">
                                <input type="hidden" id="latitude" name="latitude" value="-33.412819">
                                <input type="hidden" id="longitude" name="longitude" value="-70.591945">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group input-group-lg">
                                            <%= text_field_tag :inputLocalization, params[:inputLocalization], class: "form-control form-transparent", placeholder: "Escribe tu dirección ..", required: true %>
                                            <span class="input-group-btn">
                                                <button class="btn btn-search form-transparent" type="button">Encuéntrame&nbsp;&nbsp;<i class="fa fa-crosshairs"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-8">
                                        <%= search_field_tag :inputSearch, params[:inputSearch], class: "form-control input-lg green-placeholder", placeholder: "Ejemplo: Corte de Pelo, Masajes", :required => "true", :autofocus => "autofocus" %>
                                    </div>
                                    <div class="col-xs-4">
                                        <button class="btn btn-search form-transparent btn-lg full-width" type="submit"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row search-pull-up">
        <div class="col-sm-12 text-center">
            <h1><a href="#servicios" class="btn btn-down form-transparent btn-lg"><i class="fa fa-chevron-down"></i></a></h1>
        </div>
    </div>
</div>

<!-- Servicios -->
<div class="" id="servicios">
    <div class="container">
        <div class="row text-gray below-navbar">
            <div class="col-sm-12">
                <h1 class="text-center text-uppercase" style="margin-top: 60px;">¿Qué puedes encontrar?</h1>
                <h3 class="text-center search-text-green">¡Descubre las mejores alternativas de belleza en Chile!</h3>
                <%= image_tag "search/caret-down.png", alt: "caret-down", class: "pull-center", width: "39px" %>
            </div>
        </div>
    </div>
    <div class="background background-light-grey">
        <div class="container">
            <div class="row">
                <div class="text-center sector-button col-xs-2 sector-button-offset">
                        <%= image_tag "search/1.png", alt: "Spa", size: "48x37" %>
                        <p>Spa</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/2.png", alt: "Peluquerías", size: "48x37" %>
                        <p>Peluquerías</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/3.png", alt: "Maquillaje", size: "48x37" %>
                        <p>Maquillaje</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/4.png", alt: "Clinicas y Centros de Estetica", size: "48x37" %>
                        <p>Centros de Estetica</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/5.png", alt: "Masajes", size: "48x37" %>
                        <p>Masajes</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-center sector-button sector-button-offset">
                        <%= image_tag "search/6.png", alt: "Manos y Pies", size: "48x37" %>
                        <p>Manos y Pies</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/7.png", alt: "Medicina Alternativa", size: "48x37" %>
                        <p>Medicina Alternativa</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/8.png", alt: "Bronceados", size: "48x37" %>
                        <p>Bronceados</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/9.png", alt: "Tratamientos Faciales", size: "48x37" %>
                        <p>Tratamientos Faciales</p>
                </div>
                <div class="col-xs-2 text-center sector-button">
                        <%= image_tag "search/10.png", alt: "Tratamientos Corporales", size: "48x37" %>
                        <p>Tratamientos Corporales</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="background">
        <div class="container">
            <div class="row text-gray">
                <div class="col-xs-12">
                    <h1 class="text-center text-uppercase">Nuestros Clientes</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="carousel">
                        <%= image_tag "search/thebosscolor.png", alt: "The Boss" %>
                        <%= image_tag "search/mirandacolor.png", alt: "Miranda" %>
                        <%= image_tag "search/nutricioncuerpoyalmacolor.png", alt: "Nutrición Cuerpo y Alma" %>
                        <%= image_tag "search/labanquetacolor.png", alt: "La Banqueta" %>
                        <%= image_tag "search/soloparamunecascolor.png", alt: "Solo para Muñecas" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Qué Hacemos -->
<div class="below-navbar" id="quehacemos">
    <div class="background-repeat" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center text-uppercase">Qué Hacemos</h1>
                    <p class="text-center" style="margin-top:-15px;">Sistema de Reservas Online enfocado en ayudar a pequeñas y medianas empresas en el manejo y gestión de sus negocios.<a href="#"><%= image_tag "search/play1.png", alt: "play" %></a> Ver Video</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 row-border box-content box-border-left text-center">
                    <%= image_tag "search/search.png", alt: "Busca", class: "img-responsive center-block", size: "42x42" %>
                    <p class="text-uppercase">Busca</p>
                </div>
                <div class="col-xs-4 row-border box-content box-border-left box-border-right text-center">
                    <%= image_tag "search/find.png", alt: "Encuentra", class: "img-responsive center-block", size: "15x42" %>
                    <p class="text-uppercase">Encuentra</p>
                </div>
                <div class="col-xs-4 row-border box-content box-border-right text-center">
                    <%= image_tag "search/booking.png", alt: "Reserva", class: "img-responsive center-block", size: "40x42" %>
                    <p class="text-uppercase">Reserva</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 pull-center">
                <h1 class="text-uppercase text-gray">¡Comentarios sobre nosotros!</h1>
                <%= image_tag "search/quotes.png", alt: "quote", height: "58px" %>
            </div>
        </div>
        <div class="row below-navbar">
            <div class="col-xs-4">
                <div class="media">
                    <a href="#" class="media-left">
                        <%= image_tag "home/nico_f.png", class: "img-circle img-responsive", size: "80x80" %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Nicolas FLores</br>
                            <small>AgendaPro</small>
                        </h4>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="media">
                    <a href="#" class="media-left">
                        <%= image_tag "home/nico_f.png", class: "img-circle img-responsive", size: "80x80" %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Nicolas FLores</br>
                            <small>AgendaPro</small>
                        </h4>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="media">
                    <a href="#" class="media-left">
                        <%= image_tag "home/nico_f.png", class: "img-circle img-responsive", size: "80x80" %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Nicolas FLores</br>
                            <small>AgendaPro</small>
                        </h4>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ipsum. Ut nec metus id dui feugiat volutpat. Nullam gravida lacus vel hendrerit tristique. Vivamus non ex in orci viverra viverra in sit amet nisi. Morbi eu mollis sapien. Sed ut nulla accumsan, accumsan justo non, pellentesque libero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background background-green">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-center">
                        <div class="social">
                            <%= image_tag "search/facebook.png", alt: "Facebook" %>
                            <span class="text-uppercase">Facebook</span>
                        </div>
                        <div class="social">
                            <%= image_tag "search/twitter.png", alt: "Twitter" %>
                            <span class="text-uppercase">Twitter</span>
                        </div>
                        <div class="social">
                            <%= image_tag "search/instagram.png", alt: "Instagram" %>
                            <span class="text-uppercase">Instagram</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contact -->
<div class="" id="contacto">
    <div class="container">
        <div class="row below-navbar">
            <div class="col-sm-12">
                <h1 class="pull-center text-gray text-uppercase">Contáctanos</h1>
            </div>
            <div class="col-sm-6 office_address">
                <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zxyVW9hDKDEg.kYaUAImoWzTg&amp;hl=es-419&amp;z=17" width="100%" height="400"></iframe>
            </div>
            <div class="col-sm-6">
                <%= form_tag("pcontact", method: "post", id: 'contact' ) do %>
                    <%= hidden_field_tag :inputName %>
                    <%= hidden_field_tag :inputLastname %>
                    <div class="row">
                        <div class="form-group has-feedback">
                            <label for="full_name" class="label-contacto">Nombre</label>
                            <input type="text" id="full_name" name="user[full_name]" class="form-control" required>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <%= label_tag(:inputEmail, 'E-mail', :class => "label-contacto") %>
                            <%= email_field_tag(:inputEmail, nil, :class => "form-control", :required => true) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <%= label_tag(:inputSubject, "Asunto", :class => "label-contacto") %>
                            <%= select_tag(:inputSubject, options_for_select(["Quiero agregar mi empresa a AgendaPro", "Servicio Técnico", "Consulta por plan especial", "Reclamos", "Otros"]), :class => "form-control") %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <%= label_tag(:inputMessage, "Mensaje", :class => "label-contacto") %>
                            <%= text_area_tag(:inputMessage, nil, :class => "form-control", :required => true, :rows => 4) %>
                            <span class="help-block"></span>
                            <span class="form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-orange form-transparent"><i class="fa fa-envelope-o"></i> Enviar Mensaje</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="background-repeat contact-footer" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
        <div class="container">
            <div class="row pull-center">
                <div class="col-sm-4">
                    <%= image_tag "footer/1.png", size: "22x29" %>
                    <p>Nuestra Señora de los
                     Angeles 185, Oficina D,
                      Las Condes, Santiago</p>
                </div>
                <div class="col-sm-4">
                    <%= image_tag "footer/2.png", size: "24x19" %>
                    <p>contacto@agendapro.cl</p>
                </div>
                <div class="col-sm-4">
                    <%= image_tag "footer/3.png", size: "22x29" %>
                    <p>(+56 9) 5178 5898</p>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-5 copyright-footer">
                    <i class="fa fa-copyright"></i> Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados
                </div>
                <div class="col-sm-5 text-right links-footer">
                    <%= link_to "Sobre Nosotros", aboutus_path %> | <%= link_to "Tutoriales", tutorials_path %> | <%= link_to "Términos y Condiciones", '#' %>
                </div>
                <div class="col-sm-2">
                    <%= image_tag 'footer/logo_footer.png', :alt => 'AgendaPro', :size => "127x43", class: "pull-right" %>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :scripts do %>
<%= javascript_include_tag 'validations/home/contact' %>
<%= javascript_include_tag 'split-name' %>
<%= javascript_include_tag 'jquery.carouFredSel-6.2.1'  %>
<%= javascript_include_tag 'typed'  %>
<script>
    $(function() {
        var windowheight = $(window).height();
        $("#buscador").height(windowheight);
        $("#buscador2").height(windowheight);
        split_name('#full_name', '#inputName', '#inputLastname');

        $('#carousel').carouFredSel({
            items : 5,
            circular : true,
            infinity : true,
            // responsive : true,
            width : "100%",
            scroll : {
                items           : 1,
                duration        : 500,                         
                pauseOnHover    : true
            }                   
        });
        $( window ).resize(function() {
            var windowheight = $(window).height();
            $("#buscador").height(windowheight);
            $("#buscador2").height(windowheight);
        });
        $('a[href*=#]').click(function(){
            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top - 20
            }, 500);
            return false;
        });
        $("#typed-text").typed({
            strings: ["Corte de Pelo", "Tratamientos Faciales", "SPA", "Maquillaje", "Centros de Estética", "Peluquerías", "Masajes", "Manicure", "Pedicure", "Tratamientos Corporales", "Bronceados", "Medicina Alternativa"],
            loop: true,
            typeSpeed: 0,
            cursorChar: "_",
            backDelay: 2000
        });
    });
    $(document).scroll(function() {
        if ( $(this).scrollTop()>0) {
            if($('#main-navbar').hasClass('navbar-agendapro')) {
                $('#main-navbar').addClass('navbar-home');
                $('#main-navbar').removeClass('navbar-agendapro');
                $('#agendapro-brand').html('<%= image_tag 'logos/logodoble2.png', :alt => 'AgendaPro', :size => '127x43' %>');
            }
        }
        else {
            if ($('#main-navbar').hasClass('navbar-home')) {
                $('#main-navbar').addClass('navbar-agendapro');
                $('#main-navbar').removeClass('navbar-home');
                $('#agendapro-brand').html('<%= image_tag 'footer/logo_footer.png', :alt => 'AgendaPro', :size => '127x43' %>');
            }
        }
    });
</script>
<% end %>
