<div class="main">
    <section class="call_to_action">
        <div class="container">
			<%= render 'form' %>
        </div>
    </section>
    <section class="portfolio_teasers_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-recomendacion-md position-background" style="background-image: url(<%= asset_path 'home/spa.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" data-search="SPA">
                            <h3>SPA</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-lg position-background" style="background-image: url(<%= asset_path 'home/centro_estetica.jpg' %>)">
                        <a href="#" class="box-recomendacion-lg overlay" data-search="Clinicas y Centros de Estética">
                            <h3>Clínicas y Centros de Estética</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-md position-background" style="background-image: url(<%= asset_path 'home/medicina_alternativa.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" data-search="Medicina Alternativa">
                            <h3>Medicina Alternativa</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-recomendacion-lg position-background " style="background-image: url(<%= asset_path 'home/peluqueria.png' %>)">
                        <a href="#" class="box-recomendacion-lg overlay" data-search="Peluquerías">
                            <h3>Peluquerías</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-md position-background" style="background-image: url(<%= asset_path 'home/kinesiologo.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" data-search="Kinesiólogos">
                            <h3>Kinesiólogos</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-md position-background" style="background-image: url(<%= asset_path 'home/taller_auto.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" data-search="Talleres y Lavado de Autos">
                            <h3>Talleres y Lavado de Autos</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-recomendacion-md position-background " style="background-image: url(<%= asset_path 'home/dentista.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" data-search="Dentista">
                            <h3>Dentistas</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-md position-background " style="background-image: url(<%= asset_path 'home/veterinarios.jpg' %>)">
                        <a href="#" class="box-recomendacion-md overlay" data-search="Veterinarios">
                            <h3>Veterinarios</h3>
                        </a>
                    </div>
                    <div class="box-recomendacion-lg position-background " style="background-image: url(<%= asset_path 'home/psicologia.jpg' %>)">
                        <a href="#" class="box-recomendacion-lg overlay" data-search="Psicólogos">
                            <h3>Psicólogos</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>