<div class="main below-navbar">
	<!-- Barra superior y Buscador -->

	
	<!-- Resultado Buscador -->
	<div class="container">
		<% if @results.count >0 %>
		<div class="row">
			<!--<div class="col-md-12 col-sm-9" style="padding-left: 0px !important;">
				<div class="map-row">-->
					<div id="map">
					</div>
				<!--</div>
			</div>-->
		</div>
			
		<div class="row locations-panel">
			<div class="col-md-6">
				<% i = 1 %>
				
				<% @results.each do |location| %>
					<% if i%2!=0 %>
						<div style="float: left; padding: none !important; width: 95%;">
						<%= render :partial => 'panel', :locals => { :location => location, :i => i} %>
						</div>
					<% end %>
					<% i = i + 1 %>
					
				<% end %>
			</div>
			<div class="col-md-6">				
				<% i = 1 %>
				<% @results.each do |location| %>
					<% if i%2==0 %>
						<div style="float: right; padding: none !important; width: 95%;">
						<%= render :partial => 'panel', :locals => { :location => location, :i => i} %>
						</div>
					<% end %>
					<% i = i + 1 %>
				<% end %>
			</div>
		</div>
		
		<%= will_paginate @results, renderer: BootstrapPagination::Rails %>
	
		<div class="row">
			<div>
				<!-- mapa -->
				<!--<div class="col-md-6">
					<div id="map"></div>
				</div>-->

				
				
			</div>
		</div>
		<% else %>
			<div hidden>
				<input type="hidden" id="lat" value="<%= @lat.to_s %>" />
				<input type="hidden" id="long" value="<%= @long.to_s %>" />
			</div>
			<div class="row">
			<!--<div class="col-md-12 col-sm-9" style="padding-left: 0px !important;">
				<div class="map-row">-->
					<div id="map">
					</div>
				<!--</div>
			</div>-->
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="font-size: 22px; text-align: center; margin-top: 20px; color: #acacac;">
						<i class="fa fa-frown-o fa-4x"></i><br />
						Lo sentimos, no hemos encontrado resultados para tu búsqueda.
					</p>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div class="background-repeat contact-footer" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
    <div class="container">
        <div class="row pull-center">
            <div class="col-xs-4">
                <%= image_tag "footer/1.png", size: "22x29" %>
                <p>Nuestra Señora de los
                 Angeles 185, Oficina D,
                  Las Condes, Santiago</p>
            </div>
            <div class="col-xs-4">
                <%= image_tag "footer/2.png", size: "24x19" %>
                <p>contacto@agendapro.cl</p>
            </div>
            <div class="col-xs-4">
                <%= image_tag "footer/3.png", size: "22x29" %>
                <p>(+56 9) 5178 5898</p>
            </div>
        </div>
        <div class="row footer">
            <div class="col-xs-4 col-lg-2 pull-right">
                <%= image_tag 'logos/logo1.png', :alt => 'AgendaPro', :size => "127x43", class: "img-responsive pull-right" %>
            </div>
            <div class="col-xs-8 col-lg-5 links-footer pull-right">
                <%= link_to "Agrega tu Empresa", home_path %> | <%= link_to "Sobre Nosotros", aboutus_path %> | <%= link_to "Tutoriales", tutorials_path %> | <%= link_to "Términos y Condiciones", '#' %>
            </div>
            <div class="col-xs-12 col-lg-5 copyright-footer">
                <i class="fa fa-copyright"></i> Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados
            </div>
        </div>
    </div>
</div>


<%= content_tag "div", id: "results", data: {results: @results} do %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "search/map" %>
	<%= javascript_include_tag "jquery-ui-1.10.4.min.js" %>
	<script type="text/javascript">
		$(function() {
            if($('#main-navbar').hasClass('navbar-agendapro')) {
                $('#main-navbar').addClass('navbar-home');
                $('#main-navbar').removeClass('navbar-agendapro');
                $('#agendapro-brand').html('<%= image_tag 'logos/logo2.png', :alt => 'AgendaPro', :size => '127x43' %>');
            }


            

	    });
	</script>
<% end %>
