<div class="main">
	<!-- Barra superior y Buscador -->

	
	<!-- Resultado Buscador -->
	<div class="container">
	
		<div class="row">
			<!--<div class="col-md-12 col-sm-9" style="padding-left: 0px !important;">
				<div class="map-row">-->
					<div id="map">
					</div>
				<!--</div>
			</div>-->
		</div>
			
		<div class="row locations-panel">
			<div class="col-md-6">
				<% i = 1 %>
				
				<% @results.each do |location| %>
					<% if i%2!=0 %>
						<div style="float: left; padding: none !important; width: 95%;">
						<%= render :partial => 'panel', :locals => { :location => location, :i => i} %>
						</div>
					<% end %>
					<% i = i + 1 %>
					
				<% end %>
			</div>
			<div class="col-md-6">				
				<% i = 1 %>
				<% @results.each do |location| %>
					<% if i%2==0 %>
						<div style="float: right; padding: none !important; width: 95%;">
						<%= render :partial => 'panel', :locals => { :location => location, :i => i} %>
						</div>
					<% end %>
					<% i = i + 1 %>
				<% end %>
			</div>
		</div>
		
		<%= will_paginate @results, renderer: BootstrapPagination::Rails %>
	
		<div class="row">
			<div>
				<!-- mapa -->
				<!--<div class="col-md-6">
					<div id="map"></div>
				</div>-->

				
				
			</div>
		</div>
	</div>
</div>


<%= content_tag "div", id: "results", data: {results: @results} do %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "search/map" %>
<% end %>
