<div class="main">
    <!-- Barra superior y Buscador -->
    <section class="call_to_action">
        <div class="container">
			<%= render 'form' %>
        </div>
    </section>
    
    <!-- Resultado Buscador -->
    <div class="container">
        <div class="row">
            <div class="well">
                <!-- mapa -->
                <div class="col-md-6">
                    <div id="map"></div>
                </div>

                <div class="col-md-6">
                    <% i = 1
                        @results.each do |location| %>
                    <div class="panel panel-info"> 
                        <div class="panel-heading">
                            <div class="head-local-search">
                                <div class="number-pin">
                                    <span><%= i %></span>
                                </div>
                                <h3 class="panel-title title-local"><%= location.name %></h3> 
                                <%= link_to 'Reservar', url_for(:host => location.company.web_address + '.' + @domain, :local => location.id, :controller => 'companies', :action => 'overview'), :class => "btn btn-success pull-right", :role => "button" %>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="box-tabs">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a href="#home<%=i%>" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                                    <li><a href="#profile<%=i%>" data-toggle="tab">Descripción</a></li>
                                    <li><a href="#messages<%=i%>" data-toggle="tab">Horario</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                  <div class="tab-pane active" id="home<%=i%>">
                                    <div class="data-local-search">
                                      <p><%= location.address %>, <%= location.district.name %>.</p>
                                      <p>Tel: <%= location.phone %></p>
                                    </div>
                                  </div>
                                  <div class="tab-pane" id="profile<%=i%>">
                                    <p class="fix-position-search">                                                    
                                        <% if location.company.description.empty? %>
                                            <p>No hay descripción para esta empresa.</p>
                                            <% else %>
                                            <p><%= location.company.description %></p>
                                            <% end %>
                                    </p>
                                  </div>
                                  <div class="tab-pane" id="messages<%=i%>">
                                    <table class="table fix-position-search">
                                        <tbody id="schedule-body<%= location.id %>">
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                            </div>
                            <div class="img-local-search">
                            </div>
                        </div>
                    </div>
                    
                    <% i = i + 1 end %>
                    <% if @results.empty? %>
                        <h4>No se encontraron resultados para <strong><%= params[:inputSearch] %></strong>.</h4>
                    <% end %>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<%= content_tag "div", id: "results", data: {results: @results} do %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag "search/map" %>
<% end %>