<div class="main below-navbar">
	<!-- Barra superior y Buscador -->


	<!-- Resultado Buscador -->
	<div class="container">

		<div class="row">
			<div class="col-md-3">

			</div>
			<div class="col-md-6">
				<div class="promotions-results-title">
					Promociones de tratamientos
				</div>
			</div>
			<div class="col-md-3">
				<div class="promotions-results-subtitle">
					<%= link_to "Ver promociones por horario", get_promotions_path %>
				</div>
				<div class="promotions-results-subtitle">
					<%= link_to "Ver promociones de último minuto", get_last_minute_promotions_path %>
				</div>
			</div>
		</div>

		<% if @results.count > 0 %>
			
			<div class="row">
				<div class="col-md-12">
					<div id="map">
					</div>
				</div>
			</div>

			<div class="row text-center">
			<p><br /><% if params[:inputLocalization] && params[:inputLocalization] != "" %>Estos son los resultados más cerca de "<%= params[:inputLocalization] %>".<% else %> Elige una ubicación nueva para encontrar las promociones más cercanas. <% end %> <a href="" data-toggle="modal" data-target="#geolocation-modal">Cambiar Ubicación</a></p>
			</div>

			<div class="row locations-panel">
				<% i = 1 %>
				<div class="row">
				<% @results.each do |promo_detail| %>
					<div class="col-md-4 promo-box-col">
						<%= render :partial => 'treatment_service_panel', :locals => { :service => promo_detail[0], :location => promo_detail[1], :i => i} %>
					</div>
					<% if i%3 == 0 %>
						</div>
						<div class="row">
					<% end %>
					<% i = i + 1 %>
				<% end %>
				</div>
			</div>


				


			<%= will_paginate @results, renderer: BootstrapPagination::Rails %>

			<div class="row">
				<div>



				</div>
			</div>

		<% else %>
			<div hidden>
				<input type="hidden" id="lat" value="<%= @latitude.to_s %>" />
				<input type="hidden" id="long" value="<%= @longitude.to_s %>" />
			</div>
			<div class="row">

					<div id="map">
					</div>

			</div>

			<div class="row text-center">
			<p><br />Estos son los resultados más cerca de "<%= params[:inputLocalization] %>". <a href="" data-toggle="modal" data-target="#geolocation-modal">Cambiar Ubicación</a></p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="font-size: 22px; text-align: center; margin-top: 20px; color: #acacac;">
						<i class="fa fa-frown-o fa-4x"></i><br />
						Lo sentimos, no hemos encontrado resultados para tu búsqueda.
					</p>
				</div>
			</div>
		<% end %>
	</div>
</div>

<footer>
  <div class="background-repeat workflow-footer">
    <div class="container">
      <div class="row footer">
        <div class="col-xs-4 col-lg-2 pull-right">
          <%= image_tag 'logos/logo2.png', :alt => 'AgendaPro', :size => "115x39", class: "img-responsive pull-right" %>
        </div>
        <div class="col-xs-8 col-lg-5 links-footer pull-right">
          <%= link_to "Agrega tu Empresa", home_url(subdomain: false) %> | <%= link_to "Sobre Nosotros", aboutus_url(subdomain: false) %> | <%= link_to "Tutoriales", tutorials_url(subdomain: false) %> | <%= link_to 'Términos y Condiciones', root_url(subdomain: false) << asset_path('pdf/Term_y_Cond_AgendaPro072015.pdf'), target: :blank %>
        </div>
        <div class="col-xs-12 col-lg-5 copyright-footer">
          <i class="fa fa-copyright"></i> Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados
        </div>
      </div>
    </div>
  </div>
</footer>


<%= content_tag "div", id: "results", data: {results: @results.map {|service, location| location}} do %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "jquery-ui.min" %>
	<%= javascript_include_tag "search/map" %>
	<%= javascript_include_tag "Alert" %>
	<%= javascript_include_tag "search/carousel" %>
	<script type="text/javascript">

		$("#promotions-search-btn").click(function(){
			console.log("clicked");
			$("#promotions-form").submit();
		});

		myAlert = new Alert();

	    var input2 = document.getElementById('inputLocalization2');
	    var options = {
	      types: ['geocode']
	    };
	    var geocoder = new google.maps.Geocoder();
	    var autocomplete2 = new google.maps.places.Autocomplete(input2, options);
	    var infowindow = new google.maps.InfoWindow();
	    google.maps.event.addListener(autocomplete2, 'place_changed', function() {
	        if (autocomplete2.getPlace().geometry) {
	            $('#inputLocalization').val(autocomplete2.getPlace().formatted_address);
	            $('#latitude').val(autocomplete2.getPlace().geometry.location.lat());
	            $('#longitude').val(autocomplete2.getPlace().geometry.location.lng());
	            document.cookie = "lat=" + escape(autocomplete2.getPlace().geometry.location.lat());
	            document.cookie = "lng=" + escape(autocomplete2.getPlace().geometry.location.lng());
	            document.cookie = "formatted_address=" + escape(autocomplete2.getPlace().formatted_address);
	        }
	    });
	    $("#inputLocalization2").focusin(function () {
	        $(document).bind("keypress.key2", function(e) {
	            if (e.which == 13) {
	                e.preventDefault();
	                selectFirstResult();
	            }
	        });
	    });
	    $("#inputLocalization2").focusout(function () {
	        if(!$(".pac-container").is(":focus") && !$(".pac-container").is(":visible")) {
	            selectFirstResult();
	        }
	        $(document).unbind("keypress.key2");
	    });

	     function selectFirstResult() {
	        infowindow.close();
	        $(".pac-container").hide();
	        var firstResult = $(".pac-container .pac-item:first").text();
	        geocoder.geocode({"address":firstResult }, function(results, status) {
	            if (status == google.maps.GeocoderStatus.OK) {
	                var lat = results[0].geometry.location.lat(),
	                    lng = results[0].geometry.location.lng(),
	                    placeName = results[0].address_components[0].long_name,
	                    latlng = new google.maps.LatLng(lat, lng);
	                $('#latitude').val(lat);
	                $('#longitude').val(lng);
	                document.cookie = "lat=" + escape(lat);
	                document.cookie = "lng=" + escape(lng);
	                $("#inputLocalization").val(results[0].formatted_address);
	                $("#inputLocalization2").val(results[0].formatted_address);
	                document.cookie = "formatted_address=" + escape(results[0].formatted_address);
	                $('#inputSearch').focus();
	                $('#promotions-form').submit();
	            }
	            else {
	                $("#inputLocalization").val('');
	                $("#inputLocalization2").val('');
	            }
	        });
	     }
	    function geolocate() {
	        if (navigator.geolocation) {
	            $('.geolocate_btn').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "small-loader.gif", :alt => "Loader", :id => "small_loader_header", :class => "small-loader-header" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
	            var positioned = false;
	            navigator.geolocation.getCurrentPosition(
	                function(position) {
	                    positioned = true;
	                    $('#latitude').val(position.coords.latitude);
	                    $('#longitude').val(position.coords.longitude);
	                    document.cookie = "lat=" + escape(position.coords.latitude);
	                    document.cookie = "lng=" + escape(position.coords.longitude);
	                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	                    geocoder.geocode({'latLng': latlng}, function(results, status) {
	                        if (status == google.maps.GeocoderStatus.OK) {
	                          if (results[0]) {
	                            $('#inputLocalization').val(results[0].formatted_address);
	                            $('#inputLocalization2').val(results[0].formatted_address);
	                            document.cookie = "formatted_address=" + escape(results[0].formatted_address);
	                          } else {
	                            $('#inputLocalization').val(position.coords.latitude+', '+position.coords.longitude);
	                            $('#inputLocalization2').val(position.coords.latitude+', '+position.coords.longitude);
	                            document.cookie = "formatted_address=" + escape(position.coords.latitude+', '+position.coords.longitude);
	                          }
	                        } else {
	                            $('#inputLocalization').val(position.coords.latitude+', '+position.coords.longitude);
	                            $('#inputLocalization2').val(position.coords.latitude+', '+position.coords.longitude);
	                            document.cookie = "formatted_address=" + escape(position.coords.latitude+', '+position.coords.longitude);
	                        }
	                        $('#inputSearch').focus();
	                        $('.geolocate_btn').html('<i class="fa fa-crosshairs"></i> Encuéntrame');
	                        return false;
	                    });
	                },
	                function (error) {
	                    positioned = true;
	                    if (error.code == 1) {
	                        myAlert.showAlert(
	                            '<h3>Hubo un error en el proceso de localización.</h3>' +
	                            '<p>No hay permiso, por favor asegúrate permitir la geolicalización automática en tu explorador.</p>'
	                        );
	                    }
	                    else if (error.code == 2) {
	                        myAlert.showAlert(
	                            '<h3>Hubo un error en el proceso de localización.</h3>' +
	                            '<p>Posición no disponible, por favor inténtalo nuevamente o escribe tu ubicación.</p>'
	                        );
	                    }
	                    else if (error.code == 3) {
	                        myAlert.showAlert(
	                            '<h3>Hubo un error en el proceso de localización.</h3>' +
	                            '<p>La consulta tardó mucho, por favor inténtalo nuevamente o escribe tu ubicación.</p>'
	                        );
	                    }
	                    else {
	                        myAlert.showAlert(
	                            '<h3>Hubo un error en el proceso de localización.</h3>' +
	                            '<p>Error desconocido, por favor inténtalo nuevamente o escribe tu ubicación.</p>'
	                        );
	                    }
	                    $('.geolocate_btn').html('<i class="fa fa-crosshairs"></i> Encuéntrame');
	                },
	                {timeout: 10000}
	            );
	            setTimeout(function () {
	                if (!positioned) {
	                    myAlert.showAlert(
	                      '<h3>Hubo un error en el proceso de localización.</h3>' +
	                      '<p>No hubo respuesta, por favor asegúrate permitir la geolicalización automática en tu explorador.</p>'
	                    );
	                    $('.geolocate_btn').html('<i class="fa fa-crosshairs"></i> Encuéntrame');
	                }
	            }, 15000);
	        }
	        else {
	            myAlert.showAlert(
	              '<h3>Hubo un error en el proceso de localización.</h3>' +
	              '<p>Este explorador no permite geolocalización automática, por favor escribe tu ubicación.</p>'
	            );
	        }
	        return;
	    }
	    $('.geolocate_btn').click(function() {
	        geolocate();
	    });
	    $('#modal_search').click(function() {
	        $('#promotions-form').submit();
	    });

	    $(".number-pin").click(function(){
	    	if($(this).closest("li").hasClass("active"))
	    	{
		    	var newLat = $(this).attr("lat");
		    	var newLong = $(this).attr("long");
		    	reCenter(newLat, newLong);
		    	$(window).scrollTop(0);
	    	}
	    });

	    $(".promo-service-box").click(function(){
	      console.log($(this).attr("service_id"));
	      $('.show-promo-link[service_id="' + $(this).attr("service_id") + '"][location_id="' + $(this).attr("location_id") + '"]')[0].click();
	    });

	    /*$(".last-minute-div").click(function(){
	      $('.last-minute-link[service_id="' + $(this).attr("service_id") + '"][location_id="' + $(this).attr("location_id") + '"]')[0].click();
	    });*/

	    /*(function($) {
		    $(function() {
		        $('.jcarousel').jcarousel();

		        $('.jcarousel-control-prev')
		            .on('jcarouselcontrol:active', function() {
		                $(this).removeClass('inactive');
		            })
		            .on('jcarouselcontrol:inactive', function() {
		                $(this).addClass('inactive');
		            })
		            .jcarouselControl({
		                target: '-=1'
		            });

		        $('.jcarousel-control-next')
		            .on('jcarouselcontrol:active', function() {
		                $(this).removeClass('inactive');
		            })
		            .on('jcarouselcontrol:inactive', function() {
		                $(this).addClass('inactive');
		            })
		            .jcarouselControl({
		                target: '+=1'
		            });

		        $('.jcarousel-pagination')
		            .on('jcarouselpagination:active', 'a', function() {
		                $(this).addClass('active');
		            })
		            .on('jcarouselpagination:inactive', 'a', function() {
		                $(this).removeClass('active');
		            })
		            .jcarouselPagination();
		    });
		})(jQuery);*/

	</script>
<% end %>
