<% content_for :scripts do %>
  <%= javascript_include_tag "admin/user" %>
<% end %>

<div class="container">
  <div class="row well">
    <%= form_for [:admin, @user], html: {class: "form-horizontal" } do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@user.errors.count, "error") %> no permitió que el usuario fuera creado:</h3>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group has-feedback">
        <%= f.label :first_name, "Nombre", class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :first_name, :autofocus => true, class: "form-control", placeholder: 'Nombre (requerido)' %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>
      
      <div class="form-group has-feedback">
        <%= f.label :last_name, "Apellido", class: "col-sm-3 control-label"  %>
        <div class="col-sm-4">
          <%= f.text_field :last_name, class: "form-control", placeholder: 'Apellido (requerido)' %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>
      
      <div class="form-group has-feedback">
        <%= f.label :email, "Email", class: "col-sm-3 control-label"  %>
        <div class="col-sm-4">
          <%= f.text_field :email, class: "form-control", placeholder: 'ejemplo@dominio.com (requerido)' %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>
      
      <div class="form-group has-feedback">
        <%= f.label :phone, "Teléfono", class: "col-sm-3 control-label"  %>
        <div class="col-sm-4">
          <%= f.text_field :phone, class: "form-control" %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
        </div>
      </div>

      <% if !current_user.nil? %>
        <div class="form-group has-feedback">
          <%= f.label :role_id, "Rol", class: "col-sm-3 control-label"  %>
          <div class="col-sm-4">
          <% if current_user.role_id == Role.find_by(name: 'Super Admin').id %>
            <%= f.collection_select :role_id, Role.where(:name => ["Admin","Administrador Local","Staff"]), :id, :name, {include_blank: true}, {class: "form-control"} %>
          <% elsif current_user.role_id == Role.find_by(name: 'Admin').id %>
            <%= f.collection_select :role_id, Role.where(:name => ["Administrador Local","Recepcionista","Staff"]), :id, :name, {include_blank: true}, {class: "form-control"} %>
          <% elsif current_user.role_id == Role.find_by(name: 'Administrador Local').id %>
            <%= f.collection_select :role_id, Role.where(:name => ["Recepcionista","Staff"]), :id, :name, {include_blank: true}, {class: "form-control"} %>
          <% end %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
          </div>  
        </div>
      <% end %>

      <% if !current_user.nil? %>
        <div class="form-group has-feedback hidden" id="locationGroup">
          <%= f.label :location_id, "Local", class: "col-sm-3 control-label"  %>
          <div class="col-sm-4">
          <% if current_user.role_id == Role.find_by(name: 'Super Admin').id %>
            <%= f.collection_select :location_id, Location.all, :id, :name, {include_blank: true}, {class: "form-control"} %>
          <% elsif current_user.role_id == Role.find_by(name: 'Admin').id %>
            <%= f.collection_select :location_id, Location.where(:company_id => current_user.company_id, :active => true), :id, :name, {include_blank: true}, {class: "form-control"} %>
          <% elsif current_user.role_id == Role.find_by(name: 'Administrador Local').id %>
            <%= f.collection_select :location_id, Location.where(:id => current_user.location_id, :active => true), :id, :name, { selected: current_user.location_id}, {class: "form-control"} %>
          <% end %>
          <span class="help-block"></span>
          <span class="form-control-feedback"></span>
          </div>  
        </div>
      <% end %>

      <% if !current_user.nil? %>
      <div class="form-group hidden" id="providerGroup">
        <%= f.label :service_provider_ids, "Prestadores de Servicios", class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <div class="panel-group" id="service-provider-accordion">
            <% Location.accessible_by(current_ability).each do |location| %>
            <% @service_providers = ServiceProvider.where(company_id: current_user.company_id, location_id: location.id, :active => true) %>
            <% if @service_providers.length > 0 %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#service-provider-accordion" href="#location<%= location.id %>"><%= location.name %></a>
                  <input type="checkbox" name="selectLocation" id="selectLocation<%= location.id %>" value="0" class="pull-right">
                </h4>
              </div>
              <div id="location<%= location.id %>" class="panel-collapse collapse<% if location == Location.accessible_by(current_ability).first%> in<% end %>">
                <div class="panel-body">
                  <%= f.collection_check_boxes :service_provider_ids, @service_providers, :id, :public_name, {}, {class: "check_boxes"} do |b|%>
                    <div class="checkbox">
                      <label>
                        <%= b.check_box %> <%= b.object.public_name %> 
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="form-group">
        <div class="actions col-sm-offset-3 col-sm-4">
          <%= f.submit 'Guardar', :class => 'btn btn-agendapro-claro' %>
          <%= link_to 'Cancelar', admin_users_path, :class => "btn btn-default" %> 
        </div>
      </div>
    <% end %>
  </div>
</div>