<div class="container">
	<div class="row">
		<section class="hgroup">
		  <h2>Creación de Usuarios</h2>
		  <h2 class="section_header">Acá podrás crear un nuevo usuario y agregarlo a tu compañía.</h2>
		  <div class="line-breadcrumb">
		    <ul class="breadcrumb pull-right">
		        <li><%= link_to "Resumen", dashboard_path %> </li>
		        <li><%= link_to "Usuarios", admin_users_path %> </li>
		        <li class="active">Nuevo</li>
		    </ul>
		</div>
		</section>
	</div>
</div>

<%= render 'form' %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'validations/validate' %>
  <%= javascript_include_tag 'validations/admin/new-user' %>
<% end %>
