<p id="notice"><%= notice %></p>

<p>Nombre: <%= @user.first_name %></p>
<p>Apellido: <%= @user.last_name %></p>
<p>Teléfono: <%= @user.phone %></p>
<p>Tipo: <%= @user.role.name %></p>
<p>Email: <%= @user.email %></p>

<%= link_to 'Editar', edit_admin_user_path(:id => @user.id) %> |
<%= link_to 'Atrás', admin_users_path %>
