<p id="notice"><%= notice %></p>

<p>Nombre: <%= @region.name %></p>
<p>País: <%= @region.country.name %></p>

<%= link_to 'Editar', edit_region_path(@region) %> |
<%= link_to 'Atrás', regions_path %>
