<style type="text/css">
.multiselect-container.dropdown-menu{
  left: auto;
}
</style>
<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Historial de movimientos</h2>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 col-sm-9 col-xs-6">
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          <table>
            <tr>
              <td style="width: 120px;">
                Desde:&nbsp;&nbsp;
              </td>
              <td style="width: 220px;">
                <input type="text" class="form-control datepicker" id="from" value="<%= (DateTime.now - 1.months).strftime('%d/%m/%Y') %>" />
              </td>
              <td style="width: 120px; padding-left: 20px;">
                Hasta:&nbsp;&nbsp;
              </td>
              <td style="width: 220px;">
                <input type="text" class="form-control datepicker" id="to" value="<%= (DateTime.now).strftime('%d/%m/%Y') %>" />
              </td>
              <td style="width: 120px; padding-left: 20px;">
                Orden:&nbsp;&nbsp;
              </td>
              <td style="width: 220px;">
                <select id="order-select" class="form-control">
                  <option value="recent">Más reciente (todos)</option>
                  <option value="old">Más antiguo (todos)</option>
                  <option value="by_products_recent">Por productos (más reciente)</option>
                  <option value="by_products_old">Por productos (más antiguo)</option>
                </select>
              </td>
              <td style="width: 220px; padding-left: 20px;">

              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          <table>
            <tr>
              <td style="width: 120px;">
                Locales:&nbsp;&nbsp;
              </td>
              <td style="min-width: 220px;">
                <div>
                  <select id="location-select" multiple="multiple" class="form-control" style="display: none;">
                    <optgroup label="Activos">
                      <% @locations.where(active: true).each do |location|
                      %>
                        <option value="<%= location.id %>" selected="selected">
                          <%= location.name %>
                        </option>
                      <% end %>
                    </optgroup>
                    <optgroup label="Inactivos">
                      <% @locations.where(active: false).each do |location|
                      %>
                        <option value="<%= location.id %>">
                          <%= location.name %>
                        </option>
                      <% end %>
                    </optgroup>
                  </select>
                </div>
              </td>
              <td style="width: 120px; padding-left: 20px;">
                Categoría(s):&nbsp;&nbsp;
              </td>
              <td style="width: 220px;">
                <select id="category-select" multiple="multiple" class="form-control" style="display: none;">
                  <% @product_categories.each do |product_category|
                  %>
                    <option value="<%= product_category.id %>" selected="selected">
                      <%= product_category.name %>
                    </option>
                  <% end %>
                </select>
              </td>
              <td style="width: 120px; padding-left: 20px;">
                Producto(s):&nbsp;&nbsp;
              </td>
              <td style="width: 220px;">
                <select id="product-select" multiple="multiple" class="form-control" style="display: none;">
                  <% 
                    @product_categories.each do |product_category|
                      product_category.products.order(:name).each do |product|
                  %>
                        <option value="<%= product.id %>" selected="selected">
                          <%= product.name %>
                        </option>
                  <% 
                      end
                    end 
                  %>
                </select>
              </td>
              <td style="min-width: 220px; padding-left: 20px;">
                <a href="" id="download-history-link" target="_blank"><button id="download_stats_btn" class="btn btn-green" style="display: none; width: 200px;"><i class="fa fa-file-excel-o"></i>&nbsp;Descargar</button></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="render_content">

  </div>

</div>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/bootstrap-multiselect" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/bootstrap-multiselect" %>
  <%= javascript_include_tag "admin/products-history" %>
<% end %>
