<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Productos</h2>
      <p>Estos son los productos que puedes vender junto a tus servicios. Acá puedes crear nuevos, editarlos y llevar stock de estos por local.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin: 10px 0;">
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Producto'.html_safe, new_product_path, :class => "btn btn-green" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.product_category.name %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_product_path(product), :class => "btn btn-sm btn-orange" %>
                <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, product, :class => "btn btn-sm btn-red", method: :delete, data: { confirm: '¿Estás seguro de eliminar el Producto seleccionado?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
