<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Inventario</h2>
      <p>Controla el inventario de productos para cada uno de tus locales.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group" style="margin-top: 10px;">
        <div class="col-md-6">
          <table>
            <tr>
              <td>
                Local:&nbsp;&nbsp;
              </td>
              <td>
                <select id="locationsSelect" class="form-control">
                  <% if current_user.role_id = Role.find_by_name('Administrador General') %>
                    <% current_user.company.locations.where(:active => true).each do |location| %>
                      <option value="<%= location.id %>"><%= location.name %></option>
                    <% end %>
                  <% else %>
                    <% current_user.locations.where(:active => true).each do |location| %>
                      <option value="<%= location.id %>"><%= location.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </td>
            </tr>
          </table>        
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pull-right" style="margin: 10px 0;">
        <%= link_to '<i class="fa fa-upload"></i> Importar productos'.html_safe, "#", :class => "btn btn-green", :id => "openImportBtn" %>
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Producto'.html_safe, new_product_path, :class => "btn btn-green" %>
      </div>
    </div>
  </div>
  
  <div id="locationInventory">

  </div>

</div>

<div class="modal fade" id="productAlarmModal" tabindex="-1" role="dialog" aria-labelledby="productAlarmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title productAlarm-modal-title" id="productAlarmModalLabel">Alarma de stock</h4>
      </div>
      <div class="modal-body">

        <form id="alarmForm" action="">

          <input type="hidden" id="location_product_id" value="" />

          <div class="form-group has-feedback">
            <label for="location_product_stock_limit" class="col-md-5 control-label">Límite de stock</label>
            <div class="col-md-7">
              <input type="number" id="location_product_stock_limit" class="form-control" value="" />
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label for="location_product_alarm_email" class="col-md-5 control-label">Email para avisos</label>
            <div class="col-md-7">
              <input type="text" id="location_product_alarm_email" class="form-control" value="" />
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>

        </form>

        <div style="clear: both;">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-default btn-green" id="saveAlarmBtn">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="importModalLabel">Importar Productos</h4>
      </div>
      <%= form_tag import_products_path, multipart: true, class: 'form-horizontal' do %>
      <div class="modal-body">
        <h4>Instrucciones:</h4>
        <ul class="list-separate">
          <li>Usar las plantillas con los productos existentes como base para la importación. Todos los campos son obligatorios.</li>
          <li><strong>No se pueden cambiar los nombres de las columnas</strong> de las plantillas bases.</li>
          <li><strong>No cambies el orden del stock de los locales</strong> de las plantillas bases.</li>
          <li>
            El identificador único para los productos es el <strong>SKU</strong>:
            <ul>
              <li>Si se suben 2 o máx productos con el mismo SKU, sólo se tomará en cuenta el último y los demás serán descartados.</li>
              <li>Si no existe el SKU, se creará un nuevo producto.</li>
              <li>Al generar productos nuevos con Categoría, Marca o Cantidad/Unidad existentes, asegúrate de escribirlos tal y como aparecen en registros existentes. Si los escribes e otra forma, se generará una nueva Categoría, Marca o Cantidad/Unidad según sea el caso.
              <li>Evita editar los valores (sin contar el stock) de los productos ya creados. De preferencia, edítalos directamente en la página de inventario.</li>
            </ul>
          </li>
        </ul>
        <p>
          Plantillas para importación:
          <%= link_to '<i class="fa fa-download"></i> Plantilla Excel'.html_safe, '/products.xls', :target => :blank, class: "btn btn-white" %>
          <%= link_to '<i class="fa fa-download"></i> Plantilla CSV'.html_safe, '/products.csv', :target => :blank, class: "btn btn-white" %>
        </p>
        <div class="form-group" id="file-group">
          <label for="file" class="control-label col-md-3">Seleccionar Archivo</label>
          <div class="col-md-9">
            <%= file_field_tag :file, :class => 'form-control'  %>
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <%= submit_tag "Importar", class: "btn btn-green", disabled: true, id: "import_button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "products" %>
<% end %>
