<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Ventas</h2>
      <p>Revisa las estadísticas de ventas de tus productos.</p>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          <table>
            <tr>
              <td style="width: 100px;">
                Desde:&nbsp;&nbsp;
              </td>
              <td style="width: 200px;">
                <input type="text" class="form-control datepicker" id="from" value="<%= (DateTime.now - 5.months).strftime('%d/%m/%Y') %>" />
              </td>
              <td style="width: 100px; padding-left: 20px;">
                Hasta:&nbsp;&nbsp;
              </td>
              <td style="width: 200px;">
                <input type="text" class="form-control datepicker" id="to" value="<%= (DateTime.now).strftime('%d/%m/%Y') %>" />
              </td>
            </tr>
          </table>     
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          <table>
            <tr>
              <td style="width: 100px;">
                Tipo:&nbsp;&nbsp;
              </td>
              <td style="width: 200px;">
                <select id="location-type-select" class="form-control">
                  <option value="all">Todos</option>
                  <option value="active">Activos</option>
                  <option value="inactive">Inactivos</option>
                </select>
              </td>
              <td style="width: 100px; padding-left: 20px;">
                Locales:&nbsp;&nbsp;
              </td>
              <td style="min-width: 200px;">
                <select id="location-select" multiple="multiple" class="form-control" hidden>
                  <% @locations.each do |location| 
                    status = "inactive"
                    if location.active
                      status = "active"
                    end
                  %>
                    <option value="<%= location.id %>" class="<%= status %>">
                      <%= location.name %>
                    </option>
                  <% end %>
                </select>
              </td>
              <td>
                <!--&nbsp;&nbsp;<button class="btn btn-green" id="getStatsBtn">Ver estadísticas</button>-->
              </td>
            </tr>
          </table>     
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-5">
          <div class="well revenue1">
            <h4>Recaudación:</h4>
            <p class="revenue-price" id=""></p>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="well revenue">
            <h4>Cantidad:</h4>
            <p class="revenue-price"><strong></strong></p>
          </div>
        </div>
        <div class="col-sm-2">
          
        </div>
      </div>
    </div>
  </div>
  
  <div id="render_content">

  </div>

</div>


<% content_for :modals do %>
  <div class="modal fade sellerModal" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="Resumen de ventas" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
      <div class="modal-content">

      </div>
    </div>
  </div>
  <div class="modal fade productModal" id="productModal" tabindex="-1" role="dialog" aria-labelledby="Resumen de ventas" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
      <div class="modal-content">
        
      </div>
    </div>
  </div>
<% end %>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/bootstrap-multiselect" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/bootstrap-multiselect" %>
  <%= javascript_include_tag "admin/products-stats" %>
<% end %>
