<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Estadísticas</h2>
      <p>Revisa las estadísticas de ventas de tus productos.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <table>
        <tr>
          <td>
            Tipo:&nbsp;&nbsp;
          </td>
          <td>
            <select id="location-type-select" class="form-control">
              <option value="all">Todos</option>
              <option value="active">Activos</option>
              <option value="inactive">Inactivos</option>
            </select>
          </td>
          <td>
            &nbsp;&nbsp;Locales:&nbsp;&nbsp;
          </td>
          <td>
            <select id="location-select" multiple="multiple" class="form-control" hidden>
              <% @locations.each do |location| 
                status = "inactive"
                if location.active
                  status = "active"
                end
              %>
                <option value="<%= location.id %>" class="<%= status %>">
                  <%= location.name %>
                </option>
              <% end %>
            </select>
          </td>
          <td>
            &nbsp;&nbsp;<button class="btn btn-green" id="getStatsBtn">Ver estadísticas</button>
          </td>
        </tr>
      </table>     
    </div>
  </div>
  
  <div id="render_content">

  </div>

</div>


<% content_for :modals do %>

<% end %>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/bootstrap-multiselect" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/bootstrap-multiselect" %>
  <%= javascript_include_tag "admin/products-stats" %>
<% end %>
