<%= form_for @plan, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> no permitió que se creara el plan:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nombre:', :class => 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, :required => true, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :locations, '# Locales:', :class => 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.number_field :locations, :in => 1...1000, :required => true, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :service_providers, '# Prestadores de Servicios:', :class => 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.number_field :service_providers, :in => 1...1000, :required => true, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <div class="checkbox">
        <label>
          <%= f.check_box :custom %> Custom
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="actions col-sm-offset-3 col-sm-4">
      <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', plans_path, class: "btn btn-danger" %>    
    </div>
  </div>
<% end %>
