<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Log de Pago de Cuenta</h2>
      <p>Intentos de agregar mes, la explicación en los detalles.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Navegation Tabs -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked tab-margin">
        <li><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>
        <li><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>
        <li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>
        <li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>
        <li><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>
        <li class="active"><%= link_to 'Empresas', companies_path, { :id => "companies" } %></li>
      </ul>
    </div>
    <!-- Panels -->
    <div class="col-md-10 left-panel">
      <div class="tab-margin">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-green">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Pago</th>
                  <th>Cantidad</th>
                  <th>Plan</th>
                  <th>Transacción</th>
                  <th>Token PP</th>
                  <th>TRX ID</th>
                  <th>Creación</th>
                </tr>
              </thead>
              <tbody>
                <% @billing_logs.each do |billing_log| %>
                  <tr>
                    <td><%= Company.find(billing_log.company_id).name %></td>
                    <td><%= billing_log.payment %></td>
                    <td><%= billing_log.amount %></td>
                    <td><%= Plan.find(billing_log.plan_id).name %></td>
                    <td><%= TransactionType.find(billing_log.transaction_type_id).name %></td>
                    <td><%= billing_log.token %></td>
                    <td><%= billing_log.trx_id %></td>
                    <td><%= l billing_log.created_at, format: :short %></td>
                  </tr>
                 <% end %>
              </tbody>
            </table>
            <%= will_paginate @billing_logs, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
