<div class="container">
  <div class="row">
    <section class="hgroup">
      <h2>Log de cambios en empresas</h2>
      <h2 class="section_header">Automáticos o manuales, la explicación en los detalles. Ref1: descuento normal de mes y pago emitido si corresponde, Ref2: Pago Vencido, Ref3: Bloqueo cuenta, Ref4: Inactivación cuenta, Ref5: Término periodo trial, Ref6: Deuda a la fecha calculada, Ref7: Llega pago y se consolida mes cuenta, Ref8: Llega pago y se ejecuta cambio de plan</h2>
      <div class="line-breadcrumb">
        <ul class="breadcrumb pull-right">
            <li><%= link_to "Resumen", dashboard_path %> </li>
            <li><%= link_to "Empresas", companies_path %> </li>
            <li class="active">Log Empresas</li>
        </ul>
    </div>
    </section>
  </div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Empresa</th>
			<th>Ref Acción</th>
			<th>Detalles</th>
			<th>Creación</th>
		</tr>
	</thead>
	<tbody>
		<% @company_cron_logs.each do |company_cron_log| %>
			<tr>
				<td><%= Company.find(company_cron_log.company_id).name %></td>
				<td><%= company_cron_log.action_ref %></td>
				<td><%= company_cron_log.details %></td>
				<td><%= l company_cron_log.created_at, format: :short %></td>
			</tr>
		 <% end %>
	</tbody>
</table>

<div class="row">
	<%= will_paginate @company_cron_logs, renderer: BootstrapPagination::Rails %>
</div>