<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Log de PuntoPagos</h2>
      <p>Confirmaciones de pago, la explicación en los detalles.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Navegation Tabs -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked tab-margin">
        <li><a id="companies_payments" href="/companies_payments">Estados de pagos</a></li>
        <li><a id="companies_incomes" href="/companies_incomes">Ingresos mensuales</a></li>
        <li><a id="companies_locations" href="/companies_locations">Clientes y locales</a></li>
        <li><a id="companies_monthly_locations" href="/companies_monthly_locations">Locales mensuales</a></li>
        <li><a id="companies_monthly_bookings" href="/companies_monthly_bookings">Resumen de reservas</a></li>
        <li class="active"><%= link_to 'Empresas', companies_path, { :id => "companies" } %></li>
      </ul>
    </div>
    <!-- Panels -->
    <div class="col-md-10 left-panel">
      <div class="tab-margin">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline">
              <li>1 Botón de Pago Banco Santander</li>
              <li>2 Tarjeta Presto</li>
              <li>3 Webpay Transbank</li>
              <li>4 Botón de Pago Banco de Chile</li>
              <li>5 Botón de Pago BCI</li>
              <li>6 Botón de Pago TBanc</li>
              <li>7 Botón de Pago Banco Estado</li>
              <li>10 Tarjeta Ripley</li>
              <li>15 Paypal</li>
            </ul>
          </div>
          <div class="col-md-12">
            <table class="table table-green">
              <thead>
                <tr>
                  <th>respuesta</th>
                  <th>token</th>
                  <th>trx_id</th>
                  <th>m pago</th>
                  <th>amount</th>
                  <th>f aprov</th>
                  <th>n tarjeta</th>
                  <th>cuotas</th>
                  <th>tipo couta</th>
                  <th>m cuota</th>
                  <th>f 1 cuota</th>
                  <th>n operac</th>
                  <th>cod autor</th>
                  <th>creación</th>
                </tr>
              </thead>
              <tbody>
                <% @puntopagos_confirmations.each do |puntopagos_confirmation| %>
                  <tr>
                    <td><%= puntopagos_confirmation.response %></td>
                    <td><%= puntopagos_confirmation.token %></td>
                    <td><%= puntopagos_confirmation.trx_id %></td>
                    <td><%= puntopagos_confirmation.payment_method %></td>
                    <td><%= puntopagos_confirmation.amount %></td>
                    <td><%= puntopagos_confirmation.approvement_date %></td>
                    <td><%= puntopagos_confirmation.card_number %></td>
                    <td><%= puntopagos_confirmation.dues_number %></td>
                    <td><%= puntopagos_confirmation.dues_type %></td>
                    <td><%= puntopagos_confirmation.dues_amount %></td>
                    <td><%= puntopagos_confirmation.first_due_date %></td>
                    <td><%= puntopagos_confirmation.operation_number %></td>
                    <td><%= puntopagos_confirmation.authorization_code %></td>
                    <td><%= puntopagos_confirmation.created_at %></td>
                  </tr>
                 <% end %>
              </tbody>
            </table>
            <%= will_paginate @puntopagos_confirmations, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
