<div class="container">
  <div class="row">
    <section class="hgroup">
      <h2>Log de PuntoPagos</h2>
      <h2 class="section_header">Confirmaciones de pago, la explicación en los detalles. 1 Botón de Pago Banco Santander, 2 Tarjeta Presto, 3 Webpay Transbank, 4 Botón de Pago Banco de Chile, 5 Botón de Pago BCI, 6 Botón de Pago TBanc, 7 Botón de Pago Banco Estado, 10 Tarjeta Ripley, 15 Paypal</h2>
      <div class="line-breadcrumb">
        <ul class="breadcrumb pull-right">
            <li><%= link_to "Resumen", dashboard_path %> </li>
            <li><%= link_to "Empresas", companies_path %> </li>
            <li class="active">Log PuntoPagos</li>
        </ul>
    </div>
    </section>
  </div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>respuesta</th>
			<th>token</th>
			<th>trx_id</th>
			<th>m pago</th>
			<th>amount</th>
			<th>f aprov</th>
			<th>n tarjeta</th>
			<th>cuotas</th>
			<th>tipo couta</th>
			<th>m cuota</th>
			<th>f 1 cuota</th>
			<th>n operac</th>
			<th>cod autor</th>
			<th>creación</th>
		</tr>
	</thead>
	<tbody>
		<% @puntopagos_confirmations.each do |puntopagos_confirmation| %>
			<tr>
				<td><%= puntopagos_confirmation.response %></td>
				<td><%= puntopagos_confirmation.token %></td>
				<td><%= puntopagos_confirmation.trx_id %></td>
				<td><%= puntopagos_confirmation.payment_method %></td>
				<td><%= puntopagos_confirmation.amount %></td>
				<td><%= puntopagos_confirmation.approvement_date %></td>
				<td><%= puntopagos_confirmation.card_number %></td>
				<td><%= puntopagos_confirmation.dues_number %></td>
				<td><%= puntopagos_confirmation.dues_type %></td>
				<td><%= puntopagos_confirmation.dues_amount %></td>
				<td><%= puntopagos_confirmation.first_due_date %></td>
				<td><%= puntopagos_confirmation.operation_number %></td>
				<td><%= puntopagos_confirmation.authorization_code %></td>
				<td><%= puntopagos_confirmation.created_at %></td>
			</tr>
		 <% end %>
	</tbody>
</table>

<div class="row">
	<%= will_paginate @puntopagos_confirmations, renderer: BootstrapPagination::Rails %>
</div>