<h1>Cambiar de Plan</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Locales</th>
      <th>Staffs</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= plan.locations %></td>
        <td><%= plan.staffs %></td>
        <td><%= plan.price %></td>
        <% if @company.plan_id != plan.id %>
        <td><%= link_to "Elegir este plan", select_plan_path(:plan_id => plan.id) %></td>
        <% else %>
        <td>Plan Elegido</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
