<section class="hgroup">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>Planes</h1>
                <h3>Elige el plan que mejor se acomode a tus necesidades o <strong>contáctanos si necesitas uno a tu medida.</strong></h3>
            </div>
            <div class="col-sm-2 text-center">

            </div>
            <div class="col-sm-5">
                <h1>&nbsp;</h1>
                <h3 class="right-pricing">¡El <strong> primer mes </strong> es <strong>absolutamente gratis!</strong> Con sólo <strong> 2 clicks </strong> crea tu cuenta <strong>AgendaPro</strong></strong></h3>
            </div>
        </div>
    </div>
</section>
<section class="green-background">
    <div class="pricing_wrapper">
        <div class="container">
            <div class="row">
                <% @plans.each do |plan| %>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="pricing_plan <%= 'special' if plan.special %>">
                        <%= image_tag "home/elmaspopular.png", :alt => "Special Tag", :class => "img-responsive special_tag", size: "86x127" %>
                        <h3><strong><%= plan.name %></strong></h3>
                        <hr class="pricing-hr">
                        <div class="the_price"><span><%= @country.currency_code %> $</span><%= number_with_precision(plan.plan_countries.find_by(country_id: @country.id).price, precision: 0, separator: '', delimiter: '.') %><small>/Mes<br>(+ IVA)</small></div>
                        <div class="the_offerings">
                            <p>
                                <strong>¡Primer mes GRATIS!</strong><br />
                                <strong><%= plan.locations %></strong> Local(es)<br />
                                <strong><%= plan.service_providers %></strong> Staffs<br />
                                <strong><%= number_with_delimiter(plan.monthly_mails) %></strong> E-mails publicitarios
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row text-center">
            <h3><%= link_to "¡Pruébalo Gratis Ahora!", new_user_registration_path(:company => true), :class => "btn-orange" %></h3>
        </div>
    </div>
</section>

<% content_for :scripts do %>
<script>
    $(function() {
        $("body").addClass("collapsing_header")
    });
</script>
<% end %>
