<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Reservas por Local</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<th>Local</th>
						<th>Reservas Últimos 7 días</th>
						<th>Reservas Últimos 30 días</th>
						<th>Ocupación Últimos 7 días</th>
						<th>Ocupación Últimos 30 días</th>
					</thead>
					<tbody>
						<% Location.where(company_id: current_user.company_id, active: true).each do |location| %>
						<tr>
							<td>
							<%= location.name %>
							</td>
							<td>
							<%= location.week_bookings(0) %> ( <%= 100*(location.week_bookings(0) - location.week_bookings(1))/location.week_bookings(1).to_f if location.week_bookings(1) > 0 %> %)
							</td>
							<td>
							<%= location.month_bookings(0) %> ( <%= 100*(location.month_bookings(0) - location.month_bookings(1))/location.month_bookings(1).to_f if location.month_bookings(1) > 0 %> %)
							</td>
							<td>
							<%= location.week_occupation(0) %> ( <%= 100*(location.week_occupation(0) - location.week_occupation(1))/location.week_occupation(1).to_f if location.week_occupation(1) > 0 %> %)
							</td>
							<td>
							<%= location.month_occupation(0) %> ( <%= 100*(location.month_occupation(0) - location.month_occupation(1))/location.month_occupation(1).to_f if location.month_occupation(1) > 0 %> %)
							</td>
						</tr>
						<% end %>
						<tr>
							<td><strong>Total</strong>
							</td>
							<td><strong>
							<%= Location.week_bookings(0, current_user.company_id) %> ( <%= 100*(Location.week_bookings(0, current_user.company_id) - Location.week_bookings(1, current_user.company_id))/Location.week_bookings(1, current_user.company_id).to_f if Location.week_bookings(1, current_user.company_id) > 0 %> %)
							</strong></td>
							<td><strong>
							<%= Location.month_bookings(0, current_user.company_id) %> ( <%= 100*(Location.month_bookings(0, current_user.company_id) - Location.month_bookings(1, current_user.company_id))/Location.month_bookings(1, current_user.company_id).to_f if Location.month_bookings(1, current_user.company_id) > 0 %> %)
							</strong></td>
							<td><strong>
							<%= Location.week_occupation(0, current_user.company_id) %> ( <%= 100*(Location.week_occupation(0, current_user.company_id) - Location.week_occupation(1, current_user.company_id))/Location.week_occupation(1, current_user.company_id).to_f if Location.week_occupation(1, current_user.company_id) > 0 %> %)
							</strong></td>
							<td><strong>
							<%= Location.month_occupation(0, current_user.company_id) %> ( <%= 100*(Location.month_occupation(0, current_user.company_id) - Location.month_occupation(1, current_user.company_id))/Location.month_occupation(1, current_user.company_id).to_f if Location.month_occupation(1, current_user.company_id) > 0 %> %)
							</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= line_chart Location.where(company_id: current_user.company_id, active: true).map{|sp| {name: sp.name, data: sp.bookings.group_by_week(:start, range: 2.months.ago.midnight..2.months.from_now).count} }, id: "bookings-chart", library: {hAxis: {title: "Semana", format: "MMM d, yy" }, vAxis: {title: "# Reservas", format: "#"}, title: "Cantidad de Reservas Semanales" } %>
	</div>
</div>