<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Reservas <%= @location.name %> por Prestador</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<th>Prestador</th>
						<th>Reservas Última Semana</th>
						<th>Reservas Último Mes</th>
						<th>Ocupación Última Semana</th>
						<th>Ocupación Último Mes</th>
					</thead>
					<tbody>
						<% @location.service_providers.where(active: true).order(:public_name).each do |provider| %>
						<tr>
							<td>
							<%= provider.public_name %>
							</td>
							<td>
								<%= int_with_variation(provider_booking_count(params[:from], params[:to], params[:status], params[:option], provider.id), provider_booking_count(params[:from], params[:to], params[:status], params[:option], provider.id)) %>
							</td>
							<td>
								<%= int_with_variation(provider_booking_count(params[:from], params[:to], params[:status], params[:option], provider.id), provider_booking_count(params[:from], params[:to], params[:status], params[:option], provider.id)) %>
							</td>
							<td>
								<%= percentage_with_variation(provider_booking_occupation(params[:from], params[:to], params[:status], params[:option], provider.id), provider_booking_occupation(params[:from], params[:to], params[:status], params[:option], provider.id)) %>
							</td>
							<td>
								<%= percentage_with_variation(provider_booking_occupation(params[:from], params[:to], params[:status], params[:option], provider.id), provider_booking_occupation(params[:from], params[:to], params[:status], params[:option], provider.id)) %>
							</td>
						</tr>
						<% end %>
						<tr>
							<td><strong>Total</strong>
							</td>
							<td><strong>
								<%= int_with_variation(location_booking_count(params[:from], params[:to], params[:status], params[:option], @location.id), location_booking_count(params[:from], params[:to], params[:status], params[:option], @location.id)) %>
							</strong></td>
							<td><strong>
								<%= int_with_variation(location_booking_count(params[:from], params[:to], params[:status], params[:option], @location.id), location_booking_count(params[:from], params[:to], params[:status], params[:option], @location.id)) %>
							</strong></td>
							<td><strong>
								<%= percentage_with_variation(location_booking_occupation(params[:from], params[:to], params[:status], params[:option], @location.id), location_booking_occupation(params[:from], params[:to], params[:status], params[:option], @location.id)) %>
							</strong></td>
							<td><strong>
								<%= percentage_with_variation(location_booking_occupation(params[:from], params[:to], params[:status], params[:option], @location.id), location_booking_occupation(params[:from], params[:to], params[:status], params[:option], @location.id)) %>
							</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 graphs">
		<%= line_chart ServiceProvider.where(location: @location, active: true).map{|sp| {name: sp.public_name, data: sp.bookings.group_by_week(:start, range: 2.months.ago.midnight..2.months.from_now).count} }, library: {hAxis: {title: "Semana", format: "MMM d, yy" }, vAxis: {title: "# Reservas", format: "#"}, title: "Cantidad de Reservas Semanales" } %>
	</div>
</div>

<div class="row">
	<div class="col-md-12 graphs">
		<%= line_chart location_booking_by_hour(params[:from], params[:to], params[:status], params[:option], @location.id), discrete: true, library: {hAxis: {title: "Hora del Día" }, vAxis: {title: "# Reservas", format: "#"}, title: "Reservas por Hora por Día de  "+@location.name } %>
	</div>
</div>