<div class="row">
  <div class="col-md-12">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title">Reservas de <%= @service_provider.public_name %> por Servicio</h3>
      </div>
      <div class="panel-body panel-scrollable">
        <table class="table table-summary">
          <thead>
            <tr>
              <th>Servicio</th>
              <th>Reservas</th>
              <th>Recaudación</th>
            </tr>
          </thead>
          <tbody>
            <% @service_provider.services.where(company_id: current_user.company_id, active: true).each do |service| %>
              <tr>
                <td><%= service.name %></td>
                <td><%= provider_service_booking_count(@from, @to, @status_ids, @option, service.id, @service_provider.id) %></td>
                <td><%= number_to_currency(provider_service_booking_revenue(@from, @to, @status_ids, @option, service.id, @service_provider.id), currency: ' $', separator: ',', delimeter: '.', precision: 0) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td>Total</td>
              <td><%= provider_booking_count(@from, @to, @status_ids, @option, @service_provider.id) %></td>
              <td><%= number_to_currency(provider_booking_revenue(@from, @to, @status_ids, @option, @service_provider.id), currency: ' $', separator: ',', delimeter: '.', precision: 0) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= pie_chart provider_booking_ranking3(@from, @to, @status_ids, @option, @service_provider.id), library: { title: "Ranking Servicio Utilizados" } %>
  </div>
</div>
