<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Reservas de <%= @service_provider.public_name %> por Servicio</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<th>Servicio</th>
						<th>Reservas Últimos 7 días</th>
						<th>Reservas Últimos 30 días</th>
					</thead>
					<tbody>
						<% @service_provider.services.where(company_id: current_user.company_id, active: true).each do |service| %>
						<tr>
							<td>
							<%= service.name %>
							</td>
							<td>
							<%= service.week_sp_bookings(0, @service_provider) %> ( <%= 100*(service.week_sp_bookings(0, @service_provider) - service.week_sp_bookings(1, @service_provider))/service.week_sp_bookings(1, @service_provider).to_f if service.week_sp_bookings(1, @service_provider) > 0 %> %)
							</td>
							<td>
							<%= service.month_sp_bookings(0, @service_provider) %> ( <%= 100*(service.month_sp_bookings(0, @service_provider) - service.month_sp_bookings(1, @service_provider))/service.month_sp_bookings(1, @service_provider).to_f if service.month_sp_bookings(1, @service_provider) > 0 %> %)
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>