<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Reservas por Servicio</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<th>Servicio</th>
						<th>Reservas</th>
						<th>Recaudación</th>
					</thead>
					<tbody>
						<% @services.order(:name).each do |service| %>
						<tr>
							<td>
							<%= service.name %>
							</td>
							<td>
								<%= service_booking_count(@from, @to, @status_ids, @option, service.id) %>
							</td>
							<td>
								<%= number_to_currency(service_booking_revenue(@from, @to, @status_ids, @option, service.id), currency: ' $', separator: ',', delimeter: '.', precision: 0) %>
							</td>
						</tr>
						<% end %>
						<tr>
							<td><strong>Total</strong>
							</td>
							<td><strong>
								<%= booking_count(@from, @to, @status_ids, @option, current_user.company_id) %>
							</strong></td>
							<td><strong>
								<%= number_to_currency(booking_revenue(@from, @to, @status_ids, @option, current_user.company_id), currency: ' $', separator: ',', delimeter: '.', precision: 0) %>
							</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= pie_chart status_booking_ranking3(@from, @to, @status_ids, @option, current_user.company_id), library: { title: "Ranking Servicio Utilizados" }  %>
	</div>
</div>