<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Reservas por Servicio</h3>
			</div>
			<div class="panel-body scrollable">
				<table class="table">
					<thead class="head-white">
						<th>Servicio</th>
						<th>Reservas Últimos 7 días</th>
						<th>Reservas Últimos 30 días</th>
					</thead>
					<tbody>
						<% Service.where(company_id: current_user.company_id, active: true).each do |service| %>
						<tr>
							<td>
							<%= service.name %>
							</td>
							<td>
							<%= service.week_bookings(0) %> ( <%= 100*(service.week_bookings(0) - service.week_bookings(1))/service.week_bookings(1).to_f if service.week_bookings(1) > 0 %> %)
							</td>
							<td>
							<%= service.month_bookings(0) %> ( <%= 100*(service.month_bookings(0) - service.month_bookings(1))/service.month_bookings(1).to_f if service.month_bookings(1) > 0 %> %)
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>