<% if params[:status_id].nil? then status_id = 0 else status_id = params[:status_id].to_i end %>
<% if params[:time_range_id].nil? then time_range_id = 0 else time_range_id = params[:time_range_id].to_i end %>
<br />
<div class="row">
	<div class="col-md-4 col-md-offset-1 well">
		<h4>Cantidad de Reservas</h4>
		<p><%= int_with_variation(status_booking_count(time_range_id, 0, status_id, current_user.company_id),status_booking_count(time_range_id, 1, status_id, current_user.company_id)) %></p>
	</div>
	<div class="col-md-4 col-md-offset-2 well">
		<h4>Capacidad Utilizada</h4>
		<p><%= percentage_with_variation(booking_occupation(time_range_id, 0, current_user.company_id),booking_occupation(time_range_id, 1, current_user.company_id)) %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= pie_chart status_booking_ranking3(time_range_id, 0, status_id, current_user.company_id), library: { title: "Ranking Servicio Utilizados" }  %>
	</div>
	<div class="col-md-6">
		<%= pie_chart status_booking_by_day(time_range_id, 0, status_id, current_user.company_id), library: { title: "Reservas por Día de la Semana" }  %>
	</div>
</div>
<div class="row">
	<%= line_chart status_booking_by_hour(time_range_id, 0, status_id, current_user.company_id), discrete: true, library: {hAxis: {title: "Hora del Día" }, vAxis: {title: "# Reservas", format: "#"}, title: "Reservas por Hora por Día" } %>
</div>