<script type="text/javascript">
  var Chartkick = {"language": "es"};
</script>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% content_for :scripts do %>
  <%= javascript_include_tag "admin/reports" %>
<% end %>


<div class="container">
	<div class="row">
		<section class="hgroup">
		  <h2 id='title'>Reportes</h2>
		  <h2 class="section_header">Acá podrás visualizar toda la información almacenada en el sistema. Puedes ver el detalle de tu negocio y compararlo con el periodo anterior de forma sencilla.</h2>
		  <div class="line-breadcrumb">
		    <ul class="breadcrumb pull-right">
		        <li><%= link_to "Resumen", dashboard_path %> </li>
		        <li class="active">Reportes</li>
		    </ul>
		  </div>
		</section>
	</div>
</div>

<div class="row well well-white">
	<ul id="myTab" class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#render_content" role="tab" data-toggle="tab" class="tab_index render" id="statuses">General</a></li>
		<li class=""><a href="#render_content" role="tab" data-toggle="tab" class="tab_index render" id="locations">Locales</a></li>
		<li class=""><a href="#render_content" role="tab" data-toggle="tab" class="tab_index render" id="services">Servicios</a></li>
		<li class="dropdown">
			<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Servicios por Local<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				<% @locations.each do |location| %>
				<li><a href="#render_content" tabindex="-1" role="tab" data-toggle="tab" class="tab_index render" id="location_services<%=location.id%>"><%= location.name %></a></li>
				<% end %>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Prestadores por Local<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				<% @locations.each do |location| %>
				<li><a href="#render_content" tabindex="-1" role="tab" data-toggle="tab" class="tab_index render" id="location_providers<%=location.id%>"><%= location.name %></a></li>
				<% end %>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Servicios por Prestador<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				<% @locations.each do |location| %>
				<li class="location-listed"> <strong><%= location.name %></strong></li>
				<% location.service_providers.where(active: true).order(:public_name).each do |service_provider| %>
				<li><a href="#render_content" tabindex="-1" role="tab" data-toggle="tab" class="tab_index render" id="provider_services<%=service_provider.id%>"><%= service_provider.public_name %></a></li>
				<% end %>
				<% end %>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Comisiones por Local<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				<% @locations.each do |location| %>
				<li><a href="#render_content" tabindex="-1" role="tab" data-toggle="tab" class="tab_index render" id="location_comission<%=location.id%>"><%= location.name %></a></li>
				<% end %>
			</ul>
		</li>
		<li class=""><a href="#help" role="tab" data-toggle="tab" class="tab_index">Ayuda</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
	<br />	
	  <div class="tab-pane active" id="render_content">
	    <%= render 'statuses' %>
	  </div>
	  <div class="tab-pane" id="help">
	    <div class="row">
	    	<ol>
				<li><strong>General: </strong>En esta sección puedes ver todas las reservas por estado, según cuándo fueron o serán realizadas y, además, ver el ranking de los servicios más utilizados y las horas del día más demandadas.</li><br />
				<li><strong>Locales: </strong>En esta sección puedes ver las reservas realizadas en cada uno de tus locales.</li><br />
				<li><strong>Servicios: </strong>En esta sección puedes ver las reservas realizadas dividas por los respectivos servicios.</li><br />
				<li><strong>Servicios por Local: </strong>En esta sección puedes ver las reservas realizadas dividas por los respectivos servicios para cada uno de tus locales.</li><br />
				<li><strong>Prestadores por Local: </strong>En esta sección puedes ver las reservas realizadas a cada uno de tus prestadores.</li><br />
				<li><strong>Servicios por Prestador: </strong>En esta sección puedes ver las reservas realizadas a cada uno de tus prestadores, divididas por los respectivos servicios.</li>
			</ol>
		</div>
	  </div>
	</div>
</div>