<%= form_for(@location), html: {class: "form-horizontal" } do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> no permitió que el local sea creado:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, "Dirección: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Teléfono: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  
  <%= f.hidden_field :latitude %><br />
  <%= f.hidden_field :longitude %><br />

  <%= f.simple_fields_for :location_times do |location_time| %>
    <%= render 'location_time_fields', :f => location_time %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "admin/geocoder.js" %>
<% end %>