<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <%= form_for @location, html: {class: "form-horizontal"} do |f| %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
          <% if current_user.role_id == Role.find_by_name("Super Admin").id %>
          <div class="form-group">
            <%= f.label :company_id, "Empresa", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.collection_select :company_id, Company.where(owned: false).order(:name), :id, :name, {}, { class: "form-control", required: true} %>
            </div>
          </div>
          <% end %>
          <div class="form-group has-feedback">
            <%= f.label :name, "Nombre", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :name, :autofocus => true, class: "form-control", placeholder: 'Nombre (requerido)' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= label_tag :country, "País", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= select_tag :country, options_from_collection_for_select(Country.all.order(:name), :id, :name), class: "form-control", include_blank: true %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= label_tag :region, "Región", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= select_tag :region, options_from_collection_for_select(Region.all.order(:name), :id, :name), class: "form-control", :disabled => true %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= label_tag :city, "Ciudad", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= select_tag :city, options_from_collection_for_select(City.all.order(:name), :id, :name), class: "form-control", :disabled => true %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :district_id, "Comuna", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.collection_select :district_id, District.all.order(:name), :id, :name, {}, { class: "form-control", :disabled => true }%>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :address, "Dirección", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :address, class: "form-control", placeholder: 'Dirección (requerido)' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :second_address, "Dirección Adicional", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :second_address, class: "form-control", placeholder: 'Oficina D, Local 22' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
              <div class="checkbox">
                <label>
                  <%= f.check_box :outcall %> Sin Dirección (sólo servicios a domicilio).
                </label>
              </div>
              <div id="districtsCheckboxes" class='hidden'></div>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :phone, "Teléfono", class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :phone, class: "form-control", placeholder: 'Teléfono (requerido)' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :email, 'E-mail', class: 'control-label col-md-3' %>
            <div class="col-md-9">
              <%= f.email_field :email, class: 'form-control', placeholder: 'ejemplo@dominio.com' %>
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
              <div class="checkbox">
                <label>
                  <%= f.check_box :notification %> Recibir notificaciones.
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :booking_configuration_email, 'Notificaciones de Reservas', :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.select :booking_configuration_email, options_for_select([["Notificación por cada reserva", 0], ["Enviar resumen de reservas diario", 1], ["Por defecto configuración empresa", 2], ["No notificar reservas por email", 3]], selected: @location.booking_configuration_email ), {}, {class: "form-control" } %>
              <span class="help-block">En esta opción defines cómo se notifican las reservas. Esta configuración sobreescribe la configuración de la empresa, pero puedes definir cómo se notifica a cada prestador del local independientemente.</span>
            </div>
          </div>
          <% if current_user.company.company_setting.activate_workflow %>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <div class="checkbox">
                <label>
                  <%= f.check_box :online_booking %> Este local acepta reservas Online
                </label>
              </div>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            <div class="actions col-md-offset-3 col-md-9">
              <button type="button" class="btn btn-green" id="saveLocation">Guardar</button>
              <%= link_to 'Cancelar'.html_safe, locations_path, :class => "btn btn-white" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Horario Local</h3>
        </div>
        <table class="table">
          <tbody id="localTable">
            <tr>
              <th>Día</th>
              <th>Apertura</th>
              <th>Cierre</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well well-sm">
        <h4 class="text-center" style="margin-bottom: 0;">¿Aquí se ubica tu local? <small class="hide"><i class="fa fa-spinner fa-spin"></i></small></h4>
        <span class="hide" id="error">Hubo un error ubicando tu local</span>
        <span>Puedes dar click en el mapa para cambiar la ubicación</span>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "bootstrap-tagsinput" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "location" %>
<% end %>
