<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-green">
      <thead>
        <tr>
          <th>SKU</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Marca</th>
          <th>Cantidad</th>
          <th>Stock disponible</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @location_products.each do |location_product| %>
          <% if !location_product.product.nil? %>

            <% if !location_product.stock_limit.nil? && (!@location.stock_alarm_setting.nil? && @location.stock_alarm_setting.has_default_stock_limit && !@location.stock_alarm_setting.default_stock_limit.nil?) %>
              <% if location_product.stock <= location_product.stock_limit || location_product.stock <=@location.stock_alarm_setting.default_stock_limit %>
                <tr class="lowStock inventoryRow" product_id="<%= location_product.product_id %>">
              <% else %>
                <% if location_product.stock <= location_product.stock_limit*1.5 || location_product.stock <=@location.stock_alarm_setting.default_stock_limit*1.5 %>
                  <tr class="mediumStock inventoryRow" product_id="<%= location_product.product_id %>">
                <% else %>
                  <tr class="inventoryRow" product_id="<%= location_product.product_id %>">
                <% end %>
              <% end %>

            <% elsif location_product.stock_limit.nil? && (!@location.stock_alarm_setting.nil? && @location.stock_alarm_setting.has_default_stock_limit && !@location.stock_alarm_setting.default_stock_limit.nil?) %>
              <% if location_product.stock <=@location.stock_alarm_setting.default_stock_limit %>
                <tr class="lowStock inventoryRow" product_id="<%= location_product.product_id %>">
              <% else %>
                <% if location_product.stock <= @location.stock_alarm_setting.default_stock_limit*1.5 %>
                  <tr class="mediumStock inventoryRow" product_id="<%= location_product.product_id %>">
                <% else %>
                  <tr class="inventoryRow" product_id="<%= location_product.product_id %>">
                <% end %>
              <% end %>

            <% elsif !location_product.stock_limit.nil? && (@location.stock_alarm_setting.nil? || !@location.stock_alarm_setting.has_default_stock_limit || @location.stock_alarm_setting.default_stock_limit.nil?) %>

              <% if location_product.stock <= location_product.stock_limit %>
                <tr class="lowStock inventoryRow" product_id="<%= location_product.product_id %>">
              <% else %>
                <% if location_product.stock <= location_product.stock_limit*1.5 %>
                  <tr class="mediumStock inventoryRow" product_id="<%= location_product.product_id %>">
                <% else %>
                  <tr class="inventoryRow" product_id="<%= location_product.product_id %>">
                <% end %>
              <% end %>
            <% else %> 
              <tr class="inventoryRow" product_id="<%= location_product.product_id %>">
            <% end %>
              <td><%= location_product.product.sku %></td>
              <td><%= location_product.product.name %></td>
              <td><%= location_product.product.product_category.name %></td>
              <td><%= location_product.product.product_brand.name %></td>
              <td><%= location_product.product.product_display.name %></td>
              <td><%= location_product.stock %></td>
              <td>
                <% if current_user.role_id == Role.find_by_name("Administrador General").id ||  current_user.role_id == Role.find_by_name("Administrador Local").id %>
                  <a href="#" class="btn btn-sm btn-alarm btn-green" location_product_id="<%= location_product.id %>" product_id="<%= location_product.product.id %>"><i class="fa fa-exclamation-triangle"></i> Alarma</a>
                  <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_product_path(location_product.product), :class => "btn btn-sm btn-orange" %>
                <% end %>
                <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
                  <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, location_product.product, :class => "btn btn-sm btn-red", method: :delete, data: { confirm: '¿Estás seguro de eliminar el Producto seleccionado?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>