<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-green">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @location_products.each do |location_product| %>
          <tr>
            <td><%= location_product.product.name %></td>
            <td><%= location_product.product.product_category.name %></td>
            <td>
              <a href="#" class="btn btn-sm btn-green btn-alarm" location_product_id="<%= location_product.id %>" product_id="<%= location_product.product.id %>"><i class="fa fa-exclamation-triangle"></i> Alarmas</a>
              <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_product_path(location_product.product), :class => "btn btn-sm btn-orange" %>
              <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
              <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, location_product.product, :class => "btn btn-sm btn-red", method: :delete, data: { confirm: '¿Estás seguro de eliminar el Producto seleccionado?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>