<div class="row">
	<div class="col-md-12">
		<p style="color: #22c488; text-align: left; font-size: 20px; padding-left: 15px;">Avisos para <%= @location.name %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">

	<input type="hidden" id="stockAlarmSettingId" value="<%= @stock_alarm_setting.id %>" />

		<div class="form-group">
			<label for="location_email" class="col-md-5 control-label">Email</label>
			<div class="col-md-7">
				<%
					emails = ""
					@stock_alarm_setting.stock_setting_emails.each do |sse|
						if emails == ""
							emails = emails + sse.email
						else
							emails = emails + ", " + sse.email
						end
					end
				%>
				<input type="text" id="location_email" class="form-control" value="<%= emails %>" />
			</div>
			<div class="col-md-12">
				<span class="help-block" style="font-size: 15px;">Establece los correos a los que se enviarán las notificaciones. Podrás definir correos particulares para cada producto además de los generales.
				Ingresa los correos separados por coma: ejemplo1@agendapro.cl, ejemplo2@agendapro.cl, ejemplo3@agendapro.cl</span>
				<hr />
			</div>
		</div>

		<div style="clear: both;">
	    </div>

		<div class="form-group">
			<label for="location_quick_send" class="col-md-5 control-label">Activar avisos inmediatos</label>
			<div class="col-md-7">
				<select id="location_quick_send" class="form-control">
				<% if @stock_alarm_setting.quick_send %>
	        		<option value="1" selected>Activar</option>
	        		<option value="0">Desactivar</option>
	        	<% else %>	          		
	        		<option value="0" selected>Desactivar</option>
	        		<option value="1">Activar</option>
	          	<% end %>
	          	</select>
			</div>
			<div class="col-md-12">
				<span class="help-block" style="font-size: 15px;">Activa esta opción para recibir un email cada vez que el stock de un producto baje de su límite.</span>
				<hr />
			</div>
		</div>

		<div style="clear: both;">
	    </div>

		<div class="form-group">
			<label for="location_has_default_stock_limit" class="col-md-5 control-label">Activar stock límite general</label>
			<div class="col-md-7">
				<select id="location_has_default_stock_limit" class="form-control">
				<% if @stock_alarm_setting.quick_send %>
	        		<option value="1" selected>Activar</option>
	        		<option value="0">Desactivar</option>
	        	<% else %>	          		
	        		<option value="0" selected>Desactivar</option>
	        		<option value="1">Activar</option>
	          	<% end %>
	          	</select>
			</div>
			<div class="col-md-12">
				<span class="help-block" style="font-size: 15px;">Activa esta opción para establecer un límite de stock general. Los productos podrán tener su límite particular además de éste.</span>
				<hr />
			</div>
		</div>

	    <div style="clear: both;">
	    </div>
		<div class="form-group">
			<label for="location_default_stock_limit" class="col-md-5 control-label">Stock límite</label>
			<div class="col-md-7">
				<input type="number" id="location_default_stock_limit" class="form-control" value="<%= @stock_alarm_setting.default_stock_limit %>" />
			</div>
			<div class="col-md-12">
				<span class="help-block" style="font-size: 15px;">Establece el límite de stock general.</span>
				<hr />
			</div>
		</div>
	    
	    <div class="form-group">
			<label for="location_periodic_send" class="col-md-5 control-label">Activar avisos periódicos</label>
			<div class="col-md-7">
				<select id="location_periodic_send" class="form-control">
				<% if @stock_alarm_setting.periodic_send %>
	        		<option value="1" selected>Activar</option>
	        		<option value="0">Desactivar</option>
	        	<% else %>	          		
	        		<option value="0" selected>Desactivar</option>
	        		<option value="1">Activar</option>
	          	<% end %>
	          	</select>
			</div>
			<div class="col-md-12">
				<span class="help-block" style="font-size: 15px;">Activa esta opción para recibir emails periódicos que alerten de productos con stock bajo su límite.</span>
				<hr />
			</div>
		</div>

	    <div style="clear: both;">
	    </div>
	    <div class="form-group">
			<label for="location_monthly" class="col-md-5 control-label">Frecuencia</label>
			<div class="col-md-7">
				<select class="form-control" id="location_monthly">
					<% if @stock_alarm_setting.monthly %>
						<option value="1" selected>Mensualmente</option>
						<option value="0">Semanalmente</option>
					<% else %>
						<option value="0" selected>Semanalmente</option>
						<option value="1">Mensualmente</option>
					<% end %>
				</select>
			</div>
		</div>
		<div style="clear: both;">
	    </div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="location_month_day" class="col-md-5 control-label">Día del mes</label>
			<div class="col-md-7">
				<select class="form-control" id="location_month_day">
					<% for i in 1..31 do %>
						<% if @stock_alarm_setting.month_day == i %>
							<option value="<%= i %>" selected><%= i.to_s %></option>
						<% else %>
							<option value="<%= i %>"><%= i.to_s %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>
		<div style="clear: both;">
	    </div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="location_week_day" class="col-md-5 control-label">Día de la semana</label>
			<div class="col-md-7">
				<select class="form-control" id="location_week_day">
					<%
						days = []
						days[1] = "Lunes"
						days[2] = "Martes"
						days[3] = "Miércoles"
						days[4] = "Jueves"
						days[5] = "Viernes"
						days[6] = "Sábado"
						days[7] = "Domingo"
					%>
					<% for i in 1..7 do %>
						<% if @stock_alarm_setting.week_day == i %>
							<option value="<%= i %>" selected><%= days[i] %></option>
						<% else %>
							<option value="<%= i %>"><%= days[i] %></option>
						<% end %>
					<% end %>
				</select>
			</div>
			<div class="col-md-12">
				<span class="help-block" style="font-size: 15px;">Elige la frecuencia de los avisos periódicos, y el día de la semana o la fecha del mes para recibirlos.</span>
			</div>
		</div>
		
	</div>
</div>