<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 id='title' class="text-green">Editar Local</h2>
      <p>Modifica la información del local seleccionado.</p>
    </div>
  </div>
</div>

<%= content_tag "div", id: "id_data", data: { id: @location.id } do %>
<% end %>
<%= content_tag "div", id: "geo_data", data: { country_id: @location.district.city.region.country.id, region_id: @location.district.city.region.id, city_id: @location.district.city.id, district_id: @location.district.id,  } do %>
<% end %>
<%= content_tag "div", id: "location_times_data", data: { location_times: @location.location_times.to_json } do %>
<% end %>
<%= content_tag "div", id: "location_districts_data", data: { location_districts: @location.districts.to_json } do %>
<% end %>

<%= render 'form' %>
