<h1 id='title'>Editar Local</h1>

<%= content_tag "div", id: "id_data", data: { id: @location.id } do %>
  <% end %>
  <%= content_tag "div", id: "location_times_data", data: { location_times: @location.location_times.to_json } do %>
  <% end %>
  
<%= render 'form' %>

<% content_for :scripts do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "location" %>
<% end %>
