<div class="container">
  <div class="row">
    <section class="hgroup">
      <h2>Locales Inactivos</h2>
      <h2 class="section_header">Acá puedes re-activar y editar los locales previamente desactivados.</h2>
      <div class="line-breadcrumb">
        <ul class="breadcrumb pull-right">
            <li><%= link_to "Resumen", dashboard_path %> </li>
            <li><%= link_to "Locales", locations_path %> </li>
            <li class="active">Locales Inactivos</li>
        </ul>
      </div>
    </section>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to '<i class="fa fa-check"></i> Re-activar'.html_safe, activate_location_path(:id => location.id), :class => "btn btn-agendapro-claro", data: { confirm: '¿Estás seguro de re-activar el Local seleccionado?' } %>
            <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_location_path(location), :class => "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Locales Activos', locations_path, :class => "btn btn-agendapro-oscuro" %>
