<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Locales</h2>
      <p>Crea y edita los locales asociados a tu compañía.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right text-right" style="margin: 10px 0;">
        <% if @locations.where(active:true).count < current_user.company.plan.locations %>
          <%= link_to '<i class="fa fa-plus"></i> Nuevo Local'.html_safe, new_location_path, :class => "btn btn-green" unless cannot? :create, Location %>
          <%= link_to '<i class="fa fa-minus"></i> Locales Inactivos'.html_safe, inactive_locations_path, :class => "btn btn-white" unless cannot? :destroy, Location %>
        <% else %>
        <p>
          <a href="#" class="btn btn-green disabled">Nuevo Local</a>
          <%= link_to '<i class="fa fa-minus"></i> Locales Inactivos'.html_safe, inactive_locations_path, :class => "btn btn-white" unless cannot? :destroy, Location %>
        </p>
          <p>
            No puedes crear más locales con el plan actual. <%= link_to 'Cambiar mi plan', select_plan_path, :class => "btn btn-white" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <% if current_user.role_id == Role.find_by_name('Super Admin').id %>
            <th>Empresa</th>
            <% end %>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.each do |location| %>
            <tr draggable="true">
              <td data-location="<%= location.id %>"><%= location.name %></td>
              <% if current_user.role_id == Role.find_by_name('Super Admin').id %>
              <td><%= location.company.name %></td>
              <% end %>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_location_path(location), :class => "btn btn-sm btn-orange" %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, deactivate_location_path(:id => location.id), :class => "btn btn-sm btn-red", data: { confirm: '¿Estás seguro de desactivar el Local seleccionado?' } unless cannot? :destroy, location %>
                <span class="pull-right">
                  <i class="fa fa-bars"></i>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/draggable" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'admin/draggable' %>
  <%= javascript_include_tag 'admin/location_draggable' %>
<% end %>
