<h1>Nuevo Local</h1>

<%= form_for @location, html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <%= f.label :name, "Nombre: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, "Dirección: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Teléfono: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :district, "Comuna: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :district_id, District.all, :id, :name, {}, { class: "form-control" }%>
    </div>
  </div>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Día</th>
      <th>¿Abierto?</th>
      <th>Apertura</th>
      <th>Cierre</th>
    </tr>
  </thead>

  <tbody>
      <tr id="tr1">
        <td>
          <label>Lunes:</label>
        </td>
      </tr>
      <tr id="tr2">
        <td>
          <label>Martes:</label>
        </td>
      </tr>
      <tr id="tr3">
        <td>
          <label>Miércoles:</label>
        </td>
      </tr>
      <tr id="tr4">
        <td>
          <label>Jueves:</label>
        </td>
      </tr>
      <tr id="tr5">
        <td>
          <label>Viernes:</label>
        </td>
      </tr>
      <tr id="tr6">
        <td>
          <label>Sábado:</label>
        </td>
      </tr>
      <tr id="tr7">
        <td>
          <label>Domingo:</label>
        </td>
      </tr>
  </tbody>
</table>

<div class="form-group">
  <div class="actions col-sm-offset-2 col-sm-4">
    <%= f.submit 'Guardar', :class => "btn btn-primary buttonLocation"%>
    <%= link_to 'Cancelar'.html_safe, locations_path, :class => "btn btn-danger" %>    
  </div>
</div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "location" %>
<% end %>