var backColors = ["#CCCCBB", "#B0C2F2", "#FFE1AE", "#E9B0F2", "#B0F2C2", "#FAFCAF", "#FFB6AE", "#999977"];
var textColors = ["#222211", "#102050", "#554004", "#401040", "#105020", "#505205", "#551004", "#111100"];
var resourcesColors = [];
var servicesJSON;

function loadProviders () {
	if ($('[name="localRadio"]').is(':checked')) {
		$('#providers-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		var localId = $('input[name=localRadio]:checked').val();
		$.getJSON('/location_services', {location: localId}, function (services) {
			servicesJSON = services;
			$('#providers-selector').empty();
			$('#providers-selector').append('<label class="active" id="l_todos">' +
					'<input type="radio" name="providerRadio" value="0" checked>' +
					'<p>Todos</p>' +
				'</label>'
			);
			var resources = [];
			var count = 0;
			$.getJSON('/local_providers', {location: localId}, function (providersArray) {
				if (providersArray.length > 0) {
					$('#provider_break_service_provider_id')
					    .find('option')
					    .remove()
					    .end()
					;
					$('#booking_service_provider_id')
					    .find('option')
					    .remove()
					    .end()
					;
					$.each(providersArray, function (key, provider) {
						$('#providers-selector').append('<label id="' + provider.id + '">' +
								'<input type="radio" name="providerRadio" value="' + provider.id + '">' +
								'<p>' + provider.public_name + '</p>' +
							'</label>'
						);
						resources.push({id: provider.id, name: provider.public_name});
						// $('#providers-selector').children('#' + provider.id).children('p').css({'border-bottom-color': colors[count%30], 'border-bottom-style': 'solid'});
						count += 1;
						$('#booking_service_provider_id')
						    .append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
						;
						$('#provider_break_service_provider_id')
						    .append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
						;
					});
					$('[name="providerRadio"]').on('click', function(event) {
						$('[name="providerRadio"]').parent().removeClass('active');
						event.target.parentNode.className += 'active';
						$('[name="providerRadio"]').attr('checked',false);
						$(this).attr('checked',true);
						var providerId = event.target.getAttribute('value');
						if (providerId == 0) {
							loadLocationTime (localId, resources);
						}
						else {
							loadProviderTime(providerId);
						}
						
					});
					loadLocationTime (localId, resources);
					return true;
				}
				loadWeekCalendar(0,24,[],[],0);
				return true;
			});
			return false;
		});
	}
	return false;
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

function loadLocationTime (locationId, resources) {
	$('#calendar').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/location_time', {id: locationId}, function (times) {
		if (times.length > 0) {
			var minHour = 23;
			var minMinuts = 59;
			var maxHour = 00;
			var maxMinuts = 00;
			$.each(times, function (key, time) {
					var openHour = parseInt(getHour(time.open).substr(0, getHour(time.open).indexOf(':')));
					var openMinuts = parseInt(getHour(time.open).substr(getHour(time.open).indexOf(':') + 1));
					var closeHour = parseInt(getHour(time.close).substr(0, getHour(time.close).indexOf(':')));
					var closeMinuts = parseInt(getHour(time.close).substr(getHour(time.close).indexOf(':') + 1));
					if(openHour < minHour) {
						minHour = openHour;
						minMinuts = openMinuts;
					}
					else if (openHour == minHour) {
						if(openMinuts < minMinuts) {
							minMinuts = openMinuts;
						}
					}
					if(closeHour > maxHour) {
						maxHour = closeHour;
						maxMinuts = closeMinuts;
					}
					else if (closeHour == maxHour) {
						if(closeMinuts > maxMinuts) {
							maxMinuts = closeMinuts;
						}
					}
			});
			$.getJSON('/schedule', {local: $('input[name=localRadio]:checked').val()}, function (schedule) {
				hiddenDays = new Array();
				if (!schedule.Domingo.length) {
					hiddenDays.push(0);
				}
				if (!schedule.Lunes.length) {
					hiddenDays.push(1);
				}
				if (!schedule.Martes.length) {
					hiddenDays.push(2);
				}
				if (!schedule.Miércoles.length) {
					hiddenDays.push(3);
				}
				if (!schedule.Jueves.length) {
					hiddenDays.push(4);
				}
				if (!schedule.Viernes.length) {
					hiddenDays.push(5);
				}
				if (!schedule.Sábado.length) {
					hiddenDays.push(6);
				}
				loadResourcesCalendar(minHour + ':' + minMinuts, maxHour + ':' + maxMinuts, hiddenDays,resources,0);
			});	
		}
		else {
			loadWeekCalendar(0, 24, [],resources,0);
		}
	});
}

function loadProviderTime (providerId) {
	$('#calendar').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/provider_time', {id: providerId}, function (times) {
		var minHour = 23;
		var minMinuts = 59;
		var maxHour = 00;
		var maxMinuts = 00;
		$.each(times, function (key, time) {
				var openHour = parseInt(getHour(time.open).substr(0, getHour(time.open).indexOf(':')));
				var openMinuts = parseInt(getHour(time.open).substr(getHour(time.open).indexOf(':') + 1));
				var closeHour = parseInt(getHour(time.close).substr(0, getHour(time.close).indexOf(':')));
				var closeMinuts = parseInt(getHour(time.close).substr(getHour(time.close).indexOf(':') + 1));
				if(openHour < minHour) {
					minHour = openHour;
					minMinuts = openMinuts;
				}
				else if (openHour == minHour) {
					if(openMinuts < minMinuts) {
						minMinuts = openMinuts;
					}
				}
				if(closeHour > maxHour) {
					maxHour = closeHour;
					maxMinuts = closeMinuts;
				}
				else if (closeHour == maxHour) {
					if(closeMinuts > maxMinuts) {
						maxMinuts = closeMinuts;
					}
				}
		});
		$.getJSON('/schedule', {local: $('input[name=localRadio]:checked').val()}, function (schedule) {
			hiddenDays = new Array();
			if (!schedule.Domingo.length) {
				hiddenDays.push(0);
			}
			if (!schedule.Lunes.length) {
				hiddenDays.push(1);
			}
			if (!schedule.Martes.length) {
				hiddenDays.push(2);
			}
			if (!schedule.Miércoles.length) {
				hiddenDays.push(3);
			}
			if (!schedule.Jueves.length) {
				hiddenDays.push(4);
			}
			if (!schedule.Viernes.length) {
				hiddenDays.push(5);
			}
			if (!schedule.Sábado.length) {
				hiddenDays.push(6);
			}
			loadWeekCalendar(minHour + ':' + minMinuts, maxHour + ':' + maxMinuts, hiddenDays,[],providerId);
		});
	});
}

var bookingModalOpen = false;
var duration = 15;
function loadResourcesCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'prev,today,next',
			right: ''
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				editBookingModal(event.id);
			};
		},
		dayClick: function(date, allDay, jsEvent, view) {
			window.console.log($(this).context.cellIndex)
			window.console.log(view.resources[$(this).context.cellIndex - 1].id)
			var column_click = $(this).context.cellIndex;
			var resources_id = view.resources[column_click - 1].id

			if (!bookingModalOpen) {
				bookingModalOpen = true;
				createBookingModal(date, resources_id);
			};
		},
		//eventMouseover: function(calEvent, domEvent) {
		// 	var layer =	"<div id='events-layer' class='fc-transparent' style='position:absolute; width:100%; height:100%; top:-1px; text-align:right; z-index:100'>asdfff</div>";
		// 	$(this).append(layer);
		// }, 
 
		// eventMouseout: function(calEvent, domEvent) {
		// 	$(this).find('div[id*=events-layer]').remove();
		// },
		firstDay: 1,	//Lunes
		defaultView: 'resourceDay',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M' 
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'  
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día',
			resourceDay: '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration,
		height : window.innerHeight-148,
		windowResize: function(view) {
			$('#calendar').fullCalendar('option', 'height', window.innerHeight-20);
		}
	});
	// Posible acercamiento para pintar celdas la hacer hover (falta un for para cantidad de resources)
	// $("table.fc-agenda-slots td.fc-widget-content").each(function () {
	//     $(this).width(($("table.fc-agenda-days thead th.fc-col0").width()));
	//     $(this).after("<td class=\"fc-widget-content\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col1").width() + "px\"><div style=\"position:relative\"></div></td>");
	// });
	$('.fc-button').click(function (event) {
		var providerId = $('input[name="providerRadio"]:checked').val();
		loadProviderBooking(providerId);
	});
	loadProviderBooking(providerId);
}

function loadWeekCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'prev,today,next',
			right: ''
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				editBookingModal(event.id);
			};
		},
		dayClick: function(date, allDay, jsEvent, view) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				createBookingModal(date);
			};
		},
		firstDay: 1,	//Lunes
		defaultView: 'agendaWeek',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M' 
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'  
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration,
		height : window.innerHeight-148,
		windowResize: function(view) {
			$('#calendar').fullCalendar('option', 'height', window.innerHeight-20);
		}
	});
	// $("table.fc-agenda-slots td.fc-widget-content").each(function () {
	//     $(this).width(($("table.fc-agenda-days thead th.fc-col0").width()));
	//     $(this).after("<td class=\"fc-widget-content\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col5").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col4").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col3").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col2").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col1").width() + "px\"><div style=\"position:relative\"></div></td>");
	// });
	$('.fc-button').click(function () {
		var providerId = $('input[name="providerRadio"]:checked').val();
		loadProviderBooking(providerId);
	});
	loadProviderBooking(providerId);
}

function loadProviderBooking (providerId) {
	var localId = $('input[name=localRadio]:checked').val();
	var start = $('#calendar').fullCalendar('getView').visStart;
	var end = $('#calendar').fullCalendar('getView').visEnd;
	var startParam = start.getFullYear()+'-'+(start.getMonth()+1)+'-'+start.getDate();
	var endParam = end.getFullYear()+'-'+(end.getMonth()+1)+'-'+end.getDate();
	$('#calendar').fullCalendar('removeEvents');
	if (providerId == 0) {
		$.getJSON('/booking', {location: localId, start: startParam, end: endParam}, function (bookings) {
			if (bookings.length > 0) {
				$.each(bookings, function (key, booking) {
					if (booking.status_id != 5) {
						var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						};
						if (booking.status_id == 2) {
							originClass += ' confirmed';
						}

						var events = {
							id: booking.id,
							title: booking.service_name+' - '+booking.first_name+' '+booking.last_name,
							allDay: false,
							start: booking.start,
							end: booking.end,
							resourceId: booking.service_provider_id,
							textColor: textColors[booking.status_id],
							borderColor: textColors[booking.status_id],
							backgroundColor: backColors[booking.status_id],
							className: originClass
						};
						$('#calendar').fullCalendar('renderEvent', events, true);
					}
				});
			}
		});
		$('input[name="providerRadio"]').each(function () {
			var providerId = $(this).val();
			if (providerId > 0) {
				loadProviderBreaks(providerId);
				$.getJSON('/provider_breaks', {service_provider_id: providerId, start: startParam, end: endParam }, function (breaksArray) {
					if (breaksArray.length > 0) {
						$.each(breaksArray, function (key, providerBreak) {
							var events = {
								id: 'b'+providerBreak.id,
								title: 'Hora Bloqueada',
								allDay: false,
								start: providerBreak.start,
								end: providerBreak.end,
								editable: false,
								resourceId: parseInt(providerId),
								textColor: textColors[0],
								borderColor: textColors[0],
								backgroundColor: backColors[0]
							};
							$('#calendar').fullCalendar('renderEvent', events, true);
						});
					}
				});
			};
		});
	}
	else {
		loadProviderBreaks(providerId);
		$.getJSON('/booking', {location: localId, provider: providerId, start: startParam, end: endParam}, function (bookings) {
			if (bookings.length > 0) {
				$.each(bookings, function (key, booking) {
					if (booking.status_id != 5) {
						var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						}
						if (booking.status_id == 2) {
							originClass += ' confirmed';
						}
						var events = {
							id: booking.id,
							title: booking.service_name+' - '+booking.first_name+' '+booking.last_name,
							allDay: false,
							start: booking.start,
							end: booking.end,
							resourceId: booking.service_provider_id,
							textColor: textColors[booking.status_id],
							borderColor: textColors[booking.status_id],
							backgroundColor: backColors[booking.status_id],
							className: originClass
						};
						$('#calendar').fullCalendar('renderEvent', events, true);
					}
				});
			}
		});

	
		$.getJSON('/provider_breaks', {service_provider_id: providerId, start: startParam, end: endParam}, function (breaksArray) {
			if (breaksArray.length > 0) {
				$.each(breaksArray, function (key, providerBreak) {
					var events = {
						id: 'b'+providerBreak.id,
						title: 'Hora Bloqueada',
						allDay: false,
						start: providerBreak.start,
						end: providerBreak.end,
						editable: false,
						resourceId: providerId,
						textColor: textColors[0],
						borderColor: textColors[0],
						backgroundColor: backColors[0]
					};
					$('#calendar').fullCalendar('renderEvent', events, true);
				});
			}
		});
	}
	return false;
}

function loadProviderBreaks (providerId) {
	$.getJSON('/provider_time', {id: providerId}, function (times) {
		$('#calendar').fullCalendar('removeEvents', 'break'+providerId);
		for (var i = 0; i < times.length - 1; i++) {
			if (times[i].day_id == times[i + 1].day_id) {
				var now = $('#calendar').fullCalendar('getDate');
				var start_booking = times[i].close.substring(times[i].close.indexOf('T') + 1).split(':');
				var end_booking = times[i + 1].open.substring(times[i + 1].open.indexOf('T') + 1).split(':');
				
				var today = now.getDay() - times[i].day_id;
				var offset = 0 - today;
				var start_date = new Date(now.getFullYear(), now.getMonth(), now.getDate(), start_booking[0], start_booking[1]);
				start_date.setDate(now.getDate() + offset);

				today = now.getDay() - times[i].day_id;
				offset = 0 - today;
				var end_date = new Date(now.getFullYear(), now.getMonth(), now.getDate(), end_booking[0], end_booking[1]);
				end_date.setDate(now.getDate() + offset);

				var events = {
					id: 'p'+providerId,
					title: 'Descanso por Horario',
					allDay: false,
					start: start_date,
					end: end_date,
					editable: false,
					resourceId: times[i].service_provider_id,
					textColor: textColors[7],
					borderColor: textColors[7],
					backgroundColor: backColors[7]
				};
				$('#calendar').fullCalendar('renderEvent', events, true);
			};
		};
	});
}

function editBookingModal(eventId) {
	if (eventId.toString().indexOf('b') >= 0) {
		editBreakModal(eventId.split('b')[1]);
	}
	else if (eventId.toString().indexOf('p') >= 0) {
		bookingModalOpen = false;
		return false;
	}
	else {
		$.getJSON('/bookings/'+eventId, function (booking) {
			var start = booking.start || 0;
			var end = booking.end || 0;
			if (start != 0) {
				dateArray = start.toString().split('T');
				date = new Date(start)

				month = date.getMonth()+1;
				day = date.getDate();

				output = (day<10 ? '0' : '') + day + '/' + (month<10 ? '0' : '') + month + '/' + date.getFullYear();

				$('#datePicker').val(output);
				$('#bookingStartHour option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			if (end != 0) {
				dateArray = end.toString().split('T');
				$('#bookingEndHour option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
				$('#bookingEndMinute option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
			}
			else {
				$('#bookingEndHour').val('');
				$('#bookingEndMinute').val('');
			}
			$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
			$('#booking_status_id option[value="'+booking.status_id+'"]').attr("selected",true);
			$('#booking_price').val(booking.price);
			$('#booking_client_id').val(booking.client_id);
			$('#booking_client_first_name').val(booking.first_name);
			$('#booking_client_last_name').val(booking.last_name);
			$('#full_name').val(booking.first_name+' '+booking.last_name);
			$("#full_name").prop('disabled', true);
			$('#xButton').prop('disabled', false);
			$('#booking_client_email').val(booking.email);
			$('#booking_client_phone').val(booking.phone);
			$('#booking_notes').val(booking.notes);
			$('#booking_company_comment').val(booking.company_comment);
			if (booking.send_mail) {
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('input[name="booking[send_mail]"]:first').val(1);
			} else{
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('input[name="booking[send_mail]"]:first').val(0);
			};
			if (validEmail(booking.email)) {
				$('#booking_send_mail').prop('disabled', false);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Editando Reserva');
			$('.booking-modal-footer').append('<button type="button" class="btn btn-default booking-button" data-dismiss="modal">Cerrar</button><button type="button" class="btn btn-primary booking-button" onclick="editBooking('+eventId+')">Guardar</button><button type="button" class="btn btn-danger booking-button" onclick="deleteBooking('+eventId+')">Eliminar</button>');

			if ( booking.service_provider_id > 0) {
				$.getJSON('/provider_services', {id: booking.service_provider_id}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id option[value="'+booking.service_id+'"]').attr("selected",true);
					$('#booking_service_id').removeAttr('disabled');

					if (!booking.service_provider_active) {
						if ($('#booking_service_provider_id option[value="' + booking.service_provider_id + '"]').length == 0) {
							$('#booking_service_provider_id').append('<option value="' + booking.service_provider_id + '">' + booking.service_provider_name + '</option>');
						}
						$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
					}
					if (!booking.service_active) {
						if ($('#booking_service_id option[value="' + booking.service_id + '"]').length == 0) {
							$('#booking_service_id').append('<option value="' + booking.service_id + '">' + booking.service_name + '</option>');
						}
						$('#booking_service_id option[value="'+booking.service_id+'"]').attr("selected",true);
					}
				});
			}

			$('#bookingModal').modal('show');
		});	
	}
}

function createBookingModal(date, provider_id) {
	var localId = $('input[name=localRadio]:checked').val();
	var date = date || 0;
	var provider_id = provider_id || 0;
	$.getJSON('/local_providers', {location: localId}, function (providersArray) {
		if (providersArray.length > 0) {
			if (date != 0) {
				dateArray = date.toString().split(' ');
				//Falta revisar el tema de las fechas, deberían ser contantes en la app
				$('#datePicker').val(dateArray[2]+'/'+dateArray[1]+'/'+dateArray[3]);
				$('#bookingStartHour option[value="'+dateArray[4].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[4].split(':')[1]+'"]').attr("selected",true);
				modalChange();
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			if (parseInt($('input[name=providerRadio]:checked').val()) > 0) {
				$('#booking_service_provider_id option[value="'+$('input[name=providerRadio]:checked').val()+'"]').attr("selected",true);
				$.getJSON('/provider_services', {id: parseInt($('input[name=providerRadio]:checked').val())}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id').removeAttr('disabled');
					modalChange();
				});
			}
			else {
				$('#booking_service_provider_id').val('');
			}
			$('#booking_status_id').val('1');
			$('#booking_price').val('');
			$('#booking_client_id').val('');
			$('#booking_client_first_name').val('');
			$('#booking_client_last_name').val('');
			$('#full_name').val('');
			$("#full_name").prop('disabled', false);
			$('#xButton').prop('disabled', true);
			$('#booking_client_email').val('');
			$('#booking_client_phone').val('');
			$('#booking_notes').val('');
			$('#booking_company_comment').val('');
			$('#booking_send_mail').val(0);
			$('#booking_send_mail').prop('checked', false);
			$('#booking_send_mail').prop('disabled', true);
			if (!$('label[for=booking_send_mail]').hasClass('disabled')) {
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Nueva Reserva');
			$('.booking-modal-footer').append('<button type="button" class="btn btn-default booking-button" data-dismiss="modal">Cerrar</button><button type="button" class="btn btn-primary booking-button" onclick="createBooking()">Guardar</button>');

			if (provider_id) {
				$('#booking_service_provider_id').val(provider_id);
				$.getJSON('/provider_services', {id: provider_id}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id').removeAttr('disabled');
					modalChange();
				});
			};

			$('#bookingModal').modal('show');	
		}
		else {
			alertId.showAlert('<h3>Este local no tiene proveedores o servicios</h3>Por favor complete los datos antes de reservar.');
			bookingModalOpen = false;
		}
	});
}

function editBooking(eventId) {
	$('.booking-button').attr("disabled", "disabled");
	$('.booking-modal-footer').prepend('<%= image_tag "small-loader.gif", :alt => "Loader", :id => "small_loader" %>');
	saveBooking('PATCH','/'+eventId);
}

function createBooking() {
	$('.booking-button').attr("disabled", "disabled");
	$('.booking-modal-footer').prepend('<%= image_tag "small-loader.gif", :alt => "Loader", :id => "small_loader" %>');
	saveBooking('POST','');
}

function deleteBooking(eventId) {
	$('.booking-button').attr("disabled", "disabled");
	$('.booking-modal-footer').prepend('<%= image_tag "small-loader.gif", :alt => "Loader", :id => "small_loader" %>');
	saveBooking('DELETE','/'+eventId);
}

function jsonBooking() {
	var jsBooking = {
		"start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z",
		"end":$('#datePicker').val() +"T"+ $('#bookingEndHour').val() +":"+ $('#bookingEndMinute').val() +":00Z",
		"service_provider_id": parseInt($('#booking_service_provider_id').val()),
		"service_id": parseInt($('#booking_service_id').val()),
		"status_id": parseInt($('#booking_status_id').val()),
		"client_id": $('#booking_client_id').val(),
		"price": $('#booking_price').val(),
		"client_first_name": $('#booking_client_first_name').val(),
		"client_last_name": $('#booking_client_last_name').val(),
		"client_email": $('#booking_client_email').val(),
		"client_phone": $('#booking_client_phone').val(),
		"notes": $('#booking_notes').val(),
		"company_comment": $('#booking_company_comment').val(),
		"send_mail": $('#booking_send_mail').prop('checked')
	};
	return jsBooking;
}


function editDrag(event) {
	var startDate = new Date(event.start);
	var endDate = new Date(event.end);
	var extraMonth = "";
	var extraDate = "";
	if (startDate.getMonth() < 10) {
		extraMonth = "0";
	}
	if (startDate.getDate() < 10) {
		extraDate = "0";
	}
	var startString = startDate.getFullYear()+"-"+extraMonth+(startDate.getMonth()+1)+"-"+extraDate+startDate.getDate()+"T"+startDate.getHours()+":"+startDate.getMinutes()+":00Z";
	var endString = endDate.getFullYear()+"-"+extraMonth+(endDate.getMonth()+1)+"-"+extraDate+endDate.getDate()+"T"+endDate.getHours()+":"+endDate.getMinutes()+":00Z";

	if (event.resourceId) {
		var bookingJSON = {start: startString, end: endString, service_provider_id: event.resourceId};
	}
	else {
		var bookingJSON = {start: startString, end: endString};
	}
	$.ajax({
		type: 'PATCH',
		url: '/bookings/'+ event.id +'.json',
		data: { "booking": bookingJSON },
		dataType: 'json',
		success: function(){
			alertId.showAlert("Horario de la reserva cambiado exitosamente.");
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
			$.getJSON('/bookings/'+event.id, function (booking) {
				event.start = booking.start;
				event.end = booking.end;
				event.resourceId = booking.service_provider_id;
				$('#calendar').fullCalendar('updateEvent', event);
			});
		}
	});
}

function saveBooking(typeURL, extraURL) {
	var bookingJSON = jsonBooking();
	$.ajax({
		type: typeURL,
		url: '/bookings'+ extraURL +'.json',
		data: { "booking": bookingJSON },
		dataType: 'json',
		success: function(booking){
			switch(typeURL) {
			case 'POST':
				if (booking[0].status_id != 5) {
					var originClass = 'origin-manual';
					if (booking[0].status_id == 2) {
						originClass += ' confirmed';
					}
					var events = {
						id: booking[0].id,
						title: booking[1]+' - '+booking[0].first_name+' '+booking[0].last_name,
						allDay: false,
						start: booking[0].start,
						end: booking[0].end,
						resourceId: booking[0].service_provider_id,
						textColor: textColors[booking[0].status_id],
						borderColor: textColors[booking[0].status_id],
						backgroundColor: backColors[booking[0].status_id],
						className: originClass
					};
					$('#calendar').fullCalendar('renderEvent', events, true);
				}
				$('#bookingModal').modal('hide');
				break;
			case 'PATCH':
				event = $('#calendar').fullCalendar('clientEvents', booking[0].id)[0];
				if (booking[0].status_id != 5) {
					var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						};
					if (booking[0].status_id == 2) {
						originClass += ' confirmed';
					}
					event.title = booking[1]+' - '+booking[0].first_name+' '+booking[0].last_name;
					event.start = booking[0].start;
					event.end = booking[0].end;
					event.resourceId = booking[0].service_provider_id;
					event.textColor = textColors[booking[0].status_id];
					event.borderColor = textColors[booking[0].status_id];
					event.backgroundColor = backColors[booking[0].status_id];
					event.className = originClass;
					$('#calendar').fullCalendar('updateEvent', event);
				}
				else {
					$('#calendar').fullCalendar('removeEvents',booking[0].id);
				}
				$('#bookingModal').modal('hide');
				break;
			case 'DELETE':
				$('#calendar').fullCalendar('removeEvents',booking.id);
				$('#bookingModal').modal('hide');
				break;
			}
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += ' ' + errors[i];
			}
			$('.booking-button').removeAttr("disabled");
			$('#small_loader').remove();
			alertId.showAlert(errores);
		}
	});
}

function saveBreak (typeURL, extraURL) {
	var breakJSON = { "service_provider_id": $('#provider_break_service_provider_id').val(), "start": $('#provider_break_start_1i').val() +"-"+ $('#provider_break_start_2i').val() +"-"+ $('#provider_break_start_3i').val() +"T"+ $('#provider_break_start_4i').val() +":"+ $('#provider_break_start_5i').val() +":00Z", "end": $('#provider_break_end_1i').val() +"-"+ $('#provider_break_end_2i').val() +"-"+ $('#provider_break_end_3i').val() +"T"+ $('#provider_break_end_4i').val() +":"+ $('#provider_break_end_5i').val() +":00Z" };
	$.ajax({
		type: typeURL,
		url: '/provider_breaks'+extraURL+'.json',
		data: { "provider_break": breakJSON },
		dataType: 'json',
		success: function(provider_break){
			switch(typeURL) {
			case 'POST':
				var events = {
					id: 'b'+provider_break.id,
					title: 'Hora Bloqueada',
					allDay: false,
					start: provider_break.start,
					end: provider_break.end,
					editable: false,
					resourceId: parseInt(provider_break.service_provider_id),
					textColor: textColors[0],
					borderColor: textColors[0],
					backgroundColor: backColors[0]
				};
				$('#calendar').fullCalendar('renderEvent', events, true);
				$('#breakModal').modal('hide');
				break;
			case 'PATCH':
				event = $('#calendar').fullCalendar('clientEvents', 'b'+provider_break.id)[0];
				event.start = provider_break.start;
				event.end = provider_break.end;
				event.resourceId = parseInt(provider_break.service_provider_id);
				$('#calendar').fullCalendar('updateEvent', event);
				$('#breakModal').modal('hide');
				break;
			case 'DELETE':
				$('#calendar').fullCalendar('removeEvents','b'+provider_break.id);
				$('#breakModal').modal('hide');
				break;
			}
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
		}
	});
}

function getAvailableProviders() {
	if ($('[name="localRadio"]').is(':checked')) {
		if (parseInt($('input[name=providerRadio]:checked').val()) == 0) {
			queryJSON = { "start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z","end":$('#datePicker').val() +"T"+ $('#bookingEnd').text() +":00Z", "location_id": $('input[name=localRadio]:checked').val() }
			$.getJSON('/available_providers', queryJSON, function (providersArray) { 
				$(function(){
				    $('#booking_service_provider_id option').filter(function () {
				       return $.inArray(this.value(), providersArray) == -1;
				    }).remove();
				});
			});
		}
	}
}

function createBreakModal() {
	if (parseInt($('input[name=providerRadio]:checked').val()) > 0) {
		$('#provider_break_service_provider_id option[value="'+$('input[name=providerRadio]:checked').val()+'"]').attr("selected",true);
	}
	$('.break-modal-footer').empty();
	$('.break-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary" id="save_break">Guardar</button>');
	$('#save_break').click(function() {
		saveBreak('POST','');
	});
	$('#breakModal').modal('show');
}

function editBreakModal(breakId) {
	$.getJSON('/provider_breaks/'+breakId, function (provider_break) {
		var start = provider_break.start || 0;
		var end = provider_break.end || 0;
		if (start != 0) {
			dateArray = start.toString().split('T');
			date = new Date(start)
			month = date.getMonth()+1;
			day = date.getDate();
			$('#provider_break_start_1i option[value="'+date.getFullYear()+'"]').attr("selected",true);
			$('#provider_break_start_2i option[value="'+month+'"]').attr("selected",true);
			$('#provider_break_start_3i option[value="'+day+'"]').attr("selected",true);
			$('#provider_break_start_4i option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#provider_break_start_5i option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}
		if (end != 0) {
			dateArray = end.toString().split('T');
			date = new Date(end)
			month = date.getMonth()+1;
			day = date.getDate();
			$('#provider_break_end_1i option[value="'+date.getFullYear()+'"]').attr("selected",true);
			$('#provider_break_end_2i option[value="'+month+'"]').attr("selected",true);
			$('#provider_break_end_3i option[value="'+day+'"]').attr("selected",true);
			$('#provider_break_end_4i option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#provider_break_end_5i option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}
		$('#provider_break_service_provider_id option[value="'+provider_break.service_provider_id+'"]').attr("selected",true);;
		$('.break-modal-footer').empty();
		$('.break-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary" id="edit_break">Guardar</button><button type="button" class="btn btn-danger" id="destroy_break">Eliminar</button>');
		$('#edit_break').click(function() {
			saveBreak('PATCH','/'+breakId);
		});
		$('#destroy_break').click(function() {
			saveBreak('DELETE','/'+breakId);
		});
		$('#breakModal').modal('show');
	});
}

function validEmail(email) {
	var atpos = email.indexOf("@");
	var dotpos = email.lastIndexOf(".");
	if (atpos < 1 || dotpos < atpos+2 || dotpos+2 >= email.length) {
	  return false;
	}
	return true;
}

function splitFullName() {
	if ($('#full_name').val() == '') {
		$('#xButton').prop('disabled', true);
	}
	else {
		$('#xButton').prop('disabled', false);
		var nameArray = $('#full_name').val().split(' ');
		if (nameArray.length == 0) {

		}
		else if (nameArray.length == 1) {
			$('#booking_client_first_name').val(nameArray[0]);
		}
		else if (nameArray.length == 2) {
			$('#booking_client_first_name').val(nameArray[0]);
			$('#booking_client_last_name').val(nameArray[1]);	
		}
		else if (nameArray.length == 3) {
			$('#booking_client_first_name').val(nameArray[0]);
			$('#booking_client_last_name').val(nameArray[1]+' '+nameArray[2]);
		}
		else {
			$('#booking_client_first_name').val(nameArray[0]+' '+nameArray[1]);
			var last_name = '';
			for (var i = 2; i < nameArray.length; i++) {
				last_name += nameArray[i]+' ';
			}
			var strLen = last_name.length;
			last_name = last_name.slice(0,strLen-1)
			$('#booking_client_last_name').val(last_name);
		}
	}
}

function modalChange() {
	if ($("#booking_service_id").val() != '') {
		var price = 0;
		for (i in servicesJSON) {
			if ($("#booking_service_id").val() == servicesJSON[i].id) {
				price = servicesJSON[i].price;
			}
		}
		$('#booking_price').val(price);
	}
	if ($("#bookingStartHour").val() != '' && $("#bookingStartMinute").val() != '' && $("#booking_service_id").val() != '') {
		var duration = 0;
		for (i in servicesJSON) {
			if ($("#booking_service_id").val() == servicesJSON[i].id) {
				duration = servicesJSON[i].duration;
			}
		}
		var extraCharH = '';
		var extraCharM = '';
		var hours = parseInt($("#bookingStartHour").val());
		var minutes = parseInt($("#bookingStartMinute").val()) + duration;
		if (minutes >= 60) {
			hours += Math.floor(minutes/60);
			minutes = minutes%60;
		}
		if (hours < 10) {
			extraCharH = '0';
		}
		if (minutes < 10) {
			extraCharM = '0';
		}
		$('#bookingEndHour option[value="'+extraCharH+hours+'"]').attr("selected",true);
		$('#bookingEndMinute option[value="'+extraCharM+minutes+'"]').attr("selected",true);
	}
	else {
		$('#bookingEndHour option[value="'+$("#bookingStartHour").val()+'"]').attr("selected",true);
		$('#bookingEndMinute option[value="'+$("#bookingStartMinute").val()+'"]').attr("selected",true);
	}
}

var alertId;
$(function() {
	alertId = new Alert();
	$('.createBooking').click(function() {
		createBookingModal();
		return false;
	});
	$('.createBreak').click(function() {
		createBreakModal();
		return false;
	});
	if ($('[name="localRadio"]').is(':checked')) {
		loadProviders();
	}
	$('#datePicker').datepicker({
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ]
	});
	$("#bookingStartHour").on("change", function() { 
		modalChange();
	});
	$("#bookingStartMinute").on("change", function() { 
		modalChange();
	});
	$("#booking_service_id").on("change", function() { 
		modalChange();
	});
	$('[name="localRadio"]').first().parent().addClass("active")
	$('[name="localRadio"]').click(function (e) {
		$('[name="localRadio"]').parent().removeClass('active');
		e.target.parentNode.className += 'active';
	});

	$("#dp").datepicker({
		dateFormat: 'dd/M/yy',
		autoSize: true,
		firstDay: 1,
		changeMonth: true,
		changeYear: true,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ],
		onSelect: function(dateText, inst) {
			var d = new Date(dateText);
			$('#calendar').fullCalendar('gotoDate', d);
			var providerId = $('input[name="providerRadio"]:checked').val();
			loadProviderBooking(providerId);
		}
	});

	$("#full_name").on('input',function(e){
		splitFullName();
	});

	$("#full_name").autocomplete({
		source: '/clients_name_suggestion',
		appendTo: '#full_name_suggestions',
		autoFocus: true,
		minLength: 3,
		select: function( event, ui ) {
			event.preventDefault();
			$('#booking_client_first_name').val(ui.item.value[0]);
			$('#booking_client_last_name').val(ui.item.value[1]);
			$('#booking_client_phone').val(ui.item.value[3]);
			$('#booking_client_email').val(ui.item.value[2]);
			$('#booking_client_id').val(ui.item.value[4]);
			$("#full_name").val(ui.item.value[0]+' '+ui.item.value[1])
			if (validEmail($("#booking_client_email").val())) {
				$('#booking_send_mail').prop('disabled', false);
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('#xButton').prop('disabled', false);
			$("#full_name").prop('disabled', true);
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    	return $( '<li>' ).append( '<a>' + item.label + '<br><span class="auto-desc">' + item.desc + '</span></a>' ).appendTo( ul );
    };

	$("#booking_client_email").autocomplete({
		source: '/clients_suggestion',
		appendTo: '#email_suggestions',
		autoFocus: true,
		minLength: 3,
		select: function( event, ui ) {
			event.preventDefault();
			$('#booking_client_first_name').val(ui.item.value[0]);
			$('#booking_client_last_name').val(ui.item.value[1]);
			$('#booking_client_phone').val(ui.item.value[3]);
			$('#booking_client_email').val(ui.item.value[2]);
			$('#booking_client_id').val(ui.item.value[4]);
			$("#full_name").val(ui.item.value[0]+' '+ui.item.value[1])
			if (validEmail($("#booking_client_email").val())) {
				$('#booking_send_mail').prop('disabled', false);
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('#xButton').prop('disabled', false);
			$("#full_name").prop('disabled', true);
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    	return $( '<li>' ).append( '<a>' + item.label + '<br><span class="auto-desc">' + item.desc + '</span></a>' ).appendTo( ul );
    };

	$("#booking_client_email").on('input',function(e){
		if (validEmail($("#booking_client_email").val())) {
			$('#booking_send_mail').prop('disabled', false);
			$('#booking_send_mail').val(1);
			$('#booking_send_mail').prop('checked', true);
			$('label[for=booking_send_mail]').removeClass('disabled');
		}
		else {
			$('#booking_send_mail').val(0);
			$('#booking_send_mail').prop('checked', false);
			$('#booking_send_mail').prop('disabled', true);
			$('label[for=booking_send_mail]').addClass('disabled');
		}
	});

	$('#booking_service_provider_id').change(function (event) {
		$.getJSON('/provider_services', {id: event.target.value}, function (services) {
			$('#booking_service_id').empty();
			$.each(services, function (key, service) {
				$('#booking_service_id').append(
					'<option value="' + service.id + '">' + service.name + '</option>'
				);
			});
			$('#booking_service_id').removeAttr('disabled');
			modalChange();
		});
	});

	$(".ui-datepicker-trigger").addClass("btn btn-primary pull-right")

	$('#bookingModal').on('hidden.bs.modal', function (e) {
		$('#booking_service_id').attr('disabled', true);
		bookingModalOpen = false;
	});

	$('#xButton').click(function() {
		$('#booking_client_first_name').val('');
		$('#booking_client_last_name').val('');
		$('#booking_client_phone').val('');
		$('#booking_client_email').val('');
		$('#booking_client_id').val('');
		$("#full_name").val('');
		$('#booking_client_first_name').prop('disabled', false);
		$('#booking_client_last_name').prop('disabled', false);
		$('#booking_client_phone').prop('disabled', false);
		$('#booking_client_email').prop('disabled', false);
		$("#full_name").prop('disabled', false);
		$('#booking_send_mail').val(0);
		$('#booking_send_mail').prop('checked', false);
		$('#booking_send_mail').prop('disabled', true);
		$('label[for=booking_send_mail]').addClass('disabled');
		$('#xButton').prop('disabled', true);
	});
});