<!DOCTYPE html>
<html lang="es">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>Administrador - AgendaPro</title>
	<meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios.">
	<meta name="author" content="AgendaPro">
	<meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online">

	<%= csrf_meta_tags %>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<%= stylesheet_link_tag "admin" %>
	<%= stylesheet_link_tag "fullcalendar_css" if params[:controller] == "bookings" %>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="assets/javascripts/admin/respond.min.js"></script>
		<script src="assets/stylesheets/admin/ie6-8.css"></script>
		
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
    <%= favicon_link_tag "Iso_Pro_Color.png", :rel => "shortcut icon" %>
	<!-- end: Favicon and Touch Icons -->	
		
</head>

<body>
		<!-- start: Header -->
	<header class="navbar">
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			</button>
			<a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>		
				<%= link_to image_tag("admin/logo20.png"), root_path, { :class => "navbar-brand col-lg-2 col-sm-1 col-xs-12 admin-logo" } %>
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav navbar-nav pull-right">
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
							<div class="avatar"><%= image_tag("admin/avatar.png") %></div>
							<div class="user">
								<span class="hello">Bienvenido!</span>
								<span class="name"><%= current_user.email %></span>
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-menu-title">
								
							</li>
							<li><%= link_to '<i class="fa fa-user"></i> Perfíl'.html_safe, edit_admin_user_path(current_user) %></li>
							<li><%= link_to '<i class="fa fa-power-off"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
					<!-- end: User Dropdown -->
				</ul>
			</div>
			<!-- end: Header Menu -->
			
		</div>	
	</header>
	<!-- end: Header -->
	
		<div class="container">
		<div class="row">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="col-lg-2 col-sm-1">
				
				<!-- <input type="text" class="search hidden-sm" placeholder="..." /> -->
				
				<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><%= link_to '<i class="fa fa-dashboard"></i><span class="hidden-sm"> Dashboard</span>'.html_safe, dashboard_path %></li>
						<li><%= link_to '<i class="fa fa-calendar"></i><span class="hidden-sm"> AgendaPro</span>'.html_safe, bookings_path %></li>
						<% if current_user.role_id == Role.find_by_name("Super Admin").id %>
						<li>
							<a class="dropmenu"><i class="fa fa-check"></i><span class="hidden-sm"> General</span> <span class="label">5</span></a>
							<ul>
								<li><%= link_to '<i class="fa fa-user"></i><span class="hidden-sm"> Usuarios</span>'.html_safe, admin_users_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-lock"></i><span class="hidden-sm"> Roles</span>'.html_safe, roles_path, { :class => "submenu" }  %></li>
								<li><%= link_to '<i class="fa fa-usd"></i><span class="hidden-sm"> Estados de Pago</span>'.html_safe, payment_statuses_path, { :class => "submenu" }  %></li>
								<li><%= link_to '<i class="fa fa-check-square-o"></i><span class="hidden-sm"> Estados de Reserva</span>'.html_safe, statuses_path, { :class => "submenu" }  %></li>
								<li><%= link_to '<i class="fa fa-cloud"></i><span class="hidden-sm"> Gestión Planes</span>'.html_safe, plans_path, { :class => "submenu" }  %></li>
							</ul>
						</li>
						<li>
							<a class="dropmenu"><i class="fa fa-map-marker"></i><span class="hidden-sm"> Lugares</span> <span class="label">4</span></a>
							<ul>
								<li><%= link_to '<i class="fa fa-globe"></i><span class="hidden-sm"> Países</span>'.html_safe, countries_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-picture-o"></i><span class="hidden-sm"> Regiones</span>'.html_safe, regions_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-building-o"></i><span class="hidden-sm"> Ciudades</span>'.html_safe, cities_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-home"></i><span class="hidden-sm"> Comunas</span>'.html_safe, districts_path, { :class => "submenu" } %></li>
							</ul>
						</li>
						<% end %>
						<% if (current_user.role_id == Role.find_by_name("Administrador Local").id) || (current_user.role_id == Role.find_by_name("Admin").id) %>
						<li>
							<a class="dropmenu"><i class="fa fa-wrench"></i><span class="hidden-sm"> Configuración</span> <span class="label">4</span></a>
							<ul>
								<li><%= link_to '<i class="fa fa-briefcase"></i><span class="hidden-sm"> Empresa</span>'.html_safe, edit_company_path(Company.find(current_user.company_id)), { :class => "submenu" } %></li>
								<li><% if Company.find(current_user.company_id).company_setting %>
									<%= link_to '<i class="fa fa-phone"></i><span class="hidden-sm"> Recordatorios</span>'.html_safe, edit_company_setting_path(Company.find(current_user.company_id).company_setting), { :class => "submenu" } %>
									<% else %>
									<%= link_to '<i class="fa fa-phone"></i><span class="hidden-sm"> Recordatorios</span>'.html_safe, new_company_setting_path, { :class => "submenu" } %>
									<% end %>
								</li>
								<li><%= link_to '<i class="fa fa-group"></i><span class="hidden-sm"> Clientes</span>'.html_safe, clients_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-list"></i><span class="hidden-sm"> Planes</span>'.html_safe, select_plan_path, { :class => "submenu" } %></li>
							</ul>
						</li>
						<% end %>
						<% if (current_user.role_id == Role.find_by_name("Super Admin").id) || (current_user.role_id == Role.find_by_name("Admin").id) || (current_user.role_id == Role.find_by_name("Administrador Local").id) %>
						<li>
							<a class="dropmenu"><i class="fa fa-briefcase"></i><span class="hidden-sm"> Administración</span> <span class="label">4</span></a>
							<ul>
								<li><%= link_to '<i class="fa fa-sitemap"></i><span class="hidden-sm"> Usuarios</span>'.html_safe, admin_users_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-home"></i><span class="hidden-sm"> Locales</span>'.html_safe, locations_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-book"></i><span class="hidden-sm"> Servicios</span>'.html_safe, services_path, { :class => "submenu" } %></li>
								<li><%= link_to '<i class="fa fa-user"></i><span class="hidden-sm"> Staffs</span>'.html_safe, service_providers_path, { :class => "submenu" } %></li>
							</ul>
						</li>
						<% end %>
						<li><%= link_to '<i class="fa fa-bar-chart-o	"></i><span class="hidden-sm"> Reportes</span>'.html_safe, reports_path %></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
						
			<!-- start: Content -->
			<div id="content" class="col-lg-10 col-sm-11">
				<div class="row" style="min-height: 600px;">
					<%= yield %>
				</div>		
			</div>
			<!-- end: Content -->
				
				</div><!--/row-->		
		
	</div><!--/container-->
	
	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://www.agendapro.cl" alt="AgendaPro">AgendaPro</a></span>
			<span class="hidden-phone" style="text-align:right;float:right">Soporte: <a href="http://www.agendapro.cl" alt="Soporte AgendaPro">AgendaPro</a></span>
		</p>

	</footer>
	
	<!-- start: JavaScript-->
	<!--[if !IE]>-->
			<%= javascript_include_tag "adminNIE" %>
	<!--<![endif]-->
	<!--[if IE]>
		<%= javascript_include_tag "adminIE" %>
	<!--<![endif]-->
	<%= javascript_include_tag "admin" %>
	<!--[if !IE]>-->
			<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/admin/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
			</script>
	<!--<![endif]-->
	<!--[if IE]>
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
	<![endif]-->

	<!--[if IE8]>
	
		<%= javascript_include_tag "adminIE8" %>
	
	<![endif]-->
	<%= javascript_include_tag "fullcalendar_js" if params[:controller] == "bookings" %>
	<%= javascript_include_tag "cocoon_js" if (params[:controller] == "locations") || (params[:controller] == "service_providers") || (params[:controller] == "quick_add") %>
	<%= yield :scripts %>
	
	<!-- end: JavaScript-->
	
</body>
</html>