<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
  <head>
    <!-- start: Meta -->
    <meta charset="utf-8" />
    <% if !current_user.company.nil? %>
    <title>Administrador <%= current_user.company.name %> - AgendaPro</title>
    <% else %>
    <title>Administrador - AgendaPro</title>
    <% end %>
    <meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios.">
    <meta name="author" content="AgendaPro">
    <meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online">

    <%= csrf_meta_tags %>
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto+Condensed:300", type: "text/css" %>
    <%= stylesheet_link_tag "admin" %>
    <%= yield :stylesheets %>
    <!-- end: CSS -->

    <!-- start: JavaScript-->
    <% if ENV["MONITORING_ACTIVATION"] == "TRUE" %>
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
      window.__insp = window.__insp || [];
      __insp.push(['wid', 1883420541]);
      (function() {
      function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
      if (window.attachEvent) window.attachEvent('onload', __ldinsp);
      else window.addEventListener('load', __ldinsp, false);
      })();
    </script>
    <!-- End Inspectlet Embed Code -->
    <% end %>
    <%= yield :head_scripts %>
    <!-- end: JavaScript-->

    <%= render 'layouts/icons' %>
  </head>

  <body>
    <!-- start: Header -->
    <header>
      <nav class="navbar navbar-default navbar-fixed-top navbar-admin" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <i class="fa fa-bars"></i>
            </button>
            <%= link_to localized_root_url(subdomain: false), class: 'navbar-brand' do %>
              <%= image_tag 'logos/logo2.png', :alt => 'AgendaPro', :size => "115x39" %>
            <% end %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
              <!-- Dashboard -->
              <li class="<%= 'active' if current_page?(dashboard_path) %>"><%= link_to 'Resumen', dashboard_path %></li>
              <!-- Calendario -->
              <% if current_user.role == Role.find_by_name("Staff (sin edición)") %>
              <li class="<%= 'active' if current_page?(fixed_bookings_path) %>"><%= link_to 'Calendario', fixed_bookings_path %></li>
              <% else %>
              <li class="<%= 'active' if current_page?(bookings_path) %>"><%= link_to 'Calendario', bookings_path %></li>
              <% end %>
              <!-- Caja -->
              <% if current_user.role == Role.find_by(name: "Administrador General") || current_user.role == Role.find_by(name: "Administrador Local") %>

                <li class="dropdown <%= 'active' if current_page?(payments_path) or current_page?(sales_cash_path) or current_page?(sales_reports_path) %>">
                  <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                    <a href="#" class="dropdown-toggle locked-section" data-toggle="dropdown" role="button" aria-expanded="false">Ventas <i class="fa fa-chevron-down"></i><i class="fa fa-lock fa-1 lock-image"></i></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ventas <i class="fa fa-chevron-down"></i></a>
                  <% end %>
                  <ul class="dropdown-menu" role="menu">
                    <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                      <li><%= link_to '<i class="fa fa-money"></i>  Recaudaciones<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, payments_path, :class => "locked-section" %></li>
                      <li><%= link_to '<i class="fa fa-bar-chart-o"></i>  Reportes<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, sales_reports_path, :class => "locked-section" %></li>
                    <% else %>
                      <li><%= link_to '<i class="fa fa-money"></i>  Recaudaciones'.html_safe, payments_path %></li>
                      <li><%= link_to '<i class="fa fa-bar-chart-o"></i>  Reportes'.html_safe, sales_reports_path %></li>
                    <% end %>
                    <% if current_user.company.company_setting.show_cashes %>
                      <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                        <li><%= link_to '<i class="fa fa-university"></i> Cajas de Ventas<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, sales_cash_path, :class => "locked-section" %></li>
                      <% else %>
                        <li><%= link_to '<i class="fa fa-university"></i> Cajas de Ventas'.html_safe, sales_cash_path %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>

                <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                  <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to 'Inventario<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, products_path, :class => "locked-section" %></li>
                <% else %>
                  <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to 'Inventario', products_path %></li>
                <% end %>

              <% elsif current_user.role == Role.find_by(name: "Staff") || current_user.role == Role.find_by(name: "Recepcionista") %>
                <li class="dropdown <%= 'active' if current_page?(payments_path) or current_page?(sales_cash_path) or current_page?(sales_reports_path) %>">
                  <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                    <a href="#" class="dropdown-toggle locked-section" data-toggle="dropdown" role="button" aria-expanded="false">Ventas <i class="fa fa-chevron-down"></i><i class="fa fa-lock fa-1 lock-image"></i></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ventas <i class="fa fa-chevron-down"></i></a>
                  <% end %>
                  <ul class="dropdown-menu" role="menu">
                    <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                      <li><%= link_to '<i class="fa fa-money"></i>  Recaudaciones<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, payments_path, :class => "locked-section" %></li>
                      <li><%= link_to '<i class="fa fa-bar-chart-o"></i>  Reportes<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, sales_reports_path, :class => "locked-section" %></li>
                    <% else %>
                      <li><%= link_to '<i class="fa fa-money"></i>  Recaudaciones'.html_safe, payments_path %></li>
                      <li><%= link_to '<i class="fa fa-bar-chart-o"></i>  Reportes'.html_safe, sales_reports_path %></li>
                    <% end %>
                  </ul>
                </li>
                <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                  <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to 'Inventario<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, products_path, :class => "locked-section" %></li>
                <% else %>
                  <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to 'Inventario', products_path %></li>
                <% end %>
              <% end %>
              <!-- Clientes -->
              <% if current_user.role != Role.find_by(name: "Staff") and current_user.role != Role.find_by(name: "Staff (sin edición)") and current_user.role != Role.find_by(name: "Super Admin") and current_user.role != Role.find_by(name: "Ventas") %>
                <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                  <li class="<%= 'active' if current_page?(clients_path) %>"><%= link_to 'Clientes<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, clients_path, :class => "locked-section" %></li>
                <% else %>
                  <li class="<%= 'active' if current_page?(clients_path) %>"><%= link_to 'Clientes', clients_path %></li>
                <% end %>
              <% end %>
              <!-- Reportes -->
              <% if current_user.role == Role.find_by(name: "Administrador General") %>
                <% if current_user.company.plan_id == Plan.find_by_name("Gratis").id %>
                  <li class="<%= 'active' if current_page?(reports_path) %>"><%= link_to 'Reportes<i class="fa fa-lock fa-1 lock-image"></i>'.html_safe, reports_path, :class => "locked-section" %></li>
                <% else %>
                  <li class="<%= 'active' if current_page?(reports_path) %>"><%= link_to 'Reportes', reports_path %></li>
                <% end %>
              <% end %>
              <!-- Administracion -->
              <% if current_user.role == Role.find_by(name: "Super Admin") or current_user.role == Role.find_by(name: "Administrador General") or current_user.role == Role.find_by(name: "Administrador Local") %>
              <li class="dropdown <%= 'active' if current_page?(locations_path) or current_page?(service_providers_path) or current_page?(services_path) or current_page?(service_categories_path) or current_page?(commissions_path) or current_page?(resources_path) or current_page?("/company_bookings") %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administracion <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to '<i class="fa fa-home fa-fw"></i> Locales'.html_safe, locations_path %></li>
                  <li><%= link_to '<i class="fa fa-user fa-fw"></i> Prestadores de Servicios'.html_safe, service_providers_path %></li>
                  <li><%= link_to '<i class="fa fa-book fa-fw"></i> Servicios'.html_safe, services_path %></li>
                  <li><%= link_to '<i class="fa fa-money"></i>  Comisiones'.html_safe, commissions_path %></li>
                  <li><%= link_to '<i class="fa fa-cubes fa-fw"></i> Recursos'.html_safe, resources_path %></li>
                  <% if current_user.role == Role.find_by(name: "Administrador General") %>
                  <li><%= link_to '<i class="fa fa-exchange fa-fw"></i> Pagos en línea'.html_safe, '/company_bookings' %></li>
                  <% end %>
                </ul>
              </li>
              <% end %>
              <!-- Super Admin -->
              <% if current_user.role_id == Role.find_by_name("Super Admin").id || current_user.role_id == Role.find_by_name("Ventas").id %>
              <li class="<%= 'active' if current_page?("/companies_payments") %>"><%= link_to 'Control de gestión', '/companies_payments' %></li>
              <!-- General -->
              <li class="dropdown <%= 'active' if current_page?(admin_users_path) or current_page?(roles_path) or current_page?(payment_statuses_path) or current_page?(statuses_path) or current_page?(plans_path) or current_page?(numeric_parameters_path) or current_page?(payed_bookings_path) or current_page?(banks_path) %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">General <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to '<i class="fa fa-user fa-fw"></i> Usuarios'.html_safe, admin_users_path %></li>
                  <li><%= link_to '<i class="fa fa-lock fa-fw"></i> Roles'.html_safe, roles_path %></li>
                  <li><%= link_to '<i class="fa fa-usd fa-fw"></i> Estados de Pago'.html_safe, payment_statuses_path %></li>
                  <li><%= link_to '<i class="fa fa-check-square-o fa-fw"></i> Estados de Reserva'.html_safe, statuses_path %></li>
                  <li><%= link_to '<i class="fa fa-cloud fa-fw"></i> Gestión Planes'.html_safe, plans_path %></li>
                  <li><%= link_to '<i class="fa fa-list-ol fa-fw"></i> Parámetros Numéricos'.html_safe, numeric_parameters_path %></li>
                  <li><%= link_to '<i class="fa fa-exchange fa-fw"></i> Transferencias'.html_safe, payed_bookings_path %></li>
                  <li><%= link_to '<i class="fa fa-university fa-fw"></i> Bancos'.html_safe, banks_path %></li>
                  <li><%= link_to '<i class="fa fa-star fa-fw"></i> Promociones'.html_safe, manage_promotions_path %></li>
                  <li><%= link_to '<i class="fa fa-list-alt fa-fw"></i> Comprobantes de Pago'.html_safe, receipt_types_path %></li>
                  <li><%= link_to '<i class="fa fa-money fa-fw"></i> Medio de Pago'.html_safe, payment_methods_path %></li>
                  <li><%= link_to '<i class="fa fa-credit-card fa-fw"></i> Tipo de Medio de Pago'.html_safe, payment_method_types_path %></li>
                </ul>
              </li>
              <!-- Lugares -->
              <li class="dropdown <%= 'active' if current_page?(countries_path) or current_page?(regions_path) or current_page?(cities_path) or current_page?(districts_path) %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lugares <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to '<i class="fa fa-globe fa-fw"></i> Países'.html_safe, countries_path %></li>
                  <li><%= link_to '<i class="fa fa-picture-o fa-fw"></i> Regiones'.html_safe, regions_path %></li>
                  <li><%= link_to '<i class="fa fa-building-o fa-fw"></i> Ciudades'.html_safe, cities_path %></li>
                  <li><%= link_to '<i class="fa fa-home fa-fw"></i> Comunas'.html_safe, districts_path %></li>
                </ul>
              </li>
              <!-- Buscador -->
              <li class="dropdown <%= 'active' if current_page?(countries_path) or current_page?(regions_path) or current_page?(cities_path) or current_page?(districts_path) %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buscador <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to '<i class="fa fa-usd fa-fw"></i> Sector Ecónomico'.html_safe, economic_sectors_path %></li>
                  <li><%= link_to '<i class="fa fa-tags fa-fw"></i> Tags'.html_safe, tags_path %></li>
                </ul>
              </li>
              <% end %>
              <%= render 'layouts/home_dropdown' %>
              <li><a href="#" class="menu-green" data-toggle="modal" data-target="#printingModal"><i class="fa fa-print fa-lg"></i></a></li>
              <% if current_user.role_id == Role.find_by(name: "Administrador General").id %>
              <li class="dropdown <%= 'active' if current_page?(edit_company_setting_path(current_user.company.company_setting.id)) or current_page?(admin_users_path) or current_page?(select_plan_path) %>">
                <a href="#" class="dropdown-toggle menu-green" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to '<i class="fa fa-wrench fa-fw"></i> Configuraciones'.html_safe, edit_company_setting_path(Company.find(current_user.company_id).company_setting.id) %></li>
                  <li><%= link_to '<i class="fa fa-sitemap fa-fw"></i> Usuarios'.html_safe, admin_users_path %></li>
                  <li><%= link_to '<i class="fa fa-dollar fa-fw"></i> Facturación'.html_safe, select_plan_path %></li>
                </ul>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <!-- start: Alerts -->
      <% unless current_page?(bookings_path) %>
      <% if notice %>
        <div class="alert alert-info alert-dismissable fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning alert-dismissable fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= alert %>
        </div>
      <% end %>
      <% end %>
      <!-- end: Alerts -->
    </header>
    <!-- end: Header -->

    <!-- start: Modals -->
    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="paymentModalLabel">Cuenta AgendaPro</h4>
          </div>
          <div class="modal-body">
            <p class="justified">¡Recuerda activar tu cuenta AgendaPro! No te pierdas un segundo el acceso a las oportunidades que te da tu cuenta AgendaPro. Si no eres el(la) administrador(a), ponte en contacto con él(ella) para que active la cuenta.</p>
            <p class="justified">¡Aprovecha las facilidades de pago que ofrecemos y descuentos al pagar por adelantado! Puedes pagar tu cuenta directamente a través de la página, por medio de WebPay o transferencias bancarias de los principales bancos. Si no te acomoda ninguna de estas opciones o tienes alguna duda respecto a tu plan actual, te invitamos a ponerte en contacto con nosotros enviando un e-mail a <%= link_to 'contacto@agendapro.cl', contact_path, :target => "_blank" %>, para recibir las instrucciones a seguir.</p>
            <p>Medios de pago disponibles:</p>
            <% if !(current_user.role_id == Role.find_by_name("Super Admin").id || current_user.role_id == Role.find_by_name("Ventas").id) && current_user.company.country_id == Country.find_by_name('Chile').id %>
            <div class="row mp_table">
              <div class="col-md-4 text-center">
                <%= link_to image_tag("https://www.puntopagos.com/content/mp16.gif"), pp_generate_company_transaction_path(mp: "16", amount: 1), alt: "Botón de Pago Banco BBVA", class: "mp_link" %>
              </div>
              <div class="col-md-4 text-center">
                <%= link_to image_tag("https://www.puntopagos.com/content/mp4.gif"), pp_generate_company_transaction_path(mp: "04", amount: 1), alt: "Botón de Pago Banco de Chile", class: "mp_link" %>
              </div>
              <div class="col-md-4 text-center">
                <%= link_to image_tag("https://www.puntopagos.com/content/mp5.gif"), pp_generate_company_transaction_path(mp: "05", amount: 1), alt: "Botón de Pago BCI", class: "mp_link" %>
              </div>
            </div>
            <div class="row mp_table">
              <div class="col-md-4 text-center">
                <%= link_to image_tag("https://www.puntopagos.com/content/mp6.gif"), pp_generate_company_transaction_path(mp: "06", amount: 1), alt: "Botón de Pago TBanc", class: "mp_link" %>
              </div>
              <div class="col-md-4 text-center">
                <%= link_to image_tag("https://www.puntopagos.com/content/mp7.gif"), pp_generate_company_transaction_path(mp: "07", amount: 1), alt: "Botón de Pago Banco Estado", class: "mp_link" %>
              </div>
              <div class="col-md-4 text-center">
                <%= link_to image_tag("https://www.puntopagos.com/content/mp3.gif"), pp_generate_company_transaction_path(mp: "03", amount: 1), alt: "Webpay Transbank", class: "mp_link" %>
              </div>
            </div>
            <% else %>
            <div class="row mp_table">
              <div class="col-md-4 text-center">
                <%= link_to image_tag("http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png"), pu_generate_company_transaction_path(amount: 1), alt: "Botón de Pago Pay U", class: "mp_link" %>
              </div>
            </div>
            <% end %>
            <% if current_user.role_id == Role.find_by_name("Administrador General").id %>
            <br />
            <p>Ir a <%= link_to "PLANES", select_plan_path %> para obtener más información de los planes y tu cuenta.</p>
            <% end %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="printingModal" tabindex="-1" role="dialog" aria-labelledby="printingModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="printingModalLabel">Imprimir Horarios de Prestadores</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <%= label_tag "location_id", "Local", class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= select_tag "location_id", options_from_collection_for_select(Location.where(company_id: current_user.company_id, active: true).accessible_by(current_ability).order(:order, :name), "id", "name"), prompt: "Elige el local...", class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag "service_provider_id", "Prestador de Servicios", class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= select_tag "service_provider_id", "", prompt: "Elige al prestador...", class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag "provider_date", "Fecha", class: "col-sm-4 control-label"%>
                <div class="col-sm-8">
                  <%= text_field_tag "provider_date", nil, placeholder: 'ej: 15/10/2014', class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            <%= link_to "Imprimir Horario", service_providers_path, id: "printingButton", class: "btn btn-green", disabled: true %>
          </div>
        </div>
      </div>
    </div>

    <!-- Datos de facturación -->

      <div class="modal fade" id="billingInfoModal" tabindex="-1" role="dialog" aria-labelledby="printingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="billingInfoLabel">Datos de facturación</h4>
            </div>
            <div class="modal-body">
              <p class="justified">¡No has ingresado tus datos de facturación en AgendaPro! Si no eres el(la) administrador(a), ponte en contacto con él(ella) para que lo haga a la brevedad.</p>
              <p class="justified">Haz click en el botón abajo para ir a la página donde podrás ingresar los datos. Si tienes alguna duda respecto a los datos o a tu plan actual, te invitamos a ponerte en contacto con nosotros enviando un e-mail a <%= link_to 'contacto@agendapro.cl', contact_path, :target => "_blank" %>, para recibir las instrucciones a seguir.</p>
            </div>
            <div class="modal-footer">
              <%= link_to "Agregar datos", select_plan_path, id: "billingInfoBtn2", class: "btn btn-green" %>
              <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            </div>
          </div>
        </div>
      </div>

    <!-- Fin datos de facturación -->

    <%= yield :modals %>
    <!-- end: Modals -->

    <!-- start: Content -->
    <div class="main">
      <%= yield %>
      <%= yield :calendar %>
      <%= content_tag "div", id: "payment_data", data: { due_payment: @due_payment, billing_info_missing: @billing_info_missing } do %>
      <% end %>
    </div>
    <!-- end: Content -->

    <!-- start: JavaScript-->
    <%= javascript_include_tag "admin" %>
    <!--[if gte IE 9]><!-->
      <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/jquery-2.1.1.min.js'>" + "<" + "/script>");
      </script>
    <!--<![endif]-->
    <%= yield :scripts %>
    <script type="text/javascript">
      $(document).ready(function(){

        /*
        * Check for due first, then for billing_info.
        */
        if ($('#payment_data').data('due-payment') == true) {
          $('#paymentModal').modal('show');
        }
        else if($('#payment_data').data('billing-info-missing') == true)
        {
          /*
          * Launch billing_info reminder.
          */
          $('#billingInfoModal').modal('show');
        }

        $('#provider_date').datepicker({
          dateFormat: 'dd/mm/yy',
          autoSize: true,
          firstDay: 1,
          changeMonth: true,
          changeYear: true,
          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
          prevText: 'Atrás',
          nextText: 'Adelante',
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          today: 'Hoy',
          clear: '',
          onSelect: function() {
            if ($('#service_provider_id').val() != "" && $('#provider_date').val() != "") {
              $('#printingButton').removeAttr("disabled");
            }
            else {
              $('#printingButton').attr("disabled", "disabled");
            }
          }
        });

        $('#provider_date').change(function() {
          if ($('#location_id').val() != "" && $('#service_provider_id').val() != "" && $('#provider_date').val() != "") {
            $('#printingButton').removeAttr("disabled");
          }
          else {
            $('#printingButton').attr("disabled", "disabled");
          }
        });

        $('#service_provider_id').change(function() {
          if ($('#location_id').val() != "" && $('#service_provider_id').val() != "" && $('#provider_date').val() != "") {
            $('#printingButton').removeAttr("disabled");
          }
          else {
            $('#printingButton').attr("disabled", "disabled");
          }
        });

        $('#location_id').change(function (event) {
          $('#service_provider_id').find('option').remove().end();
          $('#service_provider_id').append(
            '<option value="">Elige al prestador...</option>'
          );
          <% if current_user.role_id != Role.find_by_name("Staff").id %>
            $('#service_provider_id').append(
              '<option value="0">Todos</option>'
            );
          <% end %>
          if ($('#location_id').val() != "") {
            $.getJSON('/local_providers', {location: event.target.value}, function (providersArray) {
              $.each(providersArray, function (key, provider) {
                $('#service_provider_id').append(
                  '<option value="' + provider.id + '">' + provider.public_name + '</option>'
                );
              });
              $('#service_provider_id').removeAttr('disabled');
            });
          }
          else {
            $('#service_provider_id').attr("disabled", "disabled");
          }
          if ($('#location_id').val() != "" && $('#service_provider_id').val() != "" && $('#provider_date').val() != "") {
            $('#printingButton').removeAttr("disabled");
          }
          else {
            $('#printingButton').attr("disabled", "disabled");
          }
        });

        $('#printingButton').click(function(){
          $(this).attr('href', '/service_provider/pdf.pdf?provider_date=' + $('#provider_date').val()+'&location_id=' + $('#location_id').val()+'&service_provider_id=' + $('#service_provider_id').val());
        });
      });
    </script>
		<!--Start of Crazy Egg Script-->
		<%= javascript_include_tag 'crazy_egg' %>
		<!--End of Crazy Egg Script-->
    <!-- end: JavaScript-->
	</body>
</html>
