<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <!-- start: Meta -->
        <meta charset="utf-8">
        <title>AgendaPro</title>
        <meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios.">
        <meta name="author" content="AgendaPro">
        <meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online">
        <%= csrf_meta_tags %>
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <%= stylesheet_link_tag "search" %>
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" %>
        <%= yield :stylesheets %>
        <!-- end: CSS -->

        <!-- start: JavaScript-->
        <%= javascript_include_tag "home-head" %><!-- Removido -->
        <!-- end: JavaScript-->

        <!-- Fav and touch icons -->
        <%= favicon_link_tag "Iso_Pro_Color.png", :rel => "shortcut icon" %>

        <!--Start of Zopim Live Chat Script-->
        <% javascript_include_tag 'zopim' %><!-- Removido -->
        <!--End of Zopim Live Chat Script-->
    </head>

    <body>
        <%= render 'layouts/modals' %>
        <!-- start: Header -->
        <!-- <% if user_signed_in? %>
            <%= render 'layouts/home_dropdown' %>
            <li><%= link_to '<i class="fa fa-plus"></i> Info'.html_safe, home_path %></li>
        <% else %>
            <li><a href="#" data-toggle="modal" data-target="#signin-modal"><i class="fa fa-user"></i> Inicia Sesión</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-pencil-square-o"></i> Regístrate</a></li>
            <li><%= link_to '<i class="fa fa-home"></i> Agrega tu empresa'.html_safe, home_path %></li>
        <% end %> -->
        <header>
            <nav class="navbar navbar-default navbar-fixed-top navbar-home" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a href="<%= root_without_subdomain %>" class="navbar-brand">
                            <%= image_tag 'logos/logo_agendaproVerde2.png', :alt => 'AgendaPro', :size => "127x39" %>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Inicio</a></li>
                            <li><a href="#">Características</a></li>
                            <li><a href="#">Planes</a></li>
                            <li><a href="#">Tutoriales</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#" class="menu-green"><i class="fa fa-user"></i> Registrate</a></li>
                            <li><a href="#" class="menu-green"><i class="fa fa-calendar-o"></i> Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- start: Alerts -->
            <% if notice %>
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= notice %>
                </div>
            <% end %>
            <% if alert %>
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= alert %>
                </div>
            <% end %>
            <!-- end: Alerts -->
        </header>
        <!-- end: Header -->

        <!-- start: content -->
        <div class="main">
            <%= yield %>
        </div>
        <!-- end: content -->

        <div class="background contact-footer" style="background-image: url(<%= asset_path 'backgrounds/gray-background.png' %>);">
            <div class="container">
                <div class="row pull-center">
                    <div class="col-sm-4">
                        <%= image_tag "search/location.png" %>
                        <p>Nuestra Señora de los
                         Angeles 185, Oficina D,
                          Las Condes, Santiago</p>
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag "search/email.png" %>
                        <p>contacto@agendapro.cl</p>
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag "search/telephone.png" %>
                        <p>(+56 9) 5178 5898</p>
                    </div>
                </div>
                <div class="row footer">
                    <div class="col-sm-6">
                        <i class="fa fa-copyright"></i> Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados
                    </div>
                    <div class="col-sm-5 text-right">
                        <a href="#">Sobre Nosotros</a> | <a href="#">Tutoriales</a> | <a href="#">Terminos y condiciones</a>
                    </div>
                    <div class="col-sm-1">
                        <%= image_tag 'logos/logo.png', :alt => 'AgendaPro', :size => "127x39" %>
                    </div>
                </div>
            </div>
        </div>

        <!-- start: JavaScript-->
        <% yield :scripts %>
        <%= javascript_include_tag "search" %>
        <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
        <% javascript_include_tag "jquery.browser.min" %><!-- Removido -->
        <% javascript_include_tag "browser-detect" %><!-- Removido -->

        <!--<script>
          // $( "#menu-display" ).click(function() {
          //   $( ".nav-pills" ).toggle( "slow" );
          // });
        </script>-->
        <!-- end: JavaScript-->
    </body>
</html>