<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <!-- start: Meta -->
        <meta charset="utf-8">
        <title>AgendaPro</title>
        <meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios.">
        <meta name="author" content="AgendaPro">
        <meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online">
        <%= csrf_meta_tags %>
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <%= stylesheet_link_tag "home" %>
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" %>
        <!--[if IE 7]>
            <%= stylesheet_link_tag "homeie7" %>
        <![endif]-->
        <!-- end: CSS -->

        <!-- start: JavaScript-->
        <%= javascript_include_tag "home-head" %>
        <!-- end: JavaScript-->

        <!-- Fav and touch icons -->
        <%= favicon_link_tag "Iso_Pro_Color.png", :rel => "shortcut icon" %>
    </head>

    <body>
        <!-- start: Header -->
        <header>
            <div id="barra-superior">
                <div class="container">
                    <div class="row">
                        <a href="#" id="logo"></a>
                        <ul class="nav nav-pills pull-right">
                            <!-- start: Navegacion -->
                            <li id="c_home"><%= link_to "Inicio", home_path %></li>
                            <li id="c_feature"><%= link_to "Características", features_path %></li>
                            <li id="c_pricing"><%= link_to "Planes", view_plans_path %></li>
                            <!-- <li><a href="#">Tutorial</a></li> -->
                            <!-- <li id="c_aboutus"><%= link_to "Sobre Nosotros", aboutus_path %></li> -->
                            <li id="c_contact"><%= link_to "Contacto", contact_path %></li>
                            <!-- end: Navegacion -->
                            <!-- Inicio Sesión -->
                            <div id="sign" class="pull-right">
                                <% if user_signed_in? %>
                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.email %> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-sign" role="menu">
                                        <li><%= link_to 'Dashboard', dashboard_path %></li>
                                        <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
                                        <li class="divider"></li>
                                        <li><%= link_to 'Salir'.html_safe, destroy_user_session_path, method: :delete %></li>
                                    </ul>
                                </div>
                                <% else %>
                                <a href="#" data-toggle="modal" data-target="#signin-modal"><i class="fa fa-user"></i> Inicia Sesión</a>
                                <a href="#" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-pencil-square-o"></i> Regístrate</a>
                                <% end %>
                            </div>
                            <!-- Fin inicio sesión -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- start: Alerts -->
            <% if notice %>
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= notice %>
                </div>
            <% end %>
            <% if alert %>
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= alert %>
                </div>
            <% end %>
            <!-- end: Alerts -->
        </header>
        <!-- end: Header -->

        <!-- start: content -->
        <%= yield %>
        <%= render 'layouts/modals' %>
        <!-- end: content -->   
        
        <!-- start: JavaScript-->
        <%= yield :scripts %>
        <%= javascript_include_tag "home" %>
        <!-- end: JavaScript-->
        
        <!------ Originales ------->
        <!-- Los JS -->
        <!--<script src='http://connect.facebook.net/en_US/all.js'></script>-->
    </body>
</html>