<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">

        <!-- start: Meta -->
        <meta charset="utf-8">
        <title>AgendaPro</title>
        <meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios.">
        <meta name="author" content="AgendaPro">
        <meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online">
        <%= csrf_meta_tags %>
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <%= stylesheet_link_tag "home" %>
        <!--[if IE 7]>
            <%= stylesheet_link_tag "homeie7" %>
        <![endif]-->
        <!-- end: CSS -->

        <!-- start: JavaScript-->
        <%= javascript_include_tag "home-head" %>
        <!-- end: JavaScript-->

        <!-- Fav and touch icons -->
        <%= favicon_link_tag "favicon.png", :rel => "shortcut icon" %>
    </head>

    <body>
        <!-- start: Header -->
        <header>
            <div class="container">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <%= image_tag "home/Logo.png", :size => "275x101", :alt => "AgendaPro" %>
                        </a>
                        <a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="nb_left pull-left">
                                <span class="fa fa-reorder"></span>
                            </span>
                            <span class="nb_right pull-right">Menu</span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav pull-right navbar-nav">
                            <li id="c_home"><%= link_to "Inicio", home_path %></li>
                            <li id="c_feature"><%= link_to "Características", features_path %></li>
                            <li id="c_pricing"><%= link_to "Planes", plans_path %></li>
                            <!-- <li><a href="#">Tutorial</a></li> -->
                            <li id="c_aboutus"><%= link_to "Sobre Nosotros", aboutus_path %></li>
                            <li id="c_contact"><a href="<?php echo WEB_PATH; ?>/index.php?task=contact">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sign">
                    <i class="fa fa-user"></i>
                    <% if user_signed_in? %>
                      <%= link_to current_user.user_name, edit_user_registration_path %> /
                      <%= link_to "Salir", destroy_user_session_path, method: :delete %>
                    <% else %>
                      <%= link_to "Inicia Sesión", new_user_session_path %> /
                      <%= link_to "Regístrate", new_user_registration_path %>
                    <% end %>
                </div>
                <!-- start: Alerts -->
                <% if notice %>
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <%= notice %>
                    </div>
                <% end %>
                <% if alert %>
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <%= alert %>
                    </div>
                <% end %>
                <!-- end: Alerts -->
            </div>
        </header>
        <!-- end: Header -->

        <!-- start: content -->
        <%= yield %>
        <!-- end: content -->

        <!-- start: JavaScript-->
        <%= javascript_include_tag "home" %>
        <!-- end: JavaScript-->
        
        <!------ Originales ------->
        <!-- Los JS -->
        <!--<script src='http://connect.facebook.net/en_US/all.js'></script>-->
    </body>
</html>