<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
	<head>
		<!-- start: Meta -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>AgendaPro</title>
		<meta name="description" content="AgendaPro - Sistema de agendamiento OnLine para empresas y usuarios.">
		<meta name="author" content="AgendaPro">
		<meta name="keyword" content="agendapro, agenda, agenda online, reserva, reserva online">
		<%= csrf_meta_tags %>
		<!-- end: Meta -->

		<!-- start: Mobile Specific -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Condensed:300", type: "text/css" %>
        <%= stylesheet_link_tag "search" %>
		<%= yield :stylesheets %>
        <!-- end: CSS -->

        <% if ENV["MONITORING_ACTIVATION"] == "TRUE" %>
        <!-- Begin Inspectlet Embed Code -->
        <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1883420541]);
        (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
        if (window.attachEvent) window.attachEvent('onload', __ldinsp);
        else window.addEventListener('load', __ldinsp, false);
        })();
        </script>
        <!-- End Inspectlet Embed Code -->
		<!-- start: Facebook Tracker-->
		<%= render 'layouts/facebook_tracker' %>
		<!-- end: Facebook Tracker-->
        <% end %>

		<!-- start: JavaScript-->
		<%= javascript_include_tag "home-head" %>
		<!-- end: JavaScript-->


		<%= yield :head_scripts %>

		<%= render 'layouts/icons' %>

	</head>

	<body>
        <%= render 'layouts/modals' %>
        <div class="modal fade" id="geolocation-modal" tabindex="-1" role="dialog" aria-labelledby="siginLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">Escribe la ubicación dónde buscar...</h4>
		            </div>
		            <div class="modal-body">
		                <div class="row">
		                    <div class="form-group">
		                        <div class="col-sm-12">
		                            <div class="input-group input-group-lg">
		                                <%= text_field_tag :inputLocalization2, params[:inputLocalization], class: "form-control ", placeholder: "Escribe tu dirección, sector o comuna...", required: true %>
		                                <span class="input-group-btn">
		                                    <button id="geolocate_btn2" class="btn btn-default geolocate_btn" type="button"><i class="fa fa-crosshairs"></i> Encuéntrame</button>
		                                </span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-green" id="modal_search">Buscar</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- start: Header -->
        <!-- <% if user_signed_in? %>
        	<%= render 'layouts/home_dropdown' %>
        	<li><%= link_to '<i class="fa fa-plus"></i> Info'.html_safe, home_path %></li>
        <% else %>
            <li><a href="#" data-toggle="modal" data-target="#signin-modal"><i class="fa fa-user"></i> Inicia Sesión</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-pencil-square-o"></i> Regístrate</a></li>
            <li><%= link_to '<i class="fa fa-home"></i> Agrega tu empresa'.html_safe, home_path %></li>
        <% end %> -->
		<header>
			<nav class="navbar navbar-default navbar-home navbar-fixed-top" role="navigation" id="main-navbar">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
							<i class="fa fa-bars"></i>
						</button>
						<a href="<%= root_without_subdomain %>" class="navbar-brand" id="agendapro-brand">
							<%= image_tag 'logos/logo2.png', :alt => 'AgendaPro', :size => '127x43' %>
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="nav navbar-nav navbar-right" id="menu">
							<li>
								<%= form_tag({controller: "searchs", action: "search"}, method: "GET", class: "navbar-form", id: "search-form") do %>
                                <%= hidden_field_tag :latitude, params[:latitude], :required => "true" %>
                                <%= hidden_field_tag :longitude, params[:longitude], :required => "true" %>
                                <%= hidden_field_tag :inputLocalization, params[:inputLocalization], :required => "true" %>
								<div class="input-group">
                                    <%= search_field_tag :inputSearch, params[:inputSearch], class: "form-control", placeholder: "Buscar...", :required => "true" %>
                                    <span class="input-group-btn">
                                        <button id="search_btn" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <% end %>
							</li>
							<li><%= link_to "Servicios", "/#servicios" %></li>
							<li><%= link_to "Qué Hacemos", "/#quehacemos" %></li>
							<li><%= link_to "Contacto", "/#contacto" %></li>
							<% if user_signed_in? %>
                                <%= render 'layouts/home_dropdown' %>
                            <% else %>
                                <li><a href="#" data-toggle="modal" data-target="#signin-modal" class="menu-green"><i class="fa fa-user"></i> Inicia Sesión</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#signup-modal" class="menu-green"><i class="fa fa-pencil-square-o"></i> Regístrate</a></li>
                            <% end %>
							<li><%= link_to "Agrega tu Empresa", home_path, class: "menu-orange" %></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- start: Alerts -->
			<% if notice %>
				<div class="alert alert-info alert-dismissable fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= notice %>
				</div>
			<% end %>
			<% if alert %>
				<div class="alert alert-warning alert-dismissable fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= alert %>
				</div>
			<% end %>
			<!-- end: Alerts -->
		</header>
		<!-- end: Header -->

		<!-- start: content -->
		<%= yield %>
		<!-- end: content -->

		<!-- <footer>
			<section id="footer_teasers_wrapper">
				<div class="container">
					<div class="row">
						<div class="footer_teaser col-sm-12 col-md-12">
							<%= render 'layouts/facebook' %>
							<h3>AgendaPro - Sistema de Reservas Online</h3>
							<p>
								<span class="txt-footer"><i class="fa fa-map-marker"></i> Ana María Carrera 5210, Las Condes, Santiago </span>
								<span class="txt-footer"><i class="fa fa-phone"></i> (+56 9) 5178 5898 </span>
								<span><i class="fa fa-envelope"></i> contacto@agendapro.cl </span>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-6"> &copy; Copyright 2013 | Gunei Investment SpA | Todos los derechos reservados</div>
						<div class="text-right col-sm-6 col-md-6">
							<%= link_to 'Sobre Nosotros', '/about_us', :target => :blank %> | <%= link_to 'Términos y Condiciones', '/Term_y_Cond_AgendaPro122014.pdf', :target => :blank %>
						</div>
                        <% if mobile_browser? %>
                        <div class="col-xs-12">
                        	<%= link_to 'Sitio Movil', prefer_mobile_site_url %>
                        </div>
                        <% end %>
					</div>
				</div>
			</section>
		</footer> -->

		<!-- start: JavaScript-->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
		<% javascript_include_tag "jquery.browser.min" %><!-- Removido -->
		<% javascript_include_tag "browser-detect" %><!-- Removido -->
		<%= javascript_include_tag "search" %>
		<script type="text/javascript">
			$('a').click(function() {
				$('.alert').hide();
			});
		</script>
		<%= yield :scripts %>
		<!--Start of Zopim Live Chat Script-->
		<%= javascript_include_tag 'zopim' %>
		<!--End of Zopim Live Chat Script-->

		<!--Start of Crazy Egg Script-->
		<%= javascript_include_tag 'crazy_egg' %>
		<!--End of Crazy Egg Script-->

		<!--<script>
          // $( "#menu-display" ).click(function() {
          //   $( ".nav-pills" ).toggle( "slow" );
          // });
        </script>-->
		<!-- end: JavaScript-->
	</body>
</html>
